extends ../base

block head
    meta(property="og:title" content="Atlantis Barcode")
    meta(property="og:description" content="פרויקט אטלאנטיס ברקוד בסופיה בולגריה")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071095-atlantis-barcode-project-1.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="aeMainImageDescription")
        span.visually-hidden(id="aeMainImageDescription") תמונה של בנייני המגורים בפרויקט אטלאנטיס ברקוד
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-atlantis-barcode  
                h1.project-main-image-headline.project-main-image-headline-atlantis-barcode Atlantis Barcode     

    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline גלריה
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071095-atlantis-barcode-project-1.webp' alt='תמונה של אטלאנטיס ברקוד' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071100-atlantis-barcode-project-2.webp' alt='תמונה של אטלאנטיס ברקוד' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071169-atlantis-barcode-project-10.webp' alt='תמונה של אטלאנטיס ברקוד' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")  
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071186-atlantis-barcode-project-interior-2.webp' alt='תמונה של אטלאנטיס ברקוד' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071203-atlantis-barcode-project-interior-5.webp' alt='תמונה של אטלאנטיס ברקוד' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071238-atlantis-barcode-project-interior-10.webp' alt='תמונה של אטלאנטיס ברקוד' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")   

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Atlantis Barcode 
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071100-atlantis-barcode-project-2.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071125-atlantis-barcode-project-3.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071132-atlantis-barcode-project-4.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071140-atlantis-barcode-project-5.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071145-atlantis-barcode-project-6.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071152-atlantis-barcode-project-7.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071157-atlantis-barcode-project-8.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071162-atlantis-barcode-project-9.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071169-atlantis-barcode-project-10.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071175-atlantis-barcode-project-11.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071180-atlantis-barcode-project-interior-1.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071186-atlantis-barcode-project-interior-2.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071190-atlantis-barcode-project-interior-3.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071195-atlantis-barcode-project-interior-4.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071203-atlantis-barcode-project-interior-5.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071213-atlantis-barcode-project-interior-6.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071222-atlantis-barcode-project-interior-7.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071227-atlantis-barcode-project-interior-8.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071232-atlantis-barcode-project-interior-9.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071238-atlantis-barcode-project-interior-10.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071243-atlantis-barcode-project-interior-11.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071247-atlantis-barcode-project-interior-12.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071253-atlantis-barcode-project-interior-13.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071257-atlantis-barcode-project-interior-14.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071260-atlantis-barcode-project-interior-15.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071265-atlantis-barcode-project-interior-16.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071265-atlantis-barcode-project-interior-17.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071278-atlantis-barcode-project-interior-18.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071283-atlantis-barcode-project-interior-19.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071288-atlantis-barcode-project-interior-20.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071293-atlantis-barcode-project-interior-21.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071297-atlantis-barcode-project-interior-22.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071302-atlantis-barcode-project-interior-23.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071302-atlantis-barcode-project-interior-24.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071308-atlantis-barcode-project-interior-25.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071313-atlantis-barcode-project-interior-26.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071318-atlantis-barcode-project-interior-27.webp' alt='תמונה של הפרויקט אטלאנטיס ברקוד') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')                       

    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5.flex-md-row-reverse
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-atlantis-barcode           
                div.project-numbers-text בניינים        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-atlantis-barcode           
                div.project-numbers-text קומות        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-atlantis-barcode          
                div.project-numbers-text דירות
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-parking-spots-number.project-numbers-parking-spots-number-atlantis-barcode          
                div.project-numbers-text חניות
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-area-number.project-numbers-area-number-atlantis-barcode(dir='rtl')  
                div.project-numbers-text שטח בנוי
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-start-number דצמבר 2021        
                div.project-numbers-text תחילת בנייה
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center   
                div.project-numbers-end-number 2025
                div.project-numbers-text סיום בנייה  

    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Atlantis Barcode
            .col-10.project-details-headline-col.p-0.text-end
                div.project-details-text(dir='rtl') אנו שמחים להציג בפניכם את הפרויקט החדש של קבוצת אטלאנטיס בולגריה: <strong>Atlantis Barcode</strong>. הפרויקט שוכן בלב שכונת ליולין החדשה בסופיה ומבטיח שילוב הרמוני של נוחות עירונית וחיים שלווים.     
                div.project-details-text(dir='rtl') יישום הפרויקט ירחיב את תפיסת הביטחון והנוחות במתחמי מגורים סגורים. שני המבנים הזהים ומרחבי הפארק שסביבם ישדרגו את השטח של שכונת ליולין עם בנייה איכותית, חללים פונקציונליים ואפשרויות להשקעות עתידיות. והנוף... אין צורך לדבר עליו אלא רק לראות!
                div.project-details-text(dir='rtl') פרויקט Barcode יכלול בסך הכל 93 דירות, כולל דירות שני חדרים, שלושה חדרים וארבעה חדרים בשטח של בין 59 מ"ר ו128 מ"ר. הם יחולקו בין 2 בניינים נפרדים, כל אחד בן 8 קומות. מתחם המגורים יהיה סגור, ויציע שירותים רבים לדיירים.     
                div.project-details-text(dir='rtl') כל מי שירכוש דירה בפרויקט Barcode יזכה לראות את יופיו של הר ויטושה היישר מחלון ביתו. מהמתחם נשקף נוף פנורמי מרהיב ויחודי של ההר וללא ספק ישרה תחושת רוגע טבעי לכל משפחה.
                h3.project-details-sub-headline(dir='rtl') מיקום
                div.project-details-text(dir='rtl') פרויקט אטלאנטיס Barcode ממוקם באחד האיזורים המתפתחים ביותר בעיר סופיה. האזור קרוב למספר מקומות מפתח בעיר אך באותו זמן הוא מספיק רחוק מהאזורים הסואנים כדי לספק שקט ושלווה לדייריו. הפרויקט נמצא במרחק של עד 5 דקות נסיעה ממרכזי קניות, קניון, תחנת מטארו ותחנת רכבת.
                h3.project-details-sub-headline(dir='rtl') שכונת ליולין
                div.project-details-text(dir='rtl') ליולין היא אחת השכונות המתפתחות ביותר בסופיה. היא תוכננה באופן שמאפשר להתמודד עם אוכלוסיית העיר הגדלה ללא בעיות התשתית שעמן מתמודדים בתוך העיר. 
                div.project-details-text(dir='rtl') לאחר ביצוע מספר מחקרים בשיטת "תחביר החלל", קבוצת אטלאנטיס בולגריה קיבלה הערכה אמיתית של התשתית הבנויה, התקשורת של המקום והזדמנויות ההשקעה העתידיות באזור. המיקום של Barcode הוא תוצאה של מחקר מקיף, ולא ניחוש. בדיוק מסיבה זו, הפרויקט מחמיא לעיר הבירה בצורה מושלמת.
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1723054457853-map-top-view-atlantis-barcode.webp' alt='תרשים גיאוגרפי של רובע ליולין בסופיה בולגריה')
                div.project-details-text.text-center(dir='rtl') <i>שכונת ליולין</i>
                h3.project-details-sub-headline(dir='rtl') מאפייני הבניינים
                div.project-details-text(dir='rtl') כמו כל פרויקט של קבוצת אטלאנטיס בולגריה, פרויקט Barcode, תוכנן עם הרעיון של סביבה עירונית שבה אנשים חיים בהרמוניה עם הטבע.
                div.project-details-text(dir='rtl') בנוסף להיותם מוקפים בשטחים ירוקים ואזורי בילוי מרגיעים, לשני המבנים, יש מספר פתרונות חדשניים, שמטרתם לסייע למתחם להגן ככל האפשר על נזקי האקלים. 
                h3.project-details-sub-headline(dir='rtl') בידוד
                div.project-details-text(dir='rtl') בידוד תרמי מושלם - הקירות התוחמים החיצוניים מתוכננים להיות מבודדים בעובי 15 ס"מ בעזרת רשת PVC, דבק ושפכטל לפי סטנדרט "באומיט".
                h3.project-details-sub-headline(dir='rtl') בנייה
                div.project-details-text(dir='rtl') הבניינים בנויים בעזרת בלוקי קרמיקה חלולים של Weinberger - Porotherm. קירות חיצוניים בעובי של 25 ס"מ ופנימיים בעובי של 12 ס"מ.
                h3.project-details-sub-headline(dir='rtl') חלונות
                div.project-details-text(dir='rtl') הדירות מצוידות במסגרות חלונות PVC 5 חדרים של חברת Rehau, מערכת Euro Design 70. מסגרות החלונות בקומות הקרקע עשויות מאלומיניום עם זיגוג משולש של ETEM דגם E68.
                h3.project-details-sub-headline(dir='rtl') דירות ואזורים מסחריים
                div.project-details-text(dir='rtl') דלתות כניסה הן לדירות והן לשטחי המסחר באטלנטיס ברקוד יהיו משוריינות עבור אבטחה נוספת. הקירות והתקרות יבוצעו בגימור שפכטל גבס, והרצפות במסדרונות ובמטבחים יונחו בפלס. גם חדרי מגורים וחדרי שינה יהיו בגימור טיח. המרפסות יהיו מחומר טרקוטה, והחדרים הרטובים והשירותים יהיו בעלי איטום על הקירות והרצפה, טיח ופלס. כל מתקני הכלים הסניטריים יבנו במלואם.
                h3.project-details-sub-headline(dir='rtl') מים ואינסטלציה
                div.project-details-text(dir='rtl') הדירות והחללים המסחריים באטלנטיס ברקוד יהיו בעלי התקנות אינסטלציה וחשמל איכותיות. התקנת האינסטלציה תתכלול מד מים ומכשיר מדידת מים למים קרים וחמים. הביוב הפנימי יותקן אנכית ואופקית ויוסתרו בעזרת סיפונים.
                h3.project-details-sub-headline(dir='rtl') חשמל
                div.project-details-text(dir='rtl') התקנת החשמל תושלם עם לוחות מבודדים בכל דירה. שקעי ומתגי החשמל יהיו בקופסאות גבס ולוחות חשמל יותקנו ויאובטחו.
                 h3.project-details-sub-headline(dir='rtl') אבטחה
                div.project-details-text(dir='rtl') הכניסה למתחם ולחניות המתחם יהיו סגורות בעזרת שערים אוטומטיים. בכל דירה יותקנו דלתות כניסה משוריינות איכותיות, וכמו כן תהיה בכל דירה מערכת אינטרקום וידאו מתקדמת עם מסכי LED.
                h3.project-details-sub-headline(dir='rtl') קבוצת אטלאנטיס בולגריה
                div.project-details-text(dir='rtl') קבוצת אטלאנטיס בנייה היא חברת יזמות נדל"ן בעלת ניסיון עשיר בפיתוח פרויקטים ברחבי בורגס וסופיה של יותר מ25 שנים.  
                div.project-details-text(dir='rtl') הקבוצה מורכבת ממספר חברות העובדות בתחומים שונים. מה שמאחד את הקבוצה היא המשימה ליצור סביבה נוחה וחיים שלווים בעיר הגדולה, באמצעות יישום תפיסות מודרניות בבנייה.
                div.project-details-text(dir='rtl') אטלאנטיס בולגריה מתמחה בפיתוח נדל"ן באזורים בעלי אטרקטיביות השקעה גבוהה על ידי בניית פרויקטים רווחיים עם חשיבה לטווח ארוך. התוצאה היא עשרות בנייני מגורים שהושלמו בהצלחה והניבו תשואה מקסימלית לבעלי הנכסים.    
                div.project-details-text(dir='rtl') הודות לתכנון אסטרטגי, כל הבתים שנבנו על ידי קבוצת אטלנטיס בולגריה הפכו לשילוב הרמוני של יופי טבעי וביטוי יצירתי של אדריכלות מודרנית. חשוב לציין שהודות לפעילותם בבורגס וסופיה, לאורך זמן, עלתה המודעות התרבותית לכך שהטבע הוא חלק בלתי נפרד מהחיים בעיר ושיש לו השפעה גדולה על הבריאות, הבטיחות והרווחה של כל אחד ואחד.       

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline שירותים בפרויקט
        .row.project-amenities-row.text-end.mx-5.justify-content-end 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-bicycle.svg' alt='אייקון של אופניים')
                div.project-amenities-text חניות אופניים
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-car.svg' alt='אייקון של רכב חונה עם גגון מעליו')
                div.project-amenities-text חניות מקורות
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-leaf.svg' alt='אייקון של עלה')
                div.project-amenities-text אזורי טבע ירוקים
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-nfc.svg' alt='אייקון של צ\יפ nfc')
                div.project-amenities-text(dir='rtl') בקרת כניסה לבניין עם NFC
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-parking.svg' alt='אייקון חניה')
                div.project-amenities-text חניות פרטיות
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-camera.svg' alt='אייקון של מצלמות אבטחה')
                div.project-amenities-text מצלמות אבטחה מסביב לשעון            
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-v.svg' alt='אייקון של הסימן וי')
                div.project-amenities-text ללא דמי תחזוקה      
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-smart-home.svg' alt='אייקון של בית חכם')
                div.project-amenities-text בית חכם    

    .container-fluid.project-mid-image-container.project-mid-image-container-atlantis-barcode(role="img" aria-labelledby="aeMidImageDescription")
        span.visually-hidden(id="aeMidImageDescription") תמונה של פרויקט המגורים אטלאנטיס ברקוד    

    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-healine-col
                h2.project-map-headline מיקום
            .col-12.col-md-10.project-map-col 
                div.project-map(id='map' data-long=23.241183 data-lat=42.711695 data-title='Atlantis Barcode')   

    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile                                                            