extends ../base

block head
    title Lighthouse Premium Apartments
    meta(name="description" content='דירות פרימיום לייטהאוס בסווטי ולאס, בולגריה: 200 מטר מהחוף, בריכה, אבטחה, תשואה של 8%. מוכן עד אוגוסט 2025!')
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/project/enkibuild-lighthouse")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/project/enkibuild-lighthouse" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/project/enkibuild-lighthouse" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/project/enkibuild-lighthouse" hreflang="he")

    meta(property="og:title" content="Lighthouse Premium Apartments")
    meta(property="og:description" content='דירות פרימיום לייטהאוס בסווטי ולאס, בולגריה: 200 מטר מהחוף, בריכה, אבטחה, תשואה של 8%. מוכן עד אוגוסט 2025!')
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894819-enkibuild-lighthouse-5.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="enkibuildLighthouseMainImageDescription")
        span.visually-hidden(id="enkibuildLighthouseMainImageDescription") תמונה של בנייני המגורים בפרויקט Lighthouse Premium Apartments
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-enkibuild-lighthouse
                h1.project-main-image-headline.project-main-image-headline-enkibuild-lighthouse Lighthouse Premium Apartments           
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline גלריה
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894819-enkibuild-lighthouse-5.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894836-enkibuild-lighthouse-8.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894866-enkibuild-lighthouse-13.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894902-enkibuild-lighthouse-21.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894918-enkibuild-lighthouse-24.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894961-enkibuild-lighthouse-36.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Lighthouse Premium Apartments
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894779-enkibuild-lighthouse-2.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894808-enkibuild-lighthouse-3.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894814-enkibuild-lighthouse-4.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894819-enkibuild-lighthouse-5.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894825-enkibuild-lighthouse-6.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894830-enkibuild-lighthouse-7.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894836-enkibuild-lighthouse-8.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894840-enkibuild-lighthouse-9.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894848-enkibuild-lighthouse-10.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894855-enkibuild-lighthouse-11.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894861-enkibuild-lighthouse-12.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894866-enkibuild-lighthouse-13.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894874-enkibuild-lighthouse-14.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894879-enkibuild-lighthouse-15.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894884-enkibuild-lighthouse-16.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894888-enkibuild-lighthouse-17.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894892-enkibuild-lighthouse-18.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894895-enkibuild-lighthouse-19.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894899-enkibuild-lighthouse-20.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894902-enkibuild-lighthouse-21.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894906-enkibuild-lighthouse-22.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894909-enkibuild-lighthouse-23.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894918-enkibuild-lighthouse-24.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894921-enkibuild-lighthouse-25.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894925-enkibuild-lighthouse-26.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894928-enkibuild-lighthouse-27.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894931-enkibuild-lighthouse-28.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894934-enkibuild-lighthouse-29.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894937-enkibuild-lighthouse-30.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894942-enkibuild-lighthouse-31.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894946-enkibuild-lighthouse-32.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894950-enkibuild-lighthouse-33.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894954-enkibuild-lighthouse-34.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894958-enkibuild-lighthouse-35.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894961-enkibuild-lighthouse-36.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894963-enkibuild-lighthouse-37.webp' alt='תמונה של הפרויקט Lighthouse Premium Apartments')
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5.flex-md-row-reverse
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-enkibuild-lighthouse          
                div.project-numbers-text בניינים        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-enkibuild-lighthouse          
                div.project-numbers-text קומות        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-enkibuild-lighthouse         
                div.project-numbers-text דירות
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center   
                div.project-numbers-end-number אוגוסט 2025
                div.project-numbers-text סיום בנייה
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Lighthouse Premium Apartments
            .col-10.project-details-headline-col.p-0.text-end
                div.project-details-text(dir='rtl') מתחם הדירות המפורסם לייטהאוס נמצא בכפר התיירותי סווטי ולאס בבולגריה השמשית. זהו יעד נופש אהוב על אירופאים ובולגרים, ולכן דואגים לשמור עליו נקי ובטוח.
                div.project-details-text(dir='rtl') הפיתוח עדיין בבנייה פעילה, וחלק חדש יושלם עד לעונת הנופש הבאה!
                div.project-details-text(dir='rtl') הדירות יספקו אפילו את הדיירים התובעניים ביותר. המתחם כולל בריכת שחייה, בר, מגרש משחקים לילדים ואזורים ירוקים נעימים, המגנים מפני חום הקיץ. בעלי רכב ייהנו מחניה תת-קרקעית מאובטחת עם כניסה נפרדת.
                div.project-details-text(dir='rtl') מתחם המגורים לייטהאוס ממוקם במרחק של 200 מטר בלבד מחוף פרטי עם מים צלולים.
                div.project-details-text(dir='rtl') כאן יש כל מה שצריך לחיים שקטים ונוחים. הפכו לבעלים של דירת פרימיום עוד היום!
                h3.project-details-sub-headline(dir='rtl') מיקום
                div.project-details-text(dir='rtl') המתחם נבנה בחלק המרכזי של העיר, קרוב לחוף. האזור מחובר היטב לתחבורה ויש בו שפע של תשתיות.
                h3.project-details-sub-headline(dir='rtl') טבע
                div.project-details-text(dir='rtl') העיר ממוקמת בין רכס הרים והים — תנאי אקלים ונופים ייחודיים.
                h3.project-details-sub-headline(dir='rtl') ביטחון
                div.project-details-text(dir='rtl') מערכות אבטחה מתקדמות, מצלמות מעקב, שטח סגור ואבטחה 24/7 מבטיחים מגורים בטוחים.
                h3.project-details-sub-headline(dir='rtl') שירותים
                div.project-details-text(dir='rtl') החצר הגדולה והנעימה כוללת בריכת שחייה לנופש הדיירים ומגדלור — סמל המתחם, מקום לפגוש שקיעות וזריחות.
                h3.project-details-sub-headline(dir='rtl') תשואה
                div.project-details-text(dir='rtl') חברת הניהול שמחה למצוא שוכרים בהיעדרותכם. הרווחיות היא עד 8% לשנה!
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894966-enkibuild-lighthouse-three-bedroom-apartment-on-the-first-floor.webp' alt='תוכניות דירה של דירת ארבעה חדרים בפרויקט דירות פרימיום לייטהאוס')
                div.project-details-text.text-center(dir='rtl') <i>תוכנית דירת ארבעה חדרים בפרויקט דירות פרימיום לייטהאוס</i>
                h3.project-details-sub-headline(dir='rtl') מאפייני הדירה
                div.project-details-text(dir='rtl') הייחודיות של ההצעה טמונה בפורמט המחודש של הדירות. הטרסות והפטיו הגדולים מציעים תחושה של בית פרטי ופרטיות. זו הפתרון המושלם לבעלי מטרים רבועים בחוף הדרומי כאשר לא נוח להיות בתוך הבית בחום, ורוח הים מביאה הקלה. בנוסף, טרסות ופטיו הם המקומות המושלמים לערבים טעימים עם ברביקיו ויין!
                div.project-details-text(dir='rtl') כל הדירות מרווחות ומוארות. המדפים בגובה 3-3.8 מטר מעניקים תחושה פתוחה. מיקום נוח יבטיח שכל הלוגיסטיקה ותחזוקת הדירות יתנהלו בצורה חלקה!
                h3.project-details-sub-headline(dir='rtl') מספר הדירות בבניין
                div.project-details-text(dir='rtl') רק שש דירות זמינות למכירה בשלוש הקומות של בניין E. הוא ממוקם במרכז החצר ומוקף בצמחייה ירוקה לפרטיותכם.
                h3.project-details-sub-headline(dir='rtl') חומרי בנייה
                div.project-details-text(dir='rtl') טכנולוגיית בנייה של שלד מונוליתי וקירות לבנים אדומות מספקים בידוד רעש וחום טוב. קירות מחיצה ופנימיים מרופדים בבלוקים קרמיים של Porotherm (גרמניה) ומטויחים.
                h3.project-details-sub-headline(dir='rtl') זיגוג
                div.project-details-text(dir='rtl') הבית מזוגג עם פרופילי אלומיניום של Reynaers (בלגיה). הזיגוג בעובי 50 מ"מ ישמור על טמפרטורה אופטימלית בחורף ובקיץ.
                h3.project-details-sub-headline(dir='rtl') מצב הדירה
                div.project-details-text(dir='rtl') הדירה נבנית על בסיס מפתח עם שיפוץ פרימיום. תצטרכו רק לרכוש רהיטים ועיצוב! בכל דירה יש משאבות חום וחימום תת-רצפתי למגורים נוחים כל השנה.
                h3.project-details-sub-headline(dir='rtl') תאריך השלמה
                div.project-details-text(dir='rtl') הבניין יסתיים באוגוסט 2025. כעת מתבצעות עבודות פנימיות. בקיץ הבא תוכלו ליהנות מחופשה על חוף הים בדירתכם!
                h3.project-details-sub-headline(dir='rtl') תשתיות
                div.project-details-text(dir='rtl') המיקום הייחודי של לייטהאוס בלב סווטי ולאס מבטיח לתושבים את התנאים הנוחים ביותר למגורים ונופש. יש סופרמרקטים, בתי קפה, מסעדות, בתי מרקחת, מועדוני כושר, מאפייה, קולנוע והחופים הטובים ביותר בבולגריה.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline שירותים בפרויקט
        .row.project-amenities-row.text-end.mx-5.justify-content-end 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/pool-swimming-pool-svgrepo-com.svg' alt='אייקון של בריכת שחיה')
                div.project-amenities-text(dir='rtl') בריכת שחייה
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/beach-umbrella-svgrepo-com.svg' alt='אייקון של חוף ים')
                div.project-amenities-text חוף ים 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/project-lighthouse.svg' alt='אייקון של מגדלור')
                div.project-amenities-text מגדלור

    .container-fluid.project-mid-image-container.project-mid-image-container-enkibuild-lighthouse(role="img" aria-labelledby="enkibuildLighthouseMidImageDescription")
        span.visually-hidden(id="enkibuildLighthouseMidImageDescription") Image of the Lighthouse Premium Apartments project
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-healine-col
                h2.project-map-headline מיקום
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.752190 data-lat=42.710146 data-title='Lighthouse Premium Apartments')     

    .container-fluid.project-video-container
        .row.asset-video-row.mx-3.justify-content-center 
            .col-12.col-md-10.asset-video-col.text-center(role="region" aria-labelledby="assetVideoDescription")
                iframe(src='https://www.youtube.com/embed/uf989xuZ3to' frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).asset-video                    
            span.visually-hidden(id="assetVideoDescription") סרטון המציג את פרויקט Lighthouse Premium Apartments      
    
    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile