extends ../base

block head
    title Green Fort Suites
    meta(name="description" content='Green Fort Suites – קומפלקס המגורים החדש והיוקרתי ביותר של קבוצת Fort Noks, במיקום מושלם עם נוף פנורמי לים. דירות 1–3 חדרים, חוף במרחק הליכה, בריכה, חניה, שמירה 24/7 – אידיאלי למגורים, חופשה או השקעה.')
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/project/green-fort-suites")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/project/green-fort-suites" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/project/green-fort-suites" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/project/green-fort-suites" hreflang="he")

    meta(property="og:title" content="Green Fort Suites")
    meta(property="og:description" content='Green Fort Suites – קומפלקס המגורים החדש והיוקרתי ביותר של קבוצת Fort Noks, במיקום מושלם עם נוף פנורמי לים. דירות 1–3 חדרים, חוף במרחק הליכה, בריכה, חניה, שמירה 24/7 – אידיאלי למגורים, חופשה או השקעה.')
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105494-green-fort-suites-6.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="greenFortSuitesMainImageDescription")
        span.visually-hidden(id="greenFortSuitesMainImageDescription") תמונה של בנייני המגורים בפרויקט Green Fort Suites
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-green-fort-suites 
                h1.project-main-image-headline.project-main-image-headline-green-fort-suites Green Fort Suites          
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline גלריה
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105484-green-fort-suites-4.webp' alt='תמונה של הפרויקט Green Fort Suites' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105489-green-fort-suites-5.webp' alt='תמונה של הפרויקט Green Fort Suites' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105494-green-fort-suites-6.webp' alt='תמונה של הפרויקט Green Fort Suites' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105497-green-fort-suites-7.webp' alt='תמונה של הפרויקט Green Fort Suites' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105452-green-fort-suites-2.webp' alt='תמונה של הפרויקט Green Fort Suites' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105480-green-fort-suites-3.webp' alt='תמונה של הפרויקט Green Fort Suites' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Green Fort Suites
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105484-green-fort-suites-4.webp' alt='תמונה של הפרויקט Green Fort Suites') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105489-green-fort-suites-5.webp' alt='תמונה של הפרויקט Green Fort Suites') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105494-green-fort-suites-6.webp' alt='תמונה של הפרויקט Green Fort Suites') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105497-green-fort-suites-7.webp' alt='תמונה של הפרויקט Green Fort Suites') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105452-green-fort-suites-2.webp' alt='תמונה של הפרויקט Green Fort Suites') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105480-green-fort-suites-3.webp' alt='תמונה של הפרויקט Green Fort Suites') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105444-green-fort-suites-1.webp' alt='תמונה של הפרויקט Green Fort Suites') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105503-green-fort-suites-construction.webp' alt='תמונה של הפרויקט Green Fort Suites') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5.flex-md-row-reverse
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-green-fort-suites
                div.project-numbers-text בניינים        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-green-fort-suites
                div.project-numbers-text קומות        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-green-fort-suites
                div.project-numbers-text דירות
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-parking-spots-number.project-numbers-parking-spots-number-green-fort-suites
                div.project-numbers-text חניות
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center   
                div.project-numbers-end-number דצמבר 2025
                div.project-numbers-text סיום בנייה
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Green Fort Suites
            .col-10.project-details-headline-col.p-0.text-end
                div.project-details-text(dir='rtl') Green Fort Suites הוא מתחם המגורים החדש ביותר של חברת פורט נוקס. אובייקטיבית המקום הטוב והמועדף ביותר בכל חוף הים השחור הבולגרי.
                h3.project-details-sub-headline(dir='rtl') מיקום
                div.project-details-text(dir='rtl') הדירות היפות ממוקמות ברובע העילית של סאני ביץ' - "זורה", ומציעות נוף מובטח לים. לנגד עיניכם החלק המרכזי של הריביירה הבולגרית וכל המפרץ של אתר הנופש סאני ביץ'. מאלניט, לחוף רובינסון, ואז לעיירה סווטי ולאס ודרך המרינה שלה, הנוף עובר לחוף סאני ביץ' כדי להתמזג לבסוף עם פנינת הים השחור - מוזיאון העיר של נסבאר.
                div.project-details-text(dir='rtl') הייחוד הוא במיקום - האוויר של ההר הנפלא Stara Planina מרפא ומביא לאריכות ימים, והים מרשרש בעדינות ממש מתחת לרגליים. החופשה הופכת לבלתי נשכחת עם חוף ים במרחק 1-2 דקות הליכה וחוף חולי משובח ברוחב של למעלה מ-50 מטר.
                div.project-details-text(dir='rtl') לכו לאורך החוף אל העיר העתיקה של נסבר והוקסמו מההיסטוריה שלה. בקרבת מקום נמצאת המרינה הציורית של העיירה המקסימה סנט ולאס, כמו גם מסעדות רבות, סופרמרקטים, חנויות ובתי מרקחת. במרחק של עשר דקות נסיעה משם נמצאים הדיסקוטקים הרועשים של סאני ביץ' וכל מה שצריך מהתשתית של העיר לשהייה ארוכה ושלווה.
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105500-green-fort-suites-building-plan.webp' alt='תרשים הבניינים של Green Fort Suites')
                div.project-details-text.text-center <i>תרשים הבניינים של Fort Noks Premier Suites</i>   
                h3.project-details-sub-headline(dir='rtl') מאפייני הפרויקט
                div.project-details-text(dir='rtl') בשטח המתחם ניתנת חניה לאורחים, לרבות חניות על קרקע ותת קרקעיות, הניתנות לרכישה בבעלות. הדירות בגדלים שונים: חדר אחד בשטח של 40-60 מטר, שני חדרים בשטח של 55-100 מטר, שלושה חדרים (דירות עם שני חדרי שינה שלרובם נוף בלתי נשכח לים) – בשטח של 80 עד 110 מ"ר. אחוז מינימלי של חלקים משותפים. בריכת שחייה נעימה במרכז חצר רחבת ידיים, מגרש משחקים לילדים, שטח גדול מתוכנן לגינון. קבלה משרדית ואבטחה חיה 24 שעות ביממה זמינות לבעלי ואורחי המתחם.
                div.project-details-text(dir='rtl') מחפשים דירה למגורי קבע, השקעה, נופש משפחתי, דירה להשכרה מוצלחת? Green Fort Suites - מתחם המגורים הטוב ביותר על חוף הים השחור הבולגרי 2025!
                h3.project-details-sub-headline(dir='rtl') תוכנית תשלומים
                div.project-details-text(dir='rtl')  10% מהמחיר שישולם בחתימת החוזה המקדמי.
                div.project-details-text(dir='rtl')  10% מהמחיר לתשלום לאחר 3 חודשים.
                div.project-details-text(dir='rtl')  את 80% הנותרים ניתן לשלם באמצעות תוכנית תשלומים דחויים של Fort Noks Ltd:
                div.project-details-text(dir='rtl')   &nbsp<strong>●</strong> עד 1 בינואר 2027 תוכנית תשלומים נדחים ללא ריבית.
                div.project-details-text(dir='rtl')   &nbsp<strong>●</strong> עד 1 בינואר 2032 דחוי תשלום עם ריבית שנתית של 3%.
                div.project-details-text(dir='rtl')   &nbsp<strong>●</strong> עד 10 שנים דחיית תשלום בריבית שנתית של 5%.
                div.project-details-text(dir='rtl')   &nbsp<strong>●</strong> במקרה של 50% תשלום ראשון בחתימה על החוזה המקדים – 3% הנחה ממחיר הרכישה.
                h3.project-details-sub-headline(dir='rtl') על קבוצת Fort Noks Ltd
                div.project-details-text(dir='rtl') Fort Noks Ltd הוקמה בשנת 1995. במהלך השנים הפכה לחברת הבנייה והניהול הגדולה ביותר באזור סאני ביץ'. המשימה שלנו היא להתמקד במתן מענה לצרכים של לקוחותינו על ידי הצעת מגוון רחב של דירות נופש, הממוקמות בכפרי נופש על חוף הים. אנו מחויבים להקשיב ולהבין את דרישות הלקוח שלנו, לספק צוות מקצועי ומנוסה.
                div.project-details-text(dir='rtl') המתחמים שלנו ממוקמים באתרי הנופש הטובים ביותר על חוף הים של בולגריה: Elenite, Saint Vlas (Sveti Vlas), Sunny Beach, Ravda, במרחק של 30-40 קילומטרים מנמל התעופה של בורגס.
                div.project-details-text(dir='rtl') רכישה מאיתנו תעניק לך לא רק השקעת נדל"ן, אלא את שירות האחזקה והניהול הטובים ביותר באזור. רוב המתחמים שלנו הם קו ראשון עם גישה מוגבלת עם כרטיסים מגנטיים אישיים, אבטחה 24 שעות וניטור וידאו. לא יהיה על מה לחשוב מלבד החופשה שלך. התשתית של המתחמים שלנו משתפרת מדי שנה, הודות לקשר התמידי בינינו לבין לקוחותינו.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline שירותים בפרויקט
        .row.project-amenities-row.text-end.mx-5.justify-content-end 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/pool-swimming-pool-svgrepo-com.svg' alt='אייקון של בריכת שחיה')
                div.project-amenities-text(dir='rtl') בריכות שחייה
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/beach-umbrella-svgrepo-com.svg' alt='אייקון של חוף ים')
                div.project-amenities-text חוף ים 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/playground-project-icon.svg' alt='אייקון של גן משחקים')
                div.project-amenities-text גן משחקים לילדים
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-healine-col
                h2.project-map-headline מיקום
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.732101 data-lat=42.711554 data-title='Green Fort Suites')          
    
    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile