extends ../base

block head
    title Vitosha Mountain View
    meta(name="description" content='גלו את ויטושה מאונטיין וויו – פרויקט בוטיק יוקרתי למרגלות הר ויטושה. דירות יוקרה עם חצר פרטית, עיצוב אלגנטי, ומיקום יוקרתי בשכונת ויטושה המבוקשת. מושלם למגורים או להשקעה!')
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/project/vitosha-mountain-view")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/project/vitosha-mountain-view" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/project/vitosha-mountain-view" hreflang="he")

    meta(property="og:title" content="Vitosha Mountain View")
    meta(property="og:description" content='גלו את ויטושה מאונטיין וויו – פרויקט בוטיק יוקרתי למרגלות הר ויטושה. דירות יוקרה עם חצר פרטית, עיצוב אלגנטי, ומיקום יוקרתי בשכונת ויטושה המבוקשת. מושלם למגורים או להשקעה!')
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-vitosha-mountain-view-images/1735387897986-vitosha-mountain-view-1.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="mountainViewMainImageDescription")
        span.visually-hidden(id="mountainViewMainImageDescription") תמונה של בנייני המגורים בפרויקט Vitosha Mountain View
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-mountain-view  
                h1.project-main-image-headline.project-main-image-headline-mountain-view Vitosha Mountain View           
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline גלריה
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-vitosha-mountain-view-images/1735387897995-vitosha-mountain-view-2.webp' alt='תמונה של הפרויקט Vitosha Moiuntain View' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-vitosha-mountain-view-images/1735387898017-vitosha-mountain-view-3.webp' alt='תמונה של הפרויקט Vitosha Moiuntain View' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-vitosha-mountain-view-images/1735387898022-vitosha-mountain-view-4.webp' alt='תמונה של הפרויקט Vitosha Moiuntain View' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Vitosha Mountain View
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-vitosha-mountain-view-images/1735387897995-vitosha-mountain-view-2.webp' alt='תמונה של הפרויקט Vitosha Moiuntain View') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-vitosha-mountain-view-images/1735387898017-vitosha-mountain-view-3.webp' alt='תמונה של הפרויקט Vitosha Moiuntain View') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-vitosha-mountain-view-images/1735387898022-vitosha-mountain-view-4.webp' alt='תמונה של הפרויקט Vitosha Moiuntain View') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-vitosha-mountain-view-images/1735387897986-vitosha-mountain-view-1.webp' alt='תמונה של הפרויקט Vitosha Moiuntain View') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5.flex-md-row-reverse
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-mountain-view          
                div.project-numbers-text בניינים        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-mountain-view          
                div.project-numbers-text קומות        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-mountain-view         
                div.project-numbers-text דירות
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-parking-spots-number.project-numbers-parking-spots-number-mountain-view         
                div.project-numbers-text חניות
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center   
                div.project-numbers-end-number דצמבר 2025
                div.project-numbers-text סיום בנייה
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Vitosha Mountain View
            .col-10.project-details-headline-col.p-0.text-end
                div.project-details-text(dir='rtl') Vitosha Mountain View הוא פרויקט בוטיק אקסקלוסיבי למרגלות הר ויטושה, המציע מספר מוגבל של נכסים יוקרתיים, כולל דירות שלושה חדרים מפוארות עם חצר פרטית. גלו את ביתכם החדש והשקעה ללא פשרות איתנו!
                div.project-details-text(dir='rtl') Vitosha Mountain View תוכנן עם מחשבה על הנוחות המושלמת שלכם ועל השקעה נבונה. המבנה הסגור ממוקם במיקום מצוין ויוקרתי ברובע ויטושה ומציע את כל מה שצריך לחיים נוחים וטובים. לשם שקט נפשי וכיבוד פרטיותכם, המבנה כולל ארבע קומות בלבד, חנייה תת-קרקעית ושלושה כניסות.
                div.project-details-text(dir='rtl') העיצוב החיצוני אלגנטי ומרשים, משלב אלמנטים כמו ברזל מחושל, מסגרות חלונות בסגנון צרפתי ושימוש באבן טבעית ואיכותית שמעניקה מראה על-זמני. השטחים הירוקים המפוארים, המאפיינים את כל הפרויקטים שלנו, מוסיפים גם כאן ייחודיות, ומזמינים אתכם לבלות יותר זמן בחוץ, לצד עיטוף הבניין בצמחייה חיה ויפהפייה.
                div.project-details-text(dir='rtl') למי שמחפש אפשרויות נוספות לשהייה בחוץ, דירות הקרקע עם חצרות פרטיות מתאימות במיוחד. ביניהן ישנן שתי דירות פינתיות ייחודיות בעלות שלושה חדרי שינה, חדר עבודה ותקרות בגובה 5 מטרים. לכל אחת מהן חצר בגודל 60 מ"ר, המאפשרת לכם ליהנות משני העולמות – בית פרטי ודירת יוקרה.
                div.project-details-text(dir='rtl') 67 דירות למרגלות ההר ממתינות לבעליהן החדשים. בין אם למגורים נוחים או כהשקעה, השקעה ב"Vitosha Mountain View" היא בחירה מצוינת. התכנון המדויק, מגוון אפשרויות הנכסים והמיקום המעולה מבטיחים את הביטחון שלכם מכל הבחינות. כאן תקבלו בית אידיאלי שערכו רק יעלה עם הזמן.
                h3.project-details-sub-headline(dir='rtl') מיקום
                div.project-details-text(dir='rtl') "Vitosha Mountain View" ממוקם ברחוב בוריס ארסוב, ברובע היוקרתי ויטושה. המיקום סמוך לצירים ראשיים, אך בו בזמן מבודד ונעים. בקרבת מקום תמצאו את כל מה שנחוץ לחיים נוחים, כאשר האזור ממשיך להתפתח ולהתבסס כמיקום מבוקש במיוחד.
                div.project-details-text(dir='rtl') בשל קצב ההתפתחות המהיר של האזור, תשתיות חדשות מתווספות באופן קבוע, כולל מוסדות חינוך, חנויות, מסעדות, בתי מרקחת ושירותים נוספים. השקעה בנכס בשכונה מתפתחת כזו היא ללא ספק רווחית.
                div.project-details-text(dir='rtl') אם אתם מחפשים בית במיקום מחובר היטב, בקצה חלקיה המרכזיים של העיר, אך גם קרוב לטבע ציורי, תמצאו אותו כאן. המבנה נמוך, בעל ארכיטקטורה אלגנטית שתמיד תהיה רלוונטית, ומציע לכם לחיות לצד ההר וגם בלב העיר.
                h3.project-details-sub-headline(dir='rtl') מבנה אלגנטי ומרהיב
                div.project-details-text(dir='rtl') החזות החיצונית היפה הופכת את המבנה ליצירת אמנות ארכיטקטונית ומכתיבה את האווירה באזור. חזות על-זמנית בצבעים בהירים, אבן טבעית חמימה, ברזל מחושל וחלונות צרפתיים לנופים פתוחים ועוצרי נשימה.
                h3.project-details-sub-headline(dir='rtl') עיצוב פנימי מוקפד
                div.project-details-text(dir='rtl') מאחורי החזית המרשימה מסתתר פנים לא פחות מרשים. לכל דירה תכנון פונקציונלי מעולה המאפשר ריהוט נוח וחיים נעימים. שטחים משותפים אלגנטיים שנוצרו עם מחשבה על פרטיותכם. שלושה כניסות בלבד, ארבע קומות.
                h3.project-details-sub-headline(dir='rtl') הבית המתאים לכולם
                div.project-details-text(dir='rtl') מגוון הדירות מזמין אתכם לבחור את זו המתאימה לכם ביותר – עם 1, 2 או 3 חדרי שינה; דירות קרקע עם חצר או דירות שלושה חדרים עם חצר פרטית בגודל 60 מ"ר וחדר עבודה.
                h3.project-details-sub-headline(dir='rtl') שקט וביטחון
                div.project-details-text(dir='rtl') הבניין סגור עם גישה מבוקרת לטובת נוחות הדיירים ושקט נפשי.
                h3.project-details-sub-headline(dir='rtl') קרוב להר
                div.project-details-text(dir='rtl') ויטושה, במרחק נגיעה. נופים מרהיבים של המדרונות הציוריים. יותר שקט וקרבה לטבע לכל המשפחה.
                h3.project-details-sub-headline(dir='rtl') אחריות משקיע
                div.project-details-text(dir='rtl') כדי להבטיח שכל מבנה שנבנה ישמור על מראהו ותכונותיו המצוינות, אנו לוקחים אחריות על תחזוקתו בעצמנו במקום להסתמך על חברות חיצוניות.
                h3.project-details-sub-headline(dir='rtl') מאפיינים טכניים של הבניין:
                div.project-details-text(dir='rtl') ● <strong>חזית:</strong> עשויה חלקית מ-HPL איכותי ו-Etalbond. 
                div.project-details-text(dir='rtl') ● <strong>חזית זכוכית:</strong> מבנה זכוכית חלקי.  
                div.project-details-text(dir='rtl') ● <strong>גג:</strong> גג שטוח עם בידוד כפול איטלקי בעובי 5 מ"מ. 
                div.project-details-text(dir='rtl') ● <strong>קירות:</strong> בלוקים קרמיים רב-תאיים.  
                div.project-details-text(dir='rtl') ● <strong>בידוד תרמי:</strong> EPS בעובי מינימום 10 ס"מ.  
                div.project-details-text(dir='rtl') ● <strong>התקנת חשמל:</strong> תלת-פאזי, עם לוח חשמל מותקן והגנת מפסק זרם.  
                div.project-details-text(dir='rtl') ● <strong>מערכת מים וביוב:</strong> צנרת PPR ו-PVC, כולל מדי מים.  
                div.project-details-text(dir='rtl') ● <strong>חיבורים חיצוניים:</strong> אספקת גז, חשמל, מים וביוב.  
                div.project-details-text(dir='rtl') ● <strong>מעליות:</strong> מעליות ספרדיות מותאמות אישית של ORONA.  
                div.project-details-text(dir='rtl') ● <strong>חלונות:</strong> חלונות גרמניים TROCAL עם זיגוג משולש בצבע גרפיט.  
                div.project-details-text(dir='rtl') ● <strong>אזורים משותפים:</strong> בעיצוב יוקרתי לפי פרויקט ייחודי.  
                div.project-details-text(dir='rtl') ● <strong>חצר מעוצבת</strong>.
                div.project-details-text(dir='rtl') ● <strong>דלתות חניה:</strong> Hormann, עם אפשרות לשלט רחוק.  
                h3.project-details-sub-headline(dir='rtl') רמת גימור הדירות:
                div.project-details-text(dir='rtl') ● <strong>קירות ותקרות:</strong> טיח גבס.  
                div.project-details-text(dir='rtl') ● <strong>רצפה:</strong> בטון מוחלק.  
                div.project-details-text(dir='rtl') ● <strong>מרפסות:</strong> ריצוף גרניט פורצלן עמיד לקור.  
                div.project-details-text(dir='rtl') ● <strong>דלת כניסה חיצונית:</strong> דלת ממוגנת עם נעילה בארבעה צדדים.  
                div.project-details-text(dir='rtl') ● <strong>תשתית תקשורת:</strong> כבלים לחיבור אינטרנט וטלוויזיה.  
                div.project-details-text(dir='rtl') ● <strong>גז:</strong> חיבור לדלת הכניסה.  
                h3.project-details-sub-headline(dir='rtl') תאריכים חשובים:
                div.project-details-text(dir='rtl') ● <strong>חוק 14:</strong> ספטמבר 2024  
                div.project-details-text(dir='rtl') ● <strong>חוק 15:</strong> יולי 2025  
                div.project-details-text(dir='rtl') ● <strong>חוק 16:</strong> דצמבר 2025  
                h3.project-details-sub-headline(dir='rtl') על קבוצת SofBuildStroy
                div.project-details-text(dir='rtl') העקרונות עליהם נוסדה חברת הבנייה SofBuildStroy הם נוחות, בטיחות ואסתטיקה גבוהה. אנו מתכננים כל פרויקט בדיוק רב בעזרת צוותי אדריכלים ומעצבים. אנו בונים עם חומרים איכותיים וטבעיים, תוך פיקוח קפדני על כל שלב בתהליך. אנו ממשיכים את המשימה שלנו לדאוג לכם על ידי כך שאנו לוקחים על עצמנו גם את תחזוקת המבנים. אנו יוצרים בתים שבהם תוכלו לחיות טוב.
                div.project-details-text(dir='rtl') המבנים שלנו מבוקשים מאוד, שכן חברת הבנייה SofBuildStroy מציעה דירות מתוכננות היטב, יפות ומרווחות במבנים בעלי ארכיטקטורה יוצאת דופן ועל-זמנית. המיקומים בהם אנו בונים עשירים בשטחים ירוקים ודואגים רבות לילדים. עובדה זו הביאה לחברה פרסים על בנייה יוקרתית, אדריכלות ועיצוב בבולגריה ומחוצה לה.
                div.project-details-text(dir='rtl') המחויבות שלנו להעניק בתים ומרחבי עבודה מושלמים מניעה אותנו תמיד להתפתח ולהשתפר בהתאם לטרנדים עולמיים. כי אתם ראויים לטוב ביותר!

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline שירותים בפרויקט
        .row.project-amenities-row.text-end.mx-5.justify-content-end 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-train.svg' alt='אייקון של רכבת')
                div.project-amenities-text(dir='rtl') 200 מטר מתחנת המטרו
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-bike.svg' alt='אייקון של אופניים')
                div.project-amenities-text חניות אופניים מיוחדות
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-building.svg' alt='אייקון של בניין')
                div.project-amenities-text חנויות ובית מרקחת
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-dumbell.svg' alt='אייקון של משקולת')
                div.project-amenities-text(dir='rtl') מתחם כושר
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-elevator.svg' alt='אייקון של מעלית')
                div.project-amenities-text מעליות מתקדמות
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-materials.svg' alt='אייקון של בד')
                div.project-amenities-text חומרי בנייה באיכות גבוהה          

    .container-fluid.project-mid-image-container.project-mid-image-container-mountain-view(role="img" aria-labelledby="mountainViewMidImageDescription")
        span.visually-hidden(id="mountainViewMidImageDescription") תמונה של פרויקט Vitosha Mountain View
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-healine-col
                h2.project-map-headline מיקום
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=23.345051020432404 data-lat=42.64117557271176 data-title='Vitosha Mountain View') 
        
    
    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile