extends ../base

block head
    title Mountain View Residence
    meta(name="description" content='מגורי יוקרה במיקום מושלם במלינובה דולינה, סופיה. Mountain View Residence מציע דירות בעיצוב אלגנטי, חצרות פרטיות, נוף פנורמי להרי ויטושה וסביבה שקטה ואיכותית.')
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/project/mountain-view-residence")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/project/mountain-view-residence" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/project/mountain-view-residence" hreflang="he")

    meta(property="og:title" content="Mountain View Residence")
    meta(property="og:description" content='מגורי יוקרה במיקום מושלם במלינובה דולינה, סופיה. Mountain View Residence מציע דירות בעיצוב אלגנטי, חצרות פרטיות, נוף פנורמי להרי ויטושה וסביבה שקטה ואיכותית.')
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321587-sofia-mountain-view-residence-6.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="mountainResidenceMainImageDescription")
        span.visually-hidden(id="mountainResidenceMainImageDescription") תמונה של בנייני המגורים בפרויקט Mountain View Residence
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-mountain-residence  
                h1.project-main-image-headline.project-main-image-headline-mountain-residence Mountain View Residence              
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline גלריה
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321595-sofia-mountain-view-residence-8.webp' alt='תמונה של הפרויקט Mountain Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321568-sofia-mountain-view-residence-3.webp' alt='תמונה של הפרויקט Mountain Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321575-sofia-mountain-view-residence-4.webp' alt='תמונה של הפרויקט Mountain Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")  
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321583-sofia-mountain-view-residence-5.webp' alt='תמונה של הפרויקט Mountain Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321592-sofia-mountain-view-residence-7.webp' alt='תמונה של הפרויקט Mountain Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321598-sofia-mountain-view-residence-9.webp' alt='תמונה של הפרויקט Mountain Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Mountain View Residence
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321595-sofia-mountain-view-residence-8.webp' alt='תמונה של הפרויקט Mountain Residence') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321568-sofia-mountain-view-residence-3.webp' alt='תמונה של הפרויקט Mountain Residence') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321541-sofia-mountain-view-residence-1.webp' alt='תמונה של הפרויקט Mountain Residence') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321547-sofia-mountain-view-residence-2.webp' alt='תמונה של הפרויקט Mountain Residence') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321575-sofia-mountain-view-residence-4.webp' alt='תמונה של הפרויקט Mountain Residence') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321583-sofia-mountain-view-residence-5.webp' alt='תמונה של הפרויקט Mountain Residence') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321592-sofia-mountain-view-residence-7.webp' alt='תמונה של הפרויקט Mountain Residence') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321598-sofia-mountain-view-residence-9.webp' alt='תמונה של הפרויקט Mountain Residence') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321587-sofia-mountain-view-residence-6.webp' alt='תמונה של הפרויקט Mountain Residence') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5.flex-md-row-reverse
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-mountain-residence          
                div.project-numbers-text בניינים        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-mountain-residence          
                div.project-numbers-text קומות        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-mountain-residence         
                div.project-numbers-text דירות
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-parking-spots-number.project-numbers-parking-spots-number-mountain-residence         
                div.project-numbers-text חניות
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center   
                div.project-numbers-end-number 2023
                div.project-numbers-text סיום בנייה
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Mountain View Residence
            .col-10.project-details-headline-col.p-0.text-end
                div.project-details-text(dir='rtl') Mountain View Residence ממוקם באזור אטרקטיבי במיוחד בסופיה – שכונת מלינובה דולינה. הפרויקט מציע הזדמנות ייחודית לבחור בית שמשלב את הטוב משני העולמות – קרבה לכל הנוחות העירונית לצד השקט והשלווה של הטבע. כל פרט בפרויקט המגודר תוכנן כדי להבטיח איכות חיים גבוהה לאורך זמן. במתחם ישנם ארבע כניסות ודירות בנות חדר אחד, שניים או שלושה. לדירות בקומת הקרקע יש חצרות פרטיות, המעניקות תחושת מגורים בבית פרטי.
                div.project-details-text(dir='rtl') החזון האלגנטי והעיצוב המושלם של Mountain View Residence הם פרי יצירתו של סטודיו האדריכלים המוביל ELITE Project Group. ללא זוויות מוזרות או פינות לא נוחות – רק נוחות ומעשיות, המשלבות חומרים איכותיים ויוקרתיים המשרים תחושת אלגנטיות על-זמנית. חצר הפרויקט טובלת בנוף ירוק, כולל עצי זית בני 200 שנה. הדיירים ייהנו מנוף פנורמי של הרי ויטושה, לצד מערכת בקרה וגישה מאובטחת למתחם, המעניקות שלווה ושקט נפשי.
                div.project-details-text(dir='rtl') Mountain View Residence מחבר בין העיר להרים, בין האדם לטבע, בין חיים שלווים לבין שגרת יום עמוסה. כאן הבית הוא מקלט שליו בו ניתן לשקוע בנוחות וליהנות מתחושת חמימות ביתית.   
                h3.project-details-sub-headline(dir='rtl') נופים מרהיבים
                div.project-details-text(dir='rtl') ההר מכניע, כובש ומרגש. דמיינו בקרים, ערבים וכל רגע ביניהם מלאים בנוף הפנורמי של הרי ויטושה. כדי לשמור על הקשר בין האדם לטבע, תוכנן שכל דירה תכלול לפחות חזית זכוכית מסוג "חלון צרפתי" ומרפסת. אנו מבינים כמה חשוב שהבית יעניק שלווה, יאפשר מנוחה אמיתית וישכיח את השגרה העמוסה.
                h3.project-details-sub-headline(dir='rtl') חומרים יוקרתיים
                div.project-details-text(dir='rtl') בכל פרויקט אנו משתמשים בחומרים יוקרתיים מהשורה הראשונה, המהווים חלק בלתי נפרד מנוסחת הבית הנוח והחמים. התחושה מתחילה לא ברגע בו נכנסים לדירה, אלא כבר במבט הראשון על הבניין, השטחים הציבוריים, הנוף, התאורה, הלובי, המעליות הנוחות והמהירות ואפילו המדרגות. כל פרט חשוב. בחירה קפדנית של חומרים איכותיים מבטיחה לא רק אסתטיקה על-זמנית אלא גם חוזק, ביטחון ואמינות לבית ולפרויקט כולו.
                h3.project-details-sub-headline(dir='rtl') הבית המושלם!
                div.project-details-text(dir='rtl') אנחנו לא רק בונים. אנחנו יוצרים בתים שהיינו רוצים לגור בהם בעצמנו. אנו מעצבים חללים המאפשרים יצירת זיכרונות ומסורות משפחתיות שיעברו מדור לדור. כדי לעמוד במשימה זו, אנו משקיעים בכל פרט – מבחירת מיקום, עיצוב וביצוע, ועד לגינון ותחזוקה עתידית של המתחם. אנו יוצרים מבנים יפים בעלי אסתטיקה על-זמנית וסגנון ייחודי, שיהיו רלוונטיים תמיד.
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321541-sofia-mountain-view-residence-1.webp' alt='תמונה של פרויקט Mountain View Residence ממבט על')
                div.project-details-text.text-center(dir='rtl') <i>מתחם הפרויקט Mountian View Residence</i>
                h3.project-details-sub-headline(dir='rtl') תכונות מרכזיות:
                div.project-details-text(dir='rtl') ● <strong>בנייה נמוכה וקומפקטית:</strong> מבנים חסכוניים באנרגיה השומרים על הרמוניה נופית ומאפשרים מבט פתוח אל ההר.
                div.project-details-text(dir='rtl') ● <strong>חצרות פרטיות ומרפסות מרווחות:</strong> דירות קרקע עם חצר פרטית או מרפסות המשקיפות לנוף היפיפה של הרי ויטושה.
                div.project-details-text(dir='rtl') ● <strong>חנייה תת-קרקעית:</strong> הפרויקט כולל חנייה תת-קרקעית ואחסון לאופניים עם גישה נוחה לקומות המגורים.
                div.project-details-text(dir='rtl') ● <strong>מתחם מאובטח ומגודר:</strong> מתחם עם גישה מבוקרת המבטיח פרטיות ושקט נפשי.
                div.project-details-text(dir='rtl') ● <strong>מיקום אסטרטגי:</strong> שכונת מלינובה דולינה נמצאת בהתפתחות מתמדת ומציעה גישה נוחה לכל מה שצריך.
                div.project-details-text(dir='rtl') ● <strong>חיים שלווים בשכונה מועדפת:</strong> שכונה פופולרית בזכות מיקומה המרכזי, התשתיות המתקדמות והשקט שבה.
                h3.project-details-sub-headline(dir='rtl') מחויבות לסביבה
                div.project-details-text(dir='rtl') בכל פרויקט אנו מקפידים לצמצם את ההשפעה על הסביבה, משתמשים בחומרים טבעיים מספקים מוסמכים, ממחזרים פסולת בנייה ומשלבים גינון ירוק כדי להפחית את טביעת הפחמן שלנו.
                h3.project-details-sub-headline(dir='rtl') על קבוצת SofBuildStroy
                div.project-details-text(dir='rtl') העקרונות עליהם נוסדה חברת הבנייה SofBuildStroy הם נוחות, בטיחות ואסתטיקה גבוהה. אנו מתכננים כל פרויקט בדיוק רב בעזרת צוותי אדריכלים ומעצבים. אנו בונים עם חומרים איכותיים וטבעיים, תוך פיקוח קפדני על כל שלב בתהליך. אנו ממשיכים את המשימה שלנו לדאוג לכם על ידי כך שאנו לוקחים על עצמנו גם את תחזוקת המבנים. אנו יוצרים בתים שבהם תוכלו לחיות טוב.
                div.project-details-text(dir='rtl') המבנים שלנו מבוקשים מאוד, שכן חברת הבנייה SofBuildStroy מציעה דירות מתוכננות היטב, יפות ומרווחות במבנים בעלי ארכיטקטורה יוצאת דופן ועל-זמנית. המיקומים בהם אנו בונים עשירים בשטחים ירוקים ודואגים רבות לילדים. עובדה זו הביאה לחברה פרסים על בנייה יוקרתית, אדריכלות ועיצוב בבולגריה ומחוצה לה.
                div.project-details-text(dir='rtl') המחויבות שלנו להעניק בתים ומרחבי עבודה מושלמים מניעה אותנו תמיד להתפתח ולהשתפר בהתאם לטרנדים עולמיים. כי אתם ראויים לטוב ביותר!

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline שירותים בפרויקט
        .row.project-amenities-row.text-end.mx-5.justify-content-end 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-train.svg' alt='אייקון של רכבת')
                div.project-amenities-text(dir='rtl') 200 מטר מתחנת המטרו
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-bike.svg' alt='אייקון של אופניים')
                div.project-amenities-text חניות אופניים מיוחדות
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-building.svg' alt='אייקון של בניין')
                div.project-amenities-text חנויות ובית מרקחת
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-dumbell.svg' alt='אייקון של משקולת')
                div.project-amenities-text(dir='rtl') מתחם כושר
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-elevator.svg' alt='אייקון של מעלית')
                div.project-amenities-text מעליות מתקדמות
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-materials.svg' alt='אייקון של בד')
                div.project-amenities-text חומרי בנייה באיכות גבוהה          

    .container-fluid.project-mid-image-container.project-mid-image-container-mountain-residence(role="img" aria-labelledby="mountainResidenceMidImageDescription")
        span.visually-hidden(id="mountainResidenceMidImageDescription") תמונה של פרויקט Mountain Residence
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-healine-col
                h2.project-map-headline מיקום
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=23.344814598156557 data-lat=42.64120955464309 data-title='Mountain View Residence') 
        
    
    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile