extends ../base

block head
    title Nessebar Fort Residence
    meta(name="description" content='דירות למכירה בפרויקט Nessebar Fort Residence בסאני ביץ\'! מתחם חדש ומרוהט במלואו עם בריכה, מיקום שקט ליד נסבר ותוכנית תשלומים גמישה. התחלת מכירות באפריל 2025!')
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/project/nessebar-fort-residence")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/project/nessebar-fort-residence" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/ru/project/nessebar-fort-residence" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.com/project/nessebar-fort-residence" hreflang="he")

    meta(property="og:title" content="Nessebar Fort Residence")
    meta(property="og:description" content='דירות למכירה בפרויקט Nessebar Fort Residence בסאני ביץ\'! מתחם חדש ומרוהט במלואו עם בריכה, מיקום שקט ליד נסבר ותוכנית תשלומים גמישה. התחלת מכירות באפריל 2025!')
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596814-nessebar-fort-residence-2.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="nessebarFortResidenceMainImageDescription")
        span.visually-hidden(id="nessebarFortResidenceMainImageDescription") תמונה של בנייני המגורים בפרויקט Nessebar Fort Residence
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-nessebar-fort-residence
                h1.project-main-image-headline.project-main-image-headline-nessebar-fort-residence Nessebar Fort Residence          
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline גלריה
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596850-nessebar-fort-residence-4.webp' alt='תמונה של הפרויקט Nessebar Fort Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596909-nessebar-fort-residence-17.webp' alt='תמונה של הפרויקט Nessebar Fort Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596918-nessebar-fort-residence-20.webp' alt='תמונה של הפרויקט Nessebar Fort Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596867-nessebar-fort-residence-8.webp' alt='תמונה של הפרויקט Nessebar Fort Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596871-nessebar-fort-residence-9.webp' alt='תמונה של הפרויקט Nessebar Fort Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596877-nessebar-fort-residence-11.webp' alt='תמונה של הפרויקט Nessebar Fort Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Nessebar Fort Residence
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596808-nessebar-fort-residence-1.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596814-nessebar-fort-residence-2.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596845-nessebar-fort-residence-3.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596850-nessebar-fort-residence-4.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596855-nessebar-fort-residence-5.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596860-nessebar-fort-residence-6.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596864-nessebar-fort-residence-7.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596867-nessebar-fort-residence-8.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596871-nessebar-fort-residence-9.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596874-nessebar-fort-residence-10.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596877-nessebar-fort-residence-11.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596883-nessebar-fort-residence-12.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596890-nessebar-fort-residence-13.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596896-nessebar-fort-residence-14.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596903-nessebar-fort-residence-15.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596907-nessebar-fort-residence-16.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596909-nessebar-fort-residence-17.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596913-nessebar-fort-residence-18.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596916-nessebar-fort-residence-19.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596918-nessebar-fort-residence-20.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596922-nessebar-fort-residence-21.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596925-nessebar-fort-residence-22.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596929-nessebar-fort-residence-23.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596933-nessebar-fort-residence-24.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596937-nessebar-fort-residence-25.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596942-nessebar-fort-residence-26.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596946-nessebar-fort-residence-27.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596951-nessebar-fort-residence-28.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596957-nessebar-fort-residence-29.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596962-nessebar-fort-residence-30.webp' alt='תמונה של הפרויקט Nessebar Fort Residence')
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5.flex-md-row-reverse
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-nessebar-fort-residence
                div.project-numbers-text בניינים        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-nessebar-fort-residence
                div.project-numbers-text קומות        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-nessebar-fort-residence
                div.project-numbers-text דירות
    
    .container-fluid.project-details-container
        .row.project-details-row.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Nessebar Fort Residence
            .col-10.project-details-headline-col.p-0
                div.project-details-text(dir='rtl') Nessebar Fort Residence – ההזדמנות הנדל"נית החדשה ביותר בחוף הים השחור של בולגריה!
                div.project-details-text(dir='rtl') דירות למכירה בסאני ביץ' – תחילת המכירות באפריל 2025!
                div.project-details-text(dir='rtl') המתחם הושלם במלואו – קבלו את המפתחות ביום חתימת החוזה.
                div.project-details-text(dir='rtl') Nessebar Fort Residence הוא מתחם מגורים נעים בסאני ביץ', בולגריה, הממוקם על הגבול עם העיר ההיסטורית נסבר. במרחק הליכה קצר מהחוף, קהילה סגורה זו מציעה דירות מרוהטות במלואן, אידיאליות למגורים קבועים ולהכנסה משכירות. כאן תיהנו משקט, נוחות וקלות גישה, עם כל מה שאתם צריכים במרחק הליכה – מסופרמרקטים, מסעדות ובילויים ועד מרכזים רפואיים ומתקני ספורט.
                div.project-details-text(dir='rtl') המתחם כולל בריכת שחייה, שטחים ירוקים ומגרש משחקים לילדים.
                div.project-details-text(dir='rtl') קונספט Fort Noks מבטיח בטיחות, נוחות וסביבה מושלמת למשפחות.
                div.project-details-text(dir='rtl') דירות מסוגננות ומוכנות למגורים זמינות עם תוכנית תשלומים גמישה, המאפשרת לכם להתחיל להשתמש בנכס מיד לאחר התשלום הראשון.
                div.project-details-text(dir='rtl') Nessebar Fort Residence – בית החלומות שלכם ליד הים!
                h3.project-details-sub-headline(dir='rtl') תוכנית תשלומים
                div.project-details-text(dir='rtl') אפשרויות תשלום נדחה סטנדרטיות:
                div.project-details-text(dir='rtl') רק 10% מהמחיר ישולמו עם חתימת החוזה הראשוני;
                div.project-details-text(dir='rtl') תשלום שני של 15% מהמחיר ישולם חודשיים לאחר חתימת החוזה הראשוני;
                div.project-details-text(dir='rtl') תשלום שלישי של 15% מהמחיר ישולם 4 חודשים לאחר חתימת החוזה הראשוני;
                div.project-details-text(dir='rtl') את ה-60% הנותרים ניתן לשלם באמצעות תוכנית תשלומים נדחית של Fort Noks:
                div.project-details-text(dir='rtl') &nbsp<strong>●</strong> עד שנה תשלום נדחה ללא ריבית!
                div.project-details-text(dir='rtl') &nbsp<strong>●</strong> עד 3 שנים תשלום נדחה עם ריבית שנתית של 3.5%
                div.project-details-text(dir='rtl') &nbsp<strong>●</strong> עד 5 שנים תשלום נדחה עם ריבית שנתית של 6.5%;
                div.project-details-text(dir='rtl') &nbsp<strong>●</strong> במקרה של תשלום ראשוני של 50% בחתימת החוזה הראשוני – הנחה של 2% ממחיר הרכישה.
                div.project-details-text(dir='rtl') &nbsp<strong>●</strong> במקרה של תשלום מלא תוך חודשיים מיום חתימת החוזה הראשוני, תינתן הנחה של 3%.
                div.project-details-text(dir='rtl') &nbsp<strong>●</strong> ניתן להשתמש בדירה או להשכיר אותה לאחר תשלום 10% ממחיר הרכישה.
                div.project-details-text(dir='rtl') חתימת מעשה נוטריון מתבצעת לאחר תשלום מלא עבור הדירה.
                h3.project-details-sub-headline(dir='rtl') על קבוצת Fort Noks Ltd
                div.project-details-text(dir='rtl') Fort Noks Ltd הוקמה בשנת 1995. במהלך השנים הפכה לחברת הבנייה והניהול הגדולה ביותר באזור סאני ביץ'. המשימה שלנו היא להתמקד במתן מענה לצרכים של לקוחותינו על ידי הצעת מגוון רחב של דירות נופש, הממוקמות בכפרי נופש על חוף הים. אנו מחויבים להקשיב ולהבין את דרישות הלקוח שלנו, לספק צוות מקצועי ומנוסה.
                div.project-details-text(dir='rtl') המתחמים שלנו ממוקמים באתרי הנופש הטובים ביותר על חוף הים של בולגריה: Elenite, Saint Vlas (Sveti Vlas), Sunny Beach, Ravda, במרחק של 30-40 קילומטרים מנמל התעופה של בורגס.
                div.project-details-text(dir='rtl') רכישה מאיתנו תעניק לך לא רק השקעת נדל"ן, אלא את שירות האחזקה והניהול הטובים ביותר באזור. רוב המתחמים שלנו הם קו ראשון עם גישה מוגבלת עם כרטיסים מגנטיים אישיים, אבטחה 24 שעות וניטור וידאו. לא יהיה על מה לחשוב מלבד החופשה שלך. התשתית של המתחמים שלנו משתפרת מדי שנה, הודות לקשר התמידי בינינו לבין לקוחותינו.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline שירותים בפרויקט
        .row.project-amenities-row.text-end.mx-5.justify-content-end 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/pool-swimming-pool-svgrepo-com.svg' alt='אייקון של בריכת שחיה')
                div.project-amenities-text(dir='rtl') בריכות שחייה
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/hotel-staff-svgrepo-com.svg' alt='אייקון של עובד מלון')
                div.project-amenities-text(dir='rtl') שירותי לובי
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/beach-umbrella-svgrepo-com.svg' alt='אייקון של חוף ים')
                div.project-amenities-text חוף ים      
    
    .container-fluid.project-mid-image-container.project-mid-image-container-nessebar-fort-residence(role="img" aria-labelledby="nessebarFortResidenceMidImageDescription")
        span.visually-hidden(id="nessebarFortResidenceMidImageDescription") תמונה של הפרויקט Nessebar Fort Residence
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-healine-col
                h2.project-map-headline מיקום
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.704319345094927 data-lat=42.70120308009148 data-title='Nessebar Fort Residence')                     
    
    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile