extends ../base

block head
    title Premier Fort Beach
    meta(name="description" content='רכישת דירה בפרויקט Premier Fort Beach היא השקעת נדל"ן אידיאלית למשפחות – מיקום ראשון לים, דירות מרוהטות ומוכנות למגורים, עם תוכנית תשלומים גמישה עד 7 שנים!')
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/project/premier-fort-beach")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/project/premier-fort-beach" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/ru/project/premier-fort-beach" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.com/project/premier-fort-beach" hreflang="he")

    meta(property="og:title" content="Premier Fort Beach")
    meta(property="og:description" content='רכישת דירה בפרויקט Premier Fort Beach היא השקעת נדל"ן אידיאלית למשפחות – מיקום ראשון לים, דירות מרוהטות ומוכנות למגורים, עם תוכנית תשלומים גמישה עד 7 שנים!')
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744465313268-premier-fort-beach-47.jpg")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="premierFortBeachMainImageDescription")
        span.visually-hidden(id="premierFortBeachMainImageDescription") תמונה של בנייני המגורים בפרויקט Premier Fort Beach
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-premier-fort-beach
                h1.project-main-image-headline.project-main-image-headline-premier-fort-beach Premier Fort Beach          
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline גלריה
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842027-premier-fort-beach-4.webp' alt='תמונה של הפרויקט Premier Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842035-premier-fort-beach-6.webp' alt='תמונה של הפרויקט Premier Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842095-premier-fort-beach-18.webp' alt='תמונה של הפרויקט Premier Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842176-premier-fort-beach-37.webp' alt='תמונה של הפרויקט Premier Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842185-premier-fort-beach-41.webp' alt='תמונה של הפרויקט Premier Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842197-premier-fort-beach-45.webp' alt='תמונה של הפרויקט Premier Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Premier Fort Beach
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454841987-premier-fort-beach-1.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842021-premier-fort-beach-3.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842027-premier-fort-beach-4.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842032-premier-fort-beach-5.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842035-premier-fort-beach-6.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842041-premier-fort-beach-7.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842046-premier-fort-beach-8.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842051-premier-fort-beach-9.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842056-premier-fort-beach-10.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842067-premier-fort-beach-11.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842075-premier-fort-beach-12.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842078-premier-fort-beach-13.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842084-premier-fort-beach-14.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842086-premier-fort-beach-15.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842089-premier-fort-beach-16.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842092-premier-fort-beach-17.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842095-premier-fort-beach-18.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842098-premier-fort-beach-19.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842101-premier-fort-beach-20.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842104-premier-fort-beach-21.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842109-premier-fort-beach-22.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842112-premier-fort-beach-23.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842115-premier-fort-beach-24.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842118-premier-fort-beach-25.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842120-premier-fort-beach-26.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842124-premier-fort-beach-27.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842126-premier-fort-beach-28.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842131-premier-fort-beach-29.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842138-premier-fort-beach-30.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842147-premier-fort-beach-31.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842155-premier-fort-beach-32.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842161-premier-fort-beach-33.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842165-premier-fort-beach-34.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842170-premier-fort-beach-35.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842174-premier-fort-beach-36.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842176-premier-fort-beach-37.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842178-premier-fort-beach-38.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842180-premier-fort-beach-39.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842182-premier-fort-beach-40.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842185-premier-fort-beach-41.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842188-premier-fort-beach-42.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842192-premier-fort-beach-43.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842194-premier-fort-beach-44.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842197-premier-fort-beach-45.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842201-premier-fort-beach-building-plan.webp' alt='תמונה של הפרויקט Premier Fort Beach') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5.flex-md-row-reverse
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-premier-fort-beach
                div.project-numbers-text בניינים        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-premier-fort-beach
                div.project-numbers-text קומות        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-premier-fort-beach
                div.project-numbers-text דירות
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Premier Fort Beach
            .col-10.project-details-headline-col.p-0.text-end
                div.project-details-text(dir='rtl') ברוכים הבאים למלון Premier Fort Beach - החופשה המשפחתית האידיאלית שלכם!
                div.project-details-text(dir='rtl') גלו את השילוב המושלם של נוחות וריגוש במלון Premier Fort Beach, גן עדן מענג ברמת 4 כוכבים המותאם למשפחות עם ילדים. אתר הנופש שלנו ידוע בהיצע יוצא הדופן שלו, מה שמבטיח חוויה בלתי נשכחת לאורחים בכל הגילאים.
                h3.project-details-sub-headline(dir='rtl') מקומות לינה לכל צורך
                div.project-details-text(dir='rtl') בין אם אתם מתכננים בריחה קצרה או שהות ארוכה יותר, מלון Premier Fort Beach מציע מגוון אפשרויות דירות, החל מדירות סטודיו נעימות ועד לדירות מרווחות עם 3 חדרי שינה. כל יחידות אירוח מעוצבות בקפידה כדי לספק בית הרחק מהבית, תוך הבטחת נוחות ונוחות במהלך שהותכם.
                h3.project-details-sub-headline(dir='rtl') גן עדן ידידותי למשפחות
                div.project-details-text(dir='rtl') אתר הנופש שלנו הוא גן עדן למשפחות, הכולל שתי בריכות מים מתוקים, בריכת שחייה ייעודית לילדים ושתי מגלשות מים מרגשות. תנו לקטנטנים לחקור את מגרש המשחקים של הילדים ולהשתתף בתוכנית האנימציה הפנטסטית שלנו, המציעה כיף והתרגשות אינסופיים.
                h3.project-details-sub-headline(dir='rtl') תענוגות קולינריים
                div.project-details-text(dir='rtl') התפנקו במסע קולינרי במלון Premier Fort Beach. מחוויות אוכל משובחות ועד מגוון מסעדות באתר הנופש, ההיצע הקולינרי המגוונים שלנו נותן מענה לכל טעם. תיהנו מהרפתקה גסטרונומית עם ארוחות טעימות שהוכנו על ידי השפים המוכשרים שלנו.
                h3.project-details-sub-headline(dir='rtl') פנאי ובריאות
                div.project-details-text(dir='rtl') הישארו פעילים ורגועים עם חדר הכושר החיצוני שלנו, טניס שולחן או כדורעף על החוף. לחוויה שלווה יותר, בקרו באזור הספא והבריאות שלנו, המציע עיסויים, טיפולי יופי ועוד.
                h3.project-details-sub-headline(dir='rtl') נוחות בקצות אצבעותיך
                div.project-details-text(dir='rtl') דלפק הקבלה שלנו פעיל 24 שעות ביממה כאן כדי לסייע לכם עם מידע על טיולים שונים, כדי להבטיח שתפיקו את המרב מהשהייה שלכם. חקרו את האזור שמסביב או צאו להרפתקאות מרגשות בהנחיית הצוות הבקיא שלנו.
                div.project-details-text(dir='rtl') מלון Premier Fort Beach אינו רק יעד, זו חוויה שנועדה ליצור זיכרונות מתמשכים עבורכם ועבור יקיריכם. הזמינו את השהות שלכם עכשיו וטבלו את עצמכם בתערובת המושלמת של כיף ידידותי למשפחות, אוכל מעולה ורוגע!
                h3.project-details-sub-headline(dir='rtl') אזור וחוף
                div.project-details-text(dir='rtl') Premier Fort Beach הוא גן עדן השוכן לאורך קו החוף הבתולי, ומציע מפלט אידילי שבו היופי של האזור משתלב בצורה חלקה עם הנוחות של אתר נופש מפואר. ממוקם ממש על החוף, גן העדן הזה מספק רקע מושלם לחוויית חופשה מענגת ומחדשת.
                div.project-details-text(dir='rtl') זהו יעד שבו יופיו של החוף משתלב עם שפע של שירותים, ומבטיח חופשה בלתי נשכחת ומרגיעה לכל אורח.
                h3.project-details-sub-headline(dir='rtl') בריכות שחייה
                div.project-details-text(dir='rtl') אתר הנופש מתגאה במגוון של מתקנים ופעילויות הנותנים מענה לצרכים המגוונים של אורחיו. טבלו את עצמכם בחיבוק המרענן של שתי בריכות מים מתוקים צלולים, כל אחת מזמינה אתכם להתחמם בחמימות השמש תוך כדי הנאה מהצלילים המרגיעים של הגלים הסמוכים. משפחות יכולות להתענג על בריכת השחייה לילדים המעוצבת במיוחד, המבטיחה שכל אחד מבני המשפחה יוכל ליצור זיכרונות יקרים בסביבה בטוחה ומהנה.
                h3.project-details-sub-headline(dir='rtl') ספא ובריאות
                div.project-details-text(dir='rtl') פנקו את החושים שלכם באזור הבריאות, שבו השלווה והרוגע עומדים במרכז הבמה. הצעירו את הגוף והנפש עם מגוון טיפולים, מעיסויים ממריצים ועד למפגשים מפנקים במכון היופי ובמספרה. החנויות באתר מספקות שדרה נוחה לאורחים לאסוף מזכרות או כל דבר חיוני שהם עשויים להזדקק להם במהלך שהותם.
                h3.project-details-sub-headline(dir='rtl') ספורט ופעילויות
                div.project-details-text(dir='rtl') אתר הנופש מתגאה במגוון של מתקנים ופעילויות הנותנים מענה לצרכים המגוונים של אורחיו. טבלו את עצמכם בחיבוק המרענן של שתי בריכות מים מתוקים צלולים, כל אחת מזמינה אתכם להתחמם בחמימות השמש תוך כדי הנאה מהצלילים המרגיעים של הגלים הסמוכים. משפחות יכולות להתענג על בריכת השחייה לילדים המעוצבת במיוחד, המבטיחה שכל אחד מבני המשפחה יוכל ליצור זיכרונות יקרים בסביבה בטוחה ומהנה.
                h3.project-details-sub-headline(dir='rtl') תוכנית אנימציה
                div.project-details-text(dir='rtl') לקטנטנים מחכה מגרש משחקים תוסס לילדים, מלא בצחוק ובשמחה של משחק חסר דאגות. מחפשי הרפתקאות יכולים להתענג על ההתרגשות של שתי מגלשות מים מרגשות, המספקות דרך מלהיבה להתקרר ולהוסיף מנה נוספת של כיף לימי השמש. חובבי כושר ימצאו את המפלט שלהם בחדר הכושר החיצוני, מה שיאפשר להם להישאר פעילים בעודם מוקפים בנופים עוצרי הנשימה של החוף. 
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842201-premier-fort-beach-building-plan.webp' alt='תרשים הבניינים של Premier Fort Beach')
                div.project-details-text.text-center <i>תרשים הבניינים של Premier Fort Beach</i>   
                h3.project-details-sub-headline(dir='rtl') השקעה בטוחה
                div.project-details-text(dir='rtl') ניתן לרכוש דירה במתחם הטוב ביותר על חוף הים השחור הבולגרי ממש ליד הים. דירה Premier Fort Beach תהיה מקום החופשה המועדף על המשפחה שלכם בבולגריה והשקעה מושלמת עבורכם. דירות מ-65,000 עד 650,000 יורו, החל מדירות סטודיו נעימות ועד לדירות 3 חדרי שינה יוקרתיות.
                div.project-details-text(dir='rtl') בעלי הדירות במתחם משלמים את האגרות והמסים השנתיים הבאים:
                div.project-details-text(dir='rtl') &nbsp<strong>●</strong> דמי אחזקה וניהול בסך 21 אירו כולל 20% מע"מ, למ"ר אחד משטח הבנייה;
                div.project-details-text(dir='rtl') &nbsp<strong>●</strong> מס שנתי בסך 278 אירו כולל מע"מ 20%, עבור חיבור לאינטרנט וטלוויזיה ותחזוקה של כרטיסי מפתח הגישה;
                div.project-details-text(dir='rtl') &nbsp<strong>●</strong> ביטוח – 50 יורו לדירת סטודיו, 60 יורו לדירת חדר שינה אחד ו-70 יורו לדירת 2 חדרי שינה ו-85 יורו לדירת 3 חדרי שינה;
                div.project-details-text(dir='rtl') &nbsp<strong>●</strong> עמלה עבור שירות חשבונות החשמל בסכום של 30 אירו;
                div.project-details-text(dir='rtl') &nbsp<strong>●</strong> מס מקרקעין ואשפה ניתן לשלם על ידי חברתנו באותם תעריפים של עיריית נסבר.
                div.project-details-text(dir='rtl') אין מיסים נוספים על תיקונים ושיפוצים כלליים של המבנים והקונסטרוקציות בשטח המתחם, הכל כלול במחיר המכירה.
                h3.project-details-sub-headline(dir='rtl') מאפייני הפרויקט
                div.project-details-text(dir='rtl') כל הדירות מרוהטות במלואן, מוכנות לחלוטין למגורים ולהשכרה בהתאם לסטנדרטים ולדרישות של מפעילי הטיולים.
                div.project-details-text(dir='rtl') עבודות הגמר בכל הדירות בוצעו תוך שימוש בחומרים איכותיים בלבד.
                div.project-details-text(dir='rtl') המתחם מיועד למגורים כל השנה.
                div.project-details-text(dir='rtl') הבנייה היא מונוליטית תוך שימוש בטכנולוגיה המודרנית של בנייה "יבשה" עם חומרים באיכות גבוהה. בניית הקירות /כולל הפנימיים/ מונחת בלבנים או בטון סודה, חומר ידידותי לסביבה עם מפרט טכני מעולה. הקירות והתקרות הפנימיים מצופים בגבס.
                div.project-details-text(dir='rtl') <strong>● אולם כניסה ומטבח:</strong> רצפה – אריחי קרמיקה, קירות ותקרה – צבע לטקס.
                div.project-details-text(dir='rtl') <strong>● חדר רחצה:</strong> רצפה – אריחי קרמיקה, קירות – אריחי קרמיקה, תקרה תלויה.
                div.project-details-text(dir='rtl') <strong>● הסלון/חדר השינה:</strong> רצפה – פרקט למינציה, קירות ותקרה – צבע לטקס.
                div.project-details-text(dir='rtl') <strong>● המרפסת:</strong> רצפה – כלי אבן פורצלן, קירות – טיח מינרלי.
                div.project-details-text(dir='rtl') <strong>●</strong> בכל דירה מותקן דוד חשמלי לחימום מים, ציוד סניטרי – שירותים, כיור, תא מקלחת, ריהוט ואביזרים/מדפים, מראה וכו'.
                div.project-details-text(dir='rtl') <strong>●</strong> בכל חדר מותקנת יחידת מזגן (חורף-קיץ). מסגרות חלונות PVC עם וילונות. דלתות חיצוניות - עם ציפוי דקורטיבי וגישה לכרטיס מפתח. ישנה אפשרות לחבר טלוויזיה בכבלים ואינטרנט בכל חדר.
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842208-premier-fort-beach-overview.webp' alt='תרשים הבניינים של Premier Fort Beach')
                div.project-details-text.text-center <i>Premier Fort Beach מבט על של פרויקט</i>   
                h3.project-details-sub-headline(dir='rtl') תוכנית תשלומים
                div.project-details-text(dir='rtl')  <strong>הצעה מיוחדת: שלם את התשלום הראשון שלך עד 31 במאי 2025, ונצל תוכנית תשלומים ל-24 חודשים ללא ריבית נוספת!</strong>
                div.project-details-text(dir='rtl')  20% מהמחיר שישולם בחתימת החוזה המקדים.
                div.project-details-text(dir='rtl')  את 80% הנותרים ניתן לשלם באמצעות תוכנית תשלומים דחויים של Fort Noks:
                div.project-details-text(dir='rtl')   &nbsp<strong>●</strong> תשלום דחוי עד שנה ללא ריבית.
                div.project-details-text(dir='rtl')   &nbsp<strong>●</strong> עד 3 שנים דחיית תשלום עם 3.5% ריבית שנתית.
                div.project-details-text(dir='rtl')   &nbsp<strong>●</strong> עד 5 שנים דחיית תשלום עם 6.5% ריבית שנתית.
                div.project-details-text(dir='rtl')   &nbsp<strong>●</strong> עד 7 שנים דחיית תשלום עם 9.7% ריבית שנתית.
                div.project-details-text(dir='rtl')   &nbsp<strong>●</strong> במקרה של 50% מנה ראשונה בחתימה על החוזה המקדים – 3% הנחה ממחיר הרכישה.
                div.project-details-text(dir='rtl')   &nbsp<strong>●</strong> ניתן להשתמש בדירה /להשכרה/ לאחר תשלום 20% ממחיר הרכישה.
                div.project-details-text(dir='rtl')   &nbsp<strong>●</strong> חתימה על חוק הנוטריון מתבצעת לאחר תשלום מלא עבור הדירה.
                h3.project-details-sub-headline(dir='rtl') על קבוצת Fort Noks Ltd
                div.project-details-text(dir='rtl') Fort Noks Ltd הוקמה בשנת 1995. במהלך השנים הפכה לחברת הבנייה והניהול הגדולה ביותר באזור סאני ביץ'. המשימה שלנו היא להתמקד במתן מענה לצרכים של לקוחותינו על ידי הצעת מגוון רחב של דירות נופש, הממוקמות בכפרי נופש על חוף הים. אנו מחויבים להקשיב ולהבין את דרישות הלקוח שלנו, לספק צוות מקצועי ומנוסה.
                div.project-details-text(dir='rtl') המתחמים שלנו ממוקמים באתרי הנופש הטובים ביותר על חוף הים של בולגריה: Elenite, Saint Vlas (Sveti Vlas), Sunny Beach, Ravda, במרחק של 30-40 קילומטרים מנמל התעופה של בורגס.
                div.project-details-text(dir='rtl') רכישה מאיתנו תעניק לך לא רק השקעת נדל"ן, אלא את שירות האחזקה והניהול הטובים ביותר באזור. רוב המתחמים שלנו הם קו ראשון עם גישה מוגבלת עם כרטיסים מגנטיים אישיים, אבטחה 24 שעות וניטור וידאו. לא יהיה על מה לחשוב מלבד החופשה שלך. התשתית של המתחמים שלנו משתפרת מדי שנה, הודות לקשר התמידי בינינו לבין לקוחותינו.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline שירותים בפרויקט
        .row.project-amenities-row.text-end.mx-5.justify-content-end 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/pool-swimming-pool-svgrepo-com.svg' alt='אייקון של בריכת שחיה')
                div.project-amenities-text(dir='rtl') בריכות שחייה
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/dumbbell-project-icon.svg' alt='אייקון של משקולת')
                div.project-amenities-text חדר כושר
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/massage-spa-svgrepo-com.svg' alt='אייקון של ספא')
                div.project-amenities-text ספא
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/hotel-staff-svgrepo-com.svg' alt='אייקון של עובד מלון')
                div.project-amenities-text(dir='rtl') שירותי לובי
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/water-slide-svgrepo-com.svg' alt='אייקון של מגלשות מים')
                div.project-amenities-text מגלשות מים
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/beach-umbrella-svgrepo-com.svg' alt='אייקון של חוף ים')
                div.project-amenities-text חוף ים      
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/football-project-icon.svg' alt='אייקון של כדור כדורגל')
                div.project-amenities-text מגרשי ספורט    
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/shopping-project-icon.svg' alt='אייקון של מגש אוכל')
                div.project-amenities-text חנויות     
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/restrurant-project-icon.svg' alt='אייקון של שקיות קניות')
                div.project-amenities-text מסעדות     
    
    .container-fluid.project-mid-image-container.project-mid-image-container-premier-fort-beach(role="img" aria-labelledby="premierFortBeachMidImageDescription")
        span.visually-hidden(id="premierFortBeachMidImageDescription") תמונה של הפרויקט Premier Fort Beach
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-healine-col
                h2.project-map-headline מיקום
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.743055949883153 data-lat=42.70961378974245 data-title='Premier Fort Beach')  

    .container-fluid.project-video-container
            .row.asset-video-row.mx-3.justify-content-center 
                .col-12.col-md-10.asset-video-col.text-center(role="region" aria-labelledby="assetVideoDescription")
                    iframe(src='https://www.youtube.com/embed/ATVeM5n9vao?si=XNx5xDvVpeTFuhEu' frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).asset-video                    
                span.visually-hidden(id="assetVideoDescription") וידאו המציג את פרויקט Premier Fort Beach                          
    
    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile