extends ../base

block head
    title Prestige Fort Beach
    meta(name="description" content='קנו דירה בפרויקט Prestige Fort Beach שבקו ראשון לים בסאני ביץ\'. דירות מרוהטות עם נוף לים, מתקנים יוקרתיים ואיכות בנייה מעולה – מושלם להשקעה או למגורים!')
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/project/prestige-fort-beach")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/project/prestige-fort-beach" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/project/prestige-fort-beach" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/project/prestige-fort-beach" hreflang="he")

    meta(property="og:title" content="Prestige Fort Beach")
    meta(property="og:description" content='קנו דירה בפרויקט Prestige Fort Beach שבקו ראשון לים בסאני ביץ\'. דירות מרוהטות עם נוף לים, מתקנים יוקרתיים ואיכות בנייה מעולה – מושלם להשקעה או למגורים!')
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745788-prestige-fort-beach-3.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="prestigeFortBeachMainImageDescription")
        span.visually-hidden(id="prestigeFortBeachMainImageDescription") תמונה של בנייני המגורים בפרויקט Prestige Fort Beach
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-prestige-fort-beach
                h1.project-main-image-headline.project-main-image-headline-prestige-fort-beach Prestige Fort Beach          
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline גלריה
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745793-prestige-fort-beach-4.webp' alt='תמונה של הפרויקט Prestige Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745857-prestige-fort-beach-17.webp' alt='תמונה של הפרויקט Prestige Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745884-prestige-fort-beach-24.webp' alt='תמונה של הפרויקט Prestige Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745959-prestige-fort-beach-42.webp' alt='תמונה של הפרויקט Prestige Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745959-prestige-fort-beach-43.webp' alt='תמונה של הפרויקט Prestige Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745968-prestige-fort-beach-45.webp' alt='תמונה של הפרויקט Prestige Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Prestige Fort Beach
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745752-prestige-fort-beach-1.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745757-prestige-fort-beach-2.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745793-prestige-fort-beach-4.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745799-prestige-fort-beach-5.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745806-prestige-fort-beach-6.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745811-prestige-fort-beach-7.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745815-prestige-fort-beach-8.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745822-prestige-fort-beach-9.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745826-prestige-fort-beach-10.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745832-prestige-fort-beach-11.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745839-prestige-fort-beach-12.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745843-prestige-fort-beach-13.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745847-prestige-fort-beach-14.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745850-prestige-fort-beach-15.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745854-prestige-fort-beach-16.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745857-prestige-fort-beach-17.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745860-prestige-fort-beach-18.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745863-prestige-fort-beach-19.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745865-prestige-fort-beach-20.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745870-prestige-fort-beach-21.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745873-prestige-fort-beach-22.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745876-prestige-fort-beach-23.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745884-prestige-fort-beach-24.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745890-prestige-fort-beach-25.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745896-prestige-fort-beach-26.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745899-prestige-fort-beach-27.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745902-prestige-fort-beach-28.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745906-prestige-fort-beach-29.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745909-prestige-fort-beach-30.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745913-prestige-fort-beach-31.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745920-prestige-fort-beach-32.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745924-prestige-fort-beach-33.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745929-prestige-fort-beach-34.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745933-prestige-fort-beach-35.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745936-prestige-fort-beach-36.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745940-prestige-fort-beach-37.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745942-prestige-fort-beach-38.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745949-prestige-fort-beach-39.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745954-prestige-fort-beach-40.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745957-prestige-fort-beach-41.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745959-prestige-fort-beach-42.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745959-prestige-fort-beach-43.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745965-prestige-fort-beach-44.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745968-prestige-fort-beach-45.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745971-prestige-fort-beach-46.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745974-prestige-fort-beach-47.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745976-prestige-fort-beach-48.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745979-prestige-fort-beach-49.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745982-prestige-fort-beach-50.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745985-prestige-fort-beach-51.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745988-prestige-fort-beach-52.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745990-prestige-fort-beach-53.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745991-prestige-fort-beach-building-plan.webp' alt='תמונה של הפרויקט Prestige Fort Beach') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5.flex-md-row-reverse
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-prestige-fort-beach
                div.project-numbers-text בניינים        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-prestige-fort-beach
                div.project-numbers-text קומות        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-prestige-fort-beach
                div.project-numbers-text דירות
    
    .container-fluid.project-details-container
        .row.project-details-row.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Prestige Fort Beach
            .col-10.project-details-headline-col.p-0
                div.project-details-text(dir='rtl') ברוכים הבאים לPrestige Fort Beach – הבריחה החופית המושלמת שלכם!
                div.project-details-text(dir='rtl') Prestige Fort Beach הוא מתחם ייחודי בקו ראשון של חברת פורט נוקס בע"מ, היזם הגדול ביותר באזור סאני ביץ'. ממוקם בחלק הצפוני של סאני ביץ', קרוב לעיירה סנט ולאס, מתחם יוקרתי זה מציע נוף מרהיב לים.
                h3.project-details-sub-headline(dir='rtl') מיקום מובחר על חוף הים
                div.project-details-text(dir='rtl') ממוקם על קו החוף הבתולי, Prestige Fort Beach משלב עיצוב אדריכלי מעולה, בנייה איכותית ומיקום ייחודי על חוף הים. בין אם אתם מחפשים הזדמנות השקעה או בית שני ליד הים, מתחם זה הוא הבחירה המושלמת.
                h3.project-details-sub-headline(dir='rtl') דירות לכל צורך
                div.project-details-text(dir='rtl') המתחם מציע דירות מוכנות עם 1, 2 ו-3 חדרי שינה במחירים שנעים בין 39,000 ל-300,000 אירו. כל דירה מעוצבת בסגנון מודרני, מרוהטת במלואה ומציעה נוף מרהיב לים, מוכנה למגורים או להשכרה.
                h3.project-details-sub-headline(dir='rtl') מתקנים יוצאי דופן
                div.project-details-text(dir='rtl') Prestige Fort Beach מספק מגוון רחב של מתקנים לשדרוג החוויה שלכם:
                div.project-details-text(dir='rtl')  &nbsp<strong>●</strong> בריכת שחייה באורך 30 מטר בחצר מרווחת ומסודרת
                div.project-details-text(dir='rtl')  &nbsp<strong>●</strong> בריכת ילדים ומגרש משחקים
                div.project-details-text(dir='rtl')  &nbsp<strong>●</strong> חדר כושר וחדר עיסוי
                div.project-details-text(dir='rtl')  &nbsp<strong>●</strong> מסעדה נעימה עם מרפסת קיץ
                div.project-details-text(dir='rtl')  &nbsp<strong>●</strong> מגרש טניס/כדורגל
                div.project-details-text(dir='rtl')  &nbsp<strong>●</strong> סופרמרקט וחניה חינם לבעלי הדירות
                div.project-details-text(dir='rtl')  &nbsp<strong>●</strong> שירותי כביסה/ניקוי יבש
                div.project-details-text(dir='rtl')  &nbsp<strong>●</strong> אבטחה כל השנה וגישה לאינטרנט בכל שטח המתחם
                h3.project-details-sub-headline(dir='rtl') פנאי ונוחות
                div.project-details-text(dir='rtl') המתחם תוכנן למגורים נוחים כל השנה. בדלפק הקבלה תוכלו למצוא מגוון שירותים בתשלום, כולל ניקיון דירות, תיקונים, תשלום חשבונות שוטפים, השכרת רכב, גישה לחדר כושר, מגרש טניס, סאונה, מרכז יופי ושירותים רפואיים. ניתן גם להתחבר לטלוויזיה בכבלים ולטלפון.
                h3.project-details-sub-headline(dir='rtl') תחזוקה וניהול
                div.project-details-text(dir='rtl') הבעלים משלמים דמי תחזוקה שנתיים בסך 15.50 אירו (כולל 20% מע"מ) למ"ר, הכוללים:
                div.project-details-text(dir='rtl')  &nbsp<strong>●</strong> תחזוקת שטח המתחם, הבניינים, התשתיות והבריכות
                div.project-details-text(dir='rtl')  &nbsp<strong>●</strong> אבטחה כל השנה ותחזוקת השטחים הירוקים
                div.project-details-text(dir='rtl')  &nbsp<strong>●</strong> תאורה חשמלית של השטחים המשותפים
                div.project-details-text(dir='rtl')  &nbsp<strong>●</strong> שימוש בבריכות השחייה
                div.project-details-text(dir='rtl')  &nbsp<strong>●</strong> תוכנית "פורט נוקס גרנטי" הייחודית, המציעה אחריות ללא הגבלת זמן על רוב עבודות הגמר והחומרים
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745991-prestige-fort-beach-building-plan.webp' alt='תרשים הבניינים של Prestige Fort Beach')
                div.project-details-text.text-center <i>Prestige Fort Beach תרשים הבניינים של פרויקט</i>   
                h3.project-details-sub-headline(dir='rtl') גימור באיכות גבוהה
                div.project-details-text(dir='rtl') כל הדירות כוללות עבודות גמר ברמה גבוהה במחיר הדירה:
                div.project-details-text(dir='rtl')  &nbsp<strong>● מבואה:</strong> רצפת טרקוטה, קירות ותקרה צבועים בלטקס
                div.project-details-text(dir='rtl')  &nbsp<strong>● חדר רחצה:</strong> רצפת טרקוטה, קירות אריחים עד התקרה, תקרה תלויה, ציוד סניטרי (אסלה, ברז, מקלחון), אביזרים וארונות
                div.project-details-text(dir='rtl')  &nbsp<strong>● סלון/חדרי שינה:</strong> רצפת פרקט למינציה, קירות ותקרה צבועים בלטקס, חלונות PVC עם תריסים פנימיים
                div.project-details-text(dir='rtl')  &nbsp<strong>● מטבחון:</strong> רצפת טרקוטה, קירות ותקרה צבועים בלטקס
                div.project-details-text(dir='rtl') בכל דירה מותקנים מזגן חורף-קיץ בכל חדר, דלתות פנים MDF, דלתות חוץ ממתכת עם ציפוי דקורטיבי ואפשרות לחיבור לטלוויזיה דיגיטלית, אינטרנט וטלפון.
                h3.project-details-sub-headline(dir='rtl') בנייה מצוינת
                div.project-details-text(dir='rtl') המתחם נבנה מחומרים איכותיים, עם בנייה מונוליתית, בידוד BAUMIT עמיד ללחות בעובי 5 ס"מ, טיח מינרלי על הקירות החיצוניים וקירות פנים מבריקים או Ytong. זה מבטיח עמידות ונוחות למגורים כל השנה.
                h3.project-details-sub-headline(dir='rtl') ההשקעה החופית שלכם
                div.project-details-text(dir='rtl') Prestige Fort Beach מציע הזדמנות אידיאלית לרכוש נכס על חוף הים הבולגרי. בין אם לחופשות משפחתיות או כהשקעה משתלמת, הדירות בסאני ביץ' של פורט נוקס בע"מ הן הבחירה המושלמת!
                h3.project-details-sub-headline(dir='rtl') תוכנית תשלומים
                div.project-details-text(dir='rtl') <strong>מבצע מיוחד: בצעו את התשלום הראשון עד 31 במאי 2025 ותיהנו מתוכנית תשלומים של 24 חודשים ללא ריבית נוספת!</strong>
                div.project-details-text(dir='rtl') 20% מהמחיר ישולמו עם חתימת החוזה הראשוני.
                div.project-details-text(dir='rtl') את ה-80% הנותרים ניתן לשלם באמצעות תוכנית תשלומים נדחית של פורט נוקס:
                div.project-details-text(dir='rtl')  <strong>●</strong> תשלום נדחה עד שנה ללא ריבית.
                div.project-details-text(dir='rtl')  <strong>●</strong> תשלום נדחה עד 3 שנים עם ריבית שנתית של 3.5%.
                div.project-details-text(dir='rtl')  <strong>●</strong> תשלום נדחה עד 5 שנים עם ריבית שנתית של 6.5%.
                div.project-details-text(dir='rtl')  <strong>●</strong> תשלום נדחה עד 7 שנים עם ריבית שנתית של 9.7%.
                div.project-details-text(dir='rtl') במקרה של תשלום ראשוני של 50% בחתימת החוזה הראשוני – הנחה של 3% ממחיר הרכישה.
                div.project-details-text(dir='rtl') ניתן להשתמש בדירה או להשכיר אותה לאחר תשלום 20% ממחיר הרכישה.
                div.project-details-text(dir='rtl') חתימת מעשה נוטריון מתבצעת לאחר תשלום מלא עבור הדירה.
                h3.project-details-sub-headline(dir='rtl') על קבוצת Fort Noks Ltd
                div.project-details-text(dir='rtl') Fort Noks Ltd הוקמה בשנת 1995. במהלך השנים הפכה לחברת הבנייה והניהול הגדולה ביותר באזור סאני ביץ'. המשימה שלנו היא להתמקד במתן מענה לצרכים של לקוחותינו על ידי הצעת מגוון רחב של דירות נופש, הממוקמות בכפרי נופש על חוף הים. אנו מחויבים להקשיב ולהבין את דרישות הלקוח שלנו, לספק צוות מקצועי ומנוסה.
                div.project-details-text(dir='rtl') המתחמים שלנו ממוקמים באתרי הנופש הטובים ביותר על חוף הים של בולגריה: Elenite, Saint Vlas (Sveti Vlas), Sunny Beach, Ravda, במרחק של 30-40 קילומטרים מנמל התעופה של בורגס.
                div.project-details-text(dir='rtl') רכישה מאיתנו תעניק לך לא רק השקעת נדל"ן, אלא את שירות האחזקה והניהול הטובים ביותר באזור. רוב המתחמים שלנו הם קו ראשון עם גישה מוגבלת עם כרטיסים מגנטיים אישיים, אבטחה 24 שעות וניטור וידאו. לא יהיה על מה לחשוב מלבד החופשה שלך. התשתית של המתחמים שלנו משתפרת מדי שנה, הודות לקשר התמידי בינינו לבין לקוחותינו.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline שירותים בפרויקט
        .row.project-amenities-row.text-end.mx-5.justify-content-end 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/pool-swimming-pool-svgrepo-com.svg' alt='אייקון של בריכת שחיה')
                div.project-amenities-text(dir='rtl') בריכות שחייה
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/dumbbell-project-icon.svg' alt='אייקון של משקולת')
                div.project-amenities-text חדר כושר
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/massage-spa-svgrepo-com.svg' alt='אייקון של ספא')
                div.project-amenities-text ספא
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/hotel-staff-svgrepo-com.svg' alt='אייקון של עובד מלון')
                div.project-amenities-text(dir='rtl') שירותי לובי
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/water-slide-svgrepo-com.svg' alt='אייקון של מגלשות מים')
                div.project-amenities-text מגלשות מים
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/beach-umbrella-svgrepo-com.svg' alt='אייקון של חוף ים')
                div.project-amenities-text חוף ים      
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/football-project-icon.svg' alt='אייקון של כדור כדורגל')
                div.project-amenities-text מגרשי ספורט    
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/shopping-project-icon.svg' alt='אייקון של מגש אוכל')
                div.project-amenities-text חנויות     
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/restrurant-project-icon.svg' alt='אייקון של שקיות קניות')
                div.project-amenities-text מסעדות     
    
    .container-fluid.project-mid-image-container.project-mid-image-container-prestige-fort-beach(role="img" aria-labelledby="prestigeFortBeachMidImageDescription")
        span.visually-hidden(id="prestigeFortBeachMidImageDescription") תמונה של הפרויקט Prestige Fort Beach
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-healine-col
                h2.project-map-headline מיקום
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.742140218197175 data-lat=42.70947830722319 data-title='Prestige Fort Beach')  

    .container-fluid.project-video-container
            .row.asset-video-row.mx-3.justify-content-center 
                .col-12.col-md-10.asset-video-col.text-center(role="region" aria-labelledby="assetVideoDescription")
                    iframe(src='https://www.youtube.com/embed/RqC0Lzz2uh0?si=JDtX6C7oDw8ZrJeX' frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).asset-video                    
                span.visually-hidden(id="assetVideoDescription") וידאו המציג את פרויקט Prestige Fort Beach                          
    
    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile