footer
    .container-fluid.footer-container
        .row.footer-row.d-flex.justify-content-md-evenly
            .col-12.footer-logo-col.text-start
                img.footer-logo-img(src='/img/invest-cafe-logo-footer.jpg' alt='Invest Cafe Logo') 
            .col-12.col-sm-6.col-xl-3.footer-col.en-footer-col.footer-links-col
                div.footer-headline Dira Bulgarit
                div.footer-border-container.d-flex.justify-content-start
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/ru') Дом
                div.footer-link-container     
                    a.footer-link(href='/ru/search') Поиск
                //- div.footer-link-container     
                //-     a.footer-link(href='/ru/project/atlantis-aria-2') Atlantis Aria 2
                //- div.footer-link-container     
                //-     a.footer-link(href='/ru/project/atlantis-aria-3') Atlantis Aria 3
                //- div.footer-link-container     
                //-     a.footer-link(href='/ru/project/atlantis-euphoria') Atlantis Euphoria
                //- div.footer-link-container     
                //-     a.footer-link(href='/ru/project/atlantis-barcode') Atlantis Barcode
                //- div.footer-link-container     
                //-     a.footer-link(href='/ru/project/atlantis-barcode-2') Atlantis Barcode 2
                //- div.footer-link-container     
                //-     a.footer-link(href='/ru/project/villa-margarita') Villa Margarita
                //- div.footer-link-container     
                //-     a.footer-link(href='/ru/project/mellia-florance') Mellia Florance
                //- div.footer-link-container     
                //-     a.footer-link(href='/ru/project/mountain-view-residence') Mountain View Residence
                //- div.footer-link-container     
                //-     a.footer-link(href='/ru/project/vitosha-mountain-view') Vitosha Mountain View
                //- div.footer-link-container     
                //-     a.footer-link(href='/ru/project/mountain-view-boutique') Mountain View Boutique
                div.footer-link-container     
                    a.footer-link(href='/ru/project/atlas-azimuth') Atlas Azimuth 
                div.footer-link-container     
                    a.footer-link(href='/ru/project/fort-noks-premier-suites') Fort Noks Premier Suites 
                div.footer-link-container     
                    a.footer-link(href='/ru/project/green-fort-suites') Green Fort Suites
                div.footer-link-container     
                    a.footer-link(href='/ru/project/premier-fort-beach') Premier Fort Beach
                div.footer-link-container     
                    a.footer-link(href='/ru/project/prestige-fort-beach') Prestige Fort Beach
                div.footer-link-container     
                    a.footer-link(href='/ru/project/nessebar-fort-residence') Nessebar Fort Residence
                div.footer-link-container     
                    a.footer-link(href='/ru/project/enkibuild-lighthouse') Lighthouse Premium Apartments
                div.footer-link-container     
                    a.footer-link(href='/ru/project/sinemorets-villas') Sinemorets Villas
                //- div.footer-link-container     
                //-     a.footer-link(href='/ru/commercial/camelot-entertainment-center') Camelot Entertainment Center
                //- div.footer-link-container     
                //-     a.footer-link(href='/ru/commercial/varsano-chic-apartments') Varsano Chic Apartments
                //- div.footer-link-container     
                //-     a.footer-link(href='/ru/commercial/samokov') Samokov Development
                //- div.footer-link-container     
                //-     a.footer-link(href='/ru/commercial/pomorie-commercial-building') Pomorie Commercial Building
                div.footer-link-container     
                    a.footer-link(href='/ru/qanda') Вопросы и ответы
                div.footer-link-container     
                    a.footer-link(href='/ru/invest') Путеводитель по Болгарии 
                div.footer-link-container     
                    a.footer-link(href='/ru/about') О нас 
                div.footer-link-container     
                    a.footer-link(href='/ru/blog') Блог  
                //- div.footer-link-container     
                //-     a.footer-link(href='/ru/pricing') Услуги  
                div.footer-link-container     
                    a.footer-link(href='/ru/contact-us') Связаться с нами                         
            .col-12.col-sm-6.col-xl-3.footer-col.en-footer-col.footer-links-col  
                div.footer-headline Статьи
                div.footer-border-container.d-flex.justify-content-start
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/ru/blog/The-reasons-for-Bulgarias-popularity-among-Israeli-property-buyers') Почему израильтяне массово скупают квартиры в Болгарии
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/Residence-permit-for-investment-in-Bulgaria-2024') Вид на жительство в Болгарии для инвесторов — 2024: как остаться навсегда и по закону
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/Estimating-the-cost-of-living-in-Bulgaria-a-detailed-guide') Сколько стоит жить в Болгарии: честно, просто и по делу
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/The-best-places-to-live-in-Bulgaria') Лучшие города Болгарии для жизни: море, горы и Wi-Fi без перебоев
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/How-to-pay-bills-in-Bulgaria') Как оплатить счета в Болгарии и не потеряться в квитанциях
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/Maintenance-fees-for-complexes-in-Bulgaria') Обслуживающие сборы в Болгарии: что, сколько и за что вы платите
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/real-estate-investments-in-bulgaria') Инвестиции в Болгарию: как превратить левы в евро          
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/apartments-for-sale-in-varna-bulgaria') Варна: где Черное море встречает инвестиционный потенциал        
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/apartments-for-sale-in-sofia-bulgaria') София — столица, где недвижимость работает на вас       
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/apartments-for-sale-in-banesko-bulgaria') Квартиры в Банско: горы, лыжи и пассивный доход — всё включено!            
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/villas-for-sale-in-bulgaria') Виллы в Болгарии: роскошь с видом на горы, море и таблицу доходности         
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/real-estate-opportunities-abroad') Где живёт ваш капитал? Возможности инвестиций в недвижимость за рубежом      
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/real-estate-investments-abroad') Инвестиции в недвижимость за рубежом: доход, свобода и евро на горизонте        
                div.footer-link-container     
                    a.footer-link(href='/ru/blog/real-estate-investments-in-europe') Европа зовёт: как инвестировать в недвижимость и не пожалеть          
            .col-12.col-sm-6.col-xl-3.footer-col.en-footer-col.footer-links-col  
                div.footer-headline Политика
                div.footer-border-container.d-flex.justify-content-start
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/ru/terms-of-service') Условия использования
                div.footer-link-container     
                    a.footer-link(href='/ru/privacy') политика конфиденциальности
                div.footer-link-container     
                    a.footer-link(href='/ru/accessibility') Политика доступности
                div.footer-link-container     
                    a.footer-link(href='/ru/site-map') Карта сайта
            .col-12.col-sm-6.col-xl-3.footer-col.en-footer-col
                div.footer-headline Связаться с нами
                div.footer-border-container.d-flex.justify-content-start
                    div.footer-border
                div.footer-text-container  
                    img.footer-icon.en-footer-icon(src='/img/icons/address-location-map-svgrepo-com-white.svg' alt='Значок адреса')
                    span.footer-text Махарозет 10, Тель-Авив
                div.footer-text-container   
                    img.footer-icon.en-footer-icon(src='/img/icons/phone-svgrepo-com-white.svg' alt='Значок телефона') 
                    span.footer-text Вита Лившиц 
                    a.footer-phone(href="tel:0546398138") 054-579-6456
                div.footer-text-container   
                    img.footer-icon.en-footer-icon(src='/img/icons/email-9-svgrepo-com-white.svg' alt='Значок электронной почты')         
                    a.footer-text(href='mailto:lvictory@gmail.com' aria-label='Dira Bulgarit E-mail') lvictory@gmail.com
                div.footer-social.en-footer-social.my-4
                    a(href='https://www.facebook.com/VitaLivshitz' aria-label='Вита Лившиц Facebook' target="_blank")
                        img.footer-social-icon(src='/img/icons/facebook-color-svgrepo-com.svg' alt='Иконка Facebook')  
                    a(href='https://www.instagram.com/investcafe.co.il/' aria-label='Инвест Кафе Инстаграм' target="_blank")
                        img.footer-social-icon(src='/img/icons/instagram-1-svgrepo-com.svg' alt='Иконка Инстаграм') 
                    a(href='https://www.youtube.com/@InvestCafeVL' aria-label='Инвест Кафе Youtube' target="_blank")
                        img.footer-social-icon(src='/img/icons/youtube-color-svgrepo-com.svg' alt='Иконка YouTube')   
                    a(href='https://www.linkedin.com/in/lvictory/' aria-label='Вита Лившиц Linkedin' target="_blank")
                        img.footer-social-icon(src='/img/icons/linkedin-svgrepo-com.svg' alt='Иконка LinkedIn')      
        .row.footer-copyright-row
            .col-12.footer-copyright-col.text-center
                div.footer-copyright-text.en-footer-copyright-text Все права защищены. Dira Bulgarit &copy; #{new Date().getFullYear()}
                                    
                    