extends base 

block head
    title Политика доступности | Dira Bulgarit
    meta(name="description" content="Политика доступности | Dira Bulgarit")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/ru/accessibility")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/accessibility" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/accessibility" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/accessibility" hreflang="he")

    meta(property="og:title" content="Политика доступности | Dira Bulgarit")
    meta(property="og:description" content="Политика доступности | Dira Bulgarit")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid.accessibility-container
        .row.accessibility-headline-row.justify-content-center 
            .col-10.accessibility-headline-col 
                h1.accessibility-headline Политика доступности
        .row.accessibility-row.justify-content-center 
            .col-10.accessibility-text-col
                h2.accessibility-text-headline Введение
                div.accessibility-text Команда Dira Bulgarit придает первостепенное значение обеспечению доступности сайта для всех пользователей, включая лиц с инвалидностью, с целью обеспечения комфортного, понятного и эффективного взаимодействия с нашим ресурсом. Мы осознаем, что в Государстве Израиль проживает около миллиона человек с различными формами инвалидности, и стремимся создать для них максимально доступную и инклюзивную цифровую среду.
                h2.accessibility-text-headline Доступность сайта
                div.accessibility-text Мы приложили значительные усилия для обеспечения соответствия нашего сайта стандарту ИСО 5568 на уровне AA, а также международным рекомендациям WCAG 2.0 (Web Content Accessibility Guidelines).
                div.accessibility-text На сайте интегрирована панель доступности компании Enable, которая предоставляет пользователю инструменты для индивидуальной настройки отображения сайта в соответствии с его потребностями.
                h2.accessibility-text-headline Как работает панель доступности?
                div.accessibility-text Для открытия панели доступности пользователь может нажать на кнопку с левой стороны экрана или воспользоваться клавишей ESC на клавиатуре.
                div.accessibility-text Кнопка выделена синим цветом и обозначена символом человека в инвалидной коляске.
                div.accessibility-text <strong>В панели доступности доступны следующие функции:</strong>
                div.accessibility-text •	навигация с помощью клавиатуры;
                div.accessibility-text •	отключение анимаций и мигания;
                div.accessibility-text •	преобразование цветовой гаммы сайта в монохромную;
                div.accessibility-text •	установка сепия-цветов;
                div.accessibility-text •	включение режима высокой контрастности;
                div.accessibility-text •	отображение сайта в черно-желтой цветовой схеме;
                div.accessibility-text •	инверсия цветов;
                div.accessibility-text •	выделение всех заголовков на странице;
                div.accessibility-text •	выделение всех ссылок на странице;
                div.accessibility-text •	отображение описаний ALT изображений;
                div.accessibility-text •	постоянное отображение описаний ALT;
                div.accessibility-text •	смена шрифта на более читабельный;
                div.accessibility-text •	увеличение или уменьшение размера шрифта;
                div.accessibility-text •	увеличение или уменьшение масштаба страницы;
                div.accessibility-text •	увеличение указателя мыши;
                div.accessibility-text •	изменение цвета указателя на чёрный;
                div.accessibility-text •	включение режима «только чтение».  
                h2.accessibility-text-headline Важная информация
                div.accessibility-textWe Несмотря на все наши усилия, некоторые разделы или компоненты сайта могут быть не полностью доступны для определенных пользователей. Мы стремимся исправить такие случаи как можно скорее.
                div.accessibility-text Если вы столкнулись с затруднениями при использовании нашего сайта по причине ограничений доступности — пожалуйста, сообщите нам об этом. Мы примем все возможные меры для устранения проблемы.
                h2.accessibility-text-headline Контактные данные координатора по вопросам доступности
                div.accessibility-text <strong>Name:</strong> Дрор Саломон
                div.accessibility-text <strong>Phone:</strong> +972-54-6398138
                div.accessibility-text <strong>Email:</strong> 
                    a(href='mailto:lvictory@gmail.com' aria-label='Dira Bulgarit E-mail') lvictory@gmail.com
                br
                div.accessibility-text Заявление о доступности было обновлено 27.5.2025 г.