extends base 

block head
    title Инвестиции в недвижимость Болгарии: сотни инвестиционных объектов и возможностей | Dira Bulgarit
    meta(name="description" content='Инвестиции в недвижимость в Болгарии осуществляются только с Dira Bulgarit! Компания, которая предлагает сотни объектов недвижимости и квартир для инвестиций в Болгарии, а также профессиональную поддержку от этапа поиска до получения ключа от недвижимости. Для получения более подробной информации нажмите >>')
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il" hreflang="he")

    meta(property="og:title" content="Инвестиции в недвижимость Болгарии: сотни инвестиционных объектов и возможностей | Dira Bulgarit")
    meta(name='description' content='Инвестиции в недвижимость в Болгарии осуществляются только с Dira Bulgarit! Компания, которая предлагает сотни объектов недвижимости и квартир для инвестиций в Болгарии, а также профессиональную поддержку от этапа поиска до получения ключа от недвижимости. Для получения более подробной информации нажмите >>')
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content 
    
    .container-fluid.hero-container.ru-hero-container(role="img" aria-labelledby="heroDescription")
        .row.d-flex.align-items-center.justify-content-center                    
            .col-10.col-lg-8.hero-text-col.en-hero-text-col
                .hero-border
                h1.hero-headline Инвестиции в недвижимость в Болгарии
                .hero-border.hero-bottom-border
                div.hero-text Крупнейший сайт недвижимости Болгарии для израильтян
        .row.hero-icons-row.en-hero-icons-row
            .col-6.col-xl-3.hero-icon-col
                img.hero-icon(src='/img/icons/house-svgrepo-com-hero-white.svg' alt='House icon' loading='lazy') 
                .hero-icon-text(dir='rtl') Сотни объектов недвижимости
            .col-6.col-xl-3.hero-icon-col 
                img.hero-icon(src='/img/icons/lighthouse-svgrepo-com-hero-white.svg' alt='Lighthouse icon' loading='lazy') 
                .hero-icon-text(dir='rtl') Полное сопровождение на протяжении всего процесса
            .col-6.col-xl-3.hero-icon-col
                img.hero-icon(src='/img/icons/stats-real-estate-svgrepo-com-hero-white.svg' alt='House and graph icon' loading='lazy') 
                .hero-icon-text(dir='rtl') Стабильная инвестиционная прибыль
            .col-6.col-xl-3.hero-icon-col
                img.hero-icon(src='/img/icons/money-bag-euro-svgrepo-com-hero-white.svg' alt='Euro money bag icon' loading='lazy') 
                .hero-icon-text(dir='rtl') Инвестиции в развивающуюся страну-члена ЕС
        .row.hero-contact-us-row.en-hero-contact-us-row       
            .col-10.col-lg-8.hero-contact-us-col      
                button.btn-cta-white.to-calendly-btn(aria-label='Open the Contact Us page') Связаться          

    //- div.mainpage-search-modal-open-btn-container.text-center
    //-     h2.mainpage-search-headline Поиск недвижимости
    //-     div.mainpage-search-text Нажмите кнопку поиска и найдите недвижимость по своему вкусу
    //-     button.mainpage-search-modal-open-btn(data-bs-toggle="modal" data-bs-target="#searchModal" aria-label='Открыть модальный поиск недвижимости') Открыть поиск  

    //- .container.d-flex.justify-content-center
    //-     .mainpage-search-container.w-75   
    //-         h2.mainpage-search-headline.text-center Поиск недвижимости
    //-         include _searchForm

    //-     include _searchModal  

    .container-fluid.mainpage-hot-assets-container
        .row.mainpage-hot-assets-row.justify-content-center
            .col-12.mainpage-hot-assets-headline-col
                .row.text-center
                    h2.mainpage-hot-assets-tag Рекомендации   
                    h3.mainpage-hot-assets-headline Инвестиционные возможности 
            each asset in hotAssets
                include _assetsCards
        .row.mobile-mainpage-hot-assets-row.justify-content-center.mx-1         
            .col-12.mainpage-hot-assets-headline-col
                .row.text-center
                    div.mainpage-hot-assets-tag Рекомендации  
                    div.mainpage-hot-assets-headline Инвестиционные возможности 
            each asset in hotAssets
                include _mobileAssetsCards       

    .container-fluid.mainpage-about-container.ru-mainpage-about-container.overflow-hidden(role="img" aria-labelledby="aboutUsImageDescription")
        span.visually-hidden(id="aboutUsImageDescription") Изображение домов, расположенных на берегу Черного моря в Бургасе
        .row.mainpage-about-row.align-items-center
            .col-10.col-lg-8.mainpage-about-text-col
                h2.mainpage-about-tag О нас
                h3.mainpage-about-headline Дира Булгарит - Израильская недвижимость в Болгарии
                div.mainpage-about-text Высококвалифицированная команда, имеющая одну цель - помочь израильским инвесторам успешно вложить средства в болгарский рынок недвижимости
            .col-10.col-lg-8.mainpage-about-button-col.en-mainpage-about-button-col.my-md-5.my-lg-1
                .row.justify-content-center 
                    .col-12.col-sm-4.my-4
                        button.btn-cta-white.ru-btn-cta-white.to-about-btn Познакомьтесь с командой    

    .container-fluid.d-flex.mainpage-howitworks-container 
        .row.mainpage-howitworks-row.align-items-center.justify-content-center.mx-4
            .col-12.mainpage-howitworks-maintext--col
                h2.mainpage-howitworks-label Процесс
                h3.mainpage-howitworks-mainheadline Как это работает  
                div.mainpage-howitworks-maintext Dira Bulgarit лично и индивидуально сопровождает своих клиентов на протяжении всего процесса покупки недвижимости, от этапа поиска до этапа закрытия.    
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconClipboard")
                        title(id="howItWorkIconClipboard") Доска для рисования с изображением сердца в центре
                        use(xlink:href='/img/icons/clipboard.svg#clipboard')
                div.mainpage-howitworks-headline Потребности и предпочтения    
                div.mainpage-howitworks-text Мы проведем с вами видеовстречу, чтобы понять ваши потребности и предпочтения.      
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconBinoculars")
                        title(id="howItWorkIconBinoculars") Значок бинокля
                        use(xlink:href='/img/icons/binoculars.svg#binoculars')
                div.mainpage-howitworks-headline Поиск недвижимости     
                div.mainpage-howitworks-text Мы представим Вам разнообразные объекты недвижимости в соответствии с Вашими предпочтительными критериями.     
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconHouse")
                        title(id="howItWorkIconHouse") House Icon
                        use(xlink:href='/img/icons/house.svg#house')
                div.mainpage-howitworks-headline Тур по недвижимости   
                div.mainpage-howitworks-text Мы будем сопровождать вас на месте и осмотрим все объекты недвижимости, которые вам понравились.     
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconSearch")
                        title(id="howItWorkIconSearch") Значок увеличительного стекла
                        use(xlink:href='/img/icons/search.svg#search')
                div.mainpage-howitworks-headline Юридический обзор      
                div.mainpage-howitworks-text Мы проведем комплексную юридическую проверку недвижимости с помощью нашей юридической консультации в Болгарии.     
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconEuro")
                        title(id="howItWorkIconEuro") Значок валюты евро
                        use(xlink:href='/img/icons/euro-howitworks.svg#euro-howitworks')
                div.mainpage-howitworks-headline Заявка на недвижимость    
                div.mainpage-howitworks-text Мы поможем вам сформулировать справедливое ценовое предложение на недвижимость и провести переговоры с продавцом.
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    img.mainpage-howitworks-icon(src='/img/icons/handshake-svgrepo-com.svg' alt='Значок рукопожатия') 
                div.mainpage-howitworks-headline Гид      
                div.mainpage-howitworks-text Мы будем сопровождать вас на протяжении всего процесса, от этапа поиска недвижимости до получения ключей.                     

    .container-fluid.mainpage-why-bulgaria-container
        .row.mainpage-why-bulgaria-row.align-items-center.justify-content-center 
            .col.mainpage-why-bulgaria-col
                div.mainpage-why-bulgaria-bg-video-container.ru-mainpage-why-bulgaria-bg-video-container(role="img" aria-labelledby="whyBulgariaDescription")
                    video(autoplay muted loop).mainpage-why-bulgaria-bg-video
                        source(src='/videos/burgas-video-1080p.mp4' type='video/mp4')
                    span.visually-hidden(id="whyBulgariaDescription") Видео, показывающее город Бургас с высоты птичьего полета
                div.mainpage-why-bulgaria-text-container.w-75.text-center       
                    h2.mainpage-why-bulgaria-tag Инвестиции          
                    h3.mainpage-why-bulgaria-headline Почему Болгария?
                    div.mainpage-why-bulgaria-text Болгарская экономика находится в постоянном росте благодаря многочисленным инвестициям в страну и ее членству в Европейском Союзе. Цены на недвижимость в стране доступны, а доходность от сдачи в аренду высокая, особенно в туристических зонах, таких как Бургас и Банско. Мы подготовили для вас подробное руководство по инвестициям, которое поможет вам сделать первые шаги к желаемой сделке.
                div.invest-guide-btn-container.en-invest-guide-btn-container.my-xxs-4.my-xs-2.my-md-4.my-lg-1
                    button.invest-guide-btn.ru-invest-guide-btn Инвестиционный путеводитель

    .container-fluid.mainpage-rec-container            
        .row.mx-4.justify-content-center
            .col-12.mainpage-rec-maintext-col.text-center
                h2.mainpage-rec-tag Рекомендации   
                h3.mainpage-rec-headline Что говорят о нас наши клиенты
            .col-12.col-md-10.reviews-carousel-col           
                #reviewsCarousel.carousel.slide.text-center.reviews-carousel(data-bs-touch='true' data-bs-interval='15000' data-bs-ride='carousel')
                    .carousel-inner.reviews-carousel-inner
                        .carousel-item.active.reviews-carousel-item.ru-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-tatiana-k.webp' alt='Изображение рекомендателя Татьяна К' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name Татьяна К.
                                        div.mainpage-reviews-prof Социальный работник
                                        div.mainpage-reviews-review.fst-italic "Недавно завершили сделку по покупке квартиры-студии в Болгарии через компанию Инвест Кафе и хотим поделиться положительным опытом. С самого начала команда показала высокий уровень профессионализма. Нам подробно объяснили все этапы сделки, помогли подобрать варианты, соответствующие нашему бюджету и пожеланиям. Особенно порадовало, что консультанты компании (а именно Вита Лифшиц) хорошо ориентируются в местных юридических и административных тонкостях, что значительно упрощает процесс. Связь всегда была на отличном уровне - на все вопросы отвечали оперативно, документы готовились вовремя, и вся процедура прошла без неожиданностей. Также хотелось отметить, что нас сопровождали вплоть до подписания договора. Мы довольны своим выбором и благодарны Инвест Кафе за честность, прозрачность и поддержку на всех этапах. Если вы рассматриваете покупку недвижимости в Болгарии - смело рекомендуем эту компанию."
                        .carousel-item.reviews-carousel-item.ru-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-miriam-k.webp' alt='Изображение рекомендателя Мирьям К' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name Мирьям К.
                                        div.mainpage-reviews-prof
                                        div.mainpage-reviews-review.fst-italic "Покупка недвижимости в Грузии через Invest Cafe оставила положительные впечатления. Агентство организовало поездку для выбора объекта: трансфер, проживание и осмотры были чётко спланированы. Сотрудники были всегда на связи, давали профессиональные советы и помогали с документами. Всё прошло быстро, удобно и без стресса. Рекомендую Invest Cafe как надёжное агентство для инвестиций в Грузии."
                        .carousel-item.reviews-carousel-item.ru-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-marina-f.webp' alt='Изображение рекомендателя Марина Ф' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name Марина Ф.
                                        div.mainpage-reviews-prof Дизайнер интерьеров
                                        div.mainpage-reviews-review.fst-italic "Человека увлечённого, азартного, болеющего за своё дело видно сразу. Вита – совершенно удивительный человек и высокий профессионал. Очень важно, что всё, что она предлагает, прожито ей на собственном опыте. Она очень искренне и щедро делится с вами своим опытом и знаниями, поэтому возникает полное доверие, уважение и восхищение профессионализмом! Очень надеюсь, что мой опыт покупки недвижимости в Болгарии – это только начало. Будет ещё и Греция, Кипр, Италия… в общем, мне понравилось, и всё только начинается!"
                        .carousel-item.reviews-carousel-item.ru-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-guzel.webp' alt='Изображение рекомендателя Гузель' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name Гузель
                                        div.mainpage-reviews-prof 3D-программист
                                        div.mainpage-reviews-review.fst-italic "Вита прелесть! Очень приятная в общении, очень компетентная и грамотная, отвечает на все вопросы, даже весьма щепетильные. Мы купили с ней квартиру в Греции, и она нас сопровождала на каждом этапе, всегда была на связи, решила все проблемы по ходу сделки. Мы остались очень довольны. Вита, спасибо тебе! И желаю дальнейших успехов в бизнесе!"
                        .carousel-item.reviews-carousel-item.ru-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-alex-n.webp' alt='Изображение рекомендателя Алекс Н' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name Алекс Н.
                                        div.mainpage-reviews-prof Разработчик программного обеспечения
                                        div.mainpage-reviews-review.fst-italic "Я купил квартиру через Инвест Кафе. Они были невероятно полезны на каждом этапе, даже с получением ипотеки в Израиле. Они действительно знают своё дело. Если вы хотите купить недвижимость за границей, это ваши люди!"
                        .carousel-item.reviews-carousel-item.ru-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-stas-k.webp' alt='Изображение рекомендателя Стас К' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name Стас К.
                                        div.mainpage-reviews-prof Менеджер по контролю качества
                                        div.mainpage-reviews-review.fst-italic "Я приобрёл квартиры в Греции и Болгарии через Инвест Кафе, и могу с уверенностью сказать, что это был отличный опыт. Агентство предоставило исключительный сервис на каждом этапе сделки, включая помощь в получении ипотеки. У команды глубокие знания рынка, и они работают с лучшими застройщиками в Греции и Болгарии. Больше всего меня впечатлила основательница компании – настоящий аналитик рынка с глубоким пониманием его динамики и тенденций. Инвест Кафе не только нашли мне отличные сделки, но и дали ценные советы по максимизации прибыли и долгосрочному планированию инвестиций. Я искренне рекомендую Инвест Кафе всем, кто ищет надёжного партнёра для покупки недвижимости за рубежом. С ними процесс покупки проходит гладко и приятно, а результаты превосходят ожидания!"
                        .carousel-item.reviews-carousel-item.ru-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-alexander-m.webp' alt='Изображение рекомендателя Алксандр Л.' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name Алксандр Л.
                                        div.mainpage-reviews-prof музыкант
                                        div.mainpage-reviews-review.fst-italic "Вита - замечательный и вдумчивый специалист своего дела. Я проходил ее онлайн курс по инвестициям и несколько раз консультировался с ней  по телефону. Могу с уверенностью порекомендовать ее как ответственного и надежного мастера своего дела."
                        .carousel-item.reviews-carousel-item.ru-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-rami-p.webp' alt='Изображение рекомендателя Надав П' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name Надав П
                                        div.mainpage-reviews-prof Бухгалтер
                                        div.mainpage-reviews-review.fst-italic "Я приобрёл квартиру в Болгарии через Инвест Кафе, и могу с уверенностью сказать, что это был отличный опыт. Агентство предоставило исключительный сервис на каждом этапе сделки, включая помощь в получении ипотеки. У команды глубокие знания рынка, и они работают с лучшими подрядчиками и застройщиками в Греции и Болгарии. Больше всего меня впечатлила основательница компании – настоящий аналитик рынка недвижимости с глубоким пониманием его особенностей и тенденций. Инвест Кафе не только нашли мне отличные сделки, но и дали ценные советы по максимизации прибыли и долгосрочному планированию инвестиций. Я настоятельно рекомендую Инвест Кафе всем, кто ищет надёжного партнёра для покупки недвижимости за рубежом. С ними процесс покупки прост, приятен, а результаты превосходят все ожидания!"
                        .carousel-item.reviews-carousel-item.ru-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-anna-v.webp' alt='Изображение рекомендателя Надав П' loading='lazy')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name Анна В
                                        div.mainpage-reviews-prof UI/UX Specialist
                                        div.mainpage-reviews-review.fst-italic "Огромная благодарность Вите за невероятную помощь в покупке студии в Болгарии! С самого начала чувствовалась уверенность, поддержка и искреннее участие. Вита всегда была на связи, отвечала на все вопросы, помогала с документами и подбирала варианты с учётом всех моих пожеланий. Благодаря ей процесс прошёл легко, спокойно и без стресса. Я получила именно то, о чём мечтала! Очень рада, что обратилась именно к ней, и с удовольствием рекомендую Виту всем, кто ищет надёжного и внимательного специалиста!"
                    button.carousel-control-prev(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='prev')
                        span.carousel-control-prev-icon.mainpage-reviews-carousel-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='next')
                        span.carousel-control-next-icon.mainpage-reviews-carousel-next-icon(aria-hidden='true')
                        span.visually-hidden Next    

    //- .container-fluid.mainpage-pricing-container.justify-content-center              
    //-     .row.mx-4.justify-content-center.mainpage-pricing-headline-row
    //-         .col-12.pricing-maintext-col.text-center
    //-             h2.pricing-tag For Your Choice 
    //-             h3.mainpage-pricing-headline Pricing                       
    //-     .row.justify-content-center.pricing-cards-row         
    //-         .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5.p-xxs-0.p-med-1
    //-             .card.pricing-card-basic
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.pricing-card-body-row
    //-                             .col-12
    //-                                 .card-title.pricing-card-main-title Base
    //-                                 .card-title.pricing-card-secondary-title Property locating and paperwork Collection
    //-                                 .card-title.pricing-card-tertiary-title 3000€ + Tax
    //-                             .col-12.my-5
    //-                                 div.card-text-container.d-flex.align-content-center.py-3
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon') 
    //-                                     span.pricing-card-text Property location by customer demands
    //-                                 div.card-text-container.d-flex.align-content-center.py-3       
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sing icon')
    //-                                     span.pricing-card-text Physical or on-line property tour
    //-                                 div.card-text-container.d-flex.align-content-center.py-3
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
    //-                                     span.pricing-card-text Property legal check
    //-                                 div.card-text-container.d-flex.align-content-center.py-3    
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
    //-                                     span.pricing-card-text Property legal paperwork collection
    //-                                 div.card-text-container.d-flex.align-content-center.py-3  
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='X sign icon')
    //-                                     span.pricing-card-text Writing initial contract with a lawyer
    //-                                 div.card-text-container.d-flex.align-content-center.py-3    
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון שלי איקס')
    //-                                     span.pricing-card-text Writing and signing final contract with notary
    //-                                 div.card-text-container.d-flex.align-content-center.py-3    
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='X sign icon')
    //-                                     span.pricing-card-text Opening a bank account with the customer
    //-                                 div.card-text-container.d-flex.align-content-center.py-3    
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='X sign icon')                                      
    //-                                     span.pricing-card-text Renting and managing the property
    //-         .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5
    //-             .card.pricing-card-plus
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.pricing-card-body-row
    //-                             .col-12
    //-                                 .card-title.pricing-card-main-title Plus
    //-                                 .card-title.pricing-card-secondary-title Final contract and opening a bank account
    //-                                 .card-title.pricing-card-tertiary-title 3990€ + Tax
    //-                             .col-12.my-5
    //-                                 div.card-text-container.d-flex.align-content-center.py-3
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon') 
    //-                                     span.pricing-card-text Property location by customer demands
    //-                                 div.card-text-container.d-flex.align-content-center.py-3       
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sing icon')
    //-                                     span.pricing-card-text Physical or on-line property tour
    //-                                 div.card-text-container.d-flex.align-content-center.py-3
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
    //-                                     span.pricing-card-text Property legal check
    //-                                 div.card-text-container.d-flex.align-content-center.py-3    
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
    //-                                     span.pricing-card-text Property legal paperwork collection
    //-                                 div.card-text-container.d-flex.align-content-center.py-3  
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sing icon')
    //-                                     span.pricing-card-text Writing initial contract with a lawyer
    //-                                 div.card-text-container.d-flex.align-content-center.py-3    
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
    //-                                     span.pricing-card-text Writing and signing final contract with notary
    //-                                 div.card-text-container.d-flex.align-content-center.py-3    
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
    //-                                     span.pricing-card-text Opening a bank account with the customer
    //-                                 div.card-text-container.d-flex.align-content-center.py-3    
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='X sign icon')                                    
    //-                                     span.pricing-card-text Renting and managing the property
    //-         .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5
    //-             .card.pricing-card-premium
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.pricing-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .span.badge.en-pricing-premium-badge Best Value
    //-                                 .card-title.pricing-card-main-title Premium
    //-                                 .card-title.pricing-card-secondary-title Full customer service and property management
    //-                                 .card-title.pricing-card-tertiary-title 4990€ + Tax
    //-                             .col-12.my-5
    //-                                 div.card-text-container.d-flex.align-content-center.py-3
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon') 
    //-                                     span.pricing-card-text Property location by customer demands
    //-                                 div.card-text-container.d-flex.align-content-center.py-3       
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sing icon')
    //-                                     span.pricing-card-text Physical or on-line property tour
    //-                                 div.card-text-container.d-flex.align-content-center.py-3
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
    //-                                     span.pricing-card-text Property legal check
    //-                                 div.card-text-container.d-flex.align-content-center.py-3    
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
    //-                                     span.pricing-card-text Property legal paperwork collection
    //-                                 div.card-text-container.d-flex.align-content-center.py-3  
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sing icon')
    //-                                     span.pricing-card-text Writing initial contract with a lawyer
    //-                                 div.card-text-container.d-flex.align-content-center.py-3    
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
    //-                                     span.pricing-card-text Writing and signing final contract with notary
    //-                                 div.card-text-container.d-flex.align-content-center.py-3    
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
    //-                                     span.pricing-card-text Opening a bank account with the customer
    //-                                 div.card-text-container.d-flex.align-content-center.py-3    
    //-                                     img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')    
    //-                                     span.pricing-card-text Renting and managing the property
    //-         .col-12.en-mainpage-pricing-btn-container.text-center  
    //-             button.btn-cta.pricing-cta-btn.to-calendly-btn(aria-label='Go to contact us page') Contact Us

    .container-fluid.mainpage-blog-container
        .row.mainpage-blog-headline-row.d-felx.justify-content-center
            .col-12.mainpage-blog-headline-col
                .row.text-center
                    h2.mainpage-blog-tag Важно знать
                    h3.mainpage-blog-headline Избранные статьи из нашего блога 
        .row.mainpage-blog-cards-row.d-felx.justify-content-center.flex-md-row-reverse.mx-4 
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.en-mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.en-mainpage-blog-card-title-col.justify-content-center.align-content-center
                                    img.mainpage-blog-icon(src='/img/icons/israel-shekel-currency-symbol-svgrepo-com-white.svg' alt='Icon of the flag of Israel' loading='lazy')
                                    .card-title.mainpage-blog-card-title The reasons for Bulgaria's popularity among Israeli property buyers
                                .col-12.mainpage-blog-card-text-col.en-mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text Considering the most popular countries for purchasing property abroad among Israelis, it is worth highlighting Bulgaria. Beautiful seascapes, a mild climate, a large number of attractions and architectural monuments attract Israeli citi...
                                .col-12.my-2        
                                    button.mainpage-blog-card-btn(data-slug="The-reasons-for-Bulgarias-popularity-among-Israeli-property-buyers") Continue Reading
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.en-mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.en-mainpage-blog-card-title-col.justify-content-center.align-content-center
                                    img.mainpage-blog-icon(src='/img/icons/graph-property-svgrepo-com-white.svg' alt='Icon of a graph with houses at each column' loading='lazy')
                                    .card-title.mainpage-blog-card-title Comprehensive property price analysis in Bulgaria for 2024 
                                .col-12.mainpage-blog-card-text-col.en-mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text Compared to other European countries, Bulgaria is small but very interesting. Bulgaria is a popular destination among tourists because of its picturesque landscapes, fascinating architecture, gentle seas and snow-capped peaks. An inexh...
                                .col-12.my-2.align-content-end      
                                    button.mainpage-blog-card-btn(data-slug="Property-price-analysis-in-Bulgaria-in-2024") Continue Reading
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.en-mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.en-mainpage-blog-card-title-col.justify-content-center.align-content-center
                                    img.mainpage-blog-icon(src='/img/icons/mountaint-landscape-svgrepo-com-white.svg' alt='Icon of a sunny sky above mountains' loading='lazy')
                                    .card-title.mainpage-blog-card-title A comprehensive look at the quality of life in Bulgaria       
                                .col-12.mainpage-blog-card-text-col.en-mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text Bulgaria is a good country to live in. It has a mild climate, clean ecology, mesmerizing landscapes and many resorts and very friendly and welcoming residents. People visiting Bulgaria often talk about the amazing beauty of nature. In every city...
                                .col-12.my-2        
                                    button.mainpage-blog-card-btn(data-slug="Embrace-Bulgaria-a-comprehensive-look-at-the-quality-of-life-in-the-country") Continue Reading
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.en-mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.en-mainpage-blog-card-title-col.justify-content-center.align-content-center
                                    img.mainpage-blog-icon(src='/img/icons/house-thumbs-up-svgrepo-com-white.svg' alt='Icon of a house doing a like sign inside of it' loading='lazy')
                                    div.card-title.mainpage-blog-card-title In which type of property should you invest in Bulgaria?      
                                .col-12.mainpage-blog-card-text-col.en-mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text Bulgaria is a good country for investment. With a relatively low cost of housing, Bulgaria has great leisure potential, moreover, since 2007 it is a member of the European Union. Any foreigner can buy apartments in Bulgaria freely, but there...
                                .col-12.my-2        
                                    button.mainpage-blog-card-btn(data-slug="What-type-of-property-should-you-invest-in-Bulgaria") Continue Reading
        .row.mainpage-blog-btn-row.d-felx.justify-content-center
            .col-12.text-center.py-3    
                button.to-blog-btn Страница блога  

    .container-fluid.mainpage-contact-us-container
        .row.mainpage-contact-us-headline-row.d-felx.justify-content-center
            .col-12.col-md-10.col-xl-8.mainpage-contact-us-headline-col
                .row.text-center
                    h2.mainpage-contact-us-tag Связаться
                    h3.mainpage-contact-us-headline Свяжитесь с нами, и мы вернемся к вам как можно скорее 
        .row.mainpage-contact-us-row.d-felx.justify-content-center.mx-4
            .col-12.col-md-10.col-xl-8.mainpage-contact-us-col.text-center 
                div#crmWebToEntityForm.crmWebToEntityForm
                    form.contact-us-form#webform6296617000000479035(action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads6296617000000479035 method='POST' accept-charset='UTF-8' novalidate)
                        input(type='text' style='display:none;' name='xnQsjsdp' value='c9ef63b049adde9dd26f5acb21dc87ed1cff806c5954f97aa4908339c68a8469')
                        input#zc_gad(type='hidden' name='zc_gad' value='')
                        input(type='text' style='display:none;' name='xmIwtLD' value='901545bd25a6f11e8753daa2bb5bdc4a62c942986fe3a3b3123340dde1be1461ada4f129bad2cf0112fb24bc402fd5af')
                        input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                        input(type='text' style='display:none;' name='returnURL' value='https://www.dirabulgarit.co.il/en/contact-us-confirm')
                        input.contact-us-honeypot-input(type='text' name='bot_check' style='display:none;' value='')
                        .row.contact-us-row.align-items-center
                            .col-12.contact-us-col.d-flex.justify-content-end
                                input.contact-us-input.contact-us-name-input.form-control.en-search-filter-input(type='text' name='Last Name' maxlength='200' placeholder='Имя' aria-label='Имя' aria-describedby='basic-addon1' required)                            
                                .invalid-tooltip Пожалуйста, введите имя
                            .col-12.contact-us-col.d-flex.justify-content-end
                                input.contact-us-input.contact-us-phone-input.form-control.en-search-filter-input(type='text' name='Phone' maxlength='10' placeholder='Телефон' aria-label='Телефон' aria-describedby='basic-addon1' pattern='[0-9]{10}' required)
                                .invalid-tooltip.contact-us-phone-invalid Пожалуйста, введите действительный номер телефона.
                            .col-12.contact-us-col.d-flex.justify-content-end 
                                input.contact-us-input.contact-us-email-input.form-control.en-search-filter-input(type='email' ftype='email' autocomplete='false' name='Email' crmlabel='' maxlength='100' placeholder='Электронная почта  ' aria-label='Электронная почта' aria-describedby='basic-addon1' pattern='[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,}' required)
                                .invalid-tooltip.contact-us-email-invalid Пожалуйста, введите действительный адрес электронной почты
                            .col-12.contact-us-col.contact-us-last-col.d-flex.justify-content-end     
                                textarea.contact-us-textarea.contact-us-description-input.form-control.en-search-filter-input(id='Description' name='Description' aria-label="Описание" rows="5" placeholder='Хотите ли вы сообщить нам что-то еще?')
                            .col-12.contact-us-col.d-flex.align-items-start.align-items-sm-center
                                input.contact-us-checkbox-en(type='checkbox' aria-checked='false' class='zcwf_ckbox' id='Email_Opt_Out' aria-required='false' aria-label='Email Opt Out' name='Email Opt Out' aria-valuemax='50' maxlength='50')
                                span.webinar-form-check-top-label.form-check-label(for='flexCheckDefault') Я даю согласие на получение соответствующей информации о недвижимости в Болгарии, которая может иногда носить рекламный характер.
                            .col-12.contact-us-col
                                input.contact-us-button.ru-contact-us-button.mx-3(type='submit' id='formsubmit' class='formsubmit zcwf_button' value='Отправлять' title='Submit')                                                                   
                                input.contact-us-button.ru-contact-us-button.mx-3(type='reset' class='zcwf_button' name='reset' value='Прозрачный' title='Reset')    

    include _contactUsFixed  
    include _contactUsFixedMobile                                
