extends base 

block head
    title Услуги | Dira Bulgarit
    meta(name="description" content="Dira Bulgarit сопровождает вас на протяжении всего процесса инвестиций в недвижимость в Болгарии.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/ru/pricing")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/pricing" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/pricing" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/pricing" hreflang="he")

    meta(property="og:title" content="Услуги | Dira Bulgarit")
    meta(property="og:description" content="Dira Bulgarit сопровождает вас на протяжении всего процесса инвестиций в недвижимость в Болгарии.")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content 
   
    .container-fluid.pricing-container.py-5              
        .row.mx-4.justify-content-center.pricing-headline-row
            .col-12.pricing-maintext-col.text-center
                h1.pricing-headline Услуги                       
        .row.justify-content-center.pricing-cards-row         
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5.p-xxs-0.p-med-1
                .card.pricing-card-basic
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12
                                    .card-title.pricing-card-main-title Base
                                    .card-title.pricing-card-secondary-title Property locating and paperwork Collection
                                    .card-title.pricing-card-tertiary-title 3000€ + Tax
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon') 
                                        span.pricing-card-text Property location by customer demands
                                    div.card-text-container.d-flex.align-content-center.py-3       
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sing icon')
                                        span.pricing-card-text Physical or on-line property tour
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Property legal check
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Property legal paperwork collection
                                    div.card-text-container.d-flex.align-content-center.py-3  
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='X sign icon')
                                        span.pricing-card-text Writing initial contract with a lawyer
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון שלי איקס')
                                        span.pricing-card-text Writing and signing final contract with notary
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='X sign icon')
                                        span.pricing-card-text Opening a bank account with the customer
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='X sign icon')                                      
                                        span.pricing-card-text Renting and managing the property
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5
                .card.pricing-card-plus
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12
                                    .card-title.pricing-card-main-title Plus
                                    .card-title.pricing-card-secondary-title Final contract and opening a bank account
                                    .card-title.pricing-card-tertiary-title 3990€ + Tax
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon') 
                                        span.pricing-card-text Property location by customer demands
                                    div.card-text-container.d-flex.align-content-center.py-3       
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sing icon')
                                        span.pricing-card-text Physical or on-line property tour
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Property legal check
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Property legal paperwork collection
                                    div.card-text-container.d-flex.align-content-center.py-3  
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sing icon')
                                        span.pricing-card-text Writing initial contract with a lawyer
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Writing and signing final contract with notary
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Opening a bank account with the customer
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='X sign icon')                                    
                                        span.pricing-card-text Renting and managing the property
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5
                .card.pricing-card-premium
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .span.badge.en-pricing-premium-badge Best Value
                                    .card-title.pricing-card-main-title Premium
                                    .card-title.pricing-card-secondary-title Full customer service and property management
                                    .card-title.pricing-card-tertiary-title 4990€ + Tax
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon') 
                                        span.pricing-card-text Property location by customer demands
                                    div.card-text-container.d-flex.align-content-center.py-3       
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sing icon')
                                        span.pricing-card-text Physical or on-line property tour
                                    div.card-text-container.d-flex.align-content-center.py-3
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Property legal check
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Property legal paperwork collection
                                    div.card-text-container.d-flex.align-content-center.py-3  
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sing icon')
                                        span.pricing-card-text Writing initial contract with a lawyer
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Writing and signing final contract with notary
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')
                                        span.pricing-card-text Opening a bank account with the customer
                                    div.card-text-container.d-flex.align-content-center.py-3    
                                        img.card-icon.pricing-card-icon.en-pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='V sign icon')    
                                        span.pricing-card-text Renting and managing the property
            .col-12.text-center   
                button.btn-cta.pricing-cta-btn.to-calendly-btn(aria-label='Перейти на страницу контактов') Связаться   

    include _contactUsFixed  
    include _contactUsFixedMobile                                               