extends base 

block head
    title Конфиденциальность и приватность | Dira Bulgarit
    meta(name="description" content="Конфиденциальность и приватность | Dira Bulgarit")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/ru/privacy")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/privacy" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/privacy" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/privacy" hreflang="he")

    meta(property="og:title" content="Конфиденциальность и приватность | Dira Bulgarit")
    meta(property="og:description" content="Конфиденциальность и приватность | Dira Bulgarit")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid.privacy-container
        .row.privacy-headline-row.justify-content-center 
            .col-10.privacy-headline-col 
                h1.privacy-headline Конфиденциальность и приватность
        .row.privacy-row.justify-content-center 
            .col-10.privacy-text-col
                div.termsOfService-text-headline Introduction
                div.privacy-text Настоящая Политика конфиденциальности определяет порядок обработки и защиты персональных данных пользователей веб-сайта www.dirabulgarit.co.il.
                div.privacy-text Пользуясь Сайтом, вы соглашаетесь с условиями данной Политики.
                div.termsOfService-text-headline 1. Сбор данных
                div.privacy-text Мы используем Google Analytics для сбора обезличенной статистической информации о посещениях Сайта, включая:
                div.privacy-text •	количество посетителей.
                div.privacy-text •	продолжительность сессий.
                div.privacy-text •	просматриваемые страницы.
                div.privacy-text •	источники трафика.
                div.privacy-text Эти данные используются исключительно в аналитических целях и не позволяют идентифицировать пользователей.
                div.privacy-text Также мы применяем файлы cookie (куки) для улучшения пользовательского опыта.
                div.privacy-text Вы можете добровольно предоставить нам следующие данные через форму обратной связи или при записи на встречу через платформу Calendly:
                div.privacy-text •	имя.
                div.privacy-text •	адрес электронной почты.
                div.privacy-text •	номер телефона.
                div.termsOfService-text-headline 2. Использование данных
                div.privacy-text Собранная информация используется для следующих целей:
                div.privacy-text •	ответа на ваши обращения и предоставления клиентской поддержки.
                div.privacy-text •	обеспечения связи по вопросам, связанным с объектами недвижимости.
                div.privacy-text •	организации встреч с помощью Calendly.
                div.privacy-text •	анализа пользовательской активности с целью улучшения работы Сайта (через Google Analytics).
                div.termsOfService-text-headline 3. Передача данных третьим лицам
                div.privacy-text Мы не продаём, не обмениваем и не передаём ваши персональные данные третьим сторонам, за исключением случаев, когда это необходимо для предоставления запрашиваемых вами услуг (например, запись на встречу через Calendly).
                div.privacy-text В рамках использования Google Analytics мы передаём анонимные данные компании Google, в соответствии с политикой конфиденциальности Google.
                div.termsOfService-text-headline 4. Безопасность данных
                div.privacy-text Мы принимаем соответствующие технические и организационные меры для защиты персональной информации. Однако, следует понимать, что ни один способ передачи данных через Интернет или способ электронного хранения не является абсолютно надёжным.
                div.termsOfService-text-headline 5. Сторонние сервисы
                div.privacy-text Google Analytics используется для анализа поведения пользователей. Мы рекомендуем ознакомиться с политикой конфиденциальности Google. <a href="https://support.google.com/analytics/answer/7318509?hl=en" target="_blank">https://support.google.com/analytics/answer/7318509?hl=en</a>
                div.privacy-text Calendly используется для управления встречами. Ознакомьтесь с условиями и политикой конфиденциальности Calendly. <a href="https://calendly.com/legal/customer-terms-conditions" target="_blank">https://calendly.com/legal/customer-terms-conditions</a>
                div.termsOfService-text-headline 6. Ваши права
                div.privacy-text Вы имеете право:
                div.privacy-text •	запросить удаление ваших персональных данных;
                div.privacy-text •	отказаться от их дальнейшей обработки.
                div.privacy-text Для реализации этих прав, пожалуйста, свяжитесь с нами по адресу: lvictory@gmail.com.
                div.termsOfService-text-headline 7. Изменения в политике конфиденциальности
                div.privacy-text Мы оставляем за собой право в любое время вносить изменения в настоящую Политику. Актуальная версия Политики всегда размещается на данной странице. Продолжение использования Сайта после публикации изменений означает ваше согласие с обновлёнными условиями.
                div.termsOfService-text-headline 8. Контакты
                div.privacy-text Если у вас есть вопросы по поводу настоящей Политики конфиденциальности, свяжитесь с нами по адресу: lvictory@gmail.com
                