extends base 

block head
    title Вопросы и ответы | Dira Bulgarit
    meta(name="description" content="Процесс инвестирования в недвижимость в Болгарии может оказаться запутанным, поэтому мы подготовили для вас ответы на самые животрепещущие вопросы, которые могут у вас возникнуть.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/ru/qanda")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/qanda" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/qanda" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/qanda" hreflang="he")

    meta(property="og:title" content="Вопросы и ответы | Dira Bulgarit")
    meta(property="og:description" content="Процесс инвестирования в недвижимость в Болгарии может оказаться запутанным, поэтому мы подготовили для вас ответы на самые животрепещущие вопросы, которые могут у вас возникнуть.")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid.qanda-headline-container
        .row.qanda-headline-row
            .col-12.qanda-headline-col 
                img.qanda-headline-img(src='/img/sectionCover-2.webp' alt='Изображение пейзажа Бургаса, Болгария') 
                div.qanda-headline Мы здесь, чтобы ответить на любой вопрос
                button.section-headline-cta-btn.to-calendly-btn(aria-label='Перейти на страницу контактов') Связаться
    
    .container-fluid.qanda-questions-accordion-container
        .row.qanda-questions-headline-row.justify-content-center 
            .col-10.qanda-questions-headline-col 
                h1.qanda-questions-headline Вопросы и ответы
        .row.qanda-questions-accordion-row.justify-content-center 
            .col-10.qanda-questions-accordion-col
                <div class="accordion accordion-flush" id="qandaAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Accordion Каковы перспективы рынка недвижимости в Болгарии?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#qandaAccordion">
                            <div class="accordion-body en-accordion-body">Согласно исследованию компании <strong>GLOBAL PROPERTY GUIDE</strong>, Болгария имеет позитивные перспективы в сфере недвижимости. Отмечается расширение рынка и рост возможностей для иностранных инвесторов, особенно из Израиля. Преимущества: <br></br> ● <strong>Стабильная экономика:</strong> Членство в ЕС и устойчивый экономический рост. <br></br> ● <strong>Низкие цены на недвижимость:</strong> Стоимость значительно ниже, чем в других странах Европы. <br></br> ● <strong>Растущий спрос:</strong> Активность как местных покупателей, так и иностранных инвесторов. <br></br> ● <strong>Развитие туризма:</strong> Активное развитие туризма повышает спрос на апартаменты для аренды и отдыха.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Accordion Какие преимущества даёт покупка через "Dira Bulgarit"?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                            <div class="accordion-body en-accordion-body">Компания <strong>Dira Bulgarit</strong> предлагает инвесторам из Израиля ряд преимуществ: <br></br> ● <strong>Профессиональное сопровождение:</strong> На всех этапах — от поиска объекта до завершения сделки. <br></br> ● <strong>Обширная база недвижимости:</strong> Благодаря офису в Болгарии, постоянно обновляем большой выбор объектов. <br></br> ● <strong>Работа "на месте":</strong> Прямой доступ к актуальной информации и выгодным предложениям. <br></br> ● <strong>Стратегические партнёрства:</strong> С ведущими компаниями Болгарии в сфере недвижимости. <br></br> ● <strong>Полная поддержка:</strong> После покупки, включая управление недвижимостью.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Accordion Какие виды недвижимости доступны через "Dira Bulgarit"?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                            <div class="accordion-body en-accordion-body">Мы предлагаем широкий выбор объектов: <br></br> ● <strong>Новые квартиры:</strong> В строящихся и недавно завершённых проектах. <br></br> ● <strong>Вторичная недвижимость:</strong> Квартиры на перепродаже. <br></br> ● <strong>Апартаменты для отдыха:</strong> Под сдачу туристам. <br></br> ● <strong>Жилые дома и виллы:</strong></div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Accordion В каких регионах Болгарии доступны объекты?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                            <div class="accordion-body en-accordion-body">Мы работаем по всей Болгарии, с фокусом на популярных у инвесторов направлениях: <br></br> ● <strong>Бургас:</strong> Развитая инфраструктура, международный аэропорт. <br></br> ● <strong>София:</strong> Столица и деловой центр страны. <br></br> ● <strong>Варна:</strong> Курортный город с пляжами и активным туризмом. <br></br> ● <strong>Пловдив:</strong> Исторический центр Болгарии. <br></br> ● <strong>Пампорово:</strong> Живописный горнолыжный курорт. <br></br> ● <strong>Несебр:</strong> Древний город под охраной ЮНЕСКО. <br></br> ● <strong>Святой Влас:</strong> Элитный курорт с мариной. <br></br> ● <strong>Банско:</strong> Ведущий горнолыжный курорт с высокими доходами от аренды. <br></br> ● <strong>Солнечный Берег:</strong> Крупнейший и популярнейший курорт Болгарии.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Accordion Как проходит процесс покупки недвижимости через "Dira Bulgarit"?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                            <div class="accordion-body en-accordion-body">Пошаговое сопровождение клиентов: <br></br> <strong>A. Поиск объекта:</strong> <br></br> ● Определение ваших потребностей. <br></br> ● Подбор объектов. <br></br> ● Организация просмотров. <br></br> <strong>B. Проверка недвижимости:</strong> <br></br> ● Юридическая экспертиза. <br></br> ● Дополнительные проверки по необходимости. <br></br> <strong>C. Переговоры:</strong> <br></br> ● Формирование предложения о цене. <br></br> ● Ведение переговоров с продавцом. <br></br> <strong>D. Подписание договора:</strong> <br></br> ● Подготовка и подписание договора купли-продажи. <br></br> <strong>E. Оплата:</strong> <br></br> ● Помощь в открытии банковского счёта в Болгарии. <br></br> ● Сопровождение перевода средств продавцу. <br></br> <strong>F. Регистрация права собственности:</strong> <br></br> ● Регистрация недвижимости в государственном реестре (Табу). <br></br> <strong>G. Передача объекта:</strong> <br></br> ● Передача ключей и финальный осмотр квартиры. <br></br> <strong>H. Дополнительные услуги:</strong> <br></br> ● Управление недвижимостью. <br></br> ● Юридическое и налоговое сопровождение через наших партнёров.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Accordion Какие расходы связаны с покупкой недвижимости через "Dira Bulgarit"?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                            <div class="accordion-body en-accordion-body">Основные расходы: <br></br> ● <strong>Стоимость недвижимости:</strong> <br></br> ● <strong>Налог на покупку:</strong> 4% от стоимости. <br></br> ● <strong>Нотариальные услуги:</strong> Регистрация в Табу. <br></br> ● <strong>Юридические услуги:</strong> Рекомендуется нанять израильского юриста, специализирующегося на недвижимости в Болгарии. <br></br> ● <strong>Дополнительные расходы:</strong> Комиссия брокера, страховка, местные налоги.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Accordion Какие существуют возможности финансирования покупки через "Dira Bulgarit"?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                            <div class="accordion-body en-accordion-body">Мы сотрудничаем с квалифицированным финансовым консультантом в Израиле, который поможет подобрать оптимальные варианты финансирования покупки.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                Accordion Нужны ли специальные разрешения для покупки недвижимости через "Dira Bulgarit"?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                            <div class="accordion-body en-accordion-body">Нет, израильским гражданам не требуется специальное разрешение для покупки недвижимости в Болгарии. Однако, для некоторых объектов может понадобиться оформление юридического лица или соблюдение дополнительных процедур, о чём мы вас своевременно проинформируем.</div>
                        </div>
                    </div>
                </div>

    include _contactUsFixed  
    include _contactUsFixedMobile                      