extends base 

block head
    title Условия использования | Dira Bulgarit
    meta(name="description" content="Условия использования | Dira Bulgarit")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/ru/terms-of-service")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/terms-of-service" hreflang="ru")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/terms-of-service" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/terms-of-service" hreflang="he")

    meta(property="og:title" content="Условия использования | Dira Bulgarit")
    meta(property="og:description" content="Условия использования | Dira Bulgarit")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid.termsOfService-container
        .row.termsOfService-headline-row.justify-content-center 
            .col-10.termsOfService-headline-col 
                h1.termsOfService-headline Условия использования веб-сайта
        .row.termsOfService-row.justify-content-center 
            .col-10.termsOfService-text-col
                div.termsOfService-text-headline Introduction
                div.termsOfService-text Настоящие условия использования регулируют доступ и использование вами веб-сайта, размещённого по адресу [www.dirabulgarit.co.il]
                div.termsOfService-text Пожалуйста, внимательно ознакомьтесь с настоящими условиями перед началом использования Сайта. Получая доступ к Сайту и/или используя его, вы подтверждаете, что прочли, поняли и согласны соблюдать данные условия. В случае несогласия с условиями, вы обязаны немедленно прекратить использование Сайта.
                div.termsOfService-text-headline 1. Описание предоставляемых услуг
                div.termsOfService-text Сайт предоставляет пользователям доступ к информации о предложениях по продаже недвижимости на территории Болгарии и осуществляет содействие гражданам Государства Израиль в процессе инвестирования и приобретения объектов недвижимости. Оператор выступает исключительно в качестве информационного посредника, обеспечивая техническую возможность связи между потенциальными покупателями и продавцами недвижимости. Оператор не является агентом по недвижимости, не оказывает брокерские услуги и не несет ответственности за сделки, заключенные между третьими лицами.
                div.termsOfService-text-headline 2. Условия использования
                div.termsOfService-text Пользуясь Сайтом, вы обязуетесь:
                div.termsOfService-text •	использовать Сайт исключительно в законных целях, не нарушающих действующее законодательство;
                div.termsOfService-text •	воздерживаться от действий, которые могут привести к нарушению функциональности, безопасности и доступности Сайта;
                div.termsOfService-text •	не использовать контент и материалы, размещенные на Сайте, в целях извлечения коммерческой выгоды без предварительного письменного согласия Оператора.
                div.termsOfService-text-headline 3. Интеллектуальная собственность
                div.termsOfService-text Все элементы, размещенные на Сайте, включая, но не ограничиваясь, тексты, графические материалы, логотипы, фотографии и иные объекты авторского права (далее — «Контент»), являются интеллектуальной собственностью Оператора либо его контент-партнеров и охраняются в соответствии с международными и национальными законами об авторском праве.
                div.termsOfService-text Любое несанкционированное копирование, распространение, публикация или иное использование Контента без предварительного письменного разрешения является нарушением прав и может повлечь за собой гражданскую, административную или уголовную ответственность.
                div.termsOfService-text-headline 4. Ограничение ответственности
                div.termsOfService-text Оператор не несет ответственности за любые убытки (включая прямые, косвенные, случайные, штрафные или последующие убытки), понесенные в результате использования либо невозможности использования Сайта или размещенной на нем информации. Контент предоставляется на условиях «как есть» без каких-либо гарантий, явных или подразумеваемых, включая, но не ограничиваясь, гарантиями точности, полноты, пригодности для конкретной цели.
                div.termsOfService-text-headline 5. Внешние ссылки
                div.termsOfService-text Сайт может содержать гиперссылки на сторонние веб-сайты, находящиеся вне контроля Оператора. Оператор не несет ответственности за содержание, безопасность, политику конфиденциальности или практику третьих лиц. Переходя по таким ссылкам, вы действуете на собственный риск.
                div.termsOfService-text-headline 6. Изменения условий
                div.termsOfService-text Оператор оставляет за собой право вносить изменения в настоящие Условия в любое время без предварительного уведомления. Актуальная версия Условий всегда доступна на данной странице. Продолжение использования Сайта после публикации изменений считается акцептом обновленных условий.
                div.termsOfService-text-headline 7. Применимое право и юрисдикция
                div.termsOfService-text Настоящие Условия регулируются и подлежат толкованию в соответствии с законодательством Государства Израиль. Все споры, вытекающие из или связанные с настоящими Условиями, подлежат исключительной юрисдикции компетентных судов Государства Израиль.