extends ../base

block head
    meta(property="og:title" content="Atlantis Aria 2")
    meta(property="og:description" content="Atlantis Aria 2 Project in Burgas, Bulgaria")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716487726018-One-bedroom-apartment-in-Atlantis-Aria-2-1.jpg")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../../he/_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="aa2MainImageDescription")
        span.visually-hidden(id="aa2MainImageDescription") An image of the Atlantis Aria 2 project buildings
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-atlantis-aria-2 
                h1.project-main-image-headline.project-main-image-headline-atlantis-aria-3 Atlantis Aria 2       

    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline Gallery
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716478681893-Two-bedroom-apartment-C-808-in-Atlantis-Aria-2-1.jpg' alt='Image of Atlantis Aria 2 project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716478681923-Two-bedroom-apartment-C-808-in-Atlantis-Aria-2-3.jpg' alt='Image of Atlantis Aria 2 project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716486892307-Two-bedroom-apartment-B-807-in-Atlantis-Aria-2-1.jpg' alt='Image of Atlantis Aria 2 project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")  
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716486892317-Two-bedroom-apartment-B-807-in-Atlantis-Aria-2-2.jpg' alt='Image of Atlantis Aria 2 project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716487369183-Two-bedroom-apartment-C-208-in-Atlantis-Aria-2-1.jpg' alt='Image of Atlantis Aria 2 project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716487369191-Two-bedroom-apartment-C-208-in-Atlantis-Aria-2-2.jpg' alt='Image of Atlantis Aria 2 project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Atlantis Aria 3 
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716478681893-Two-bedroom-apartment-C-808-in-Atlantis-Aria-2-1.jpg' alt='Image of Atlantis Aria 2 project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716478681923-Two-bedroom-apartment-C-808-in-Atlantis-Aria-2-3.jpg' alt='Image of Atlantis Aria 2 project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716486892307-Two-bedroom-apartment-B-807-in-Atlantis-Aria-2-1.jpg' alt='Image of Atlantis Aria 2 project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716486892317-Two-bedroom-apartment-B-807-in-Atlantis-Aria-2-2.jpg' alt='Image of Atlantis Aria 2 project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716487369183-Two-bedroom-apartment-C-208-in-Atlantis-Aria-2-1.jpg' alt='Image of Atlantis Aria 2 project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716487369191-Two-bedroom-apartment-C-208-in-Atlantis-Aria-2-2.jpg' alt='Image of Atlantis Aria 2 project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716486892307-Two-bedroom-apartment-B-807-in-Atlantis-Aria-2-1.jpg' alt='Image of Atlantis Aria 2 project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716487726073-One-bedroom-apartment-in-Atlantis-Aria-2-4.jpg' alt='Image of Atlantis Aria 2 project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716488197715-Two-bedroom-apartment-in-Atlantis-Aria-2-2.jpg' alt='Image of Atlantis Aria 2 project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716717336269-a3_10-scaled.jpg' alt='Image of Atlantis Aria 2 project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716717336272-a3_13-scaled.jpg' alt='Image of Atlantis Aria 2 project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716717336296-balcony_view_post_4k-scaled.jpg' alt='Image of Atlantis Aria 2 project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716717336302-bedroom_1_4k-scaled.jpg' alt='Image of Atlantis Aria 2 project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716717336306-living_room_a_night_post_4k-scaled.jpg' alt='Image of Atlantis Aria 2 project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716717336309-living_room_a_post_4k-scaled.jpg' alt='Image of Atlantis Aria 2 project') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-atlantis-aria-3           
                div.project-numbers-text Buildings        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-atlantis-aria-3           
                div.project-numbers-text Floors        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-atlantis-aria-2          
                div.project-numbers-text Apartments 
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-parking-spots-number.project-numbers-parking-spots-number-atlantis-aria-2          
                div.project-numbers-text Parking Spots
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-start-number August 2023         
                div.project-numbers-text Construction Start
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center   
                div.project-numbers-end-number February 2026
                div.project-numbers-text Construction End

    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Atlantis Aria 2
            .col-10.project-details-headline-col.p-0.text-start
                div.project-details-text We are pleased to present to you the new project of the Atlantis Bulgaria Holdings group: <strong>Atlantis Aria 2</strong>. The project is located in the heart of the new Horizont Quarter and guarantees an harmonious combination of urban comfort and peaceful living.
                div.project-details-text The residential complex will consist of three independent buildings with shared garden spaces between them.  
                div.project-details-text The buildings will have 9 floors, and will contain 2 commercial centers, 70 one-bedroom apartments, 73 two-bedroom apartments and 16 three-bedroom apartments. The residential complex will have an underground parking lot for 105 vehicles and an above ground parking lot for 69 vehicles. Also, each apartment will have a private parking space.
                div.project-details-text On the ground floor there will be commercial areas and offices as well as garden apartments with wide yards.   
                div.project-details-text All buildings will have common areas in a modern and luxurious style as well as elevators. They will be equipped with the latest generation IP address video access control systems with batteries that allow the system to operate up to 24 hours after a power outage. The irrigation system of the green common areas will also be a smart and automatic system communicating through a last generation IP address, with its own meteorological station for monitoring the weather.
                h3.project-details-sub-headline Location
                div.project-details-text Aria 2 is located in the new residential area of ​​the city of Burgas, near the "Izgrev" train station, and is part of the overall concept of building a new modern residential neighborhood with beautiful sustainable architecture and a peaceful living environment.
                div.project-details-text The complex is located within walking distance of large commercial supermarkets such as Metro, Lidl and Kaufland, Burgess Plaza Mall, chain stores for sports equipment, a medical center, the new multipurpose sports hall "Burgess Arena" and physical fitness centers.
                h3.project-details-sub-headline Horizont Quarter 
                div.project-details-text The Aria 2 project is going to be built in the heart of the Horizont Quarter - the newest residential neighborhood in Burgas and in the coming years the area is going to be developed in a way that has never been seen before in the city.
                div.project-details-text As part of the planning of the district as a combination of modern residential buildings and also a nature preserve, a wide and green park of about 50,000 square meters will be built.
                div.project-details-text The district is planned to be populated mainly by young families, so it will be possible to find kindergartens, parks with playgrounds, as well as designated areas for picnics and BBQ's.
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-3-images/1718892982826-atlantis-aria-3-horizont.webp' alt='Geographical representation of the Horizont quarter in Burgas Bulgaria')
                div.project-details-text.text-center <i>Horizont Quarter</i>
                h3.project-details-sub-headline Architecture
                div.project-details-text The height of the apartments in the project will be 2.7m. All apartments will be equipped with electrical panels, switches and sockets, water meters with remote reading, decks and metal entrance doors.
                div.project-details-text All buildings will include common areas in a modern and luxurious style as well as elevators. The building's carpentry will be of high-quality five-chamber PVC and double-glazed with low-emission glass.
                div.project-details-text Ready to make ARIA 2 your new home or investment opportunity?  
                h3.project-details-sub-headline Atlantis Bulgaria Holdings
                div.project-details-text Atlantis Construction Group is a real estate entrepreneurship company with rich experience in developing projects throughout Burgas and Sofia for more than 25 years. 
                div.project-details-text The group consists of several companies working in different fields. What unites the group is the mission to create a comfortable environment and a peaceful life in the big city, through the application of modern concepts in construction.
                div.project-details-text Atlantis Bulgaria specializes in real estate development in areas with high investment attractiveness by building profitable projects with long-term thinking. The result is dozens of residential buildings that have been successfully completed and have yielded maximum returns for property owners.    
                div.project-details-text Thanks to strategic planning, all the houses built by the Atlantis Bulgaria Group have become a harmonious combination of natural beauty and a creative expression of modern architecture. It is important to note that thanks to their activities in Burgas and Sofia, over time, the cultural awareness has increased that nature is an integral part of life in the city and that it has a great impact on the health, safety and well-being of each and every one.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline Amenities
        .row.project-amenities-row.text-end.mx-5.justify-content-start 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-fence.svg' alt='Fence icon')
                div.project-amenities-text Apartments with private yards
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-car.svg' alt='Roofed parking spot icon')
                div.project-amenities-text Roofed parking spots
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-leaf.svg' alt='Leaf icon')
                div.project-amenities-text Green nature areas
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-nfc.svg' alt='Icon of NFC entrance')
                div.project-amenities-text(dir='rtl') NFC controlled access
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-parking.svg' alt='Parking icon')
                div.project-amenities-text Private parking places
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-camera.svg' alt='CCTV icon')
                div.project-amenities-text 24/7 Video surveillance               
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-bbq.svg' alt='BBQ icon')
                div.project-amenities-text Picnic and BBQ areas         
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-yoga.svg' alt='Icon of a woman doing yoga')
                div.project-amenities-text Outdoor Yoga area          
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-workout.svg' alt='Dumbbell icon')
                div.project-amenities-text Outdoor workout area            

    .container-fluid.project-mid-image-container.project-mid-image-container-atlantis-aria-2(role="img" aria-labelledby="aa2MidImageDescription")
        span.visually-hidden(id="aa2MidImageDescription") Image of the Atlantis Aria 2 project from an arial view
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-3.justify-content-center 
            .col-12.project-map-healine-col
                h2.project-map-headline Location
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.4528 data-lat=42.5332 data-title='Atlantis Aria 2') 

    .container-fluid.project-installment-scheme-container
        .row.project-installment-scheme-row.text-center.mx-5.justify-content-center 
            .col-12.project-installment-scheme-healine-col
                h2.project-installment-scheme-headline Payment Plans
            .col-12.project-installment-scheme-table-col.d-lg-flex.justify-content-lg-center   
                table.table-responsive.project-installment-scheme-table
                    thead.project-installment-table-head
                        tr
                        th.project-installment-table-th(scope='col') 
                        th.project-installment-table-th(scope='col') 1 Payment
                        th.project-installment-table-th(scope='col') 2 Payments
                        th.project-installment-table-th(scope='col') 3 Payments
                        th.project-installment-table-th(scope='col') 4 Payments
                        th.project-installment-table-th(scope='col') 5 Payments
                        th.project-installment-table-th(scope='col') 6 Payments
                    tbody.table-group-divider
                        tr
                        th.project-installment-table-th(scope='row') Regular Plan
                        td Deposit - 5000 Euro
                        td 30% When signing an initial contract (up to 20 days from the deposit) - prior consent is required
                        td 30% - When the construction reaches the 4th floor
                        td 30% - When the project receives Act 14
                        td 5% - When the project receives Act 15
                        td 5% - When the project receives Act 16
    
    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Available Properties In The Project
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Available Properties In The Project
            each asset in projectAssets
                include ../_mobileAssetsCards  

    .container-fluid.asset-contact-us-container-fixed.position-fixed.text-center.bottom-0
        .row
            .col-12.contact-us-fixed-col.py-3
                div#crmWebToEntityForm.crmWebToEntityForm
                    form.contact-us-form#webform6296617000000479035(action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads6296617000000479035 method='POST' accept-charset='UTF-8' novalidate)
                        input(type='text' style='display:none;' name='xnQsjsdp' value='59a0780e6b2791aec2fc494a0d52812511ef98c0f6123210fdc332d6fa0b9e22')
                        input#zc_gad(type='hidden' name='zc_gad' value='')
                        input(type='text' style='display:none;' name='xmIwtLD' value='7334e6acba558f934b954c69f5851611538edbf846a3d2f15f807f241012015c2f9c9c0839f214a112e56e062e05be4f')
                        input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                        input(type='text' style='display:none;' name='returnURL' value='https://www.dirabulgarit.com/contact-us-confirm')
                        .row.contact-us-fixed-row.align-items-center.d-flex.justify-content-center
                            .col-12.contact-us-headline-col
                                div.contact-us-fixed-headline Contact us and we will return to you asap
                            .col-6.col-md-2.contact-us-input-fixed-col
                                input.contact-us-input.contact-us-input.contact-us-name-input.form-control.en-search-filter-input(type='text' name='Last Name' maxlength='200' placeholder='Name' aria-label='Name' aria-describedby='basic-addon1' required)                            
                                .invalid-tooltip Please enter your name
                            .col-6.col-md-2.contact-us-input-fixed-col
                                input.contact-us-input.contact-us-phone-input.form-control.en-search-filter-input(type='text' name='Phone' maxlength='10' placeholder='Phone number' aria-label='Phone number' aria-describedby='basic-addon1' pattern='[0-9]{10}' required)
                                .invalid-tooltip.contact-us-phone-invalid Please enter a valid phone number
                            .col-6.col-md-2.contact-us-input-fixed-col
                                input.contact-us-input.contact-us-email-input.form-control.en-search-filter-input(type='email' ftype='email' autocomplete='false' name='Email' crmlabel='' maxlength='100' placeholder='Email  ' aria-label='Email' aria-describedby='basic-addon1' pattern='[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,}' required)
                                .invalid-tooltip.contact-us-email-invalid Please enter a valid Email address
                            .col-6.col-md-3.contact-us-input-fixed-col    
                                textarea.contact-us-textarea.contact-us-description-input.form-control.en-search-filter-input(id='Description' name='Description' aria-label="Contact request description" rows="2") I would like to hear more details about the "Atlantis Aria 2" project
                            .col-12.col-md-3.col-lg-2.contact-us-fixed-bottom-col 
                                input.contact-us-button-fixed.my-2.mx-3(type='submit' id='formsubmit' class='formsubmit zcwf_button' value='Send' title='Submit')               