extends ../base

block head
    title Lighthouse Premium Apartments
    meta(name="description" content="Lighthouse Premium Apartments in Sveti Vlas, Bulgaria: luxury homes 200m from the beach with pool, security, and 8% yield. Ready by Aug 2025!")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/en/project/enkibuild-lighthouse")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/project/enkibuild-lighthouse" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/project/enkibuild-lighthouse" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/project/enkibuild-lighthouse" hreflang="ru")

    meta(property="og:title" content="Lighthouse Premium Apartments")
    meta(property="og:description" content="Lighthouse Premium Apartments in Sveti Vlas, Bulgaria: luxury homes 200m from the beach with pool, security, and 8% yield. Ready by Aug 2025!")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894819-enkibuild-lighthouse-5.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../../he/_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="enkibuildLighthouseMainImageDescription")
        span.visually-hidden(id="enkibuildLighthouseMainImageDescription") An image of the Lighthouse Premium Apartments project buildings
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-enkibuild-lighthouse 
                h1.project-main-image-headline.project-main-image-headline-enkibuild-lighthouse Lighthouse Premium Apartments
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline Gallery
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894819-enkibuild-lighthouse-5.webp' alt='Image of the Lighthouse Premium Apartments Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894836-enkibuild-lighthouse-8.webp' alt='Image of the Lighthouse Premium Apartments Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894866-enkibuild-lighthouse-13.webp' alt='Image of the Lighthouse Premium Apartments Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894902-enkibuild-lighthouse-21.webp' alt='Image of the Lighthouse Premium Apartments Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894918-enkibuild-lighthouse-24.webp' alt='Image of the Lighthouse Premium Apartments Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894961-enkibuild-lighthouse-36.webp' alt='Image of the Lighthouse Premium Apartments Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Lighthouse Premium Apartments
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894779-enkibuild-lighthouse-2.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894808-enkibuild-lighthouse-3.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894814-enkibuild-lighthouse-4.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894819-enkibuild-lighthouse-5.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894825-enkibuild-lighthouse-6.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894830-enkibuild-lighthouse-7.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894836-enkibuild-lighthouse-8.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894840-enkibuild-lighthouse-9.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894848-enkibuild-lighthouse-10.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894855-enkibuild-lighthouse-11.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894861-enkibuild-lighthouse-12.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894866-enkibuild-lighthouse-13.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894874-enkibuild-lighthouse-14.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894879-enkibuild-lighthouse-15.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894884-enkibuild-lighthouse-16.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894888-enkibuild-lighthouse-17.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894892-enkibuild-lighthouse-18.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894895-enkibuild-lighthouse-19.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894899-enkibuild-lighthouse-20.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894902-enkibuild-lighthouse-21.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894906-enkibuild-lighthouse-22.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894909-enkibuild-lighthouse-23.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894918-enkibuild-lighthouse-24.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894921-enkibuild-lighthouse-25.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894925-enkibuild-lighthouse-26.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894928-enkibuild-lighthouse-27.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894931-enkibuild-lighthouse-28.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894934-enkibuild-lighthouse-29.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894937-enkibuild-lighthouse-30.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894942-enkibuild-lighthouse-31.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894946-enkibuild-lighthouse-32.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894950-enkibuild-lighthouse-33.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894954-enkibuild-lighthouse-34.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894958-enkibuild-lighthouse-35.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894961-enkibuild-lighthouse-36.webp' alt='Image of the Lighthouse Premium Apartments Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894963-enkibuild-lighthouse-37.webp' alt='Image of the Lighthouse Premium Apartments Project')
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-enkibuild-lighthouse       
                div.project-numbers-text Buildings        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-enkibuild-lighthouse       
                div.project-numbers-text Floors        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-enkibuild-lighthouse      
                div.project-numbers-text Apartments
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center   
                div.project-numbers-end-number August 2025
                div.project-numbers-text Construction End
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Lighthouse Premium Apartments
            .col-10.project-details-headline-col.p-0.text-start
                div.project-details-text The famous LightHouse apartment complex is in the touristic village of Sveti Vlas in sunny Bulgaria. This is a favorite holiday destination for Europeans and Bulgarians, so care is taken to keep it clean and safe.
                div.project-details-text The development is still under active construction, and a new section will be completed up to the next holiday season!
                div.project-details-text The apartments will satisfy even the most demanding tenants. The complex has a swimming pool, bar, children's playground, and cozy green areas, saving from the summer heat. Car owners will enjoy secured underground parking with a separate entrance.
                div.project-details-text Located LightHouse residential complex is only 200 meters from a private beach with crystal clear water.
                div.project-details-text Here is everything you need for a quiet and comfortable life. Become the owner of a premium apartment today!
                h3.project-details-sub-headline Location
                div.project-details-text The complex is built in the central part of the city, close to the beach. The area is well-connected to the traffic and has plenty of infrastructure.
                h3.project-details-sub-headline Nature
                div.project-details-text The city is located between the mountain range and the sea — unique climatic conditions and landscapes.
                h3.project-details-sub-headline Security
                div.project-details-text Advanced security systems, video surveillance, closed area, and round-the-clock security will ensure safe living.
                h3.project-details-sub-headline Amenities
                div.project-details-text The large and cozy courtyard has a swimming pool for the recreation of tenants and a lighthouse — the symbol of the complex, a place to meet sunsets and sunrises.
                h3.project-details-sub-headline Yield
                div.project-details-text The management company is happy to find tenants during your absence. Profitability is up to 8% per annum!
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894966-enkibuild-lighthouse-three-bedroom-apartment-on-the-first-floor.webp' alt='apartment plans of a four-room apartment in the Lighthouse Premium Apartments project')
                div.project-details-text.text-center <i>Four-room apartment plan in the Lighthouse Premium Apartments project</i>
                h3.project-details-sub-headline Apartment Features
                div.project-details-text The uniqueness of the offer lies in the reinterpreted format of the residences. The large terraces and patios offer the feeling of a private home and seclusion. This is the perfect solution for owners of square meters on the south coast when it is uncomfortable to be inside the house in the heat, and the sea breeze brings relief. In addition, terraces and patios are the perfect places for tasty evenings with barbecues and wine!
                div.project-details-text All flats are spacious and bright. The 3-3.8m high shelves give an open feel. A convenient location will ensure that everything runs smoothly with the logistics and maintenance of the apartments!
                h3.project-details-sub-headline Number of apartments per block
                div.project-details-text Only six apartments are available for sale on the three floors of the building E. It is situated in the center of the yard and surrounded with green plants for your privacy.
                h3.project-details-sub-headline Materials of construction
                div.project-details-text Monolithic frame construction technology and red brick walls provide good noise and thermal insulation. Partition and interior walls are lined with Porotherm ceramic blocks (Germany) and plastered.
                h3.project-details-sub-headline Glazing
                div.project-details-text The house is glazed with aluminum profiles Reynaers (Belgium) use. The 50mm glazing will keep the optimum temperature in winter and summer.
                h3.project-details-sub-headline Condition of the apartment
                div.project-details-text The flat is built on a turnkey basis with premium renovation. You will only need to buy the furniture and the decor! Each apartment has heat pumps and underfloor heating for year-round comfortable living.
                h3.project-details-sub-headline Completion date
                div.project-details-text The building will be finished in August 2025. Now internal works are carried out. Next summer you can enjoy the vacation at the seaside in your apartment!
                h3.project-details-sub-headline Infrastructure
                div.project-details-text The unique location of LightHouse in the heart of St. Vlas ensures the residents the most comfortable conditions for living and recreation. There are supermarkets, cafes, restaurants, pharmacies, fitness clubs, a bakery, a cinema, and the best beaches in Bulgaria.
                h3.project-details-sub-headline About Enki Group
                div.project-details-text ENKI GROUP successfully implements construction projects, creating high-quality real estate. To accelerate execution and increase efficiency, we require additional working capital. We invite investors to become part of our success by offering them favorable investment conditions.
                div.project-details-text Purchasing real estate in our projects is not just acquiring a housing but a profitable investment that provides stable income, high liquidity, and complete satisfaction of your needs.
                div.project-details-text We carefully study current trends and buyer preferences to create projects that fully meet their expectations.
                div.project-details-text Every detail of our properties, from architecture to layouts, is designed with comfort and functionality in mind for future owners.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline Amenities
        .row.project-amenities-row.text-end.mx-5.justify-content-start 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/pool-swimming-pool-svgrepo-com.svg' alt='Swimming pool icon')
                div.project-amenities-text(dir='rtl') Swimming Pool
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/beach-umbrella-svgrepo-com.svg' alt='Beach icon')
                div.project-amenities-text Beach
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/project-lighthouse.svg' alt='Lighthouse icon')
                div.project-amenities-text Lighthouse 

    .container-fluid.project-mid-image-container.project-mid-image-container-enkibuild-lighthouse(role="img" aria-labelledby="enkibuildLighthouseMidImageDescription")
        span.visually-hidden(id="enkibuildLighthouseMidImageDescription") Image of the Lighthouse Premium Apartments project
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-headline-col
                h2.project-map-headline Location
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.752190 data-lat=42.710146 data-title='Lighthouse Premium Apartments')          

    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Available Properties In The Project
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Available Properties In The Project
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile 