extends ../base

block head
    title Fort Noks Premier Suites
    meta(name="description" content="Luxury beachfront apartments in Sveti Vlas! Fort Noks Premier Suites offers fully furnished sea-view apartments, just steps from the beach, with pools, water slides, and flexible payment plans. Ideal for families, year-round living, or investment.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/en/project/fort-noks-premier-suites")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/project/fort-noks-premier-suites" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/project/fort-noks-premier-suites" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.com/ru/project/fort-noks-premier-suites" hreflang="ru")

    meta(property="og:title" content="Fort Noks Premier Suites")
    meta(property="og:description" content="Luxury beachfront apartments in Sveti Vlas! Fort Noks Premier Suites offers fully furnished sea-view apartments, just steps from the beach, with pools, water slides, and flexible payment plans. Ideal for families, year-round living, or investment.")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279030-fort-noks-premier-suits-3.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../../he/_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="fortNoksSuitesMainImageDescription")
        span.visually-hidden(id="fortNoksSuitesMainImageDescription") An image of the Fort Noks Premier Suites project buildings
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-fort-noks-suites
                h1.project-main-image-headline.project-main-image-headline-fort-noks-suites Fort Noks Premier Suites          
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline Gallery
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278278973-fort-noks-premier-suits-1.webp' alt='Image of the Fort Noks Premier Suites Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279042-fort-noks-premier-suits-4.webp' alt='Image of the Fort Noks Premier Suites Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279052-fort-noks-premier-suits-5.webp' alt='Image of the Fort Noks Premier Suites Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279060-fort-noks-premier-suits-6.webp' alt='Image of the Fort Noks Premier Suites Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279064-fort-noks-premier-suits-7.webp' alt='Image of the Fort Noks Premier Suites Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279066-fort-noks-premier-suits-8.webp' alt='Image of the Fort Noks Premier Suites Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Fort Noks Premier Suites
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278278973-fort-noks-premier-suits-1.webp' alt='Image of the Fort Noks Premier Suites Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279042-fort-noks-premier-suits-4.webp' alt='Image of the Fort Noks Premier Suites Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279052-fort-noks-premier-suits-5.webp' alt='Image of the Fort Noks Premier Suites Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279060-fort-noks-premier-suits-6.webp' alt='Image of the Fort Noks Premier Suites Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279064-fort-noks-premier-suits-7.webp' alt='Image of the Fort Noks Premier Suites Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279066-fort-noks-premier-suits-8.webp' alt='Image of the Fort Noks Premier Suites Project') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-fort-noks-suites          
                div.project-numbers-text Buildings        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-fort-noks-suites          
                div.project-numbers-text Floors        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-fort-noks-suites         
                div.project-numbers-text Apartments
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-parking-spots-number.project-numbers-parking-spots-number-fort-noks-suites         
                div.project-numbers-text Parking Spots
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center   
                div.project-numbers-end-number December 2026
                div.project-numbers-text Construction End
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Fort Noks Premier Suites
            .col-10.project-details-headline-col.p-0.text-start
                div.project-details-text Who wouldn’t enjoy an unforgettable summer life by the sea?
                div.project-details-text SPACIOUS STUDIOS, 1-BEDROOM, 2-BEDROOM APARTMENTS, AND PENTHOUSES, Luxurious living by the seashore!
                div.project-details-text In addition to its modern interior, Premier Suites offers access to the beautifully arranged territory of Premier Fort Beach Aparthotel.
                h3.project-details-sub-headline Location
                div.project-details-text Premier Suites’ excellent location, overlooking the Black Sea and the picturesque at any time of day bay of Sunny Beach, offers the joy of witnessing amazing sunsets!
                div.project-details-text Premier Suites is located in the western part of Sveti Vlas, on a stylish beach. It’s within walking distance to all the other beautiful beaches of Sveti Vlas and the Dinevi Marina, as well as a five-minute drive from the seafront promenade of Sunny Beach. Beach cafes, cozy restaurants, nightclubs, bars, and the coastal nightlife are just minutes away by car.
                div.project-details-text Whether you’re a swimmer, bodyboarder, or just a family who loves the fine, soft sand, Premier Suites’ location is such that the beach is literally at your doorstep. It’s just 100 meters away!
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279071-fort-noks-premier-suits-building-plan.webp' alt='Building plans of Fort Noks Premier Suites')
                div.project-details-text.text-center <i>Fort Noks Premier Suites building plans</i>
                h3.project-details-sub-headline Premier Fort Aparthotel
                div.project-details-text Premier Suites is part of Premier Fort Beach Aparthotel, the best aparthotel for families with children in Bulgaria! Our resort is a paradise for families, offering two freshwater pools, a children’s pool, and exciting water slides. Premier Fort Beach Aparthotel’s daily entertainment program is at your disposal.
                h3.project-details-sub-headline Ready for living
                div.project-details-text All apartments are fully furnished, absolutely ready for living and renting in accordance with the tour operators standards and requirements.
                div.project-details-text The finishing works in all apartments were carried out using only high quality materials.
                div.project-details-text Premier Fort Suites is designed for year-round living.
                h3.project-details-sub-headline A rare opportunity 
                div.project-details-text Premier Suites is a rare and special opportunity: cozy, stylish, luxurious apartments in a great location, close to the center of Sveti Vlas and just five minutes by car from the nightlife hub of Sunny Beach. Whether you’re buying for investment, a permanent home, or a seasonal residence, it’s the perfect combination of three key elements: a great location, high-quality construction, and thoughtfully designed interiors.
                div.project-details-text Be one of the first residents of our brand-new Premier Suites apartments in Premier Fort Aparthotel!
                h3.project-details-sub-headline Payment Plan
                div.project-details-text 10% of the price payable on signing of the preliminary contract.
                div.project-details-text 10% of the price payable after 3 months.
                div.project-details-text The remaining 80% can be paid with Fort Noks Ltd deferred payment plan:
                div.project-details-text &nbsp<strong>●</strong> Up to 1 JANUARY 2027 deferred payment plan WITHOUT interest.
                div.project-details-text &nbsp<strong>●</strong> Up to 1 JANUARY 2032 deferred payment with 3% annual interest. 
                div.project-details-text &nbsp<strong>●</strong> Up to 10 years deferred payment with 5% annual interest.
                div.project-details-text &nbsp<strong>●</strong> In case of 50% first installment at signing the preliminary contract – 3% discount of the purchase price.
                h3.project-details-sub-headline About Fort Noks Ltd
                div.project-details-text Fort Noks Ltd is established in 1995. During the years the company has been a responsible and reliable partner and became the biggest construction and management company in the Sunny Beach region. Our mission is to focus on meeting the needs of our clients by offering a wide range of holiday apartments, located in coastal holiday villages. We are committed to listening to and understanding our client`s requirements, providing professional and experienced staff.
                div.project-details-text Our complexes are located in the best Bulgarian seacoast resorts: Elenite, Saint Vlas (Sveti Vlas), Sunny Beach, Ravda, 30-40 kilometers away from the Bourgas airport.
                div.project-details-text Buying from us will grant you not only a real estate investment, but the best maintenance and management service in the area. Most of our complexes are first line with restricted access with personal magnetic cards, 24 hours security and video monitoring. There will be nothing to think about except your vacation. The infrastructure of our complexes becomes better every year, due to the constant contact between us and our clients.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline Amenities
        .row.project-amenities-row.text-end.mx-5.justify-content-start 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/pool-swimming-pool-svgrepo-com.svg' alt='Swimming pool icon')
                div.project-amenities-text(dir='rtl') Swimming Pools
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/beach-umbrella-svgrepo-com.svg' alt='Beach icon')
                div.project-amenities-text Beach
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/furniture-project.svg' alt='Furniture icon')
                div.project-amenities-text Furnished Apartments      
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-headline-col
                h2.project-map-headline Location
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.742889333733768 data-lat=42.710020445559685 data-title='Fort Noks Premier Suites') 

    .container-fluid.project-video-container
        .row.asset-video-row.mx-3.justify-content-center 
            .col-12.col-md-10.asset-video-col.text-center(role="region" aria-labelledby="assetVideoDescription")
                iframe(src='https://www.youtube.com/embed/UXDiYU7LqmA?si=oVP-4JU5MgKiCwli' frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).asset-video                    
            span.visually-hidden(id="assetVideoDescription") Video of Fort Noks Premier Suites project                         

    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Available Properties In The Project
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Available Properties In The Project
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile 