extends ../base

block head
    title Green Fort Suites
    meta(name="description" content="Green Fort Suites – the newest and most luxurious Fort Noks complex, located in Sunny Beach's elite Zora district. Sea-view apartments, 1–3 bedrooms, pool, parking, 24/7 security. Perfect for living, vacation, or investment.Green Fort Suites – the newest and most luxurious Fort Noks complex, located in Sunny Beach's elite Zora district. Sea-view apartments, 1–3 bedrooms, pool, parking, 24/7 security. Perfect for living, vacation, or investment.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/en/project/green-fort-suites")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/project/green-fort-suites" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/project/green-fort-suites" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/project/green-fort-suites" hreflang="ru")

    meta(property="og:title" content="Green Fort Suites")
    meta(property="og:description" content="Green Fort Suites – the newest and most luxurious Fort Noks complex, located in Sunny Beach's elite Zora district. Sea-view apartments, 1–3 bedrooms, pool, parking, 24/7 security. Perfect for living, vacation, or investment.Green Fort Suites – the newest and most luxurious Fort Noks complex, located in Sunny Beach's elite Zora district. Sea-view apartments, 1–3 bedrooms, pool, parking, 24/7 security. Perfect for living, vacation, or investment.")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105494-green-fort-suites-6.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../../he/_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="greenFortSuitesMainImageDescription")
        span.visually-hidden(id="greenFortSuitesMainImageDescription") An image of the Green Fort Suites project buildings
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-green-fort-suites 
                h1.project-main-image-headline.project-main-image-headline-green-fort-suites Green Fort Suites          
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline Gallery
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105484-green-fort-suites-4.webp' alt='Image of the Green Fort Suites Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105489-green-fort-suites-5.webp' alt='Image of the Green Fort Suites Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105494-green-fort-suites-6.webp' alt='Image of the Green Fort Suites Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105497-green-fort-suites-7.webp' alt='Image of the Green Fort Suites Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105452-green-fort-suites-2.webp' alt='Image of the Green Fort Suites Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105480-green-fort-suites-3.webp' alt='Image of the Green Fort Suites Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Green Fort Suites
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105484-green-fort-suites-4.webp' alt='Image of the Green Fort Suites Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105489-green-fort-suites-5.webp' alt='Image of the Green Fort Suites Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105494-green-fort-suites-6.webp' alt='Image of the Green Fort Suites Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105497-green-fort-suites-7.webp' alt='Image of the Green Fort Suites Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105452-green-fort-suites-2.webp' alt='Image of the Green Fort Suites Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105480-green-fort-suites-3.webp' alt='Image of the Green Fort Suites Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105444-green-fort-suites-1.webp' alt='Image of the Green Fort Suites Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105503-green-fort-suites-construction.webp' alt='Image of the Green Fort Suites Project') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-green-fort-suites        
                div.project-numbers-text Buildings        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-green-fort-suites        
                div.project-numbers-text Floors        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-green-fort-suites       
                div.project-numbers-text Apartments
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-parking-spots-number.project-numbers-parking-spots-number-green-fort-suites       
                div.project-numbers-text Parking Spots
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center   
                div.project-numbers-end-number December 2025
                div.project-numbers-text Construction End
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Green Fort Suites
            .col-10.project-details-headline-col.p-0.text-start
                div.project-details-text Green Fort Suites is the newest residential complex of Fort Knox Company. Objectively the best and the most preferred place on the entire Bulgarian Black Sea coast.
                h3.project-details-sub-headline Location
                div.project-details-text Located in the elite district of Sunny Beach – “Zora”, the beautiful apartments offer a guaranteed sea view. Before your eyes are the central part of the Bulgarian Riviera and the entire bay of the Sunny Beach resort. From Elenite, to Robinson Beach, then to the town of Sveti Vlas and through its marina, the view moves to the coast of Sunny Beach to finally merge with the pearl of the Black Sea – the city-museum of Nessebar.
                div.project-details-text The uniqueness is in the location – the air of the wonderful mountain Stara Planina heals and brings longevity, and the sea gently rustles literally under your feet. The vacation becomes unforgettable with a beach 1-2 minutes away on foot and a fine sandy beach over 50 meters wide.
                div.project-details-text Walk along the coast to the old town of Nessebar and been fascinated by its history. Nearby is the picturesque marina of the charming town of St. Vlas, as well as numerous restaurants, supermarkets, shops and pharmacies. A ten-minute drive away are the noisy discotheques of Sunny Beach and everything you need from the city’s infrastructure for a long and peaceful stay.
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/green-fort-suites/1744367105500-green-fort-suites-building-plan.webp' alt='Building plans of Green Fort Suites')
                div.project-details-text.text-center <i>Green Fort Suites building plans</i>
                h3.project-details-sub-headline Project Features
                div.project-details-text On the territory of the complex there is provided parking for guests, including above-ground and underground parking spaces, which can be purchased in ownership. The apartments are of different sizes: one-room with an area of 40-60 meters, two-room with an area of 55-100 meters, three-room (apartments with two bedrooms, most of which have an unforgettable view of the sea) – with an area of 80 to 110 square meters. Minimum percentage of common parts. A cozy swimming pool in the center of a spacious yard, a children’s playground, a large area planned for landscaping. An office reception and 24-hour live security are available to the owners and guests of the complex.
                div.project-details-text Are you looking for an apartment for permanent residence, investment, family vacation, apartment for successful rental? Green Fort Suites – the best residential complex on the Bulgarian Black Sea coast 2025!
                h3.project-details-sub-headline Payment Plan
                div.project-details-text 10% of the price payable on signing of the preliminary contract.
                div.project-details-text 10% of the price payable after 3 months.
                div.project-details-text The remaining 80% can be paid with Fort Noks Ltd deferred payment plan:
                div.project-details-text &nbsp<strong>●</strong> Up to 1 JANUARY 2027 deferred payment plan WITHOUT interest.
                div.project-details-text &nbsp<strong>●</strong> Up to 1 JANUARY 2032 deferred payment with 3% annual interest. 
                div.project-details-text &nbsp<strong>●</strong> Up to 10 years deferred payment with 5% annual interest.
                div.project-details-text &nbsp<strong>●</strong> In case of 50% first installment at signing the preliminary contract – 3% discount of the purchase price.
                h3.project-details-sub-headline About Fort Noks Ltd
                div.project-details-text Fort Noks Ltd is established in 1995. During the years the company has been a responsible and reliable partner and became the biggest construction and management company in the Sunny Beach region. Our mission is to focus on meeting the needs of our clients by offering a wide range of holiday apartments, located in coastal holiday villages. We are committed to listening to and understanding our client`s requirements, providing professional and experienced staff.
                div.project-details-text Our complexes are located in the best Bulgarian seacoast resorts: Elenite, Saint Vlas (Sveti Vlas), Sunny Beach, Ravda, 30-40 kilometers away from the Bourgas airport.
                div.project-details-text Buying from us will grant you not only a real estate investment, but the best maintenance and management service in the area. Most of our complexes are first line with restricted access with personal magnetic cards, 24 hours security and video monitoring. There will be nothing to think about except your vacation. The infrastructure of our complexes becomes better every year, due to the constant contact between us and our clients.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline Amenities
        .row.project-amenities-row.text-end.mx-5.justify-content-start 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/pool-swimming-pool-svgrepo-com.svg' alt='Swimming pool icon')
                div.project-amenities-text(dir='rtl') Swimming Pools
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/beach-umbrella-svgrepo-com.svg' alt='Beach icon')
                div.project-amenities-text Beach
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/playground-project-icon.svg' alt='Playground icon')
                div.project-amenities-text Playground         
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-headline-col
                h2.project-map-headline Location
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.732101 data-lat=42.711554 data-title='Green Fort Suites')          

    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Available Properties In The Project
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Available Properties In The Project
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile 