extends ../base

block head
    title Mountain View Boutique
    meta(name="description" content="Discover Mountain View Boutique, a small, elegant building in Sofia's Malinova Dolina neighborhood. Close to Vitosha Mountain and the city center, it offers 1-3 bedroom homes designed for comfort, privacy, and style.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/en/project/mountain-view-boutique")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/project/mountain-view-boutique" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/project/mountain-view-boutique" hreflang="he")

    meta(property="og:title" content="Vitosha Mountain View")
    meta(property="og:description" content="Discover Mountain View Boutique, a small, elegant building in Sofia's Malinova Dolina neighborhood. Close to Vitosha Mountain and the city center, it offers 1-3 bedroom homes designed for comfort, privacy, and style.")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/mountain-view-boutique-images1736851154917-mountain-view-boutique-1.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../../he/_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="mountainBoutiqueMainImageDescription")
        span.visually-hidden(id="mountainBoutiqueMainImageDescription") An image of the Mountain View Boutique project buildings
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-mountain-boutique 
                h1.project-main-image-headline.project-main-image-headline-mountain-boutique Mountain View Boutique           
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline Gallery
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/mountain-view-boutique-images1736851154921-mountain-view-boutique-2.webp' alt='Image of the Mountain View Boutique Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/mountain-view-boutique-images1736851154945-mountain-view-boutique-3.webp' alt='Image of the Mountain View Boutique Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/mountain-view-boutique-images1736851154949-mountain-view-boutique-4.webp' alt='Image of the Mountain View Boutique Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Mountain View Boutique
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/mountain-view-boutique-images1736851154921-mountain-view-boutique-2.webp' alt='Image of the Mountain View Boutique Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/mountain-view-boutique-images1736851154945-mountain-view-boutique-3.webp' alt='Image of the Mountain View Boutique Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/mountain-view-boutique-images1736851154949-mountain-view-boutique-4.webp' alt='Image of the Mountain View Boutique Project') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-mountain-boutique          
                div.project-numbers-text Buildings        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-mountain-boutique          
                div.project-numbers-text Floors        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-mountain-boutique         
                div.project-numbers-text Apartments
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-parking-spots-number.project-numbers-parking-spots-number-mountain-boutique         
                div.project-numbers-text Parking Spots
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center   
                div.project-numbers-end-number June 2027
                div.project-numbers-text Construction End
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Mountain View Boutique
            .col-10.project-details-headline-col.p-0.text-start
                div.project-details-text Looking for a home with a great location and features? Check out one of the newest additions to SofBuildStroy's portfolio: Mountain View Boutique. The gorgeous building with an impeccable elegant look offers you meticulously designed homes with one to three bedrooms, so you have a choice according to your needs and preferences.
                div.project-details-text The facade in modern white with laminated panels and beautiful clinker bricks impresses at first sight and sets the tone for the environment, turning it into a classy space. The location is prestigious and with very good logistics. Within a few minutes there are both large hypermarkets and public transport stops, including a future metro station.
                div.project-details-text Every detail of the boutique building is impeccably planned with your optimal comfort and lifestyle in mind. The common areas will be covered with natural stone, the elevators are high-class and accessible from the basement with parking spaces and garages, and the excellent layout of the properties suggests easy furnishing and comfortable living.
                div.project-details-text Choose a promising property near Vitosha Mountain and the heart of the city in a building designed to impress.
                h3.project-details-sub-headline Location
                div.project-details-text Mountain View Boutique is located on "Professor Krikor Azaryan" Str. in one of the most rapidly developing new neighborhoods of Sofia - Malinova Dolina. The location is very convenient and provides quick access to major roads, public transport stops including a planned metro station, as well as amenities such as large chain stores, restaurants, courier offices and others. Live peacefully in a beautiful building, close to everything you need! 
                h3.project-details-sub-headline Small Boutique Building
                div.project-details-text Why live in a huge building where you will coexist with numerous people when you can preserve your privacy by choosing to live in a small, boutique complex?
                h3.project-details-sub-headline Near Vitosha Mountain
                div.project-details-text Be close to the mountain and have a natural refuge at your disposal where you can escape and relax. If you want to see the slopes from your apartment, choose a top floor apartment and your wish will be fulfilled.
                h3.project-details-sub-headline More Exclusivity
                div.project-details-text Small, boutique, elegant, impeccably planned and filled with quality materials, Mountain View Boutique is ready to offer you more. For those looking for more space, the penthouses have three-meter ceiling heights and large terraces. Live well, your way, in a building with the ideal vision and location.
                h3.project-details-sub-headline About SofBuildStroy Group
                div.project-details-text The principles on which the construction company SofBuildStroy was founded are comfort, security and high aesthetics. We plan each project precisely with the help of teams of architects and designers. We build with quality and natural materials, carefully controlling each stage of the process. We continue our mission of taking care of you by taking on the maintenance of the buildings ourselves. We create homes in which you can live well. 
                div.project-details-text Our buildings are in great demand, as the construction company SofBuildStroy offers excellently planned, beautiful and spacious apartments in buildings with exceptional timeless architecture. The locations where they are built are richly landscaped and take great care of children. This has brought the company awards for luxury construction, architecture and design in Bulgaria and abroad.
                div.project-details-text Our commitment to providing perfect homes and workspaces always drives us to constantly evolve and improve in line with global trends. Because you deserve the best! 

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline Amenities
        .row.project-amenities-row.text-end.mx-5.justify-content-start 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-train.svg' alt='Train icon')
                div.project-amenities-text Just 150m from the tram station
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-car.svg' alt='Car icon')
                div.project-amenities-text Closed Parking
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-building.svg' alt='Building icon')
                div.project-amenities-text Spacious Apartment Structure 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-building.svg' alt='Building icon')
                div.project-amenities-text Unique Boutique Design
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-building.svg' alt='Building icon')
                div.project-amenities-text Closed and Secure Compound
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-materials.svg' alt='Fabric icon')
                div.project-amenities-text High quality materials               
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-headline-col
                h2.project-map-headline Location
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=23.3402709779371 data-lat=42.641954031351645 data-title='Mountain View Boutique') 

    .container-fluid.project-installment-scheme-container
        .row.project-installment-scheme-row.text-center.mx-5.justify-content-center 
            .col-12.project-installment-scheme-healine-col
                h2.project-installment-scheme-headline Payment Plans
            .col-12.project-installment-scheme-table-col.d-lg-flex.justify-content-lg-center   
                table.table-responsive.project-installment-scheme-table
                    thead.project-installment-table-head
                        tr
                        th.project-installment-table-th(scope='col') 
                        th.project-installment-table-th(scope='col') Payment 1
                        th.project-installment-table-th(scope='col') Payment 2
                        th.project-installment-table-th(scope='col') Payment 3
                        th.project-installment-table-th(scope='col') Payment 4
                    tbody.table-group-divider
                        tr
                        th.project-installment-table-th(scope='row') Regular Plan
                        td 30% - When signing an initial contract
                        td 30% - When the project receives Act 14
                        td 30% - When the project receives Act 15
                        td 10% - When the project receives Act 16                       

    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Available Properties In The Project
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Available Properties In The Project
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile 