extends ../base

block head
    title Nessebar Fort Residence
    meta(name="description" content="Apartments for sale at Nessebar Fort Residence in Sunny Beach! Fully furnished complex with pool, quiet location near Nessebar, and flexible payment plans. Sales start April 2025!")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/en/project/nessebar-fort-residence")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/project/nessebar-fort-residence" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/project/nessebar-fort-residence" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.com/ru/project/nessebar-fort-residence" hreflang="ru")

    meta(property="og:title" content="Nessebar Fort Residence")
    meta(property="og:description" content="Apartments for sale at Nessebar Fort Residence in Sunny Beach! Fully furnished complex with pool, quiet location near Nessebar, and flexible payment plans. Sales start April 2025!")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596814-nessebar-fort-residence-2.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../../he/_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="nessebarFortResidenceMainImageDescription")
        span.visually-hidden(id="nessebarFortResidenceMainImageDescription") An image of the Nessebar Fort Residence project buildings
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-nessebar-fort-residence
                h1.project-main-image-headline.project-main-image-headline-nessebar-fort-residence Nessebar Fort Residence          
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline Gallery
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596850-nessebar-fort-residence-4.webp' alt='Image of the Nessebar Fort Residence Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596909-nessebar-fort-residence-17.webp' alt='Image of the Nessebar Fort Residence Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596918-nessebar-fort-residence-20.webp' alt='Image of the Nessebar Fort Residence Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596867-nessebar-fort-residence-8.webp' alt='Image of the Nessebar Fort Residence Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596871-nessebar-fort-residence-9.webp' alt='Image of the Nessebar Fort Residence Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596877-nessebar-fort-residence-11.webp' alt='Image of the Nessebar Fort Residence Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Nessebar Fort Residence
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596808-nessebar-fort-residence-1.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596814-nessebar-fort-residence-2.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596845-nessebar-fort-residence-3.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596850-nessebar-fort-residence-4.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596855-nessebar-fort-residence-5.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596860-nessebar-fort-residence-6.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596864-nessebar-fort-residence-7.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596867-nessebar-fort-residence-8.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596871-nessebar-fort-residence-9.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596874-nessebar-fort-residence-10.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596877-nessebar-fort-residence-11.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596883-nessebar-fort-residence-12.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596890-nessebar-fort-residence-13.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596896-nessebar-fort-residence-14.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596903-nessebar-fort-residence-15.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596907-nessebar-fort-residence-16.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596909-nessebar-fort-residence-17.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596913-nessebar-fort-residence-18.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596916-nessebar-fort-residence-19.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596918-nessebar-fort-residence-20.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596922-nessebar-fort-residence-21.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596925-nessebar-fort-residence-22.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596929-nessebar-fort-residence-23.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596933-nessebar-fort-residence-24.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596937-nessebar-fort-residence-25.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596942-nessebar-fort-residence-26.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596946-nessebar-fort-residence-27.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596951-nessebar-fort-residence-28.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596957-nessebar-fort-residence-29.webp' alt='Image of the Nessebar Fort Residence Project')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596962-nessebar-fort-residence-30.webp' alt='Image of the Nessebar Fort Residence Project')
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-nessebar-fort-residence
                div.project-numbers-text Buildings        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-nessebar-fort-residence
                div.project-numbers-text Floors        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-nessebar-fort-residence
                div.project-numbers-text Apartments
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Nessebar Fort Residence
            .col-10.project-details-headline-col.p-0.text-start
                div.project-details-text Nessebar Fort Residence – the newest real estate opportunity on Bulgaria’s Black Sea coast!
                div.project-details-text Apartments for sale in Sunny Beach – sales start in April 2025!
                div.project-details-text The complex is fully completed – receive your keys on the day you sign the contract.
                div.project-details-text Nessebar Fort Residence is a cozy residential complex in Sunny Beach, Bulgaria, located on the border with the historic town of Nessebar. Just a short walk to the beach, this gated community offers fully furnished apartments, ideal for both permanent living and rental income. Here, you’ll enjoy tranquility, comfort, and convenience, with everything you need within walking distance – from supermarkets, restaurants and entertainment to medical centers and sports facilities.
                div.project-details-text The complex features a swimming pool, green areas, and a children’s playground.
                div.project-details-text The Fort Noks concept ensures safety, comfort, and a perfect environment for families.
                div.project-details-text Stylish, ready-to-move-in apartments are available with a flexible payment plan, allowing you to start using your property immediately after the first installment.
                div.project-details-text Nessebar Fort Residence – your dream home by the sea!
                h3.project-details-sub-headline Payment Plan
                div.project-details-text Standard deferred payment options:
                div.project-details-text ONLY 10 % of the price payable on signing of the preliminary contract;
                div.project-details-text Second payment 15% of the price payable 2 months after signing of the preliminary contract;
                div.project-details-text Third payment 15% of the price 4 months after signing a preliminary contract;
                div.project-details-text The remaining 60 % can be paid with Fort Noks deferred payment plan:
                div.project-details-text &nbsp<strong>●</strong> up to one year deferred payment WITHOUT interest!
                div.project-details-text &nbsp<strong>●</strong> up to 3 years deferred payment with 3.5 % annual interest
                div.project-details-text &nbsp<strong>●</strong> up to 5 years deferred payment with 6.5 % annual interest;
                div.project-details-text &nbsp<strong>●</strong> In case of 50% first installment at signing the preliminary contract – 2% discount of the purchase price
                div.project-details-text &nbsp<strong>●</strong> In case of full payment within two months from the date of signing the Preliminary Contract, a 3% discount is provided.
                div.project-details-text &nbsp<strong>●</strong> The apartment can be used /rented/ after 10%&nbspf the purchase price is paid.
                div.project-details-text Signing of the Notary act takes place after full payment for the apartment.
                h3.project-details-sub-headline About Fort Noks Ltd
                div.project-details-text Fort Noks Ltd is established in 1995. During the years the company has been a responsible and reliable partner and became the biggest construction and management company in the Sunny Beach region. Our mission is to focus on meeting the needs of our clients by offering a wide range of holiday apartments, located in coastal holiday villages. We are committed to listening to and understanding our client`s requirements, providing professional and experienced staff.
                div.project-details-text Our complexes are located in the best Bulgarian seacoast resorts: Elenite, Saint Vlas (Sveti Vlas), Sunny Beach, Ravda, 30-40 kilometers away from the Bourgas airport.
                div.project-details-text Buying from us will grant you not only a real estate investment, but the best maintenance and management service in the area. Most of our complexes are first line with restricted access with personal magnetic cards, 24 hours security and video monitoring. There will be nothing to think about except your vacation. The infrastructure of our complexes becomes better every year, due to the constant contact between us and our clients.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline Amenities
        .row.project-amenities-row.text-end.mx-5.justify-content-start 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/pool-swimming-pool-svgrepo-com.svg' alt='Swimming pool icon')
                div.project-amenities-text(dir='rtl') Swimming Pools
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/hotel-staff-svgrepo-com.svg' alt='Lobby worker icon')
                div.project-amenities-text(dir='rtl') Lobby Services
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/beach-umbrella-svgrepo-com.svg' alt='Beach icon')
                div.project-amenities-text Beach     
    
    .container-fluid.project-mid-image-container.project-mid-image-container-nessebar-fort-residence(role="img" aria-labelledby="nessebarFortResidenceMidImageDescription")
        span.visually-hidden(id="nessebarFortResidenceMidImageDescription") Images of the Nessebar Fort Residence project
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-headline-col
                h2.project-map-headline Location
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.704319345094927 data-lat=42.70120308009148 data-title='Nessebar Fort Residence')  

    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Available Properties In The Project
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Available Properties In The Project
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile 