extends ../base

block head
    title Villa Margarita
    meta(name="description" content="Discover Villa Margarita, an exclusive residential project in Sveti Vlas, just 300 meters from the beach. Boutique 5-story building with sea and mountain views, offering studio to 2-bedroom apartments. Prices start at €39,000. Completion by December 2025.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/en/project/villa-margarita")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/project/villa-margarita" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/project/villa-margarita" hreflang="he")

    meta(property="og:title" content="Villa Margarita")
    meta(property="og:description" content="Discover Villa Margarita, an exclusive residential project in Sveti Vlas, just 300 meters from the beach. Boutique 5-story building with sea and mountain views, offering studio to 2-bedroom apartments. Prices start at €39,000. Completion by December 2025.")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996715-villa-margerita-1.jpg")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../../he/_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="villaMargaritaMainImageDescription")
        span.visually-hidden(id="villaMargaritaMainImageDescription") An image of the Villa Margarita project building
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-villa-margarita
                h1.project-main-image-headline.project-main-image-headline-villa-margarita Villa Margarita

    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline Gallery
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996721-villa-margerita-2.jpg' alt='image of Villa Margarita project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996746-villa-margerita-3.jpg' alt='image of Villa Margarita project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996750-villa-margerita-4.jpg' alt='image of Villa Margarita project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")  
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996753-villa-margerita-5.jpg' alt='image of Villa Margarita project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996756-villa-margerita-6.jpg' alt='image of Villa Margarita project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996759-villa-margerita-7.jpg' alt='image of Villa Margarita project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Villa Margarita
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996721-villa-margerita-2.jpg' alt='image of Villa Margarita project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996746-villa-margerita-3.jpg' alt='image of Villa Margarita project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996750-villa-margerita-4.jpg' alt='image of Villa Margarita project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996753-villa-margerita-5.jpg' alt='image of Villa Margarita project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996756-villa-margerita-6.jpg' alt='image of Villa Margarita project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996759-villa-margerita-7.jpg' alt='image of Villa Margarita project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996772-villa-margerita-floor-sketch-pool-area.jpg' alt='image of Villa Margarita project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996768-villa-margerita-floor-sketch-ground-floor.jpg' alt='image of Villa Margarita project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996763-villa-margerita-floor-sketch-2nd-floor.jpg' alt='image of Villa Margarita project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996766-villa-margerita-floor-sketch-3rd-floor.jpg' alt='image of Villa Margarita project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/villa-margarita-images/1735041996775-villa-margerita-floor-sketch-top-floor.jpg' alt='image of Villa Margarita project')
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-villa-margarita       
                div.project-numbers-text Buildings
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-villa-margarita       
                div.project-numbers-text Floors        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-villa-margarita      
                div.project-numbers-text Apartments
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.px-xxl-2.text-center
                div.project-numbers-start-number 2025         
                div.project-numbers-text Construction End
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Villa Margarita
            .col-10.project-details-headline-col.p-0.text-start
                div.project-details-text Villa Margarita is a new residential building without maintenance fees, located at the foot of the Balkan Mountains in Sveti Vlas. The building is in the final construction stage (Act 14), with finishing work underway and expected completion by June 2025.
                div.project-details-text The project includes 72 apartments in various sizes: studio apartments, one-bedroom apartments, and two-bedroom apartments. 90% of the apartments feature balconies offering sea views. The building will be completed in a modern style, with a stone facade, glass railings, and a beautifully landscaped courtyard.
                div.project-details-text The complex is located just 300 meters from the beach and a few minutes from the Sveti Vlas marina. The apartments provide stunning views of the sea and the lush green mountains of Bulgaria.

    .container-fluid.project-mid-image-container.project-mid-image-container-villa-margarita(role="img" aria-labelledby="villaMargaritaMidImageDescription")
        span.visually-hidden(id="villaMargaritaMidImageDescription") Image of the Villa Margarita project
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-healine-col
                h2.project-map-headline Location
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.74105491423872 data-lat=42.71538494540675 data-title='Villa Margarita') 

    .container-fluid.project-installment-scheme-container
        .row.project-installment-scheme-row.text-center.mx-5.justify-content-center 
            .col-12.project-installment-scheme-healine-col
                h2.project-installment-scheme-headline Payment Plans
            .col-12.project-installment-scheme-table-col.d-lg-flex.justify-content-lg-center   
                table.table-responsive.project-installment-scheme-table
                    thead.project-installment-table-head
                        tr
                        th.project-installment-table-th(scope='col') 
                        th.project-installment-table-th(scope='col') Advance
                        th.project-installment-table-th(scope='col') Payment 1
                        th.project-installment-table-th(scope='col') Payment 2
                        th.project-installment-table-th(scope='col') Payment 3
                    tbody.table-group-divider
                        tr
                        th.project-installment-table-th(scope='row') Regular Plan
                        td Deposit - 2000 Euro
                        td 50% - Within 30 days of paying the deposit
                        td 40% - When the project receives Act 15
                        td 10% - When the project receives Act 16                 
    
    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Available Properties In The Project
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Available Properties In The Project
            each asset in projectAssets
                include ../_mobileAssetsCards    

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile 