footer
    .container-fluid
        .row.footer-row.flex-sm-row-reverse
            .col-12.footer-logo-col.text-end
                img.footer-logo-img(src='/img/footer-logo.webp' alt='DiraBulgarit logo')
            .col-12.col-sm-6.col-md-4.footer-col.footer-links-col
                div.footer-headline דירה בולגרית
                div.footer-border-container.d-flex.justify-content-end
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/' dir='rtl') עמוד ראשי
                div.footer-link-container     
                    a.footer-link(href='/search' dir='rtl') חיפוש נכס
                div.footer-link-container     
                    a.footer-link(href='/q&a' dir='rtl') שאלות ותשובות
                div.footer-link-container     
                    a.footer-link(href='/invest' dir='rtl') איך להשקיע בבולגריה    
                div.footer-link-container     
                    a.footer-link(href='/about' dir='rtl') מי אנחנו   
                div.footer-link-container     
                    a.footer-link(href='/blog' dir='rtl') חשוב לדעת   
                div.footer-link-container     
                    a.footer-link(href='/calendly' dir='rtl') תאמו פגישה   
            .col-12.col-sm-6.col-md-4.footer-col.footer-links-col  
                div.footer-headline פוליסות
                div.footer-border-container.d-flex.justify-content-end
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/terms-of-service' dir='rtl') תקנון האתר
                div.footer-link-container     
                    a.footer-link(href='/privacy' dir='rtl') מדיניות פרטיות
                div.footer-link-container     
                    a.footer-link(href='/site-map' dir='rtl') מפת האתר
            .col-12.col-sm-7.col-md-4.footer-col
                div.footer-headline צרו קשר
                div.footer-border-container.d-flex.justify-content-end
                    div.footer-border
                div.footer-text-container  
                    span.footer-text(dir='rtl') קונוסומולסקה 5, בורגס, בולגריה
                    img.footer-icon(src='/img/icons/address-location-map-svgrepo-com-white.svg' alt='Address Icon')
                div.footer-text-container   
                    span.footer-text 052-311-1172 שמעון שלמה
                    img.footer-icon(src='/img/icons/phone-svgrepo-com-white.svg' alt='Phone Icon') 
                div.footer-text-container   
                    span.footer-text יהלי סמואלס 54-971-8372 972
                    img.footer-icon(src='/img/icons/phone-svgrepo-com-white.svg' alt='Phone Icon') 
                div.footer-text-container   
                    a.footer-text(href='mailto:service@dirabulgarit.com' aria-label='Dira Bulgarit E-mail' dir='rtl') service@dirabulgarit.com
                    img.footer-icon(src='/img/icons/email-9-svgrepo-com-white.svg' alt='Email Icon')         
                div.footer-social.my-4(dir='rtl')
                    a(href='https://www.facebook.com/groups/3252186061509580' aria-label='Nadlan Israeli Bebulgaria Facebook' target="_blank")
                        svg
                            use(xlink:href='/img/icons/facebook.svg#facebook')                           
        .row.footer-copyright-row
            .col-12.footer-copyright-col.text-center
                div.footer-copyright-text כל הזכויות שמורות לדירה בולגרית &copy; 2024
                                    
                    