form.search-form
    .row.search-row.align-items-center.flex-lg-row-reverse.m-4
        .col-6.search-col.d-flex
            button.btn.btn-primary.dropdown-toggle.search-filter-dropdown--btn.search-filter-dd--btn__city.flex-fill(type='button' data-original='עיר' data-bs-toggle='dropdown' data-bs-auto-close="outside" aria-expanded='false' dir='rtl') עיר
            ul.dropdown-menu.search-filter-options-dropdown--list
                li 
                    .container-fluid
                        .row.search-filter-options--headline
                            span.search-filter-option--text ניתן לבחור מספר סוגים
                        .row.text-start.d.flex.justify-content-end 
                            .col-6.col-md-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') בורגס
                            .col-6.col-md-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') סרפובו
                            .col-6.col-md-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') סופיה
                            .col-6.col-md-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') סיינט ולאס
                            .col-6.col-md-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') סבטי ולאס
                            .col-6.col-md-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') סאני ביץ'
                            .col-6.col-md-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') נסבר
                            .col-6.col-md-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') פומריי
                            .col-6.col-md-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') אהלוי
                            .col-6.col-md-4.search-filter-options--col.d-flex 
                                button.btn.search-filter-options--btn.search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') רבדה
                            //-.col-6.col-md-4.search-filter-options--col.d-flex 
                                button.btn.search-filter-options--btn.search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') אלכסנדרובו 
                            //-.col-6.col-md-4.search-filter-options--col.d-flex 
                                button.btn.search-filter-options--btn.search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') אובזור 
                            //-.col-6.col-md-4.search-filter-options--col.d-flex 
                                button.btn.search-filter-options--btn.search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') אלניט 
                            //-.col-6.col-md-4.search-filter-options--col.d-flex  
                                    button.btn.search-filter-options--btn.search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') טנקובו
                            //-.col-6.col-md-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') לאקה
                            //-.col-6.col-md-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') קושריצה               
        .col-6.search-col.d-flex
            button.btn.btn-primary.dropdown-toggle.search-filter-dropdown--btn.search-filter-dd--btn__rooms.flex-fill(type='button' data-original='חדרים' data-bs-toggle='dropdown' data-bs-auto-close="outside" aria-expanded='false' dir='rtl') חדרים
            ul.dropdown-menu.search-filter-options-dropdown--list
                li 
                    .container.search-filter-options--container.text-center
                        .row.search-filter-options--headline
                            span.search-filter-option--text ניתן לבחור מספר סוגים
                        .row.flex-lg-row-reverse
                            .col-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__rooms.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') סטודיו
                            .col-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__rooms.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') חדר אחד
                            .col-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__rooms.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') שני חדרים
                            .col-4.search-filter-options--col.d-flex    
                                button.btn.search-filter-options--btn.search-filter--btn__rooms.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') שלושה חדרים
                            .col-4.search-filter-options--col.d-flex 
                                button.btn.search-filter-options--btn.search-filter--btn__rooms.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') ארבעה חדרים
        .col-6.search-col.d-flex
            button.btn.btn-primary.dropdown-toggle.search-filter-dropdown--btn.search-filter-dd--btn__type.flex-fill(type='button' data-original='סוג הנכס' data-bs-toggle='dropdown' data-bs-auto-close="outside" aria-expanded='false' dir='rtl') סוג הנכס
            ul.dropdown-menu.search-filter-options-dropdown--list
                li 
                    .container.search-filter-options--container.text-center
                        .row.search-filter-options--headline
                            span.search-filter-option--text ניתן לבחור מספר סוגים
                        .row.flex-lg-row-reverse
                            .col-4.search-filter-options--col.d-flex 
                                button.btn.search-filter-options--btn.search-filter--btn__type.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') דירה
                            .col-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__type.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') בית
                            .col-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__type.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') דירת גן
                            .col-4.search-filter-options--col.d-flex 
                                button.btn.search-filter-options--btn.search-filter--btn__type.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') פנטהאוז
        .col-6.search-col.d-flex
            button.btn.btn-primary.dropdown-toggle.search-filter-dropdown--btn.search-filter-dd--btn__project.flex-fill(type='button' data-original='פרויקט' data-bs-toggle='dropdown' data-bs-auto-close="outside" aria-expanded='false' dir='rtl') פרויקט
            ul.dropdown-menu.search-filter-options-dropdown--list
                li 
                    .container.search-filter-options--container.text-center
                        .row.search-filter-options--headline
                            span.search-filter-option--text ניתן לבחור מספר סוגים
                        .row
                            .col-4.search-filter-options--col.d-flex 
                                button.btn.search-filter-options--btn.search-filter--btn__project.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') Atlantis Aria
                            .col-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__project.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') Atlantis Aria 2
                            .col-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__project.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') Atlantis Aria 3
                            .col-4.search-filter-options--col.d-flex 
                                button.btn.search-filter-options--btn.search-filter--btn__project.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') Atlantis Euphoria
                            .col-4.search-filter-options--col.d-flex    
                                button.btn.search-filter-options--btn.search-filter--btn__project.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') Atlantis Resort
                            .col-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__project.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') Atlantis Barcode
                            .col-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__project.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') Atlantis L6
                            .col-4.search-filter-options--col.d-flex  
                                button.btn.search-filter-options--btn.search-filter--btn__project.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') J'Adore Secret Garden
        .col-6.search-col.d-flex
            button.btn.btn-primary.dropdown-toggle.search-filter-dropdown--btn.search-filter-dd--btn__oceanView.flex-fill(type='button' data-original='קרבה לים' data-bs-toggle='dropdown' data-bs-auto-close="outside" aria-expanded='false' dir='rtl') קרבה לים
            ul.dropdown-menu.search-filter-options-dropdown--list
                li 
                    .container-fluid.search-filter-options--container
                        .row.search-filter-options--headline
                            span.search-filter-option--text ניתן לבחור מספר סוגים
                        .row
                            .col-6.search-filter-options--col.d-flex 
                                button.btn.search-filter-options--btn.search-filter--btn__oceanView.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') עד 300 מטר
                            .col-6.search-filter-options--col.d-flex 
                                button.btn.search-filter-options--btn.search-filter--btn__oceanView.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') שורה ראשונה
                            .col-4.search-filter-options--col.d-flex 
                                button.btn.search-filter-options--btn.search-filter--btn__oceanView.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') 2 קילומטר ומעלה
                            .col-4.search-filter-options--col.d-flex 
                                button.btn.search-filter-options--btn.search-filter--btn__oceanView.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') עד 1 קילומטר
                            .col-4.search-filter-options--col.d-flex 
                                button.btn.search-filter-options--btn.search-filter--btn__oceanView.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') עד 600 מטר
        .col-6.search-col.d-flex
            button.btn.btn-primary.dropdown-toggle.search-filter-dropdown--btn.search-filter-dd--btn__price.flex-fill(type='button' data-original='מחיר' data-bs-toggle='dropdown' data-bs-auto-close="outside" aria-expanded='false' dir='rtl') מחיר
            ul.dropdown-menu.search-filter-options-dropdown--list.search-price-dropdown-list
                li
                    .row.d-flex.align-items-center.justify-content-center
                        .col-auto.d-flex                                                                               
                            input.search-input.search-price-input-max.price-input.flex-fill(type='text' data-eurosymbol='€' data-nissymbol='₪' placeholder='1,000,000' maxlength="10" dir='rtl')                                                                                                      
                        .col-auto
                            div.price-divider-container.text-center    
                                span.price-divider -     
                        .col-auto.d-flex                                                                      
                            input.search-input.search-price-input-min.price-input.flex-fill(type='text' data-eurosymbol='€' data-nissymbol='₪' placeholder='0' maxlength="10" dir='rtl') 
        .col-6.search-col.d-flex
            input.search-input.search-filter-input.search-input__id.flex-fill(type='text' placeholder='חיפוש לפי מספר נכס' aria-label='Username' aria-describedby='basic-addon1')
        .col-6.search-col.d-flex
            input.search-input.search-filter-input.search-input__name.flex-fill(type='text' placeholder='חיפוש לפי שם' aria-label='Username' aria-describedby='basic-addon1')
        .col-6.search-col.d-flex
            div.clear-search.flex-fill 
                span.clear-search--text ניקוי שדות
        .col-6.search-col.d-flex
            button.btn-search.flex-fill(type='submit') חיפוש  



