#searchModal.modal.fade.search-modal.text-center(tabindex='-1' aria-labelledby='searchModalLabel' aria-hidden='true')
    form.modal-search-form
        .modal-dialog.modal-dialog-centered.modal-fullscreen
            .search-modal-content.modal-content
                .search-modal-header.modal-header
                    .search-modal-title.modal-title.w-100.text-center חיפוש נכסים
                    button.search-modal-close-btn.btn-close(data-bs-dismiss="modal" aria-label="Close" type='button')
                .search-modal-body.modal-body
                    .row.search-modal-filters-row
                        .col-12.my-3
                            .container-fluid
                                .row.search-filter-title--headline
                                    .col-12
                                        span.search-filter-title עיר  
                                        img.search-modal-icon(src='/img/icons/map-svgrepo-com.svg' alt='Map Icon') 
                                .row.search-filter-options--headline
                                    span.search-filter-option--text ניתן לבחור מספר סוגים
                                .row.text-start.d.flex.justify-content-end 
                                    .col-6.col-md-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') סאני ביץ'
                                    .col-6.col-md-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') בורגס
                                    .col-6.col-md-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') סופיה
                                    .col-6.col-md-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') סיינט ולאס
                                    //-.col-6.col-md-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') סרפובו
                                    //-.col-6.col-md-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') סבטי ולאס
                                    //-.col-6.col-md-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') נסבר
                                    //-.col-6.col-md-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') פומריי
                                    //-.col-6.col-md-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') אהלוי
                                    //-.col-6.col-md-4.search-filter-options--col.d-flex 
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') רבדה 
                                    //-.col-6.col-md-4.search-filter-options--col.d-flex 
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') אלכסנדרובו 
                                    //-.col-6.col-md-4.search-filter-options--col.d-flex 
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') אובזור 
                                    //-.col-6.col-md-4.search-filter-options--col.d-flex 
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') אלניט 
                                    //-.col-6.col-md-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') לאקה
                                    //-.col-6.col-md-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') קושריצה
                                    //-.col-6.col-md-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__city.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') טנקובו
                        .col-12.my-3
                            .container-fluid
                                .row.search-filter-title--headline
                                    .col-12
                                        span.search-filter-title חדרים 
                                        img.search-modal-icon(src='/img/icons/living-room-sofa-svgrepo-com.svg' alt='Rooms Icon')
                                .row.search-filter-options--headline
                                    span.search-filter-option--text ניתן לבחור מספר סוגים
                                .row.flex-row-reverse
                                    .col-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__rooms.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') סטודיו
                                    .col-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__rooms.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') שני חדרים
                                    .col-4.search-filter-options--col.d-flex    
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__rooms.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') שלושה חדרים
                                    .col-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__rooms.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') ארבעה חדרים
                        .col-12.my-3
                            .container-fluid
                                .row.search-filter-title--headline
                                    .col-12
                                        span.search-filter-title קרבה לים 
                                        img.search-modal-icon(src='/img/icons/ocean-sunset-svgrepo-com.svg' alt='Ocean Sunset Icon') 
                                .row.search-filter-options--headline
                                    span.search-filter-option--text ניתן לבחור מספר סוגים
                                .row
                                    .col-6.search-filter-options--col.d-flex 
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__oceanView.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') עד 300 מטר
                                    .col-6.search-filter-options--col.d-flex 
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__oceanView.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') שורה ראשונה
                                    .col-4.search-filter-options--col.d-flex 
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__oceanView.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true' dir='rtl') 2 קילומטר ומעלה
                                    .col-4.search-filter-options--col.d-flex 
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__oceanView.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') עד 1 קילומטר
                                    .col-4.search-filter-options--col.d-flex 
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__oceanView.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') עד 600 מטר
                        .col-12.my-3
                            .container-fluid
                                .row.search-filter-options--headline
                                    span.search-filter-option--text ניתן לבחור מספר סוגים
                                .row.search-filter-title--headline
                                    .col-12
                                        span.search-filter-title פרויקט 
                                        img.search-modal-icon(src='/img/icons/building-svgrepo-com.svg' alt='Building Icon')
                                .row
                                    .col-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__project.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') Atlantis Aria
                                    .col-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__project.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') Atlantis Aria 2
                                    .col-4.search-filter-options--col.d-flex    
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__project.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') Atlantis Aria 3
                                    .col-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__project.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') Atlantis Euphoria
                                    .col-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__project.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') Atlantis Resort
                                    .col-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__project.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') Atlantis Barcode
                                    .col-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__project.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') Atlantis L6
                                    .col-4.search-filter-options--col.d-flex  
                                        button.btn.search-filter-options--btn.modal-search-filter--btn__project.flex-fill(type='button' data-bs-toggle='button' aria-pressed='true') J'Adore Secret Garden
                        .col-12.my-3
                            .container-fluid
                                .row.search-filter-title--headline
                                    .col-12
                                        span.search-filter-title מחיר 
                                        img.search-modal-icon(src='/img/icons/price-tag-svgrepo-com.svg' alt='Price Tag Icon') 
                                .row.d-flex.align-items-center.justify-content-center.flex-sm-row-reverse
                                    .col-12.col-sm-5.d-sm-flex                                                                    
                                        input.search-input.modal-search-price-input-min.price-input.flex-sm-fill(type='text' data-eurosymbol='€' data-nissymbol='₪' placeholder='0' maxlength="10" dir='rtl') 
                                    .col-12.col-sm-2
                                        div.price-divider-container  
                                            span.price-divider -     
                                    .col-12.col-sm-5.d-sm-flex                                                                                       
                                        input.search-input.modal-search-price-input-max.price-input.flex-sm-fill(type='text' data-eurosymbol='€' data-nissymbol='₪' placeholder='10,000,000' maxlength="10" dir='rtl')                                                                                                      
                        .col-12.my-3
                            .container-fluid
                                .row.search-filter-title--headline
                                    .col-12.my-3
                                        span.search-filter-title מספר נכס  
                                        img.search-modal-icon(src='/img/icons/hashtag-svgrepo-com.svg' alt='Hashtag Icon') 
                                    .col-12.d-flex
                                        input.search-input.search-filter-input.modal-search-input__id.flex-fill(type='text' placeholder='חיפוש לפי מספר נכס' aria-label='Username' aria-describedby='basic-addon1')  
                        .col-12.my-3
                            .container-fluid
                                .row.search-filter-title--headline
                                    .col-12.my-3
                                        span.search-filter-title שם 
                                        img.search-modal-icon(src='/img/icons/building-svgrepo-com.svg' alt='Building Icon')  
                                    .col-12.d-flex
                                        input.search-input.search-filter-input.modal-search-input__name.flex-fill(type='text' placeholder='חיפוש לפי שם' aria-label='Username' aria-describedby='basic-addon1')
                .search-modal-footer.modal-footer
                    .row.d-flex.justify-content-center
                        .col-6.search-col.d-flex
                            div.clear-search.flex-fill.align-content-center 
                                span.clear-search--text ניקוי שדות
                        .col-6.search-col.d-flex
                            button.btn-search.flex-fill(type='submit') חיפוש  

