doctype html 
html(lang="en") 
    head 
        block head
            include _headLinksScripts

    body
        .container-fluid.main-container
            .row.main-row
                .col-12.header-col
                    // HEADER
                    include _header 
                .col-12.content-col
                    <div id="whatsapp-widget" class="whatsapp-widget position-fixed bottom-0 start-0">
                        <a href="https://wa.me/972523111172" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" id="whatsapp-icon">
                        </a>
                    </div>    
                    // Content
                    block content                   
                .col-12.footer-col        
                    // FOOTER                   
                    include _footer
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-T3DVRVC2' height='0' width='0' style='display:none;visibility:hidden')

        
    