extends base 

block content

    .container.py-5
        .row.calendly-row.mx-4
            .col.calendly-col
                div.calendly-text-container.text-center 
                    h1.calendly-text-headline(dir='rtl') אתם מוזמנים ליצור איתנו קשר!
                    div.calendly-text(dir='rtl')  בחרו את התאריך והזמן שהכי נוחים לכם מהאפשרויות הפתוחות.            
                    div.calendly-widget-container
                        <div class="calendly-inline-widget" data-url="https://calendly.com/d/cpyw-n8j-8fp/adasdd?text_color=5c5e64&primary_color=2289ff"></div>
                        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>



                
