extends base 

block content

    .container-fluid.error-main-container
        .row.error-row.align-items-center.mx-4.py-xxl-5
            .col-12.col-md-6.error-text-col 
                div.error-headline(dir='rtl') 404
                div.error-border
                div.error-text(dir='rtl') אופס! אנחנו לא מוצאים את הדף שחיפשתם.
                button.error-btn לעמוד הבית
                div.error-msg= msg
            .col-12.col-md-6.d-md-flex.justify-content-md-center.error-img-col      
                img.error-img.img-fluid(src='/img/error-page-image.jpg' alt='A peer with sunset background')