extends base 

block content

    .container-fluid.invest-main-container
        .row.invest-headline-row
            .col.invest-headline-col 
                img.invest-headline-img(src='/img/sectionCover-3.webp' alt='Burgas image') 
                div.invest-headline המדריך המלא להשקעה נכונה בבולגריה
                button.section-headline-cta-btn.to-calendly-btn תאמו פגישה 

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center
            .col-10.invest-content-text-col
                div.invest-content-big-title(dir='rtl') בולגריה מדינה בצמיחה
                div.invest-content-text(dir='rtl') בולגריה, מדינה הידועה בהיסטוריה העשירה, הנופים המדהימים והמיקום האסטרטגי שלה בדרום מזרח אירופה, הפכה ליעד אטרקטיבי עבור משקיעי נדל"ן. המדינה מציעה מגוון של הזדמנויות מדירות עיר שוקקות ועד לנכסי חוף והרים שלווים. מדריך זה נועד לספק סקירה כללית של שוק הנדל"ן בבולגריה, תוך הדגשת גורמי מפתח, סוגי נכסים, שיקולים משפטיים וטיפים להשקעה.
    
    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                div.invest-content-title(dir='rtl') למה להשקיע בבולגריה?
                div.invest-content-text(dir='rtl') <strong>מחיר אטרקטיבי</strong>: מחירי הנכסים בבולגריה נמוכים בדרך כלל בהשוואה למערב אירופה, מה שמעניק תמורה טובה לכסף.
                div.invest-content-text(dir='rtl') <strong>כלכלה צומחת</strong>: כלכלת בולגריה צומחת בהתמדה, עם הגדלת השקעות זרות ישירות ושיפור התשתיות. לפי תחזית האיחוד האירופי התל"ג הבולגרי צפוי לצמוח ב1.9% בשנת 2024 וב2.9% בשנת 2025.
                div.invest-content-text(dir='rtl') <strong>חברות באיחוד האירופי</strong>: כחברה באיחוד האירופי, בולגריה מציעה יציבות וגישה קלה יותר לשווקים אחרים של האיחוד האירופי.
                div.invest-content-text(dir='rtl') <strong>תיירות</strong>: תעשיית התיירות של בולגריה פורחת, במיוחד באתרי סקי כמו בנסקו ואזורי החוף לאורך הים השחור, ויוצרת הזדמנויות השכרה משתלמות לטווח קצר.
                div.invest-content-text(dir='rtl') <strong>מיסוי נוח</strong>: לבולגריה יש את אחד משיעורי מס החברות הנמוכים באיחוד האירופי, בשיעור של 10%, וללא מס רכוש ליחידים על הנכס הראשון שלהם.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col.text-center
                img.invest-img.img-fluid(src='/img/bulgaria-gdp.jpg' alt='Bulgaria gdp chart image')
                div.invest-content-text  <i> תרשים תל"ג בולגריה (1980-2022) </i>     

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                div.invest-content-title(dir='rtl') סוגי נכסים
                div.invest-content-text(dir='rtl') <strong>נכסי מגורים</strong>: דירות, בתים ווילות בערים, עיירות ואזורים כפריים.
                div.invest-content-text(dir='rtl') <strong>נכסים מסחריים</strong>: שטחי משרדים, חנויות קמעונאיות, בתי מלון ומבני תעשייה.
                div.invest-content-text(dir='rtl') <strong>בתי נופש</strong>: נכסים ביעדי תיירות כמו אתרי סקי, אזורי חוף ועיירות היסטוריות.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                div.invest-content-title(dir='rtl') אזורי ביקוש
                div.invest-content-text(dir='rtl') <strong>סופיה</strong>: עיר הבירה היא מיקום מעולה להשקעות מגורים ומסחר בשל הכלכלה הצומחת שלה, השירותים המודרניים והאטרקציות התרבותיות. 
                div.invest-content-text(dir='rtl') <strong>פלובדיב</strong>: ידועה בהיסטוריה העשירה ובתרבות התוססת שלה, פלובדיב היא גם מרכז צומח לסטארט-אפים טכנולוגיים ולעסקים.
                div.invest-content-text(dir='rtl') <strong>ורנה</strong>: "בירת הים" של בולגריה מציעה הזדמנויות מצוינות הן בנכסי מגורים והן בנכסי נופש.
                div.invest-content-text(dir='rtl') <strong>בורגס</strong>: עיר חוף מרכזית נוספת עם שוק נדל"ן צומח.
                div.invest-content-text(dir='rtl') <strong>בנסקו</strong>: עיירת נופש פופולרית, אידיאלית לבתי נופש ולהשכרה לטווח קצר.
                div.invest-content-text(dir='rtl') <strong>סאני ביץ'</strong>: אחד מאתרי הנופש הפופולריים ביותר על חוף הים, מושלם עבור השכרות נופש ונכסים להשקעה.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                div.invest-content-title(dir='rtl') נושאים משפטיים
                div.invest-content-text(dir='rtl') <strong>בעלות</strong>: אזרחים שאינם באיחוד האירופי יכולים לקנות מבנים אך לא קרקע. עם זאת, הקמת חברה בולגרית יכולה לעקוף מגבלה זו, ולאפשר רכישת קרקע.
                div.invest-content-text(dir='rtl') <strong>גילוי נאות</strong>: חשוב לערוך בדיקות יסודיות לגבי נכסים, חובות וסוגיות משפטיות. מומלץ לקחת שירותי בעל מקצוע מקומי לסיוע.
                div.invest-content-text(dir='rtl') <strong>רישום נכסים</strong>: כל עסקאות הנכס חייבות להירשם במרשם הנכסים הבולגרי.
                div.invest-content-text(dir='rtl') <strong>כתבי נוטריון</strong>: יש לסגור את העסקאות בפני נוטריון, אשר מוודא את ההיבטים המשפטיים של המכירה.
                div.invest-content-text(dir='rtl') <strong>העברת ורישום בעלות</strong>: נע בדרך כלל בין 2% ל-3% מערך הנכס.
                div.invest-content-text(dir='rtl') <strong>שכר טרחת נוטריון</strong>: כ-0.1% עד 1.5% מערך הנכס.
                div.invest-content-text(dir='rtl') <strong>מס רכוש שנתי</strong>: משתנה לפי עירייה אך הוא בדרך כלל בין 0.15% ל-0.45% מערך המס של הנכס.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col.text-center
                img.invest-img.img-fluid(src='/img/SozopolBulgaria.webp' alt='Sozopol image') 
    
    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                div.invest-content-big-title(dir='rtl') חוקי הבנייה בבולגריה
                div.invest-content-text(dir='rtl') ניתן לרכוש נכס מוכן בבולגריה, למשל דירות בבניין ישן או חדש שבו כבר מתגוררים אנשים אשר כעת נמכר לאדם אחר. עם זאת, רכישת בנייה חדשה הופכת פופולרית יותר ויותר.
                div.invest-content-text(dir='rtl') רכישת דירה בבניין שעדיין לא נבנה בפועל זולה משמעותית. הקונה פועל כמשקיע שרוצה לקבל את כל הערבויות שהכספים לא יאבדו, ולכן קיימים חוקים מפורטים אשר מפקחים על תהליך הבנייה מתחילתו ועד אישור הנכס הסופי. אם החלטתם לקנות נכס ואתם מתחילים לסקור את השוק סביר להניח שתיתקלו בצירופי המילים שהם חלק בלתי נפרד מענף הבנייה הבולגרית - אקט 14, אקט 15 ואקט 16. הרבה זרים המבקשים לקנות נכס בבולגריה לא מכירים את חלק זה של הרכישה ולכן בחרנו להביא בפניכם מידע מדויק בנושא.
                div.invest-content-text(dir='rtl') אקט (שטר, פרוטוקול) 14, 15 ו-16 הם השלבים העיקריים שבניין חדש שנבנה צריך לעבור לפני העברת הזכויות לדיירים החדשים. מטרת החוקים היא לשלוט בשלבים הנפרדים של תהליך הבנייה ולבדוק האם סוגי עבודות הבנייה וההתאמות השונות נעשות בהתאם לתהליכים שאושרו.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                div.invest-content-title(dir='rtl') אקט 2
                div.invest-content-text(dir='rtl') כדי לקבל אקט 2 יש צורך להכין פרויקט השקעה על בסיס אשרת עיצוב שהונפקה וסוכמה עם החברות המבצעות. הפרויקט המוכן על כל חלקיו מוגש לאישור העירייה הרלוונטית, בצירוף דו"ח עמידה בפוריקטי ההשקעה, ערוך על ידי החברה המפקחת המורשית. לאחר אישור הפרויקטים ולאחת תשלום האגרות העירוניות הרלוונטיות, ניתן היתר בניה.
                div.invest-content-text(dir='rtl') היתר הבניה הינו מסמך חובה לביצוע הבנייה החוקית. ניתן לבצע מספר מבנים רק אם הם מותרים לפי חוק התכנון השטחי.
                div.invest-content-text(dir='rtl') לאחר קבלת היתר הבנייה יש לעמוד בתנאים הבאים לפני תחילת פעולות הבנייה:
                div.invest-content-text(dir='rtl') • היתר בנייה נכנס לתוקף;
                div.invest-content-text(dir='rtl') • חוזה שנחתם עם חברת פיקוח בנייה מורשית;
                div.invest-content-text(dir='rtl') • נכרת חוזה עם בנאי הרשום במרשם המקצועי המרכזי של הבונים בבולגריה (CPRS) ובלשכת הבונים בבולגריה (KSB);
                div.invest-content-text(dir='rtl') • חוזה שנחתם עם אדריכל לפיקוח על זכויות יוצרים;
                div.invest-content-text(dir='rtl') • תוכנית מאושרת לניהול פסולת בניין (CWMP) ותוכנית בריאות ובטיחות מאושרת (HSP);
                div.invest-content-text(dir='rtl') • נוכחות עובד מהנהלת העירייה;
                div.invest-content-text(dir='rtl') ניתן להתחיל בבנייה לאחר חתימה על טופס פרוטוקול 2 - לפתיחת אתר בנייה ופתיחת קו הבנייה והמפלס בנוכחות פקיד עירייה.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                div.invest-content-title(dir='rtl') אקט 14 
                div.invest-content-text(dir='rtl') אקט 14 הוא השלב הראשון בבקר על עבודות הבנייה והמסמך מונפק כאשר הבניין מגיע לשלב המעטפת. אקט 14 קשור לקבלה לתהליך הבנייה. הוא נערך ונחתם על ידי המשקיע, מנהל הפרויקט (פיקוח מבנים) והאדריכל.
                div.invest-content-text(dir='rtl') זהו שלב חשוב שכן מרגע הוצאתו זכות הבעלות על היחידות הנפרדות בבניין היא תחילת תהליך חלוקה לתתי חלקות.
                div.invest-content-text(dir='rtl') לרוב זמן ההגעה לאקט 14 הוא שנה מרגע עליה על הקרקע.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                div.invest-content-title(dir='rtl') אקט 15 
                div.invest-content-text(dir='rtl') השלב הבא הוא אקט 15, זהו המסמך המוודא שהסתיימה הבניה בבניין. המסמך נערך על ידי המשקיע, הבונה, מנהל הפרויקטים והאדריכל.
                div.invest-content-text(dir='rtl') מטרת האקט היא לאשר את מוכנות הבניין לאיכלוס. המסמך חתום הן על ידי הגורמים המוסמכים והן על ידי בעלי היחידות בבניין.
                div.invest-content-text(dir='rtl') לאחרת סיום הבנייה עורכים כל גורמי הפרויקט ועדה שמאשרת כי הבנייה נעשתה בהתאם לפרויקטי הההשקעה המאושרים, על פי תוכנית ההיתר שהוגשה, ובהתאם לדרישות הקשורות לפרויקט. אקט 15 הינו תחת אקט 169, סעיף 1 ו-2 ותנאי ההסכם לבניה. המשמעות היא שהבניין נמסר מהיזם למהנדס המאשר.
                div.invest-content-text(dir='rtl') לרוב המרחק בין אקט 14 לאקט 15 הוא כ-15 חודשים. המסמך המוגש מכיל את תיאורי החוזים לביצוע הבנייה, תיעוד הביצוע וכמו כן את הפעולות והפרוטוקולים שנקבעו בתהליך הבנייה. כחלק מהכנת המסמך יש לכלול גם את תיק הבנייה של האתר, פרוטוקולים, יומנים, הצהרות התכתבות ומסמכים נוספים הנדרשים לפי האקט הנורמטיבי המתאים. בשלב זה מבוצע מלאי של האתר והסביבה בה נערכה הבנייה כדי לבדוק האם היא הוחזרה למצב בו הייתה לפני תחילת העבודות. כמו כן, נעשת רשימת מלאי של אותן עבודות שנותרו לא גמורות או שלא הסתיימו היטב ושיש לתקנן באמצעות הגשת הבקשה למתן תעודת מגורים.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                div.invest-content-title(dir='rtl') אקט 16 
                div.invest-content-text(dir='rtl') אקט 16 הוא המסמך הנחשק ביותר על ידי בעלי הנכס החדשים, זוהי למעשה תעודת מגורים. בהתבסס על אקט 16, המנהלת האזורים הרלוונטית לפיקוח בנייה לאומי מנפיקה את תעודת המגורים.
                div.invest-content-text(dir='rtl') תעודת מגורים היא האקט האחרון לבניית הבניין והיא מאשר שהבניין מתאים למגורים. התנאי העיקרי לקבלת אקט 16 הוא שלא נמצא פער כלשהו בין המבנה בפועל, לבין תוכניות ההיתר.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col.text-center
                img.invest-img.img-fluid(src='/img/varna.webp' alt='varna image') 

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                div.invest-content-big-title(dir='rtl') טיפים שלנו להשקעה נכונה בבולגריה
                div.invest-content-text.my-3(dir='rtl') <strong> 1. תכנון</strong>:  
                div.invest-content-text(dir='rtl') •	זהו את הדרישות שלכם.
                div.invest-content-text(dir='rtl') •	קבעו את הגודל, הפריסה והמיקום הרצויים של הדירה.
                div.invest-content-text(dir='rtl') •	שיקלו קרבה למתקנים כמו בתי ספר, תחבורה ציבורית ומרכזי קניות.  
                div.invest-content-text.my-3(dir='rtl') <strong> 2. מחקר שוק</strong>:  
                div.invest-content-text(dir='rtl') •	חקרו את שוק הנדל"ן בבולגריה.
                div.invest-content-text(dir='rtl') •	חפשו קבלנים ויזמים בעלי מוניטין.
                div.invest-content-text(dir='rtl') •	בידקו ביקורות ופרויקטים קודמים של קבלנים פוטנציאליים. 
                div.invest-content-text.my-3(dir='rtl') <strong> 3. מצאו נכס מתאים</strong>:  
                div.invest-content-text(dir='rtl') •	בקרו באתרי נדל"ן וברישומי נכסים מקוונים.
                div.invest-content-text(dir='rtl') •	השתתפו בתערוכות נכסים ובבתים פתוחים.
                div.invest-content-text(dir='rtl') •	התייעצו עם בעלי מקצוע מקומיים בתחום הנדל"ן המתמחים בפרויקטים חדשים.      
                div.invest-content-text(dir='rtl') •	בקרו באולמות תצוגה ובאתרי בנייה.     
                div.invest-content-text(dir='rtl') •	בדקו את איכות החומרים והבנייה.      
                div.invest-content-text(dir='rtl') •	שאלו על ציר הזמן לסיום אם הנכס עדיין בבנייה.     
                div.invest-content-text(dir='rtl') •	קבלו תוכנית של השכונה והפיתוחים העתידיים באזור.     
                div.invest-content-text.my-3(dir='rtl') <strong> 4. אמתו את הקבלן והפרויקט</strong>:  
                div.invest-content-text(dir='rtl') •	חקרו את ההיסטוריה והמוניטין של הקבלן.
                div.invest-content-text(dir='rtl') •	חפשו ביקורות והמלצות של קונים קודמים.
                div.invest-content-text(dir='rtl') •	בדקו האם יש בעיות משפטיות או תלונות נגד הקבלן.    
                div.invest-content-text(dir='rtl') •	ודאו שלפרויקט יש את כל ההיתרים והאישורים הדרושים.
                div.invest-content-text(dir='rtl') •	ודאו כי לקבלן יש זכות למכור את הנכס.
                div.invest-content-text(dir='rtl') •	בקשו את העלות הכוללת של הדירה, כולל מחיר הרכישה, מיסים ועמלות נוספות.   
                div.invest-content-text(dir='rtl') •	בקשו פריסת תשלומים מפורטת במידה והדירה בבנייה.   
                div.invest-content-text.my-3(dir='rtl') <strong> 5. הליך משפטי</strong>:  
                div.invest-content-text(dir='rtl') •	הזמינו עורך דין מקרקעין מקומי שיסייע בהיבטים המשפטיים של הרכישה.
                div.invest-content-text(dir='rtl') •	ודאו שעורך הדין מנוסה בדיני המקרקעין הבולגריים.
                div.invest-content-text(dir='rtl') •	לאחר שבחרתם נכס, חתמו על חוזה ראשוני (הסכם מכר ראשוני). חוזה זה מתאר את תנאי המכירה, לרבות לוחות זמנים לתשלומים, תאריך סיום, וקנסות בגין עיכובים.     
                div.invest-content-text.my-3(dir='rtl') <strong> 6. גילוי נאות</strong>:  
                div.invest-content-text(dir='rtl') •	ערכו בדיקה יסודית של הנכס, גם אם הוא חדש. בדקו אם יש ליקויי בנייה או בעיות.
                div.invest-content-text(dir='rtl') •	הזמינו בודק מקצועי במידת הצורך.
                div.invest-content-text(dir='rtl') •	ודאו שהנכס נקי מכל שעבוד או חובות משפטיות
                div.invest-content-text.my-3(dir='rtl') <strong> 7. סיום הרכישה</strong>:  
                div.invest-content-text(dir='rtl') •	עם השלמת הרכישה, ייחתם חוזה רכישה סופי (שטר נוטריון), על חוזה זה להיחתם בנוכחות נוטריון.
                div.invest-content-text(dir='rtl') •	בצעו את התשלום הסופי בהתאם ללוח הזמנים המוסכם.
                div.invest-content-text(dir='rtl') •	ודאו שכל התשלומים מתועדים כראוי ומתקבלות קבלות.  
                div.invest-content-text.my-3(dir='rtl') <strong> 8. רישום והעברה</strong>:  
                div.invest-content-text(dir='rtl') •	הנוטריון ירשום את הרכישה בלשכת רישום הנכסים הבולגרית, תהליך זה מעביר אליכם בעלות באופן חוקי.
                div.invest-content-text(dir='rtl') •	רישמו את הנכס בעירייה המקומית לצורכי מס.
                div.invest-content-text(dir='rtl') •	עדכנו את רישיון השהייה שלכם במידת הצורך. 
                div.invest-content-text.my-3(dir='rtl') <strong> 9. שיקולים לאחר רכישה</strong>: 
                div.invest-content-text(dir='rtl') •	ערכו הדרכה אחרונה כדי לוודא שהכל בהתאם לחוזה.
                div.invest-content-text(dir='rtl') •	השיגו את כל המפתחות, המסמכים והערבויות הדרושים.
                div.invest-content-text(dir='rtl') •	הגדירו כלי שירות כמו מים, חשמל ואינטרנט. 
                div.invest-content-text(dir='rtl') •	דאגו להובלה וריהוט הדירה.
                div.invest-content-text.my-4(dir='rtl') לאורך כל התהליך חשוב מאוד לשמור על <strong>תקשורת</strong> ברורה עם הקבלן ועל <strong>תיעוד</strong> של כל המסמכים, החוזים וההתכתבויות (שמרו עותקים!). על ידי ביצוע שלבים אלה ועבודה עם אנשי מקצוע בעלי מוניטין, תוכלו לרכוש בהצלחה דירה חדשה מקבלן בבולגריה, תוך הקפדה על עסקה חלקה ובטוחה.
                
    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                div.invest-content-big-title(dir='rtl') אז איך אנחנו יכולים לעזור?
                div.invest-content-text(dir='rtl') כפי שניתן לראות תהליך רכישת נכס בבולגריה יכול להיות מרתיע ללא הכלים הנכונים לכן ב<strong>"דירה בולגרית - נדל"ן ישראלי בבולגריה"</strong>, אנו מספקים תהליך מקיף ויעיל לישראלים המעוניינים להשקיע בנדל"ן בולגרי. המומחיות שלנו מבטיחה חוויה חלקה מההתחלה ועד הסוף, המותאמת לצרכים הספציפיים של כל לקוח, <strong>ונלווה אתכם לאורך כל תהליך הרכישה</strong>:
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/one-open-svgrepo-com.svg' alt='Number one icon')          
                div.invest-content-title.text-center(dir='rtl') זיהוי הנכס
                div.invest-content-text(dir='rtl') התהליך שלנו מתחיל בהבנה מפורטת של הדרישות וההעדפות שלכם. תוך ניצול ידע השוק העמוק והרשת הענפה שלנו, אנו מאתרים נכסים התואמים את הקריטריונים שלכם, ומבטיחים את מציאת ההשקעה המושלמת.
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/two-open-svgrepo-com.svg' alt='Number two icon')          
                div.invest-content-title.text-center(dir='rtl') משא ומתן
                div.invest-content-text(dir='rtl') לאחר זיהוי נכס פוטנציאלי, אנו ממשיכים במשא ומתן בשמכם. הצוות שלנו מתמודד ישירות עם היזמים כדי להבטיח את התנאים הנוחים ביותר, ומבטיח שהאינטרסים שלכם מיוצגים בצורה מיטבית ששומרת על האינטרסים שלכם ומבטיחה השקעה בטוחה.
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/three-open-svgrepo-com.svg' alt='Number three icon')          
                div.invest-content-title.text-center(dir='rtl') ייצוג משפטי
                div.invest-content-text(dir='rtl') כדי להגן על ההשקעה שלכם, אנו מתואמים עם עורכי דין בולגריים בעלי מוניטין המתמחים בעסקאות נדל"ן. עורכי דין אלה מייצגים אתכם באופן בלעדי ומנסחים ובודקים את כל המסמכים החוזיים כדי להבטיח שהם מקיפים ותקינים מבחינה משפטית.
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/four-open-svgrepo-com.svg' alt='Number four icon')          
                div.invest-content-title.text-center(dir='rtl') שירותים נוטריוניים
                div.invest-content-text(dir='rtl') אנו מלווים אתכם אל משרד הנוטריון להשלמת העסקה. שלב זה כולל אימות כל המסמכים המשפטיים כדי להבטיח העברת בעלות מדוייקת ומאובטחת על שמכם.
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/five-open-svgrepo-com.svg' alt='Number five icon')          
                div.invest-content-title.text-center(dir='rtl') הגדרת שירותים
                div.invest-content-text(dir='rtl') לאחר הרכישה, אנו מסייעים בהמרת כל חשבונות השירות, כולל החשמל, לשמכם. הצוות שלנו מטפל בכל פרט ומבטיח שהנכס החדש שלכם פעיל במלואו ומוכן לאכלוס.
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/six-open-svgrepo-com.svg' alt='Number six icon')          
                div.invest-content-title.text-center(dir='rtl') בחירות דייר
                div.invest-content-text(dir='rtl') אנו מבינים את החשיבות של מציאת דייר אמין. השירותים שלנו כוללים שיווק הנכס, סינון שוכרים פוטנציאליים והבטחה שאנו בוחרים אדם שעומד בסטנדרטים.
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/seven-open-svgrepo-com.svg' alt='Number seven icon')          
                div.invest-content-title.text-center(dir='rtl') ניהול השכירות
                div.invest-content-text(dir='rtl') המחויבות שלנו משתרעת מעבר להצבת דיירים. אנו מנהלים את כל ההיבטים של הסכם השכירות, מבטיחים גביית שכר דירה בזמן, ומקיימים פיקוח שוטף על תשלומי שכר הדירה. אנו גם מאפשרים את העברת התשלום מראש כדי להבטיח את האינטרסים הפיננסיים שלכם.
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/eight-open-svgrepo-com.svg' alt='Number eight icon')          
                div.invest-content-title.text-center(dir='rtl') תמיכה וזמינות מתמשכת
                div.invest-content-text(dir='rtl') אנו מאמינים בבניית קשרים מתמשכים עם הלקוחות שלנו. הצוות שלנו נשאר זמין עבורכם באופן מלא, מספק עדכונים שוטפים ושקט נפשי. אנו מחויבים לספק שירות יוצא דופן ולהבטיח שאתם מרגישים נתמכים בכל שלב.    
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/achievement-svgrepo-com.svg' alt='Man with key icon')          
     
    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                div.invest-content-big-title.text-center(dir='rtl') לסיכום
                div.invest-content-text(dir='rtl') בבחירת <strong>"דירה בולגרית - נדל"ן ישראלי בבולגריה"</strong>, אתם שותפים לצוות שמחויב לספק מצוינות ולמקסם את ההשקעה שלכם בשוק הנדל"ן הבולגרי. גישת השירות המלא שלנו מבטיחה שכל פרט מנוהל בצורה מקצועית, ומעניקה לכם את החופש ליהנות מהיתרונות של ההשקעה שלכם ללא הטרדות האופייניות של ניהול נכסים. <strong>אז למה אתם מחכים? לחצו על הכפתור וקבעו פגישת וידאו בזמן שהכי מתאים לכם</strong>.
                div.invest-button-container.text-center
                    button.btn-cta.reviews-cta-btn.to-calendly-btn תאמו פגישה  
                           
       
        