extends base 

block head
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content

    .container-fluid.pricing-container.py-5              
        .row.mx-4.justify-content-center.pricing-headline-row
            .col-12.pricing-maintext-col.text-center
                h1.pricing-headline מחירון חבילות ליווי                        
        .row.mx-4.justify-content-center.pricing-cards-row.flex-md-row-reverse               
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5.p-xxs-0.p-med-1
                .card.pricing-card-basic
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12
                                    .card-title.pricing-card-main-title(dir='rtl') בסיס
                                    .card-title.pricing-card-secondary-title(dir='rtl') איתור הנכס ואיסוף מסמכים
                                    .card-title.pricing-card-tertiary-title(dir='rtl') 3000€ + מע"מ
                                .col-12.my-5
                                    div.card-text-container.text-end
                                        span.pricing-card-text איתור נכס על פי נתוני ודרישות הלקוח
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי') 
                                    div.card-text-container.text-end       
                                        span.pricing-card-text סיור פיזי או סיור און ליין
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי')
                                    div.card-text-container.text-end
                                        span.pricing-card-text בדיקה משפטית של הנכס 
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי')
                                    div.card-text-container.text-end    
                                        span.pricing-card-text ליקוט ניירת משפטית של הנכס 
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי')
                                    div.card-text-container.text-end  
                                        span.pricing-card-text כתיבת חוזה ראשוני עם עורך דין 
                                        img.card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון סימן איקס')
                                    div.card-text-container.text-end    
                                        span.pricing-card-text כתיבת וחתימת חוזה סופי בלשכת נטוריון
                                        img.card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון סימן איקס')
                                    div.card-text-container.text-end    
                                        span.pricing-card-text ליווי הלקוח בפתיחת חשבון בנק 
                                        img.card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון של סימן איקס')
                                    div.card-text-container.text-end    
                                        span.pricing-card-text השכרת הנכס וניהול הנכס 
                                        img.card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון של סימן איקס')                                      
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5
                .card.pricing-card-plus
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12
                                    .card-title.pricing-card-main-title(dir='rtl') פלוס
                                    .card-title.pricing-card-secondary-title(dir='rtl') סגירת חוזה ופתיחת חשבון בנק
                                    .card-title.pricing-card-tertiary-title(dir='rtl') 3990€ + מע"מ
                                .col-12.my-5
                                    div.card-text-container.text-end
                                        span.pricing-card-text איתור נכס על פי נתוני ודרישות הלקוח
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי') 
                                    div.card-text-container.text-end       
                                        span.pricing-card-text סיור פיזי או סיור און ליין
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי')
                                    div.card-text-container.text-end
                                        span.pricing-card-text בדיקה משפטית של הנכס 
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי')
                                    div.card-text-container.text-end    
                                        span.pricing-card-text ליקוט ניירת משפטית של הנכס 
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי')
                                    div.card-text-container.text-end  
                                        span.pricing-card-text כתיבת חוזה ראשוני עם עורך דין 
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי')
                                    div.card-text-container.text-end    
                                        span.pricing-card-text כתיבת וחתימת חוזה סופי בלשכת נטוריון
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי')
                                    div.card-text-container.text-end    
                                        span.pricing-card-text ליווי הלקוח בפתיחת חשבון בנק 
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי')
                                    div.card-text-container.text-end    
                                        span.pricing-card-text השכרת הנכס וניהול הנכס 
                                        img.card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון של סימן איקס')                                    
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5
                .card.pricing-card-premium
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .span.badge.pricing-premium-badge המשתלם ביותר 
                                    .card-title.pricing-card-main-title(dir='rtl') פרימיום
                                    .card-title.pricing-card-secondary-title(dir='rtl') ליווי צמוד לאורך כל הדרך וניהול הנכס
                                    .card-title.pricing-card-tertiary-title(dir='rtl') 4990€ + מע"מ
                                .col-12.my-5
                                    div.card-text-container.text-end
                                        span.pricing-card-text איתור נכס על פי נתוני ודרישות הלקוח
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי') 
                                    div.card-text-container.text-end       
                                        span.pricing-card-text סיור פיזי או סיור און ליין
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי')
                                    div.card-text-container.text-end
                                        span.pricing-card-text בדיקה משפטית של הנכס 
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי')
                                    div.card-text-container.text-end    
                                        span.pricing-card-text ליקוט ניירת משפטית של הנכס 
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי')
                                    div.card-text-container.text-end  
                                        span.pricing-card-text כתיבת חוזה ראשוני עם עורך דין 
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי')
                                    div.card-text-container.text-end    
                                        span.pricing-card-text כתיבת וחתימת חוזה סופי בלשכת נטוריון
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי')
                                    div.card-text-container.text-end    
                                        span.pricing-card-text ליווי הלקוח בפתיחת חשבון בנק 
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי')
                                    div.card-text-container.text-end    
                                        span.pricing-card-text השכרת הנכס וניהול הנכס 
                                        img.card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון סימן וי')    
            .col-12.text-center    
                button.btn-cta.pricing-cta-btn.to-calendly-btn צרו קשר                                 