@import 'variables';

.webinar-archive-headline-row {
  padding-top: 2rem;
  margin-bottom: 3rem;
}

.webinar-archive-headline {
  font-size: $h3;
  font-weight: 600;
  color: $text-color-secondary;
}

.webinar-archive-video-row {
  margin-bottom: 5rem;
}

.webinar-archive-video-headline {
  font-size: $h4;
  font-weight: 600;
  margin-bottom: 1rem;
}

.webinar-video-col {
  background-color: $text-color-secondary;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
