@import 'variables';
@import 'mixin';

// X-Small
@media only screen and (min-width: 360px) {
  // ***** Reviews *****
  .carousel-control-prev {
    margin-left: -0.5rem;
  }

  .carousel-control-next {
    margin-right: -0.5rem;
  }

  .en-reviews-carousel-item {
    height: 50rem;
  }

  // ***** Search *****
  .search-filter-dropdown--btn {
    font-size: $h6 !important;
  }

  .pagination-page-btn {
    font-size: $h6;
  }

  // ***** Why Bulgaria *****
  .mainpage-why-bulgaria-bg-video-container {
    height: 60rem;
  }

  .en-invest-guide-btn-container {
    top: 91%;
  }

  // ***** Q & A *****
  .qanda-headline-img {
    height: 27rem;
  }

  // ***** About *****
  .about-partners-card {
    height: 58rem !important;
  }

  .en-about-partners-card {
    height: 67rem !important;
  }

  // ***** Pricing *****
  .pricing-card-text {
    font-size: $h7;
  }

  .pricing-card-icon {
    width: 1.7rem;
    height: 1.7rem;
  }

  // ***** Contact Us *****
  .calendly-widget-container {
    top: 182%;
  }

  .contact-us-fixed-headline {
    font-size: $h6;
  }

  // ***** Footer *****
  .footer-icon {
    display: inline;
  }
}

// Chrome - Mobile
@media only screen and (min-width: 425px) {
  // ***** About *****
  .about-partners-card {
    height: 62rem !important;
  }
}

// Small
@media only screen and (min-width: 576px) {
  // ***** Hero *****
  .hero-container {
    height: 60rem;
  }

  .hero-headline {
    font-size: $h1;
  }

  .en-hero-container {
    height: 80rem;
  }

  // ***** Main Page About *****
  .mainpage-about-container {
    height: 85rem;
  }

  .mainpage-about-text-col {
    top: 39%;
  }

  .mainpage-about-images-col {
    top: 73%;
  }

  .mainpage-about-headline {
    font-size: $h1;
  }

  .mainpage-about-img {
    width: 15rem;
    height: 10rem;
  }

  // ***** How it works *****
  .mainpage-howitworks-text {
    font-size: $h6;
  }

  // ***** Why Bulgaria *****
  .mainpage-why-bulgaria-bg-video-container {
    height: 45rem;
  }

  // ***** Main Page Reviews *****
  .reviews-carousel-item {
    height: 42rem;
  }

  .en-reviews-carousel-item {
    height: 48rem;
  }

  .mainpage-reviews-review {
    font-size: $h6;
  }

  .carousel-control-prev {
    margin-left: -1rem;
  }

  .carousel-control-next {
    margin-right: -1rem;
  }

  // ***** Asset Card *****
  .asset-card-body-row {
    font-size: $h6;
  }

  .asset-card-img {
    height: 25rem;
  }

  .asset-card-sold-badge,
  .asset-card-exclusive-badge {
    font-size: $h4 !important;
  }

  // ***** Mobile Asset Card *****
  .mobile-asset-card-title {
    font-size: $h5;
  }

  .mobile-card-text-container {
    font-size: $h7;
  }

  .mobile-card-icon {
    margin-left: 0.5rem;
    width: 2rem;
    height: 2rem;
  }

  // ***** Asset *****
  .asset-gallery-zoomIn-icon {
    height: 4rem;
    width: 4rem;
  }

  .asset-gallery-carousel-item {
    height: 58rem !important;
  }

  .asset-gallery-carousel-prev-icon {
    width: 4rem !important;
    height: 4rem !important;
  }

  .asset-gallery-carousel-next-icon {
    width: 4rem !important;
    height: 4rem !important;
  }

  // ***** Q & A *****
  // ***** Invest *****
  // ***** About *****
  .qanda-headline-img,
  .invest-headline-img,
  .about-headline-img {
    height: 31rem;
  }

  .qanda-headline,
  .invest-headline,
  .about-headline {
    font-size: $h3;
  }

  .accordion-button {
    font-size: $h5 !important;
  }

  .accordion-body {
    font-size: $h6 !important;
  }

  .about-partners-card {
    height: 58rem !important;
  }

  .en-about-partners-card {
    height: 67rem !important;
  }

  // ***** Contact Us *****
  .calendly-col {
    height: 150rem;
  }

  .calendly-text-container {
    top: 25%;
  }

  .calendly-widget-container {
    top: 198%;
  }

  .calendly-inline-widget {
    width: 40rem;
  }

  .contact-us-fixed-headline {
    font-size: $h5;
  }

  // ***** Pricing *****
  .pricing-card-icon {
    width: 2rem;
    height: 2rem;
  }

  .pricing-premium-badge {
    margin: 6rem 0 0 -3rem;
  }

  // ***** Project *****
  .project-main-image-headline {
    &.project-main-image-headline-atlantis-aria-3 {
      @include projectHeadline(35%);
      font-size: $h1;
    }

    &.project-main-image-headline-atlantis-euphoria {
      @include projectHeadline(38%);
      font-size: $h1;
    }
    &.project-main-image-headline-atlantis-barcode {
      @include projectHeadline(38%);
      font-size: $h1;
    }
    &.project-main-image-headline-atlantis-l6 {
      @include projectHeadline(30%);
      font-size: $h1;
    }
  }

  .project-gallery-image {
    height: 17rem;
    width: 26rem;
  }

  .project-details-img {
    height: 30rem;
    width: 45rem;
  }

  .project-mid-image-container {
    &.project-mid-image-container-atlantis-aria-2 {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716717336291-a3_94k-scaled.jpg',
        100% 90rem,
        60rem
      );
    }
    &.project-mid-image-container-atlantis-aria-3 {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-3-images/1718892982818-atlantis-aria-3-building.webp',
        contain,
        60rem
      );
    }
    &.project-mid-image-container-atlantis-l6 {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/L6-images/1720175986393-atlantis-L6-project-building.webp',
        100% 90rem,
        70rem
      );
    }
  }

  .project-installment-scheme-table {
    width: 95rem !important;
  }

  .project-installment-scheme-table th,
  .project-installment-scheme-table td {
    font-size: $h6;
  }
}

// Medium
@media only screen and (min-width: 768px) {
  // ***** Whatsapp Widget *****
  .whatsapp-widget {
    bottom: 17rem;
  }

  // ***** Hero Video *****
  .hero-video-bg-video-text {
    font-size: $h8;
  }

  // ***** Main Page Hero *****
  .hero-container {
    height: 85rem;
  }

  .hero-headline {
    font-size: $h1A;
  }

  .hero-text {
    font-size: $h3;
  }

  .en-hero-container {
    height: 100rem;
  }

  // ***** Search Selection *****
  .search-filter-options--btn {
    font-size: $h6 !important;
  }

  .search-filter-option--text {
    font-size: $h6;
  }

  input[type='text']::-webkit-input-placeholder {
    font-size: $h7;
  }

  input[type='text']::-moz-placeholder {
    font-size: $h7;
  }

  input[type='text']:-ms-input-placeholder {
    font-size: $h7;
  }

  input[type='text']::-ms-input-placeholder {
    font-size: $h7;
  }

  input[type='text']::placeholder {
    font-size: $h7;
  }

  // ***** Main Page About *****
  .mainpage-about-container {
    height: 100rem;
  }

  .mainpage-about-text-col {
    top: 39%;
  }

  .mainpage-about-images-col {
    top: 75%;
  }

  .mainpage-about-tag {
    font-size: $h4;
  }

  .mainpage-about-headline {
    font-size: $h1A;
  }

  .mainpage-about-text {
    font-size: $h3;
  }

  .mainpage-about-img {
    width: 20rem;
    height: 15rem;
  }

  // ***** How it works *****
  .mainpage-howitworks-label {
    font-size: $h4;
  }

  .mainpage-howitworks-steps--col {
    height: 20rem;
  }

  // ***** Why Bulgaria *****
  .mainpage-why-bulgaria-bg-video-container {
    height: 45rem;
  }

  .mainpage-why-bulgaria-tag {
    font-size: $h4;
  }

  .invest-guide-btn-container {
    top: 85%;
  }

  // ***** Asset Card *****
  .mobile-mainpage-hot-assets-row,
  .mobile-asset-related-assets-row {
    display: none !important;
  }

  .mainpage-hot-assets-row,
  .asset-related-assets-row {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .mainpage-hot-assets-tag {
    font-size: $h4;
  }

  .asset-card-title-col {
    height: 11rem !important;
  }

  .asset-card-img {
    height: 20rem;
  }

  .asset-card-sold-badge,
  .asset-card-exclusive-badge {
    font-size: $h5 !important;
  }

  // ***** Main Page Reviews *****
  .mainpage-rec-tag {
    font-size: $h4;
  }

  .reviews-carousel {
    -webkit-transform: skewX(-8deg);
    -ms-transform: skewX(-8deg);
    transform: skewX(-8deg);
  }

  .reviews-carousel-item {
    height: 34rem;
  }

  .en-reviews-carousel-item {
    height: 46rem;
  }

  .mainpage-reviews-img {
    height: 13rem;
    width: 13rem;
    -webkit-transform: translateX(-3rem) skewX(8deg);
    -ms-transform: translateX(-3rem) skewX(8deg);
    transform: translateX(-3rem) skewX(8deg);
  }

  .mainpage-reviews-name {
    margin-right: 1rem;
    -webkit-transform: translateX(-3rem) skewX(8deg);
    -ms-transform: translateX(-3rem) skewX(8deg);
    transform: translateX(-3rem) skewX(8deg);
  }

  .mainpage-reviews-prof {
    -webkit-transform: translateX(-3rem) skewX(8deg);
    -ms-transform: translateX(-3rem) skewX(8deg);
    transform: translateX(-3rem) skewX(8deg);
  }

  .mainpage-reviews-review {
    -webkit-transform: translateX(-3rem) skewX(8deg);
    -ms-transform: translateX(-3rem) skewX(8deg);
    transform: translateX(-3rem) skewX(8deg);
  }

  .carousel-control-prev {
    margin-left: -2rem;
  }

  .carousel-control-next {
    margin-right: -2rem;
  }

  // ***** Main Page Blog *****
  .mainpage-blog-tag {
    font-size: $h4;
  }

  .mainpage-blog-card {
    height: 40rem !important;
  }

  .mainpage-blog-card-title-col {
    height: 16rem !important;
  }

  .mainpage-blog-card-text-col {
    height: 13rem !important;
  }

  .en-mainpage-blog-card {
    height: 47rem !important;
  }

  .en-mainpage-blog-card-title-col {
    height: 20rem !important;
  }

  .en-mainpage-blog-card-text-col {
    height: 16rem !important;
  }

  // ***** Main Page Contact Us *****
  .mainpage-contact-us-tag {
    font-size: $h4;
  }

  // ***** Search *****
  .search-headline-img {
    height: 30rem;
  }

  // ***** Contact Us *****
  .calendly-text-headline {
    font-size: $h3;
  }

  .calendly-inline-widget {
    width: 55rem;
  }

  .contact-us-fixed-bottom-col {
    margin-bottom: 1.5rem;
  }

  .contact-us-fixed-headline {
    font-size: $h4;
  }

  .contact-us-button-fixed {
    width: 15rem !important;
  }

  // ***** Asset *****
  .asset-gallery-mainImage {
    height: 23.3rem;
  }

  .asset-gallery-zoomIn-icon {
    height: 5rem;
    width: 5rem;
  }

  .asset-gallery-thumbnails-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .asset-details-description-smallViewport-container,
  .asset-btn-smallViewport-container {
    display: none;
  }

  .asset-details-description-middleViewport-col,
  .asset-btn-middleViewport-container {
    display: block;
  }

  .asset-video {
    height: 30rem;
  }

  // ***** About *****
  .about-partners-card {
    height: 57rem !important;
  }

  .en-about-partners-card {
    height: 69rem !important;
  }

  // ***** Pricing *****
  .pricing-card-icon {
    width: 2.3rem;
    height: 2.3rem;
  }

  .pricing-tag {
    font-size: $h4;
  }

  // ***** Project *****
  .project-main-image-headline {
    &.project-main-image-headline-atlantis-aria-3 {
      @include projectHeadline(25%);
    }

    &.project-main-image-headline-atlantis-euphoria {
      @include projectHeadline(30%);
    }
    &.project-main-image-headline-atlantis-barcode {
      @include projectHeadline(30%);
    }
    &.project-main-image-headline-atlantis-l6 {
      @include projectHeadline(20%);
    }
  }

  .project-gallery-image {
    height: 17rem;
    width: 23rem;
  }

  .project-details-img {
    height: 40rem;
    width: 60rem;
  }

  .project-mid-image-container {
    &.project-mid-image-container-atlantis-aria-2 {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716717336291-a3_94k-scaled.jpg',
        100% 120rem,
        70rem
      );
    }
    &.project-mid-image-container-atlantis-euphoria {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/euphoria-images/1719320290027-atlantis-euphoria-middle-image.webp',
        contain,
        60rem
      );
    }
    &.project-mid-image-container-atlantis-l6 {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/L6-images/1720172161873-atlantis-L6-project-7.webp',
        100% 53rem,
        60rem
      );
    }
  }

  // ***** Footer *****
  .footer-border {
    width: 15rem;
  }
}

// Large
@media only screen and (min-width: 992px) {
  // **** Buttons *****
  .btn-cta,
  .btn-cta--offcanvas,
  .invest-guide-btn,
  .blog-card-btn,
  .section-headline-cta-btn,
  .share-btn,
  .error-btn {
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline: 2px solid;
    outline-color: $text-color-secondary;
    outline-offset: 0px;
  }

  .btn-cta:hover,
  .btn-cta--offcanvas:hover,
  .invest-guide-btn:hover,
  .blog-card-btn:hover,
  .share-btn:hover,
  .error-btn:hover {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
    color: $bg-color-primary;
    background-color: $text-color-secondary;
    border-color: $text-color-secondary;
    border: 1px solid $text-color-secondary;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 25px;
  }

  .btn-cta-white,
  .btn-cta-asset,
  .mainpage-blog-card-btn {
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline: 2px solid;
    outline-color: $bg-color-primary;
    outline-offset: 0px;
  }

  .btn-cta-white:hover,
  .btn-cta-asset:hover,
  .mainpage-blog-card-btn:hover {
    border: 1px solid;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 25px;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  .share-btn-white,
  .asset-favorite-btn-white {
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .share-btn-white:hover,
  .asset-favorite-btn-white:hover {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
  }

  .section-headline-cta-btn:hover {
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 25px;
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
  }

  .btn-search,
  .contact-us-button {
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .btn-search:hover,
  .contact-us-button:hover {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
  }

  .asset-back-to-results-btn {
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .asset-back-to-results-btn:hover {
    color: $bg-color-primary;
    background-color: $text-color-secondary;
    border-color: $bg-color-primary;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  // ***** Main Page Search *****
  .mainpage-search-container {
    display: block;
  }

  .mainpage-search-modal-open-btn-container {
    display: none;
  }

  .mainpage-search-headline {
    font-size: $h3;
  }

  // ***** How it works *****
  // ***** Main Page rec *****
  // ***** Pricing *****
  .mainpage-rec-container {
    padding-bottom: 8rem;
  }

  .mainpage-howitworks-container {
    padding-bottom: 2rem;
  }

  // ***** Why Bulgaria *****
  .mainpage-why-bulgaria-bg-video-container {
    height: 50rem;
  }

  .invest-guide-btn-container {
    top: 85%;
  }

  // ***** Asset Card *****
  .mainpage-hot-assets-container {
    padding: 1rem 0 !important;
  }

  .asset-card {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .asset-card:hover {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  .asset-card-img {
    height: 26rem;
  }

  .asset-card-sold-badge,
  .asset-card-exclusive-badge {
    font-size: $h4 !important;
  }

  // ***** Main Page Reviews *****
  .reviews-carousel-item {
    height: 30rem;
  }

  .en-reviews-carousel-item {
    height: 37rem;
  }

  // ***** Main Page Blog *****
  .mainpage-blog-card {
    height: 53rem !important;
  }

  .mainpage-blog-card-title-col {
    height: 20rem !important;
  }

  .mainpage-blog-card-text-col {
    height: 21rem !important;
  }

  .en-mainpage-blog-card {
    height: 65rem !important;
  }

  .en-mainpage-blog-card-title-col {
    height: 27rem !important;
  }

  .en-mainpage-blog-card-text-col {
    height: 28rem !important;
  }

  // ***** Search *****
  .search-container {
    display: block;
  }

  .search-modal-open-btn-container {
    display: none;
  }

  .search-headline-img {
    height: 75rem;
  }

  .search-container {
    top: 65%;
  }

  input[type='text']::-webkit-input-placeholder {
    font-size: $h6;
  }

  input[type='text']::-moz-placeholder {
    font-size: $h6;
  }

  input[type='text']:-ms-input-placeholder {
    font-size: $h6;
  }

  input[type='text']::-ms-input-placeholder {
    font-size: $h6;
  }

  input[type='text']::placeholder {
    font-size: $h6;
  }

  // ***** Asset *****
  .asset-search-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .asset-modal-open-btn-container,
  .mobile-asset-favorite-btn-container {
    display: none;
  }

  .asset-search-container {
    margin: 4rem 0;
  }

  .asset-headline-row {
    margin-top: 0rem !important;
  }

  .asset-headline {
    margin-bottom: 2rem;
  }

  .asset-gallery-mainImage {
    height: 33rem;
  }

  .asset-gallery-carousel-item {
    height: 58rem !important;
  }

  .carousel-icon-container {
    background-color: rgba(255, 255, 255, 0.488) !important;
    padding: 0.8rem !important;
  }

  .asset-video {
    height: 35rem;
  }

  // ***** Q & A *****
  // ***** Invest *****
  // ***** About *****
  .qanda-headline-img,
  .invest-headline-img,
  .about-headline-img {
    height: 37rem;
  }

  .qanda-headline,
  .invest-headline,
  .about-headline {
    font-size: $h2;
  }

  .qanda-cta-btn {
    width: 17rem !important;
    height: 5.6rem !important;
  }

  .about-cta-btn {
    width: 17rem !important;
    height: 5.6rem !important;
  }

  .en-about-partners-card {
    height: 65rem !important;
  }

  // ***** Blog *****
  .blog-card {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .blog-card:hover {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  // ***** Contact Us *****
  .calendly-widget-container {
    top: 210%;
  }

  .contact-us-button-fixed {
    width: 13rem !important;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .contact-us-button-fixed:hover {
    filter: brightness(90%);
  }

  // ***** Pricing *****
  .pricing-card-basic,
  .pricing-card-plus,
  .pricing-card-premium {
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .pricing-card-basic:hover,
  .pricing-card-plus:hover,
  .pricing-card-premium:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  // ***** Project *****
  .project-main-image-headline {
    &.project-main-image-headline-atlantis-aria-3 {
      @include projectHeadline(20%);
    }

    &.project-main-image-headline-atlantis-euphoria {
      @include projectHeadline(23%);
    }
    &.project-main-image-headline-atlantis-barcode {
      @include projectHeadline(23%);
    }
    &.project-main-image-headline-atlantis-l6 {
      @include projectHeadline(18%);
    }
  }

  .project-gallery-image {
    height: 20rem;
    width: 30rem;
  }

  .project-details-img {
    height: 50rem;
    width: 75rem;
  }

  .project-mid-image-container {
    &.project-mid-image-container-atlantis-aria-2 {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716478681900-Two-bedroom-apartment-C-808-in-Atlantis-Aria-2-2.jpg',
        contain,
        60rem
      );
    }
    &.project-mid-image-container-atlantis-aria-3 {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-3-images/1718892982831-atlantis-aria-3-project.jpg',
        contain,
        34rem
      );
    }
    &.project-mid-image-container-atlantis-l6 {
      @include projectMiddleImage('https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/L6-images/1720172161873-atlantis-L6-project-7.webp', contain, 60rem);
    }
  }

  .project-installment-scheme-table {
    width: 90rem !important;
  }

  // ***** Footer *****
  .footer-border {
    width: 18rem;
  }
}

// x-Large
@media only screen and (min-width: 1200px) {
  // ***** Hero Video *****
  .hero-video-bg-video-text {
    font-size: $h7;
  }

  // ***** Navbar *****
  .navbar-nav {
    width: 100%;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navbar-mobile-container,
  .mobile-asset-favorite-btn,
  .mobile-currency-dropdown-btn,
  .mobile-currency-collapse,
  .mobile-lang-dropdown-btn,
  .mobile-lang-collapse {
    display: none !important;
  }

  .nav-item {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    padding: 0;
    border-top: none;
  }

  .nav-link {
    padding: 0 !important;
  }

  .btn__cta--container {
    margin: 0;
  }

  .btn-cta--offcanvas {
    border: 1px solid $text-color-secondary !important;
  }

  .offcanvas-active-link {
    color: none;
  }

  .nav-el {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s !important;
  }

  .nav-el:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  .mobile-navbar-brand {
    display: none;
  }

  .assets-catalog-dropdown-btn {
    margin: 0 0.3rem 0 0 !important;
  }

  .assets-catalog-dropdown-menu,
  .projects-dropdown-menu {
    background-color: $bg-color-primary !important;
  }

  .assets-catalog-dropdown-item,
  .projects-dropdown-btn,
  .projects-dropdown-item {
    color: $text-color-primary !important;
    margin: 0 !important;
    padding: 1rem 2rem 1rem 2rem !important;
  }

  .projects-dropdown-btn::after {
    vertical-align: 0.2rem !important;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .en-projects-dropdown-btn::after {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  .assets-catalog-dropdown-item:hover,
  .projects-dropdown-item:hover {
    background-color: $bg-color-faded !important;
  }

  .dropdown-submenu {
    position: relative;
  }

  .assets-catalog-dropdown > .dropdown-menu {
    top: 100%;
    display: none;
  }

  .dropdown-submenu > .dropdown-menu {
    top: -2%;
    right: 95.5%;
    display: none;
  }

  .en-projects-dropdown-menu {
    left: 95.5%;
    width: 17rem;
  }

  .assets-catalog-dropdown:hover > .dropdown-menu,
  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }

  .currency-mobile-dropdown-btn {
    display: none;
  }

  .currency-nav-item,
  .lang-nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .laptop-navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .active-link {
    color: $text-color-secondary !important;
  }

  .nav-item:has(.active-link) {
    border-bottom: solid 2px $text-color-secondary !important;
    height: 3rem;
  }

  // ***** Main Page Hero *****
  .hero-container {
    height: 80rem;
  }

  // ***** Main Page About *****
  .mainpage-about-container {
    height: 105rem;
  }

  .mainpage-about-text-col {
    top: 36%;
  }

  .mainpage-about-images-col {
    top: 73%;
  }

  .mainpage-about-img {
    width: 23rem;
    height: 18rem;
  }

  // ***** Asset Card *****
  .asset-card-img {
    height: 20rem;
  }

  // ***** Asset Card *****
  .asset-card-sold-badge,
  .asset-card-exclusive-badge {
    font-size: $h5 !important;
  }

  // ***** Main Page Reviews *****
  .reviews-carousel-item {
    height: 27rem;
  }

  .en-reviews-carousel-item {
    height: 33rem;
    padding: 5rem;
  }

  .mainpage-reviews-img {
    height: 16rem;
    width: 16rem;
  }

  .carousel-control-prev {
    margin-left: 0rem;
  }

  .carousel-control-next {
    margin-right: 0rem;
  }

  // ***** Main Page Blog *****
  .mainpage-blog-card {
    height: 47rem !important;
  }

  .mainpage-blog-card-title-col {
    height: 18rem !important;
  }

  .mainpage-blog-card-text-col {
    height: 18rem !important;
  }

  .en-mainpage-blog-card {
    height: 59rem !important;
  }

  .en-mainpage-blog-card-title-col {
    height: 23rem !important;
  }

  .en-mainpage-blog-card-text-col {
    height: 24rem !important;
  }

  // ***** Asset *****
  .asset-gallery-mainImage {
    height: 43rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 7% !important;
  }

  .asset-gallery-zoomIn-icon {
    height: 6rem;
    width: 6rem;
  }

  .asset-map {
    height: 45rem;
  }

  // ***** Q & A *****
  // ***** Invest *****
  // ***** About *****
  .qanda-headline,
  .invest-headline,
  .about-headline {
    font-size: $h1;
  }

  .qanda-cta-btn:hover,
  .about-cta-btn:hover {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .about-partners-card {
    height: 62rem !important;
  }

  .en-about-partners-card {
    height: 68rem !important;
  }

  // ***** Contact Us *****
  .calendly-text-headline {
    font-size: $h2;
  }

  .calendly-text {
    font-size: $h5;
  }

  .calendly-widget-container {
    top: 205%;
  }

  .contact-us-button-fixed {
    width: 17rem !important;
  }

  // ***** Error *****
  .error-btn:hover {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
  }

  // ***** Footer *****
  .footer-row,
  .qanda-questions-accordion-row {
    max-width: 99.2rem;
    margin: auto !important;
  }

  // ***** Project *****
  .project-main-image-headline {
    &.project-main-image-headline-atlantis-aria-3 {
      @include projectHeadline(32%);
      font-size: $h0;
    }

    &.project-main-image-headline-atlantis-euphoria {
      @include projectHeadline(37%);
      font-size: $h0;
    }
    &.project-main-image-headline-atlantis-barcode {
      @include projectHeadline(37%);
      font-size: $h0;
    }
    &.project-main-image-headline-atlantis-l6 {
      @include projectHeadline(26%);
      font-size: $h0;
    }
  }

  .project-gallery-image {
    height: 20rem;
    width: 37rem;
  }

  .project-details-img {
    height: 55rem;
    width: 85rem;
  }

  .project-mid-image-container {
    &.project-mid-image-container-atlantis-aria-2 {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716478681900-Two-bedroom-apartment-C-808-in-Atlantis-Aria-2-2.jpg',
        contain,
        45rem
      );
    }
    &.project-mid-image-container-atlantis-aria-3 {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-3-images/1718892982831-atlantis-aria-3-project.jpg',
        contain,
        45rem
      );
    }
    &.project-mid-image-container-atlantis-euphoria {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/euphoria-images/1719320290027-atlantis-euphoria-middle-image.webp',
        contain,
        45rem
      );
    }
    &.project-mid-image-container-atlantis-barcode {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071323-atlantis-barcode-project-mid-image.webp',
        120rem 70rem,
        60rem
      );
    }
    &.project-mid-image-container-atlantis-l6 {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/L6-images/1720172161873-atlantis-L6-project-7.webp',
        120rem 70rem,
        60rem
      );
    }
  }

  .project-map {
    height: 45rem;
  }

  .project-installment-scheme-table {
    width: 110rem !important;
  }
}

// xx-Large
@media only screen and (min-width: 1400px) {
  // ***** Containers *****
  .mainpage-hot-assets-row,
  .mainpage-howitworks-container,
  .mainpage-rec-container,
  .pricing-cards-row,
  .search-results-filters-container,
  .search-results-container,
  .error-main-container {
    max-width: 140rem;
    margin: auto !important;
  }

  .qanda-questions-accordion-container,
  .about-container,
  .partners-container,
  .about-rec-row,
  .pricing-container,
  .search-container,
  .asset-search-container,
  .asset-headline-container,
  .asset-details-container,
  .asset-amenities-container,
  .asset-video-container,
  .asset-map-container,
  .asset-related-assets-container {
    max-width: 150rem;
    margin: auto !important;
  }

  // ***** Main Page Hero *****
  .hero-container {
    height: 65rem;
  }

  .en-hero-container {
    height: 75rem;
  }

  // ***** Main Page About *****
  .mainpage-about-container {
    height: 100rem;
  }

  .mainpage-about-text-col {
    top: 34%;
  }

  .mainpage-about-images-col {
    top: 68%;
  }

  .mainpage-about-img {
    width: 27rem;
    height: 22rem;
  }

  // ***** Reviews *****
  .mainpage-reviews-carousel-prev-icon {
    margin-left: -3rem;
  }

  .mainpage-reviews-carousel-next-icon {
    margin-right: -3rem;
  }

  // ***** Main Page Blog *****
  .mainpage-blog-card {
    height: 41rem !important;
  }

  .mainpage-blog-card-title-col {
    height: 15rem !important;
  }

  .mainpage-blog-card-text-col {
    height: 15rem !important;
  }

  .en-mainpage-blog-card {
    height: 52rem !important;
  }

  .en-mainpage-blog-card-title-col {
    height: 22rem !important;
  }

  .en-mainpage-blog-card-text-col {
    height: 19rem !important;
  }

  // ***** Asset *****
  .asset-gallery-thumbnail {
    height: 7rem;
    width: 12rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    margin: 0 2rem;
  }

  .asset-video {
    height: 40rem;
  }

  // ***** About *****
  .about-partners-card {
    height: 58rem !important;
  }

  .en-about-partners-card {
    height: 75rem !important;
  }

  // ***** Contact Us *****
  .contact-us-button-fixed {
    width: 20rem !important;
  }

  // ***** Project *****
  .project-main-image-headline {
    &.project-main-image-headline-atlantis-aria-3 {
      @include projectHeadline(28%);
    }

    &.project-main-image-headline-atlantis-euphoria {
      @include projectHeadline(33%);
    }
    &.project-main-image-headline-atlantis-barcode {
      @include projectHeadline(33%);
    }
    &.project-main-image-headline-atlantis-l6 {
      @include projectHeadline(23%);
    }
  }

  .project-gallery-image {
    height: 25rem;
    width: 43rem;
  }

  .project-mid-image-container {
    &.project-mid-image-container-atlantis-aria-2 {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716478681900-Two-bedroom-apartment-C-808-in-Atlantis-Aria-2-2.jpg',
        155rem 75rem,
        50rem
      );
    }
    &.project-mid-image-container-atlantis-euphoria {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/euphoria-images/1719320290027-atlantis-euphoria-middle-image.webp',
        155rem 75rem,
        50rem
      );
    }
    &.project-mid-image-container-atlantis-barcode {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-barcode-images/1720087071323-atlantis-barcode-project-mid-image.webp',
        155rem 80rem,
        60rem
      );
    }
    &.project-mid-image-container-atlantis-l6 {
      @include projectMiddleImage(
        'https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/L6-images/1720172161873-atlantis-L6-project-7.webp',
        155rem 80rem,
        60rem
      );
    }
  }

  .project-installment-scheme-table-col {
    overflow-x: auto !important;
  }
}
