.webinar-main-container {
  position: relative;
  text-align: center;
  padding: 0 !important;
}

.webinar-headline-img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 70rem;
  width: 100%;
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}

.webinar-headline {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2.4rem;
  font-weight: 600;
  color: #ffffff;
}

.webinar-headline-text-top,
.webinar-headline-text-bottom {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 600;
  color: #fce38a;
}

.webinar-headline-text-top {
  top: 30%;
}

.webinar-headline-text-bottom {
  top: 34%;
}

.webinar-contact-us-headline {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
}

.webinar-contact-us-top-container {
  position: absolute;
  top: 71%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.webinar-form-check-top-label {
  font-size: 1.2rem;
  color: #ffffff;
}

.webinar-contact-us-text {
  font-size: 2rem;
  color: #ffffff;
}

.webinar-contact-us-asterisk-icon {
  height: 2rem;
}

.webinar-contact-us-icon {
  height: 3.5rem;
}

.webinar-main-text-container {
  margin: 4rem 0;
}

.webinar-main-text {
  font-size: 2rem;
  font-weight: 600;
  color: #324762;
  margin-bottom: 1rem;
}

.webinar-star-symbol {
  color: #2289ff;
}

.webinar-who-container {
  background-color: #f7f7f7;
  padding: 3rem 0;
}

.webinar-subjects-container {
  background-color: #f7f7f7;
  margin-top: 3rem;
  padding: 2rem 0 4rem 0;
}

.webinar-who-headline,
.webinar-subjects-headline,
.webinar-moderators-headline {
  font-size: 2.4rem;
  font-weight: 600;
  color: #324762;
  margin-bottom: 0.5rem;
}

.webinar-divider {
  height: 0.5rem;
  background-color: #2289ff;
  margin-bottom: 4rem;
  text-align: center;
}

.webinar-subjects-icon-container,
.webinar-moderators-image-container {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  z-index: 101;
  margin: 0 auto;
  margin-bottom: 0.7rem;
}

.webinar-subjects-icon-container {
  background-color: #fce38a;
}

.webinar-moderators-image-container {
  background-color: #2289ff;
}

.webinar-subjects-icon {
  height: 5rem;
}

.webinar-subjects-icon-text,
.webinar-moderators-image-name {
  font-weight: 600;
  margin-bottom: 2rem;
  color: #324762;
}

.webinar-moderators-container {
  padding: 3rem 0;
}

.webinar-moderators-image {
  height: 7.5rem;
  border-radius: 50%;
}

.webinar-moderators-image-name {
  margin-bottom: 1rem;
}

.webinar-moderators-image-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #324762;
}

.webinar-contact-us-container {
  background-color: #324762;
  padding-top: 3rem;
}/*# sourceMappingURL=webinar.css.map */