.container-fluid.contact-us-container-fixed.position-fixed.text-center.bottom-0
    .row
        .col-12.contact-us-fixed-col
            div#crmWebToEntityForm.crmWebToEntityForm
                form.contact-us-form#webform6296617000000479035(action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads6296617000000479035 method='POST' accept-charset='UTF-8' novalidate)
                    input(type='text' style='display:none;' name='xnQsjsdp' value='59a0780e6b2791aec2fc494a0d52812511ef98c0f6123210fdc332d6fa0b9e22')
                    input#zc_gad(type='hidden' name='zc_gad' value='')
                    input(type='text' style='display:none;' name='xmIwtLD' value='7334e6acba558f934b954c69f5851611538edbf846a3d2f15f807f241012015c2f9c9c0839f214a112e56e062e05be4f')
                    input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                    input(type='text' style='display:none;' name='returnURL' value='https://www.dirabulgarit.com/contact-us-confirm')
                    .row.contact-us-fixed-row.align-items-center.d-flex.justify-content-center
                        .col-12.contact-us-headline-col
                            div.contact-us-fixed-headline Contact us and we will return to you asap
                        .col-md-2.contact-us-input-fixed-col
                            img.contact-us-fixed-logo(src='/img/footer-logo.webp' alt='Dira Bulgarit Logo')
                        .col-md-2.contact-us-input-fixed-col
                            input.contact-us-input.contact-us-input.contact-us-name-input.form-control.en-search-filter-input(type='text' name='Last Name' maxlength='200' placeholder='Name' aria-label='Name' aria-describedby='basic-addon1' required)                            
                            .invalid-tooltip Please enter your name
                        .col-md-2.contact-us-input-fixed-col
                            input.contact-us-input.contact-us-phone-input.form-control.en-search-filter-input(type='text' name='Phone' maxlength='10' placeholder='Phone number' aria-label='Phone number' aria-describedby='basic-addon1' pattern='[0-9]{10}' required)
                            .invalid-tooltip.contact-us-phone-invalid Please enter a valid phone number
                        .col-md-2.contact-us-input-fixed-col
                            input.contact-us-input.contact-us-email-input.form-control.en-search-filter-input(type='email' ftype='email' autocomplete='false' name='Email' crmlabel='' maxlength='100' placeholder='Email  ' aria-label='Email' aria-describedby='basic-addon1' pattern='[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,}' required)
                            .invalid-tooltip.contact-us-email-invalid Please enter a valid Email address
                        .col-md-3.contact-us-input-fixed-col    
                            textarea.contact-us-textarea.contact-us-description-input.form-control.en-search-filter-input(id='Description' name='Description' aria-label="Contact request description" rows="2" placeholder='Is there anything else you would like us to know?')
                        .col-md-1.contact-us-fixed-bottom-col 
                            button.btn-cta-mobile-white.text-center(type='submit' id='formsubmit' class='formsubmit zcwf_button' value='שליחה' title='Submit')                
                                img.btn-cta-mobile-icon(src='/img/icons/send-svgrepo-com.svg' alt='Send arrow Icon')