.container-fluid.contact-us-mobile-fixed-container.position-fixed.bottom-0
    .row.contact-us-mobile-fixed-row.align-items-center
        .col-12.contact-us-mobile-fixed-col.text-sm-center
            div#crmWebToEntityForm.crmWebToEntityForm
                form.contact-us-form#webform6296617000000479035(action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads6296617000000479035 method='POST' accept-charset='UTF-8' novalidate)
                    input(type='text' style='display:none;' name='xnQsjsdp' value='59a0780e6b2791aec2fc494a0d52812511ef98c0f6123210fdc332d6fa0b9e22')
                    input#zc_gad(type='hidden' name='zc_gad' value='')
                    input(type='text' style='display:none;' name='xmIwtLD' value='7334e6acba558f934b954c69f5851611538edbf846a3d2f15f807f241012015c2f9c9c0839f214a112e56e062e05be4f')
                    input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                    input(type='text' style='display:none;' name='returnURL' value='https://www.dirabulgarit.com/contact-us-confirm')
                    .row.contact-us-fixed-row.align-items-center.justify-content-center
                        .col-12.contact-us-headline-col.text-center
                            div.contact-us-fixed-headline Contact us and we will return to you asap
                        .col-4.contact-us-input-fixed-col
                            input.contact-us-input.contact-us-input.contact-us-name-input.form-control.en-search-filter-input(type='text' name='Last Name' maxlength='200' placeholder='Name' aria-label='Name' aria-describedby='basic-addon1' required)                            
                            .invalid-tooltip Please enter your name
                        .col-4.contact-us-input-fixed-col
                            input.contact-us-input.contact-us-phone-input.form-control.en-search-filter-input(type='text' name='Phone' maxlength='10' placeholder='Phone number' aria-label='Phone number' aria-describedby='basic-addon1' pattern='[0-9]{10}' required)
                            .invalid-tooltip.contact-us-phone-invalid Please enter a valid phone number
                        .col-2.contact-us-input-fixed-col
                            button.btn-cta-mobile-white.text-center(type='submit' id='formsubmit' class='formsubmit zcwf_button' value='Send' title='Submit')                
                                img.btn-cta-mobile-icon(src='/img/icons/send-svgrepo-com.svg' alt='Send arrow Icon')     