footer
    .container-fluid
        .row.footer-row.justify-content-md-center
            .col-12.footer-logo-col.text-start
                img.footer-logo-img(src='/img/footer-logo.webp' alt='Dira Bulgarit Logo')     
            .col-12.col-sm-6.col-md-3.col-lg-4.footer-col.en-footer-col.footer-links-col
                div.footer-headline Dira Bulgarit
                div.footer-border-container.d-flex.justify-content-start
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/en') Home
                div.footer-link-container     
                    a.footer-link(href='/en/search') Search
                div.footer-link-container     
                    a.footer-link(href='/en/project/atlantis-aria-2') Atlantis Aria 2
                div.footer-link-container     
                    a.footer-link(href='/en/project/atlantis-aria-3') Atlantis Aria 3
                div.footer-link-container     
                    a.footer-link(href='/en/project/atlantis-euphoria') Atlantis Euphoria
                div.footer-link-container     
                    a.footer-link(href='/en/project/atlantis-barcode') Atlantis Barcode
                div.footer-link-container     
                    a.footer-link(href='/en/q&a') Q&A
                div.footer-link-container     
                    a.footer-link(href='/en/invest') Bulgaria Investment Guide   
                div.footer-link-container     
                    a.footer-link(href='/en/about') About Us  
                div.footer-link-container     
                    a.footer-link(href='/en/blog') Blog  
                div.footer-link-container     
                    a.footer-link(href='/en/contact-us') Contact Us                         
            .col-12.col-sm-6.col-md-3.col-lg-4.footer-col.en-footer-col.footer-links-col  
                div.footer-headline Policies
                div.footer-border-container.d-flex.justify-content-start
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/en/terms-of-service') Terms Of Service
                div.footer-link-container     
                    a.footer-link(href='/en/privacy') Privacy Policy
                div.footer-link-container     
                    a.footer-link(href='/en/accessibility') Accessability Policy
                div.footer-link-container     
                    a.footer-link(href='/en/site-map') Site Map
            .col-12.col-sm-7.col-md-5.col-lg-4.footer-col.en-footer-col
                div.footer-headline Contact Us
                div.footer-border-container.d-flex.justify-content-start
                    div.footer-border
                div.footer-text-container  
                    img.footer-icon.en-footer-icon(src='/img/icons/address-location-map-svgrepo-com-white.svg' alt='Address Icon')
                    span.footer-text Komsomolska 5, Burgas, Bulgaria
                div.footer-text-container   
                    img.footer-icon.en-footer-icon(src='/img/icons/phone-svgrepo-com-white.svg' alt='Phone Icon') 
                    span.footer-text Shimon Shlomo 
                    a.footer-phone(href="tel:0523111172") 052-311-1172
                div.footer-text-container   
                    img.footer-icon.en-footer-icon(src='/img/icons/phone-svgrepo-com-white.svg' alt='Phone Icon') 
                    span.footer-text Yeheli Samuels 
                    a.footer-phone(href="tel:972549718372") 972 54-971-8372 
                div.footer-text-container   
                    img.footer-icon.en-footer-icon(src='/img/icons/email-9-svgrepo-com-white.svg' alt='Email Icon')         
                    a.footer-text(href='mailto:service@dirabulgarit.com' aria-label='Dira Bulgarit E-mail') service@dirabulgarit.com
                div.footer-social.en-footer-social.my-4
                    a(href='https://www.facebook.com/groups/3252186061509580' aria-label='Nadlan Israeli Bebulgaria Facebook' target="_blank")
                        svg(aria-labelledby="footerFacebookIcon")
                            title(id="footerFacebookIcon") Facebook icon
                            use(xlink:href='/img/icons/facebook.svg#facebook')   
        .row.footer-copyright-row
            .col-12.footer-copyright-col.text-center
                div.footer-copyright-text.en-footer-copyright-text All rights are reserved to Dira Bulgarit &copy; 2024
                                    
                    