footer
    .container-fluid.footer-container
        .row.footer-row.d-flex.justify-content-md-evenly
            .col-12.footer-logo-col.text-start
                img.footer-logo-img(src='/img/footer-logo-eng.jpg' alt='Dira Bulgarit Logo')     
            .col-12.col-sm-6.col-xl-3.footer-col.en-footer-col.footer-links-col
                div.footer-headline Dira Bulgarit
                div.footer-border-container.d-flex.justify-content-start
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/en') Home
                div.footer-link-container     
                    a.footer-link(href='/en/search') Search
                //- div.footer-link-container     
                //-     a.footer-link(href='/en/project/atlantis-aria-2') Atlantis Aria 2
                //- div.footer-link-container     
                //-     a.footer-link(href='/en/project/atlantis-aria-3') Atlantis Aria 3
                //- div.footer-link-container     
                //-     a.footer-link(href='/en/project/atlantis-euphoria') Atlantis Euphoria
                //- div.footer-link-container     
                //-     a.footer-link(href='/en/project/atlantis-barcode') Atlantis Barcode
                //- div.footer-link-container     
                //-     a.footer-link(href='/en/project/atlantis-barcode-2') Atlantis Barcode 2
                //- div.footer-link-container     
                //-     a.footer-link(href='/en/project/atlas-azimuth') Atlas Azimuth 
                //- div.footer-link-container     
                //-     a.footer-link(href='/en/project/villa-margarita') Villa Margarita
                //- div.footer-link-container     
                //-     a.footer-link(href='/en/project/mellia-florance') Mellia Florance
                //- div.footer-link-container     
                //-     a.footer-link(href='/en/project/mountain-view-residence') Mountain View Residence
                //- div.footer-link-container     
                //-     a.footer-link(href='/en/project/vitosha-mountain-view') Vitosha Mountain View
                //- div.footer-link-container     
                //-     a.footer-link(href='/en/project/mountain-view-boutique') Mountain View Boutique
                div.footer-link-container     
                    a.footer-link(href='/en/project/fort-noks-premier-suites') Fort Noks Premier Suites  
                div.footer-link-container     
                    a.footer-link(href='/en/project/green-fort-suites') Green Fort Suites
                div.footer-link-container     
                    a.footer-link(href='/en/project/premier-fort-beach') Premier Fort Beach
                div.footer-link-container     
                    a.footer-link(href='/en/project/prestige-fort-beach') Prestige Fort Beach
                div.footer-link-container     
                    a.footer-link(href='/en/project/nessebar-fort-residence') Nessebar Fort Residence 
                //- div.footer-link-container     
                //-     a.footer-link(href='/en/commercial/camelot-entertainment-center') Camelot Entertainment Center
                //- div.footer-link-container     
                //-     a.footer-link(href='/en/commercial/varsano-chic-apartments') Varsano Chic Apartments
                //- div.footer-link-container     
                //-     a.footer-link(href='/en/commercial/samokov') Samokov Development
                //- div.footer-link-container     
                //-     a.footer-link(href='/en/commercial/pomorie-commercial-building') Pomorie Commercial Building
                div.footer-link-container     
                    a.footer-link(href='/en/qanda') Q&A
                div.footer-link-container     
                    a.footer-link(href='/en/invest') Bulgaria Investment Guide   
                div.footer-link-container     
                    a.footer-link(href='/en/about') About Us  
                div.footer-link-container     
                    a.footer-link(href='/en/blog') Blog  
                //- div.footer-link-container     
                //-     a.footer-link(href='/en/pricing') Pricing  
                div.footer-link-container     
                    a.footer-link(href='/en/contact-us') Contact Us                         
            .col-12.col-sm-6.col-xl-3.footer-col.en-footer-col.footer-links-col  
                div.footer-headline Articles
                div.footer-border-container.d-flex.justify-content-start
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/en/blog/apartments-for-sale-in-sofia-bulgaria') Apartments For Sale in Sofia Bulgaria
                div.footer-link-container     
                    a.footer-link(href='/en/blog/apartments-for-sale-in-burgas-bulgaria') Apartments For Sale in Burgas Bulgaria
                div.footer-link-container     
                    a.footer-link(href='/en/blog/apartments-for-sale-in-sunny-beach-bulgaria') Apartments For Sale in Sunny Beach Bulgaria
                div.footer-link-container     
                    a.footer-link(href='/en/blog/apartments-for-sale-in-varna-bulgaria') Apartments For Sale in Varna Bulgaria
                div.footer-link-container     
                    a.footer-link(href='/en/blog/villas-for-sale-in-bulgaria') Villas For Sale in Bulgaria
                div.footer-link-container     
                    a.footer-link(href='/en/blog/The-reasons-for-Bulgarias-popularity-among-Israeli-property-buyers') Israeli Investors in Bulgaria
                div.footer-link-container     
                    a.footer-link(href='/en/blog/Property-price-analysis-in-Bulgaria-in-2024') Property Prices in Bulgaria 2024           
                div.footer-link-container     
                    a.footer-link(href='/en/blog/What-type-of-property-should-you-invest-in-Bulgaria') Property Types in Bulgaria              
                div.footer-link-container     
                    a.footer-link(href='/en/blog/The-best-places-to-live-in-Bulgaria') The Best Places To Live in Bulgaria             
                div.footer-link-container     
                    a.footer-link(href='/en/blog/Obtaining-Bulgarian-citizenship-what-are-the-advantages') Obtaining Bulgarian citizenship, what are the advantages?             
                div.footer-link-container     
                    a.footer-link(href='/en/blog/Residence-permit-for-investment-in-Bulgaria-2024') Residence Permit For Bulgaria 2024            
                div.footer-link-container     
                    a.footer-link(href='/en/blog/real-estate-investments-in-bulgaria') Real Estate Investments in Bulgaria            
                div.footer-link-container     
                    a.footer-link(href='/en/blog/real-estate-investments-in-europe') Real Estate Investments in Europe             
                div.footer-link-container     
                    a.footer-link(href='/en/blog/real-estate-investments-abroad') Real Estate Investments in Abroad            
                div.footer-link-container     
                    a.footer-link(href='/en/blog/real-estate-opportunities-abroad') Real Estate Opportunities in Bulgaria 
            .col-12.col-sm-6.col-xl-3.footer-col.en-footer-col.footer-links-col  
                div.footer-headline Policies
                div.footer-border-container.d-flex.justify-content-start
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/en/terms-of-service') Terms Of Service
                div.footer-link-container     
                    a.footer-link(href='/en/privacy') Privacy Policy
                div.footer-link-container     
                    a.footer-link(href='/en/accessibility') Accessability Policy
                div.footer-link-container     
                    a.footer-link(href='/en/site-map') Site Map
            .col-12.col-sm-6.col-xl-3.footer-col.en-footer-col
                div.footer-headline Contact Us
                div.footer-border-container.d-flex.justify-content-start
                    div.footer-border
                div.footer-text-container  
                    img.footer-icon.en-footer-icon(src='/img/icons/address-location-map-svgrepo-com-white.svg' alt='Address Icon')
                    span.footer-text Maharozet 10, Tel-Aviv
                div.footer-text-container   
                    img.footer-icon.en-footer-icon(src='/img/icons/phone-svgrepo-com-white.svg' alt='Phone Icon') 
                    span.footer-text Vita Livshitz
                    a.footer-phone(href="tel:0546398138") 054-579-6456
                div.footer-text-container   
                    img.footer-icon.en-footer-icon(src='/img/icons/email-9-svgrepo-com-white.svg' alt='Email Icon')         
                    a.footer-text(href='mailto:lvictory@gmail.com' aria-label='Dira Bulgarit E-mail') lvictory@gmail.com
                div.footer-social.en-footer-social.my-4
                    a(href='https://www.facebook.com/VitaLivshitz' aria-label='Vita Livshitz Facebook' target="_blank")
                        img.footer-social-icon(src='/img/icons/facebook-color-svgrepo-com.svg' alt='Facebook Icon')  
                    a(href='https://www.instagram.com/investcafe.co.il/' aria-label='Invest Cafe Instagram' target="_blank")
                        img.footer-social-icon(src='/img/icons/instagram-1-svgrepo-com.svg' alt='Instagram Icon') 
                    a(href='https://www.youtube.com/@InvestCafeVL' aria-label='Invest Cafe Youtube' target="_blank")
                        img.footer-social-icon(src='/img/icons/youtube-color-svgrepo-com.svg' alt='Youtube Icon')   
                    a(href='https://www.linkedin.com/in/lvictory/' aria-label='Vita Livshitz Linkedin' target="_blank")
                        img.footer-social-icon(src='/img/icons/linkedin-svgrepo-com.svg' alt='Linkedin Icon')      
        .row.footer-copyright-row
            .col-12.footer-copyright-col.text-center
                div.footer-copyright-text.en-footer-copyright-text All rights are reserved to Dira Bulgarit &copy; #{new Date().getFullYear()}
                                    
                    