extends base 

block head
    title Meet The Team | Dira Bulgarit
    meta(name="description" content="Dira Bulgarit team will accompany you all the way to a profitable and stable real estate investment in Bulgaria.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/en/about")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/about" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/about" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/about" hreflang="ru")

    meta(property="og:title" content="Meet The Team | Dira Bulgarit")
    meta(property="og:description" content="Dira Bulgarit team will accompany you all the way to a profitable and stable real estate investment in Bulgaria.")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid
        .row.about-headline-row
            .col.about-headline-col 
                img.about-headline-img(src='/img/sectionCover-4.webp' alt='Image of Burgas Bulgaria') 
                h1.about-headline Meet The Team
                button.section-headline-cta-btn.to-calendly-btn(aria-label='Go to contact us page') Contact Us

    .container-fluid.about-container                                
        .row.about-row.d-flex.align-items-center.justify-content-center.mx-4
            .col-12.col-md-10.col-xxl-6.about-text-col.my-4
                h2.about-text-name Vita Livshitz
                h3.about-text-role Owner
                div.about-text As a <strong>real estate investment analyst</strong>, I specialize in identifying high-potential opportunities across international markets. I possess an in-depth understanding of <strong>where, in which country, on which street</strong>, and most importantly, <strong>from which developer</strong> it is most secure and profitable to purchase real estate.
                div.about-text I provide <strong>comprehensive support</strong> throughout every stage of the investment journey — from the initial consultation to the final transaction and beyond.
                div.about-text With my license as a <strong>mortgage broker</strong>, I assist clients in securing the most favorable financing options available. Thanks to my background in <strong>engineering design</strong>, I am able to evaluate the <strong>redevelopment potential</strong> of each property, ensuring optimal conditions for profitable resale.
                div.about-text I personally <strong>negotiate with all parties</strong> involved in the transaction, ensuring transparency, alignment of interests, and smooth execution.
                div.about-text Above all, I invest not only <strong>my clients' capital</strong>, but also <strong>my own</strong>, which reflects my complete confidence in the strategies I offer.
                div.about-text <strong>Education & Certifications:</strong>
                div.about-text <strong>● BSEd</strong> – Bachelor of Science in Engineering Education
                div.about-text <strong>● MDes</strong> – Master of Engineering Design
                div.about-text <strong>● Licensed Realtor</strong>
                div.about-text <strong>● Licensed Mortgage Broker</strong>
            .col-12.col-md-10.col-xxl-6.about-img-col.text-center
                img.about-img.img-fluid(src='/img/vita-livshitz-img.webp' alt='Profile picture of Dira Bulgarit owner Vita Livshitz') 

    //- .container-fluid.partners-container
    //-     .row.about-partners-headline-row.mx-4
    //-         .col-12.about-partners-headline-col.text-center 
    //-             h2.about-partners-headline Our Experts                         
    //-             h3.about-partners-text Meet the professionals that we work with in Bulgaria and Israel                         
    //-     .row.about-partners-headline-row.mx-4.justify-content-center
    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card.en-about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/artem-karavaty.webp' alt='Profile image of the real estate advisor Artem Karavaty')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name Artem Karavaty
    //-                                 .card-title.about-partners-card-prof Real Estate Agent
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-start
    //-                                     span.about-partners-card-text A realtor at heart who specializes in locating, developing and marketing properties all over Bulgaria and especially in the coastal area. We work closely with Artem to find the latest property investments in Bulgaria.
    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card.en-about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/fani-smardjiva.webp' alt='Profile image of the lawyer Fani Smardjwa')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name Fani Smardjwa
    //-                                 .card-title.about-partners-card-prof Lawyer
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-start
    //-                                     span.about-partners-card-text An expert in the fields of real estate and administration who has many years of experience in simplifying and dealing with the various regulatory bodies in Bulgaria. We use Fanny's extensive knowledge in drafting contracts and various consultations.
    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card.en-about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/avelina-aria-2-ceo.jpg' alt='Profile image of Atlantis Aria 2 CEO Avalina Valikova')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name Avalina Valikova
    //-                                 .card-title.about-partners-card-prof Atlantis Aria 2 CEO
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-start
    //-                                     span.about-partners-card-text Evelina is a senior CEO of the real estate company Atlantis, which builds many projects throughout Bulgaria. We are in close contact with Evelina regarding properties and future projects that may be of interest to Israeli investors.
    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card.en-about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/SH-consulting-EOOD.jpg' alt='Logo image of the accounting firm Real Estate Advisors')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name SH consulting EOOD
    //-                                 .card-title.about-partners-card-prof Accounting Firm
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-start
    //-                                     span.about-partners-card-text Bulgarian accounting firm with many years of experience in the field of accounting and taxation. The company specializes in taxation in the field of Bulgarian real estate and assists us in drafting contracts and understanding the taxation laws.
    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card.en-about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/oded-gramnov-lawyer.webp' alt='Profile image of the lawyer Oded Germanov')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name Oded Germanov
    //-                                 .card-title.about-partners-card-prof Lawyer
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-start
    //-                                     span.about-partners-card-text An expert in the field of real estate in Bulgaria and Israel, leads the field of Bulgarian passports and obtaining Bulgarian citizenship based on investment. Attorney Germanov also provides legal advice to non-profit organizations and commercial companies.
                                            
    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card.en-about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/arik-sagiv.jpg' alt='Profile image of the financing advisor Arik Sagiv')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name Arik Sagiv
    //-                                 .card-title.about-partners-card-prof Financing Advisor
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-start
    //-                                     span.about-partners-card-text Former Employee of the Bank of Israel and Bank Hapoalim, member of the Association of Israel Housing Consultants and a licensed consultant for all banks and insurance companies. Provides banking support in Israel for the purchase of properties abroad, especially in Bulgaria.

    .container-fluid.mainpage-rec-container            
        .row.mx-4.justify-content-center
            .col-12.mainpage-rec-maintext-col.text-center
                h2.mainpage-rec-tag Recommendations   
                h3.mainpage-rec-headline What Our Customers Say About Us
            .col-12.col-md-10.reviews-carousel-col           
                #reviewsCarousel.carousel.slide.text-center.reviews-carousel(data-bs-touch='true' data-bs-interval='15000' data-bs-ride='carousel')
                    .carousel-inner.reviews-carousel-inner
                        .carousel-item.active.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-tatiana-k.webp' alt='Image of the recommender Tatiana K')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name Tatiana K.
                                        div.mainpage-reviews-prof Social Worker
                                        div.mainpage-reviews-review.fst-italic "We recently completed a deal to purchase a studio apartment in Bulgaria through Invest Cafe and want to share our positive experience. From the start, the team demonstrated a high level of professionalism. They explained all stages of the transaction in detail, helped us select options that matched our budget and preferences. We were particularly pleased that the company’s consultants (namely Vita Lifshitz) are well-versed in local legal and administrative nuances, which greatly simplified the process. Communication was always excellent - all questions were answered promptly, documents were prepared on time, and the entire process went smoothly without surprises. We also want to note that they supported us right up to the signing of the contract. We are satisfied with our choice and grateful to Invest Cafe for their honesty, transparency, and support at every stage. If you are considering buying real estate in Bulgaria, we confidently recommend this company."
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-miriam-k.webp' alt='Image of the recommender Miriam K')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name Miriam K.
                                        div.mainpage-reviews-prof
                                        div.mainpage-reviews-review.fst-italic "Purchasing real estate in Georgia through Invest Cafe left a positive impression. The agency organized a trip to select the property: transfers, accommodation, and viewings were meticulously planned. The staff were always available, provided professional advice, and assisted with documents. Everything went quickly, conveniently, and stress-free. I recommend Invest Cafe as a reliable agency for investments in Georgia."
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-marina-f.webp' alt='Image of the recommender Marina F')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name Marina F.
                                        div.mainpage-reviews-prof Interior Designer
                                        div.mainpage-reviews-review.fst-italic "You can immediately tell a passionate, enthusiastic person who is dedicated to their work. Vita is an absolutely amazing person and a highly skilled professional. It’s very important that everything she offers is based on her own experience. She shares her knowledge and experience sincerely and generously, which creates complete trust, respect, and admiration for her professionalism! I sincerely hope that my experience of buying real estate in Bulgaria is just the beginning. There will be Greece, Cyprus, Italy… in short, I enjoyed it, and it’s just the start!"
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-guzel.webp' alt='Image of the recommender Guzel')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name Guzel
                                        div.mainpage-reviews-prof 3D Programmer
                                        div.mainpage-reviews-review.fst-italic "Vita is a delight! Very pleasant to communicate with, highly competent and knowledgeable, she answers all questions, even the most sensitive ones. We bought an apartment in Greece with her, and she supported us at every stage, was always available, and resolved all issues during the transaction. We were very satisfied. Vita, thank you! And we wish you continued success in your business!"
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-alex-n.webp' alt='Image of the recommender Alex N.')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name Alex N.
                                        div.mainpage-reviews-prof Software Developer
                                        div.mainpage-reviews-review.fst-italic "I bought an apartment through Invest Cafe. They were incredibly helpful every step of the way, even with getting a mortgage in Israel. They really know their stuff. If you're looking to buy overseas, these are your people!"
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-stas-k.webp' alt='Image of the recommender Stas K')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name Stas K.
                                        div.mainpage-reviews-prof QA Manager
                                        div.mainpage-reviews-review.fst-italic "I purchased an apartment in Greece and Bulgaria through Invest Cafe, and I can confidently say it was an excellent experience. The agency provided exceptional service at every stage of the transaction, including assistance with securing a mortgage. The team has deep market knowledge and works with the best developers in both Greece and Bulgaria. What impressed me most was the company’s founder — a true market analyst with a profound understanding of its dynamics and trends. Invest Cafe not only found me outstanding deals, but also offered valuable advice on maximizing returns and long-term investment planning. I wholeheartedly recommend Invest Cafe to anyone looking for a reliable partner in purchasing real estate abroad. With them, the buying process is smooth and enjoyable, and the results exceed expectations!"
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-alexander-m.webp' alt='Image of the recommender Alexander L')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center(dir='ltr')
                                        div.mainpage-reviews-name Alexander L.
                                        div.mainpage-reviews-prof Musician
                                        div.mainpage-reviews-review.fst-italic "Vita is a wonderful and thoughtful professional in her field. I took her online investment course and consulted with her several times over the phone. I can confidently recommend her as a responsible and reliable expert."
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-rami-p.webp' alt='Image of the recommender Nadav P')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name Nadav P.
                                        div.mainpage-reviews-prof Accountant
                                        div.mainpage-reviews-review.fst-italic "I purchased an apartment in Bulgaria through Invest Cafe, and I can confidently say it was an excellent experience. The agency provided exceptional service at every stage of the transaction, including assistance with securing a mortgage. The team has deep market knowledge and works with the best contractors and developers in Greece and Bulgaria. What impressed me most was the company’s founder – a true real estate market analyst with a deep understanding of its characteristics and trends. Invest Cafe not only found me excellent deals but also provided valuable advice on maximizing profits and long-term investment planning. I highly recommend Invest Cafe to anyone looking for a reliable partner in purchasing real estate abroad. With them, the buying process is simple, pleasant, and the results exceed all expectations!"
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-anna-v.webp' alt='Image of the recommender Anna V')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center(dir='ltr')
                                        div.mainpage-reviews-name Anna V.
                                        div.mainpage-reviews-prof UI/UX Specialist
                                        div.mainpage-reviews-review.fst-italic "Huge thanks to Vita for her incredible help in purchasing a studio in Bulgaria! From the very beginning, I felt confidence, support, and genuine care. Vita was always available, answered all my questions, assisted with documents, and selected options that matched all my wishes. Thanks to her, the process was easy, calm, and stress-free. I got exactly what I dreamed of! I’m so glad I chose her, and I happily recommend Vita to anyone looking for a reliable and attentive professional!"
                    button.carousel-control-prev(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='prev')
                        span.carousel-control-prev-icon.mainpage-reviews-carousel-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='next')
                        span.carousel-control-next-icon.mainpage-reviews-carousel-next-icon(aria-hidden='true')
                        span.visually-hidden Next     
            .col-12.text-center.my-5   
                button.btn-cta.pricing-cta-btn.to-calendly-btn(aria-label='Go to contact us page') Contact Us      

    include _contactUsFixed  
    include _contactUsFixedMobile                       

                                            