extends base 

block head
    title Meet The Team | Dira Bulgarit
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid
        .row.about-headline-row
            .col.about-headline-col 
                img.about-headline-img(src='/img/sectionCover-4.webp' alt='Image of Burgas Bulgaria') 
                h1.about-headline Meet The Team
                button.section-headline-cta-btn.to-calendly-btn(aria-label='Go to contact us page') Contact Us

    .container-fluid.about-container
        .row.about-row.d-flex.align-items-center.justify-content-center.mx-4
            .col-12.col-md-10.col-xxl-6.about-text-col.my-4
                h2.about-text-name Yeheli Samuels
                h3.about-text-role Real Estate Consultant and Owner
                div.about-text Graduated with a masters degree in business administration and economics, senior project manager, personal training mentor and graduate of business development from Grant Kidron. Lives in Bulgaria, in Burgas City, and accompanies investors in the field of real estate.
                div.about-text I've started my journey in Bulgaria without much experience about 7 years ago. It all started when my husband and I wanted to buy an apartment in Israel. We found a project that suited us, we registered, and after the project received a building permit, we paid an initial deposit of 25% of the property's price and waited the period of time written in the contract. After the waiting period was over, it was time to go to the bank and ask for financing. I'm sure that some of you have been in a similar situation - sitting in front of a banker and feeling that your whole life rests in the palm of his hand. On the one hand, the excitement is at its peak, on the other, the fear of what will or may not happen. After a few days we received a call from the banker who told us that there was approval for 50% financing and we would have to bring another 25% from home because we are already relatively old. To us that sounded like an impossible task.
                div.about-text After calculations and flow management that we performed with a detailed business plan, we came to the conclusion that we are not ready to live under such a heavy financial burden for 4 walls. Many things can happen along the way (employment, wages, closures, war), and we were less than satisfied with the situation of financing 50% from the bank and bringing 50% from our own pockets.
                div.about-text We finally decided to cancel the deal, paid a fine, and chose to look into other options. We looked for offers that fit the budget we have and came across ads for apartments for living and investment abroad. Like all Israelis, our eyes were drawn to the United States, but it is really far from me and I am a person who likes my things to be around me or nearby.
                div.about-text We looked at several countries and after doing some research I came to the conclusion that Bulgaria is among the cheapest countries in the field of real estate with a variety of interesting options. I called and told him "Pack your bags, were flying to Burgas, Bulgaria!."
                div.about-text Very quickly we found a beautiful apartment in an apartment complex with parking, a pool, a spa center, playgrounds for children, located near shopping centers and educational institutions, <strong>and all this for the price of a luxury car in Israel</strong>.
                div.about-text I decided to establish <strong>"Dira Bulgarit - Israeli real estate in Bulgaria"</strong> to accompany Israeli investors who want to purchase an apartment in Bulgaria and go through the process pleasantly, with certainty and transparency. And for this purpose I've studied the country, the regulations, what is allowed and what is not, I created business relationships, built a system of cooperation throughout the country all with the purpose of help you become an owner of an apartment in Bulgaria with a complete sense of security, that there's someone who you can relay on, speaks your language and most importantly, looks after your interests, <strong>We will accompany you throughout the process hand in hand until you receive the key to the apartment of your dreams</strong>.
            .col-12.col-md-10.col-xxl-6.about-img-col.text-center
                img.about-img.img-fluid(src='/img/yaheli.webp' alt='Profile picture of real estate consultant and owner Yeheli Samuels')                
        .row.about-row.d-flex.align-items-center.justify-content-center.mx-4
            .col-12.col-md-10.col-xxl-6.about-text-col.my-4
                h2.about-text-name Simon Shlomo
                h3.about-text-role Business Consultant and Owner
                div.about-text I am Simon Shlomo, the owner and consultant at <strong>"Dira Bulgarit - Israeli Real Estate in Bulgaria"</strong>. With over 20 years of experience as a business consultant and sales manager, I have dedicated my career to making transactions that truly benefit my clients and improve their lives. My guiding principle is "a good name is better than good oil".
                div.about-text The main goal is to help Israeli investors find excellent real estate opportunities in Bulgaria. Currently, Bulgaria offers fantastic investment potential with properties that promise great returns. On the other hand, in the Israeli market, prices are high and returns are low. Bulgaria is one step away from full membership in the European Union and then real estate in the country full of breath taking landscapes will reach its true value - it's time to jump on the bandwagon.
                div.about-text My intention is to establish a friendly, professional and informal relationship with you. We strive to make the investment process smooth and simple for you. We provide full support, from identifying top investment opportunities to closing deals and offering ongoing assistance. Our goal is to ensure you get the best return and a smooth investment experience. We offer a variety of exclusive properties on our website and promise to work only with experienced Bulgarian entrepreneurs who have received recommendations and showed attractive returns for our investors over the years.
                div.about-text So if you are looking for a profitable investment channel, or considering moving abroad, now is the perfect time to explore the opportunities in Bulgaria. <strong>I invite you to make an appointment through our website and see how we can help you achieve your investment goals</strong>.
                div.about-text Choosing <strong>"Dira Bulgarit - Israeli real estate in Bulgaria"</strong> means cooperation with someone who prioritizes your interests and is dedicated to your success. I look forward to working with you and helping you make smart and profitable investments in Bulgaria.
            .col-12.col-md-10.col-xxl-6.about-img-col.text-center
                img.about-img.img-fluid(src='/img/shimon.webp' alt='Profile picture of business advisor and owner Simon Shlomo')                         
        .row.about-row.d-flex.align-items-center.justify-content-center.mx-4
            .col-12.col-md-10.col-xxl-6.about-text-col.my-4
                h2.about-text-name Dror Salomon
                h3.about-text-role  Content Manager and Owner
                div.about-text Graduated with a bachelor's degree in psychology and for the last five years been working in the field of programming and websites building. 
                div.about-text The difficulty in buying real estate at a reasonable price in our country leads many of the young couples and singles in their 20s, 30s and 40s to abandon their dream and accept the fact that they will probably not own property and will be forced to rent in an unstable market. The real estate market in Israel is going through many upheavals due to reasons such as lack of real estate supply, wars and lack of working hands in the construction market which makes the dream of purchasing a house almost impossible for many of us.
                div.about-text In recent years I have researched other real estate markets around the world to see if there are viable investment channels abroad and eventually I've ended up in Bulgaria. What attracted me especially to Bulgaria were the relatively low prices, the developing economy and the increase in investments in the country. I realized that this could be a great investment opportunity.
                div.about-text The Israeli channel where I found the most comprehensive information about investments in Bulgaria was in the Facebook group of Yeheli Samuels <strong>"Israeli Real Estate in Bulgaria"</strong>, and after a fruitful conversation with Yeheli, as well as with Simon Shlomo, a man with a lot of experience and many years In business development and consulting, we decided that it would be a good idea to launch a website that would include both worthwhile properties for investment and accessible information for Israelis who want to take the first steps in real estate investments in Bulgaria.
                div.about-text The purpose of the site we established <strong>"Dira Bulgarit - Israeli real estate in Bulgaria"</strong> is to surround the Israeli investor with close support throughout the entire process of purchasing the property - from the stage of interest and locating the property to signing the final contract and finding a tenant or moving to the desired apartment.
                div.about-text So if you are interested in investing in real estate in a country that has been in constant growth for the past thirty years, let me recommend Bulgaria as a worthwhile destination that will give you great returns for your investments. <strong>Contact us and schedule a video meeting at a time that is convenient for you and we will do everything we can to answer any question and accompany you to the desired property</strong>.
            .col-12.col-md-10.col-xxl-6.about-img-col.text-center
                img.about-img.img-fluid(src='/img/dror.webp' alt='Profile picture of content manager and owner Dror Salomon') 

    .container-fluid.partners-container
        .row.about-partners-headline-row.mx-4
            .col-12.about-partners-headline-col.text-center 
                h2.about-partners-headline Our Experts                         
                h3.about-partners-text Meet the professionals that we work with in Bulgaria and Israel                         
        .row.about-partners-headline-row.mx-4.justify-content-center
            .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
                .card.about-partners-card.en-about-partners-card
                    img.card-img-top.about-partners-img(src='/img/artem-karavaty.webp' alt='Profile image of the real estate advisor Artem Karavaty')    
                    .card-body
                        .container-fluid
                            .row.about-partners-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .card-title.about-partners-card-name Artem Karavaty
                                    .card-title.about-partners-card-prof Real Estate Agent
                                .col-12
                                    div.card-text-container.about-partners-text-container.text-start
                                        span.about-partners-card-text A realtor at heart who specializes in locating, developing and marketing properties all over Bulgaria and especially in the coastal area. We work closely with Artem to find the latest property investments in Bulgaria.
            .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
                .card.about-partners-card.en-about-partners-card
                    img.card-img-top.about-partners-img(src='/img/fani-smardjiva.webp' alt='Profile image of the lawyer Fani Smardjwa')    
                    .card-body
                        .container-fluid
                            .row.about-partners-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .card-title.about-partners-card-name Fani Smardjwa
                                    .card-title.about-partners-card-prof Lawyer
                                .col-12
                                    div.card-text-container.about-partners-text-container.text-start
                                        span.about-partners-card-text An expert in the fields of real estate and administration who has many years of experience in simplifying and dealing with the various regulatory bodies in Bulgaria. We use Fanny's extensive knowledge in drafting contracts and various consultations.
            .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
                .card.about-partners-card.en-about-partners-card
                    img.card-img-top.about-partners-img(src='/img/avelina-aria-2-ceo.jpg' alt='Profile image of Atlantis Aria 2 CEO Avalina Valikova')    
                    .card-body
                        .container-fluid
                            .row.about-partners-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .card-title.about-partners-card-name Avalina Valikova
                                    .card-title.about-partners-card-prof Atlantis Aria 2 CEO
                                .col-12
                                    div.card-text-container.about-partners-text-container.text-start
                                        span.about-partners-card-text Evelina is a senior CEO of the real estate company Atlantis, which builds many projects throughout Bulgaria. We are in close contact with Evelina regarding properties and future projects that may be of interest to Israeli investors.
            .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
                .card.about-partners-card.en-about-partners-card
                    img.card-img-top.about-partners-img(src='/img/asset-consult.webp' alt='Logo image of the accounting firm Real Estate Advisors')    
                    .card-body
                        .container-fluid
                            .row.about-partners-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .card-title.about-partners-card-name Real Estate Advisors
                                    .card-title.about-partners-card-prof Accounting Firm
                                .col-12
                                    div.card-text-container.about-partners-text-container.text-start
                                        span.about-partners-card-text Bulgarian accounting firm with many years of experience in the field of accounting and taxation. The company specializes in taxation in the field of Bulgarian real estate and assists us in drafting contracts and understanding the taxation laws.
            .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
                .card.about-partners-card.en-about-partners-card
                    img.card-img-top.about-partners-img(src='/img/oded-gramnov-lawyer.webp' alt='Profile image of the lawyer Oded Germanov')    
                    .card-body
                        .container-fluid
                            .row.about-partners-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .card-title.about-partners-card-name Oded Germanov
                                    .card-title.about-partners-card-prof Lawyer
                                .col-12
                                    div.card-text-container.about-partners-text-container.text-start
                                        span.about-partners-card-text An expert in the field of real estate in Bulgaria and Israel, leads the field of Bulgarian passports and obtaining Bulgarian citizenship based on investment. Attorney Germanov also provides legal advice to non-profit organizations and commercial companies.
                                            
            .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
                .card.about-partners-card.en-about-partners-card
                    img.card-img-top.about-partners-img(src='/img/arik-sagiv.jpg' alt='Profile image of the financing advisor Arik Sagiv')    
                    .card-body
                        .container-fluid
                            .row.about-partners-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .card-title.about-partners-card-name Arik Sagiv
                                    .card-title.about-partners-card-prof Financing Advisor
                                .col-12
                                    div.card-text-container.about-partners-text-container.text-start
                                        span.about-partners-card-text Former Employee of the Bank of Israel and Bank Hapoalim, member of the Association of Israel Housing Consultants and a licensed consultant for all banks and insurance companies. Provides banking support in Israel for the purchase of properties abroad, especially in Bulgaria.

    .container-fluid.mainpage-rec-contaier            
        .row.about-rec-row.justify-content-center
            .col-12.mainpage-rec-maintext-col.text-center
                h2.mainpage-rec-headline.about-reviews-headline What Our Customers Say About Us
            .col-12.col-md-10.reviews-carousel-col           
                #reviewsCarousel.carousel.slide.text-center.reviews-carousel(data-bs-touch='true' data-bs-interval='15000' data-bs-ride='carousel')
                    .carousel-inner.reviews-carousel-inner
                        .carousel-item.active.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/guyAvitanRec.webp' alt='Image of the recommender Guy Avitan')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name Guy Avitan
                                    div.mainpage-reviews-prof Armed Forces
                                    div.mainpage-reviews-review.fst-italic "Yahli, thank you very much for the support from the beginning of the journey while I was finding the property that suits me best in the Aria project where you found me a two-room apartment, the dealings with the contractor, the help in drafting and analyzing the contract and the regular updates during construction. I know this will not be the last property that I'll buy with your support"
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4    
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/eliToledoRec.webp' alt='Image of the recommender Eli Toldo')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name Eli Toldo
                                    div.mainpage-reviews-prof Bus Driver
                                    div.mainpage-reviews-review.fst-italic "I would like to thank the real estate consultant Yeheli Samuels for the dedicated and professional care in purchasing a wonderful apartment in Bulgaria. All along the way you gave me a feeling that you could be trusted, consulted and gave a proper and quick response to my queries. In addition, it's worth noting the breadth of your heart and caring - just like one of the family! I'm sure that everyone who receives your services in the future will enjoy it as much as I did."
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4      
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatarImg.jpg' alt='Anonymous Avatar Image')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name Zohar David
                                    div.mainpage-reviews-prof Lawyer
                                    div.mainpage-reviews-review.fst-italic "I want to say a huge thank you to Yeheli, who with dedicated, determined, caring and precise guidance, managed to bring a deal that sometimes seemed impossible to a successful conclusion. We are happy with our new, stunning apartment in Bansko, there is no doubt that we will continue with her for another deal in Bulgaria."
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4     
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatarImg.jpg' alt='Anonymous Avatar Image')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name Haim Klim
                                    div.mainpage-reviews-prof Armed Forces
                                    div.mainpage-reviews-review.fst-italic "We first became acquainted with Yaheli when we were looking for an investment channel abroad and chose Burgas. Yaheli warmly recommended us a project at the beginning of its construction called "Atlantis Aria", later on we found out that Yaheli is an efficient and energetic manager who always responded to every question and request we made... Good luck!"
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4     
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/dianGilRec.webp' alt='Image of the recommenders Dian and Gil')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name Dian and Gil
                                    div.mainpage-reviews-prof Kibutz Megido
                                    div.mainpage-reviews-review.fst-italic "We came to Yeheli following the recommendation of a friend who purchased an apartment in Bulgaria through her. We had several conversations with Yeheli in which she was always available and answered all our questions with a lot of patience and gave us a sense of security and that she was accompanying us all the way. We finally purchased a two-room apartment in the Euphoria project in Burgas."
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4      
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatarImg.jpg' alt='Anonymous Avatar Image')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name Nissim Ksbi
                                    div.mainpage-reviews-prof Driving Instructor
                                    div.mainpage-reviews-review.fst-italic "I purchased an apartment in the "Atlantis Aria" project in Burgas, with the full support of Yeheli. She took care of everything. All communication with the contractor, the bureaucracy with the banks, the entire purchase process. Without her this would not have happened. I have since sold the apartment and again the whole process was carried out by Yeheli And I bought another bigger apartment. I warmly and lovingly recommend to anyone interested to work with Yeheli and use her excellent services."
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4      
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatarImg.jpg' alt='Anonymous Avatar Image')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name Rammi Hashaol
                                    div.mainpage-reviews-prof Armed Forces
                                    div.mainpage-reviews-review.fst-italic "Dear Yeheli, thank you very much for your professional and very serviceable work. I received a full envelope and an attentive ear for all my concerns. There is no doubt that the deal was closed thanks to you. Close and ongoing support with the well-known company is second to none. I bought a 2-room apartment in the Euphoria project in Burgas."
                        .carousel-item.reviews-carousel-item.en-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4      
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/raniKurnitzRec.webp' alt='Image of the recommender Rani Kroznitz')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name Rani Kroznitz
                                    div.mainpage-reviews-prof Project Manager
                                    div.mainpage-reviews-review.fst-italic "I purchased two apartments through Dira Bulgarit, an apartment in a holiday complex in Sveti Vlas and a residential apartment in a new project built in Burgas. The team of Dira Bulgarit took care of everything, from finding the property to negotiating and signing the contract with the sellers. Since then, the team continues to monitor and handle everything in order to improve the investment For those looking to invest with peace of mind. This is the team you're looking for!"
                    button.carousel-control-prev(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='prev')
                        span.carousel-control-prev-icon.mainpage-reviews-carousel-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='next')
                        span.carousel-control-next-icon.mainpage-reviews-carousel-next-icon(aria-hidden='true')
                        span.visually-hidden Next     
            .col-12.text-center.my-5   
                button.btn-cta.pricing-cta-btn.to-calendly-btn(aria-label='Go to contact us page') Contact Us      

    include _contactUsFixed  
    include _contactUsFixedMobile                       

                                            