doctype html 
html(lang="en") 
    head 
        block head
            include ../he/_headLinksScripts

    body
        .container-fluid.main-container
            .row.main-row
                .col-12.header-col
                    // HEADER
                    include _header
                .col-12.content-col
                    .container.whatsapp-widget-container.position-fixed.end-0.align-content-center
                        #whatsapp-widget.whatsapp-widget
                            a(href='https://wa.me/972545796456' target='_blank') Talk To Agent
                                img#whatsapp-icon.whatsapp-widget-icon(src='/img/icons/whatsapp-svgrepo-com-white.svg' alt='WhatsApp')
                        script(src='https://cdn.enable.co.il/licenses/enable-L26847g2j5ukwxht-0724-60772/init.js')        
                    // Content
                    block content                   
                .col-12.footer-col        
                    // FOOTER                   
                    include _footer
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-T3DVRVC2' height='0' width='0' style='display:none;visibility:hidden')

        
    