extends base 

block head
    title Contact Us | Dira Bulgarit
    meta(name="description" content="Bulgarian Apartment offers hundreds of profitable investment properties throughout Bulgaria, contact us today for more details")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/en/contact-us")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/contact-us" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/contact-us" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.com/ru/contact-us" hreflang="ru")
    
    meta(property="og:title" content="Contact Us | Dira Bulgarit")
    meta(property="og:description" content="Bulgarian Apartment offers hundreds of profitable investment properties throughout Bulgaria, contact us today for more details")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content 
    .container.py-5
        .row.calendly-row.mx-4
            .col.calendly-col
                div.calendly-text-container.text-center 
                    h1.calendly-text-headline Contact Us
                    div.calendly-text You can <strong>leave your details</strong> and we will get back to you as soon as possible
                    div#crmWebToEntityForm.crmWebToEntityForm
                        form.contact-us-form#webform6296617000000479035(action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads6296617000000479035 method='POST' accept-charset='UTF-8' novalidate)
                            input(type='text' style='display:none;' name='xnQsjsdp' value='c9ef63b049adde9dd26f5acb21dc87ed1cff806c5954f97aa4908339c68a8469')
                            input#zc_gad(type='hidden' name='zc_gad' value='')
                            input(type='text' style='display:none;' name='xmIwtLD' value='901545bd25a6f11e8753daa2bb5bdc4a62c942986fe3a3b3123340dde1be1461ada4f129bad2cf0112fb24bc402fd5af')
                            input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                            input(type='text' style='display:none;' name='returnURL' value='https://www.dirabulgarit.com/en/contact-us-confirm')
                            input.contact-us-honeypot-input(type='text' name='bot_check' style='display:none;' value='')
                            .row.contact-us-row.align-items-center
                                .col-12.contact-us-col.d-flex.justify-content-end
                                    input.contact-us-input.contact-us-name-input.form-control.en-search-filter-input(type='text' name='Last Name' maxlength='200' placeholder='Name' aria-label='Name' aria-describedby='basic-addon1' required)                            
                                    .invalid-tooltip Please enter a name
                                .col-12.contact-us-col.d-flex.justify-content-end
                                    input.contact-us-input.contact-us-phone-input.form-control.en-search-filter-input(type='text' name='Phone' maxlength='10' placeholder='Phone Number' aria-label='Phone Number' aria-describedby='basic-addon1' pattern='[0-9]{10}' required)
                                    .invalid-tooltip.contact-us-phone-invalid Please enter a valid phone number
                                .col-12.contact-us-col.d-flex.justify-content-end 
                                    input.contact-us-input.contact-us-email-input.form-control.en-search-filter-input(type='email' ftype='email' autocomplete='false' name='Email' crmlabel='' maxlength='100' placeholder='Email  ' aria-label='Email' aria-describedby='basic-addon1' pattern='[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,}' required)
                                    .invalid-tooltip.contact-us-email-invalid Please enter a valid email address
                                .col-12.contact-us-col.contact-us-last-col.d-flex.justify-content-end     
                                    textarea.contact-us-textarea.contact-us-description-input.form-control.en-search-filter-input(id='Description' name='Description' aria-label="Request Description" rows="5" placeholder='Is there any thing else you would like us to know?')
                                .col-12.contact-us-col.d-flex.align-items-start.text-start
                                    input.contact-us-checkbox-en(type='checkbox' aria-checked='false' class='zcwf_ckbox' id='Email_Opt_Out' aria-required='false' aria-label='Email Opt Out' name='Email Opt Out' aria-valuemax='50' maxlength='50')
                                    span.webinar-form-check-top-label.form-check-label(for='flexCheckDefault') I consent to receiving relevant information regarding real estate in Bulgaria, which may occasionally be promotional
                                .col-12.contact-us-col
                                    input.contact-us-button.mx-3(type='submit' id='formsubmit' class='formsubmit zcwf_button' value='Send' title='Submit')
                                    input.contact-us-button.mx-3(type='reset' class='zcwf_button' name='reset' value='Clear' title='Reset')
                    //- div.calendly-text <strong>2.</strong> You can choose a consultant by clicking the button and schedule a <strong>video session</strong> at a time that suits you 
                    //- .dropdown.calendly-agents-dropdown
                    //-     button.btn.btn-secondary.dropdown-toggle.calendly-agents-button.en-calendly-agents-button(type='button' data-bs-toggle='dropdown' aria-expanded='false') Choose Consultant
                    //-     ul.dropdown-menu.calendly-agents-list
                    //-         li
                    //-             span.dropdown-item.calendly-agents-choice.calendly-agent-yeheli(data-agent='yeheli') Yeheli Samuels
                    //-                 img.calendly-agent-img.en-calendly-agent-img(src='/img/yeheli-circle.jpeg' alt='Yeheli Samuels picture')
                    //-         li
                    //-             span.dropdown-item.calendly-agents-choice.calendly-agent-shimon(data-agent='shimon') Simon Shlomo     
                    //-                 img.calendly-agent-img.en-calendly-agent-img(src='/img/shimon-circle.jpg' alt='Shimon Shlomo picture')
                    //- div.calendly-widget-container.en-calendly-widget-container.calendly-widget-yeheli
                    //-     <div class="calendly-inline-widget" data-url="https://calendly.com/yeheli/video-meeting-with-yeheli"></div>
                    //-     <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                    //- div.calendly-widget-container.en-calendly-widget-container.calendly-widget-shimon
                    //-     <div class="calendly-inline-widget" data-url="https://calendly.com/simon-ekke/video-meeting-with-shimon"></div>
                    //-     <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script> 








