extends base 

block head
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content 
   
    .container.py-5
        .row.calendly-row.mx-4
            .col.calendly-col
                div.calendly-text-container.text-center 
                    h1.calendly-text-headline Contact Us
                    div.calendly-text <strong>1.</strong> You can <strong>leave your details</strong> and we will get back to you as soon as possible
                    div#crmWebToEntityForm.crmWebToEntityForm
                        form.contact-us-form#webform6296617000000479035(action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads6296617000000479035 method='POST' accept-charset='UTF-8' novalidate)
                            input(type='text' style='display:none;' name='xnQsjsdp' value='59a0780e6b2791aec2fc494a0d52812511ef98c0f6123210fdc332d6fa0b9e22')
                            input#zc_gad(type='hidden' name='zc_gad' value='')
                            input(type='text' style='display:none;' name='xmIwtLD' value='7334e6acba558f934b954c69f5851611538edbf846a3d2f15f807f241012015c2f9c9c0839f214a112e56e062e05be4f')
                            input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                            input(type='text' style='display:none;' name='returnURL' value='https://www.dirabulgarit.com/contact-us-confirm')
                            .row.contact-us-row.align-items-center
                                .col-12.contact-us-col.d-flex.justify-content-end
                                    input.contact-us-input.contact-us-name-input.form-control.en-search-filter-input(type='text' name='Last Name' maxlength='200' placeholder='Name' aria-label='Name' aria-describedby='basic-addon1' required)                            
                                    .invalid-tooltip Please enter a name
                                .col-12.contact-us-col.d-flex.justify-content-end
                                    input.contact-us-input.contact-us-phone-input.form-control.en-search-filter-input(type='text' name='Phone' maxlength='10' placeholder='Phone Number' aria-label='Phone Number' aria-describedby='basic-addon1' pattern='[0-9]{10}' required)
                                    .invalid-tooltip.contact-us-phone-invalid Please enter a valid phone number
                                .col-12.contact-us-col.d-flex.justify-content-end 
                                    input.contact-us-input.contact-us-email-input.form-control.en-search-filter-input(type='email' ftype='email' autocomplete='false' name='Email' crmlabel='' maxlength='100' placeholder='Email  ' aria-label='Email' aria-describedby='basic-addon1' pattern='[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,}' required)
                                    .invalid-tooltip.contact-us-email-invalid Please enter a valid email address
                                .col-12.contact-us-col.d-flex.justify-content-end     
                                    textarea.contact-us-textarea.contact-us-description-input.form-control.en-search-filter-input(id='Description' name='Description' aria-label="Request Description" rows="5" placeholder='Is there any thing else you would like us to know?')
                                .col-12.contact-us-col
                                    input.contact-us-button.mx-3(type='submit' id='formsubmit' class='formsubmit zcwf_button' value='Send' title='Submit')
                                    input.contact-us-button.mx-3(type='reset' class='zcwf_button' name='reset' value='Clear' title='Reset')
                    div.calendly-text <strong>2.</strong> You can choose a consultant by clicking the button and schedule a <strong>video session</strong> at a time that suits you 
                    .dropdown.calendly-agents-dropdown
                        button.btn.btn-secondary.dropdown-toggle.calendly-agents-button.en-calendly-agents-button(type='button' data-bs-toggle='dropdown' aria-expanded='false') Choose Consultant
                        ul.dropdown-menu.calendly-agents-list
                            li
                                span.dropdown-item.calendly-agents-choice.calendly-agent-yeheli(data-agent='yeheli') Yeheli Samuels
                                    img.calendly-agent-img.en-calendly-agent-img(src='/img/yeheli-circle.jpeg' alt='Yeheli Samuels picture')
                            li
                                span.dropdown-item.calendly-agents-choice.calendly-agent-shimon(data-agent='shimon') Simon Shlomo     
                                    img.calendly-agent-img.en-calendly-agent-img(src='/img/shimon-circle.jpg' alt='Shimon Shlomo picture')
                    div.calendly-widget-container.calendly-widget-yeheli
                        <div class="calendly-inline-widget" data-url="https://calendly.com/yeheli/video-meeting-with-yeheli"></div>
                        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                    div.calendly-widget-container.calendly-widget-shimon
                        <div class="calendly-inline-widget" data-url="https://calendly.com/simon-ekke/video-meeting-with-shimon"></div>
                        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script> 








