extends base 

block head
    title The Full Bulgaria Investment Guide | Dira Bulgarit
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid.invest-main-container
        .row.invest-headline-row
            .col.invest-headline-col 
                img.invest-headline-img(src='/img/sectionCover-3.webp' alt='Burgas Bulgaria view image') 
                h1.invest-headline The Full Bulgaria Investment Guide
                button.section-headline-cta-btn.to-calendly-btn(aria-label='Go to contact us page') Contact Us

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center
            .col-10.invest-content-text-col
                h2.invest-content-big-title Bulgaria - A Booming Economy
                div.invest-content-text Bulgaria, a country known for its rich history, stunning landscapes and strategic location in Southeast Europe, has become an attractive destination for real estate investors. The country offers a variety of opportunities from bustling city apartments to peaceful beach and mountain properties. This guide aims to provide an overview of the real estate market in Bulgaria, highlighting key factors, property types, legal considerations and investment tips.
    
    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                h3.invest-content-title Why invest in Bulgaria?
                div.invest-content-text <strong>Attractive Price</strong>: Property prices in Bulgaria are generally low compared to Western Europe, which provides good value for money.
                div.invest-content-text <strong>Growing Economy</strong>: Bulgaria's economy is growing steadily, with increasing foreign direct investment and improving infrastructure. According to the EU forecast, the Bulgarian GDP is expected to grow by 1.9% in 2024 and 2.9% in 2025.
                div.invest-content-text <strong>EU Membership</strong>: As a member of the EU, Bulgaria offers stability and easier access to other EU markets.
                div.invest-content-text <strong>Tourism</strong>: Bulgaria's tourism industry is booming, especially in ski resorts like Bansko and coastal areas along the Black Sea, creating lucrative short-term rental opportunities.
                div.invest-content-text <strong>Favorable Taxation</strong>: Bulgaria has one of the lowest corporate tax rates in the European Union, at 10%, and no property tax for individuals on their first property.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col.text-center
                img.invest-img.img-fluid(src='/img/bulgaria-gdp.jpg' alt="Bulgaria's GDP growth chart from 1980 to 2022")
                div.invest-content-text <i> Bulgaria's GDP growth chart (1980-2022) </i>     

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                h3.invest-content-title Property Types
                div.invest-content-text <strong>Residential properties</strong>: apartments, houses and villas in cities, towns and rural areas.
                div.invest-content-text <strong>Commercial properties</strong>: office spaces, retail stores, hotels and industrial buildings.
                div.invest-content-text <strong>Vacation Homes</strong>: Properties in tourist destinations such as ski resorts, beach areas and historic towns.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                h3.invest-content-title Attractive Areas
                div.invest-content-text <strong>Sofia</strong>: The capital city is an excellent location for residential and commercial investment due to its growing economy, modern amenities and cultural attractions.
                div.invest-content-text <strong>Plovdiv</strong>: Known for its rich history and vibrant culture, Plovdiv is also a growing center for tech startups and businesses.
                div.invest-content-text <strong>Varna</strong>: Bulgaria's "Capital of the Sea" offers excellent opportunities in both residential and vacation properties.
                div.invest-content-text <strong>Burgess</strong>: Another major coastal city with a growing real estate market.
                div.invest-content-text <strong>Bansko</strong>: A popular resort town, ideal for vacation homes and short-term rentals.
                div.invest-content-text <strong>Sunny Beach</strong>: One of the most popular beach resorts, perfect for vacation rentals and investment properties.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                h3.invest-content-title Legal Issues
                div.invest-content-text <strong>Ownership</strong>: Non-EU citizens can buy buildings but not land. However, establishing a Bulgarian company can bypass this limitation, and allow the purchase of land.
                div.invest-content-text <strong>Due Disclosure</strong>: It is important to conduct thorough checks regarding assets, liabilities and legal issues. It is recommended to take the services of a local professional for assistance.
                div.invest-content-text <strong>Property Registration</strong>: All property transactions must be registered in the Bulgarian Property Registry.
                div.invest-content-text <strong>Notary's writings</strong>: The transactions must be closed before a notary, who verifies the legal aspects of the sale.
                div.invest-content-text <strong>Transfer and registration of ownership</strong>: usually varies between 2% and 3% of the value of the property.
                div.invest-content-text <strong>Notary fee</strong>: about 0.1% to 1.5% of the value of the property.
                div.invest-content-text <strong>Annual property tax</strong>: varies by municipality but is usually between 0.15% and 0.45% of the property's tax value.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col.text-center
                img.invest-img.img-fluid(src='/img/SozopolBulgaria.webp' alt='Landscape image of Sozopol Bulgaira') 
    
    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                h2.invest-content-big-title Bulgaria Building Laws
                div.invest-content-text It is possible to purchase a ready-made property in Bulgaria, for example apartments in an old or new building where people already live and which has now been sold to another person. However, buying apartments in brand new projects is becoming more and more popular.
                div.invest-content-text Buying an apartment in a building that has not yet been actually built is significantly cheaper. The buyer acts as an investor who wants to receive all the guarantees that the funds will not be lost, therefore there are detailed laws that supervise the construction process from the beginning to the approval of the final property. If you have decided to buy a property and you are starting to review the market, you will most likely come across the word combinations that are an integral part of the Bulgarian construction industry - act 2, act 14, act 15 and act 16. Many foreigners who wish to buy a property in Bulgaria are not familiar with this part of the purchase, so we have chosen to bring you accurate information on the subject.
                div.invest-content-text Act (deed, protocol) 2, 14, 15 and 16 are the main steps that a newly constructed building must go through before transferring the rights to the new tenants. The purpose of the laws is to control the separate stages of the construction process and check whether the types of construction work and the various adjustments are made in accordance with the approved processes.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                h3.invest-content-title Act 2
                div.invest-content-text In order to receive Act 2, it is necessary to prepare an investment project based on a design permit that was issued and agreed upon with the executing companies. The project, which is prepared in all its parts, is submitted for approval by the relevant municipality, together with a report on compliance with the investment policies, prepared by the authorized inspection company. After the approval of the projects and upon payment of the relevant municipal fees, a building permit is issued.
                div.invest-content-text The building permit is a mandatory document for the legal construction. Multiple buildings can only be made if they are allowed according to the spatial planning law.
                div.invest-content-text After receiving the building permit, the following conditions must be met before starting construction operations:
                div.invest-content-text • A construction permit is validated;
                div.invest-content-text • A contract was signed with a licensed construction inspection company;
                div.invest-content-text • A contract was signed with a builder registered in the Central Professional Register of Builders in Bulgaria (CPRS) and the Bureau of Builders in Bulgaria (KSB);
                div.invest-content-text • A contract was signed with an architect for the supervision of copyrights;
                div.invest-content-text • Approved Construction Waste Management Program (CWMP) and Approved Health and Safety Program (HSP) has been provided and validated;
                div.invest-content-text • Presence of an employee from the municipal administration;
                div.invest-content-text Construction can begin after signing act 2 - for opening a construction site and opening the construction line and level in the presence of a municipal official.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                h3.invest-content-title Act 14
                div.invest-content-text Act 14 is the first step in controlling the construction works and the document is issued when the building reaches the shell stage. Act 14 is related to the acceptance of the construction process. It was drawn up and signed by the investor, the project manager (building supervision) and the architect.
                div.invest-content-text This is an important step because from the moment it is issued, the separate units in the building are being divided into sub-plots.
                div.invest-content-text Usually it takes about a year to get to act 14 once construction has began.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                h3.invest-content-title Act 15
                div.invest-content-text The next step is Act 15, this is the document that verifies that the construction of the building has been completed. The document was prepared by the investor, the builder, the project manager and the architect.
                div.invest-content-text The purpose of the act is to confirm the readiness of the building for occupancy. The document is signed by both the authorized parties and the owners of the units in the building.
                div.invest-content-text After the completion of the construction, all the project parties hold a committee that confirms that the construction was done in accordance with the approved investment projects, according to the permit plan that was submitted, and in accordance with the requirements related to the project. Act 15 is under Act 169, Section 1 and 2 and the terms of the construction agreement. This means that the building was handed over from the developer to the approving engineer.
                div.invest-content-text Usually the distance between act 14 and act 15 is about 15 months. The submitted document contains the descriptions of the contracts for the execution of the construction, the documentation of the execution as well as the actions and protocols established in the construction process. As part of the preparation of the document, the site's construction file, protocols, diaries, correspondence statements and other documents required by the appropriate normative act must also be included. At this stage, an inventory of the site and the environment where the construction was carried out is carried out to check whether it has been returned to the state it was in before the works began. Also, an inventory list is made of those works that remain unfinished or were not finished well and that must be standardized by submitting the application for the issuance of a residence certificate.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                h3.invest-content-title Act 16 
                div.invest-content-text Act 16 is the most desired document by the new property owners, it is actually a certificate of residence. Based on Act 16, the relevant regional directorate for national construction supervision issues the certificate of residence.
                div.invest-content-text A certificate of residence is the last act for the construction of the building and it confirms that the building is suitable for residence. The main condition for receiving Act 16 is that no gap is found between the actual building and the permit plans.

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col.text-center
                img.invest-img.img-fluid(src='/img/varna.webp' alt='Image of a street in Varna Bulgaria') 

    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                h2.invest-content-big-title Our tips for proper investment in Bulgaria
                h3.invest-content-text.my-3 <strong> 1. Planning</strong>:  
                div.invest-content-text •	Identify your needs.
                div.invest-content-text •	Determine the desired size, layout and location of your dream apartment.
                div.invest-content-text  •	Consider proximity to facilities such as schools, public transportation and shopping centers. 
                h3.invest-content-text.my-3 <strong> 2. Market Research</strong>:  
                div.invest-content-text •	Explore the real estate market in Bulgaria.
                div.invest-content-text •	Look for reputable contractors and developers.
                div.invest-content-text •	Check reviews and previous projects of potential contractors.
                h3.invest-content-text.my-3 <strong> 3. Find the right property</strong>:  
                div.invest-content-text •	Visit real estate websites and online property listings.
                div.invest-content-text •	Attend property shows and open houses.
                div.invest-content-text •	Consult with local real estate professionals who specialize in new projects.      
                div.invest-content-text •	Visit showrooms and construction sites.    
                div.invest-content-text •	Check the quality of materials and construction.    
                div.invest-content-text •	Ask about the timeline for completion if the property is still under construction.     
                div.invest-content-text •	Get a plan of the neighborhood and future developments in the area.    
                h3.invest-content-text.my-3 <strong> 4. Verify the contractor and the project reputation</strong>:  
                div.invest-content-text •	Research the contractor's history and reputation.
                div.invest-content-text •	Look for reviews and recommendations from previous buyers.
                div.invest-content-text •	Check if there are any legal problems or complaints against the contractor.    
                div.invest-content-text •	Make sure the project has all the necessary permits and approvals.
                div.invest-content-text •	Make sure the contractor has the right to sell the property.
                div.invest-content-text •	Ask for the total cost of the apartment, including the purchase price, taxes and additional fees.   
                div.invest-content-text •	Ask for a detailed payment schedule if the apartment is under construction.  
                h3.invest-content-text.my-3 <strong> 5. Legal Process</strong>:  
                div.invest-content-text •	Hire a local real estate attorney to assist with the legal aspects of the purchase.
                div.invest-content-text •	Make sure the lawyer is experienced in Bulgarian real estate law.
                div.invest-content-text •	After you have chosen a property, sign an initial contract (initial sales agreement). This contract outlines the terms of the sale, including payment schedules, completion date, and penalties for delays.     
                h3.invest-content-text.my-3 <strong> 6. Full Disclosure</strong>:  
                div.invest-content-text •	Conduct a thorough inspection of the property, even if it is new. Check for construction defects or problems.
                div.invest-content-text •	Invite a professional tester if necessary.
                div.invest-content-text •	Make sure the property is free of any encumbrances or legal obligations.
                h3.invest-content-text.my-3 <strong> 7. Purchase Finalization</strong>:  
                div.invest-content-text •	Upon completion of the purchase, a final purchase contract (notary deed) will be signed, this contract must be signed in the presence of a notary.
                div.invest-content-text •	Make the final payment according to the agreed schedule.
                div.invest-content-text •	Make sure all payments are properly documented and receipts are obtained.  
                h3.invest-content-text.my-3 <strong> 8. Registration and Transfer</strong>:  
                div.invest-content-text •	The notary will register the purchase at the Bulgarian Property Registry, this process legally transfers ownership to you.
                div.invest-content-text •	Register the property at the local municipality for tax purposes.
                div.invest-content-text •	Update your residence permit if necessary.
                h3.invest-content-text.my-3 <strong> 9. After Purchase Considerations</strong>: 
                div.invest-content-text •	Conduct a final inspection to make sure everything is according to the contract.
                div.invest-content-text •	Obtain all necessary keys, documents and guarantees.
                div.invest-content-text •	Define utilities such as water, electricity and internet.
                div.invest-content-text •	Take care of the transport and furniture of the apartment.
                div.invest-content-text.my-4 Throughout the process it is very important to maintain clear <strong>communication</strong> with the contractor and <strong>documentation</strong> of all documents, contracts and correspondence (keep copies!). By following these steps and working with reputable professionals, you can successfully purchase a new apartment from a contractor in Bulgaria, ensuring a smooth and secure transaction.
                
    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                h2.invest-content-big-title So How Can We Help?
                div.invest-content-text As you can see, the process of purchasing a property in Bulgaria can be daunting without the right tools, therefore at <strong>"Dira Bulgarit - Israeli real estate in Bulgaria"</strong>, we provide a comprehensive and efficient process for Israelis who wish to invest in Bulgarian real estate. Our expertise guarantees a smooth experience from start to finish, adapted to the specific needs of each customer, and we will accompany you throughout the entire purchase process:
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/one-open-svgrepo-com.svg' alt='Icon of the number one')          
                h3.invest-content-title.text-center Property Location
                div.invest-content-text Our process begins with a detailed understanding of your requirements and preferences. Utilizing our deep market knowledge and extensive network, we locate properties that match your criteria, ensuring you find the perfect investment.
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/two-open-svgrepo-com.svg' alt='Icon of the number two')          
                h3.invest-content-title.text-center Negotiations
                div.invest-content-text After identifying a potential property, we proceed with negotiations on your behalf. Our team deals directly with the entrepreneurs to ensure the most favorable conditions, and ensures that your interests are represented in an optimal way that protects your interests and ensures a safe investment.
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/three-open-svgrepo-com.svg' alt='Icon of the number three')          
                h3.invest-content-title.text-center Legal Representation 
                div.invest-content-text To protect your investment, we coordinate with reputable Bulgarian lawyers specializing in real estate transactions. These lawyers represent you exclusively and draft and review all contractual documents to ensure they are comprehensive and legally sound.
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/four-open-svgrepo-com.svg' alt='Icon of the number four')          
                h3.invest-content-title.text-center Notary Services
                div.invest-content-text We accompany you to the notary's office to complete the transaction. This step includes verifying all legal documents to ensure an accurate and secure transfer of ownership in your name.
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/five-open-svgrepo-com.svg' alt='Icon of the number five')          
                h3.invest-content-title.text-center Services Definition
                div.invest-content-text After the purchase, we assist in converting all utility bills, including electricity, to your name. Our team takes care of every detail and ensures that your new property is fully operational and ready for occupancy.
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/six-open-svgrepo-com.svg' alt='Icon of the number six')          
                h3.invest-content-title.text-center Renter Selection
                div.invest-content-textWe We understand the importance of finding a reliable renter. Our services include marketing the property, screening potential renters and ensuring that we choose a person who meets our standards.
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/seven-open-svgrepo-com.svg' alt='Icon of the number seven')          
                h3.invest-content-title.text-center Property Management
                div.invest-content-text Our commitment extends beyond placing tenants. We manage all aspects of the rental agreement, ensure timely rent collection, and maintain ongoing supervision of rent payments. We also allow the transfer of payment in advance to secure your financial interests.
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/eight-open-svgrepo-com.svg' alt='Icon of the number eight')          
                h3.invest-content-title.text-center Continuous Support and Availability
                div.invest-content-text We believe in building lasting relationships with our customers. Our team remains fully available to you, providing regular updates and peace of mind. We are committed to providing exceptional service and ensuring you feel supported every step of the way.
                div.invest-number-icon-container.text-center
                    img.invest-number-icon(src='/img/icons/achievement-svgrepo-com.svg' alt='Icon of a prize ribbon')          
     
    .container-fluid.p-0
        .row.invest-content-row.justify-content-center 
            .col-10.invest-content-text-col
                h2.invest-content-big-title.text-center In Conclusion
                div.invest-content-text By choosing <strong>"Dira Bulgarit - Israeli real estate in Bulgaria"</strong>, you are part of a team committed to providing excellence and maximizing your investment in the Bulgarian real estate market. Our full service approach ensures every detail is professionally managed, giving you the freedom to enjoy the benefits of your investment without the typical hassles of property management. So what are you waiting for? Click the button and schedule a video meeting at a time that suits you best.
                div.invest-button-container.text-center
                    button.btn-cta.reviews-cta-btn.to-calendly-btn(aria-label='Go to contact us page') Contact Us

    include _contactUsFixed  
    include _contactUsFixedMobile                      
                           
       
        