extends base 

block head
    title Q&A | Dira Bulgarit
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid.qanda-headline-container
        .row.qanda-headline-row
            .col-12.qanda-headline-col 
                img.qanda-headline-img(src='/img/sectionCover-2.webp' alt='Image of Burgas Bulgaria landscape') 
                div.qanda-headline We Are Here To Answer Any Question
                button.section-headline-cta-btn.to-calendly-btn(aria-label='Go to the contact us page') Contact Us
    
    .container-fluid.qanda-questions-accordion-container
        .row.qanda-questions-headline-row.justify-content-center 
            .col-10.qanda-questions-headline-col 
                h1.qanda-questions-headline Questions and Answers
        .row.qanda-questions-accordion-row.justify-content-center 
            .col-10.qanda-questions-accordion-col
                <div class="accordion accordion-flush" id="qandaAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Accordion What does the future hold for Bulgaria?  
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#qandaAccordion">
                        <div class="accordion-body en-accordion-body">According to a study by "GLOBAL PROPERTY GUIDE" the leading real estate research company, Bulgaria's future looks positive in terms of the real estate market. They point out that the market is expanding, with many opportunities for Israeli investors. Other advantages include: <br> ● <strong>Stable economy:</strong> Bulgaria is a member of the European Union and enjoys a relatively stable economy with continuous growth.<br> ● <strong>Low real estate prices:</strong> Real estate prices in Bulgaria are significantly lower compared to other European countries, which makes it attractive for investors.<br> ● <strong>Increasing demand:</strong> The demand for properties in Bulgaria is on the rise, both from local residents and from foreign investors.<br> ● <strong >Tourism development:</strong> Bulgaria enjoys significant tourism development, which creates demand for vacation apartments and rental properties.</div> 
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Accordion What are the advantages of investing in real estate in Bulgaria through "Dira Bulgarit"?
                        </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                        <div class="accordion-body en-accordion-body"> "Dira Bulgarit" offers several advantages to Israeli investors who wish to invest in real estate in Bulgaria:<br>● <strong>Professional support:</strong> We offer personal and professional support throughout the entire purchase process, from searching for a property to closing the deal.<br> ● <strong>Huge apartment database:</strong> Thanks to an Israeli office in Bulgaria, we have a huge apartment database containing properties from all over Bulgaria, and we update our property database regularly.<br>● <strong>Activity from Bulgaria:</strong> Activity from Bulgaria allows us to have access to up-to-date information and by that allows us to provide better service for our clients.<br>● <strong>Strategic partnerships:</strong> We cooperate with leading local entities in the field of real estate in Bulgaria, which guarantees our clients the best deals.<br> ● <strong>Full support:</strong> We provide full support to all our customers, starting from the search phase to managing the property after the purchase.  </div>                       
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Accordion What types of properties can be found through "Dira Bulgarit"?
                        </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                        <div class="accordion-body en-accordion-body">"Dira Bulgarit" offers a wide range of properties for sale in Bulgaria, including:<br>● <strong>New apartments:</strong> New apartment projects under construction or recently completed.<br>● <strong>Second hand apartments:</strong> Apartments that are published in the resale market.<br>● <strong>Holiday apartments:</strong> Apartments intended for rent to tourists.<br>● <strong>Residential properties:</strong> Private houses and villas.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Accordion In which areas of Bulgaria can properties be found through "Dira Bulgarit" ?
                        </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                        <div class="accordion-body en-accordion-body">"Dira Bulgarit" offers properties all over Bulgaria, with a focus on popular areas among Israeli investors, such as:<br>● <strong>Burgess:</strong> a beautiful city with an international airport and developed infrastructure.<br>● <strong>Sofia :</strong> The capital city of Bulgaria, an important commercial and cultural center.<br>● <strong>Varna:</strong> Another city with beautiful beaches and extensive tourist activity.<br>● <strong>Plavdiv:</strong> A historic city with many tourist attractions.<br>● <strong>Pomprovo:</strong> A picturesque ski town with a high demand for rent in the season months</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Accordion What is the process of purchasing a property through "Dira Bulgarit"?
                        </button>
                        </h2> 
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                        <div class="accordion-body en-accordion-body">"Dira Bulgarit" accompanies its clients throughout the entire property purchase process, from searching for a property to closing the deal. The process includes the following steps: <strong><br>A. Property search:</strong><br>&nbsp;<strong>1. Needs and preferences:</strong> We will meet with you to understand your needs and preferences.<br>&nbsp;<strong>2.	Property search:</strong> We will present you a variety of properties that meet your criteria.<br>&nbsp;<strong>3.	Property visits:</strong> We will accompany you to visits to properties that interest you.<br><br><strong>B.	Property tests:</strong><br>&nbsp;<strong>1.	Legal inspection:</strong> We will conduct a comprehensive legal inspection of the property.<br> &nbsp;<strong>2. Additional tests:</strong> We may perform additional tests as needed.<br><br><strong>C. Negotiation:</strong><br>&nbsp;<strong>1.	Price offer:</strong> We will help you formulate a fair price offer for the property.<br>&nbsp;<strong>2.	Negotiation:</strong> We will negotiate with the seller.<br><br><strong> D.	Signing a contract:</strong><br>&nbsp;<strong>1. Purchase contract:</strong> We will draw up a detailed purchase contract for you.<br>&nbsp;<strong>2.	Signature:</strong> We will accompany you to sign the purchase contract.<br><br><strong>E.	Payment</strong>:<br>&nbsp;<strong>1.	Opening a bank account:</strong> We will help you open a bank account in Bulgaria.<br>&nbsp;<strong>2.	Transfer of funds: </strong>We will accompany you in transferring the funds to the seller.<br><br><strong>F.	Registering the property in the tabu:</strong><br>&nbsp;<strong>1.	Registration:</strong> We will take care of registering the property in the tabu in your name.<br>&nbsp;<strong>2.	Receiving a tabu form:</strong> We will issue you an updated tabu form.<br><br><strong> G.	Receiving the property</strong>: <br>&nbsp;<strong>1. Receiving keys:</strong> We will accompany you until receiving the property keys.<br>&nbsp;<strong>2.	Inspection of the property:</strong> We will conduct a final inspection of the property.<br><br><strong>H.	Additional services:</strong><br>&nbsp;<strong>1.	Property management:</strong> We offer professional property management services.<br>&nbsp;<strong>2.	Legal advice:</strong> We can refer you to an Israeli lawyer.<br>&nbsp;<strong>3.	Tax advice:</strong> We can refer you to a local accountant. <br><br>"Dira Bulgarit" is committed to accompanying its customers throughout the entire process of purchasing the property, while providing professional and personal service. We invite you to contact us today to learn more and discuss your needs.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Accordion What are the costs involved in purchasing a property through "Dira Bulgarit"?
                        </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                        <div class="accordion-body en-accordion-body">The costs of buying a property in Bulgaria include:<br>● <strong>Property price:</strong> This is the most significant factor in the cost.<br>● <strong>Purchase tax:</strong> A tax of 4% is paid by the buyer. <br>● <strong>Notary fees:</strong> Notary fees for registering the property in Tabu.<br>● <strong>Lawyer fees:</strong> It is recommended to use an Israeli lawyer who specializes in real estate in Bulgaria.<br >● <strong>Additional costs:</strong> There may be additional costs such as brokerage fees, insurance, and local taxes. <br><br>"Dira Bulgarit" can provide you with more accurate information about the expected costs according to your specific property and circumstances.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Accordion How can you get financing for the purchase of a property through "Dira Bulgarit"?
                        </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                        <div class="accordion-body en-accordion-body">There are several financing options available to you. We work in collaboration with a qualified financial advisor located in Israel who will be able to help you understand the available options and choose the plan that suits you best.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            Accordion Is a special permit needed to purchase a property through "Dira Bulgarit"?
                        </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                        <div class="accordion-body en-accordion-body">No, there is no need for a special permit for the purchase of property in Bulgaria by Israelis. However, you may need to present certain documents, such as a passport, an Israeli ID card and a copy of Tabu. "Dira Bulgarit" will be able to assist you in collecting and submitting the required documents.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            Accordion What are the tax obligations after purchasing a property through "Dira Bulgarit"?
                        </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                        <div class="accordion-body en-accordion-body">After purchasing a property in Bulgaria, a 10% tax must be paid to the country, and when transferring the money to Israel, a supplementary payment of an additional 5% must be paid according to the Convention for the Prevention of Double Taxation.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            Accordion What happens if I want to sell the property in the future?
                        </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                        <div class="accordion-body en-accordion-body">"Dira Bulgarit" can also assist you in selling the property in the future. We can market the property on the site, negotiate with potential buyers and accompany you throughout the entire sales process. <br><br> Important to know! You can get an exemption from appreciation tax after <strong>two</strong> years of maintaining the apartment.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                            Accordion What are important tips for Israeli investors who wish to purchase a property through "Dira Bulgarit"?
                        </button>
                        </h2>
                        <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                        <div class="accordion-body en-accordion-body">● <strong>Research:</strong> It is important to do comprehensive research on the real estate market in Bulgaria and the different areas in which you are interested in investing.<br>● <strong>Take your time:</strong> Do not rush into decisions. It's important to take your time, examine different properties and make sure that you make the right decision for you.<br>● <strong>Get help from experts:</strong> It is recommended to get help from experts, such as an Israeli lawyer specializing in real estate in Bulgaria, a local property management company, and accounting. We will be happy to provide these services.<br>● <strong>Be aware of the risks:</strong> As with any investment, investing in real estate in Bulgaria also has risks. It is important to be aware of these risks and take steps to reduce them. "Dira Bulgarit" is on the side of the Israeli investor, and makes sure that we offer investment opportunities with attractive profit potential and with an emphasis on reliability, transparency and professionalism as a basis for every transaction and relationships with customers.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                            Accordion Is there a waiting list for your comprehensive service?
                        </button>
                        </h2>
                        <div id="collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#qandaAccordion">
                        <div class="accordion-body en-accordion-body">It is difficult to accurately determine the expected waiting time for a comprehensive service, as it depends on several factors: <br> • <strong>Current demand:&nbsp;</strong> The more customers waiting for the service, the longer the waiting time.<br> • <strong>Type of service requested:&nbsp;</strong> Some services are more complex than others, and therefore may take longer.<br> • <strong>Availability of investor lenders:&nbsp;</strong> The number of available lenders affects processing rate of inquiries.<br><br> However, it can be said in general that the average waiting time for a comprehensive service ranges from several days to several weeks. In cases where there is a waiting list, each customer will receive a personal assessment of their expected waiting time, based on the above factors. It is important to note that we do our best to reduce the waiting time as much as possible, while maintaining a high level of service for each customer. We understand that waiting can be frustrating, and we apologize for the inconvenience. We believe that the service we provide is worth the wait, and you will get full value from it.<br><br> Below are several ways that may help you shorten the waiting time:<br> • <strong>Preliminary application submission:&nbsp;</strong> The sooner you apply, the more likely you will be dealt with more quickly.<br> • <strong>Schedule a video call:&nbsp;</strong> We strongly recommend scheduling a video meeting through our online system. A video meeting is more effective than a telephone consultation because it will give us the opportunity to explain our escort process in more detail. Just click on the "Contact Us" button at the top of the page and you can make an appointment at a time that is convenient for you. <strong>• Attaching all the required information:&nbsp;</strong> Make sure you attach all the required information after we talk, to avoid work delays.<br><br> We appreciate your patience and understanding.</div>
                        </div>
                    </div>
                    </div>

    include _contactUsFixed  
    include _contactUsFixedMobile                      