extends base 

block head
    title Site Map | Dira Bulgarit
    meta(name="robots" content="noindex, nofollow")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid.siteMap-container
        .row.siteMap-headline-row.justify-content-center
            .col-10.siteMap-headline-col 
                h1.siteMap-headline Site Map
        .row.siteMap-row.d-flex.justify-content-center.text-start
            .col-10.siteMap-headline-col 
                .row
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/blog') Search
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/qanda') Q&A
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/invest') Bulgaria Investment Guide
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/about') About Us
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/blog') Blog
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/pricing') Pricing
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/contact-us') Contact Us
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/terms-of-service') Terms of Service
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/privacy') Privacy Policy
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/accessibility') Accessability Policy
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/project/atlantis-aria-2') Atlantis Aria 2
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/project/atlantis-aria-3') Atlantis Aria 3
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/project/atlantis-euphoria') Atlantis Euphoria
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/project/atlantis-barcode') Atlantis Barcode
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/project/atlantis-barcode-2') Atlantis Barcode 2
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/project/atlas-azimuth') Atlas Azimuth
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/commercial/camelot-entertainment-center') Camelot Entertainment Center
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/commercial/varsano-chic-apartments') Varsano Chic Apartments
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/commercial/samokov') Samokov Development    
                    .col-6.col-md-4.siteMap-links-col
                        a.siteMap-links(href='/en/commercial/pomorie-commercial-building') Pomorie Commercial Building