extends ../base

block head
    meta(property="og:title" content="Camelot Entertainment Center")
    meta(property="og:description" content="פרויקט Camelot Entertainment Center בסאני ביץ'")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155260-camelot-20.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="camelotMainImageDescription")
        span.visually-hidden(id="aa2MainImageDescription") תמונה של חזית פרויקט Camelot Entertainment Center
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-camelot
                h1.project-main-image-headline.project-main-image-headline-camelot Camelot Entertainment Center     

    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline גלריה
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155231-camelot-14.webp' alt='תמונה של מתחם הבילוי קאמלוט' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155161-camelot-1.webp' alt='תמונה של מתחם הבילוי קאמלוט' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155369-camelot-53.webp' alt='תמונה של מתחם הבילוי קאמלוט' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")  
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155295-camelot-29.webp' alt='תמונה של מתחם הבילוי קאמלוט' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155336-camelot-43.webp' alt='תמונה של מתחם הבילוי קאמלוט' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155389-camelot-58.webp' alt='תמונה של מתחם הבילוי קאמלוט' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Camelot Entertainment Center
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155161-camelot-1.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155164-camelot-2.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155185-camelot-3.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155190-camelot-4.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155195-camelot-5.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155198-camelot-6.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155201-camelot-7.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155204-camelot-8.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155208-camelot-9.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155212-camelot-10.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155216-camelot-11.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155221-camelot-12.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155226-camelot-13.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155231-camelot-14.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155237-camelot-15.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155241-camelot-16.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155245-camelot-17.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155250-camelot-18.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155257-camelot-19.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155260-camelot-20.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155265-camelot-21.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155268-camelot-22.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155272-camelot-23.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155275-camelot-24.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155278-camelot-25.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155284-camelot-26.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155289-camelot-27.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155292-camelot-28.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155295-camelot-29.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155297-camelot-30.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155300-camelot-31.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155302-camelot-32.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155304-camelot-33.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155306-camelot-34.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155312-camelot-35.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155315-camelot-36.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155319-camelot-37.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155322-camelot-38.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155324-camelot-39.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155327-camelot-40.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155329-camelot-41.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155333-camelot-42.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155336-camelot-43.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155338-camelot-44.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155340-camelot-45.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155342-camelot-46.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155345-camelot-47.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155348-camelot-48.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155352-camelot-49.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155355-camelot-50.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155360-camelot-51.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155364-camelot-52.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155369-camelot-53.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155372-camelot-54.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155374-camelot-55.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155376-camelot-56.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155387-camelot-57.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155389-camelot-58.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155392-camelot-59.webp' alt='תמונה של מתחם הבילוי קאמלוט') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5.flex-md-row-reverse
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-price-number-camelot       
                div.project-numbers-text מחיר        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-camelot         
                div.project-numbers-text קומות        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-assets-number-camelot          
                div.project-numbers-text נכסים
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-parking-spots-number.project-numbers-parking-spots-number-camelot          
                div.project-numbers-text חניות
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-area-number.project-numbers-area-number-camelot(dir='rtl')  
                div.project-numbers-text שטח כולל
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-green-area-number.project-numbers-built-area-number-camelot(dir='rtl')      
                div.project-numbers-text שטח בנוי

    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Camelot Entertainment Center
            .col-10.project-details-headline-col.p-0.text-end
                div.project-details-text(dir='rtl') דירה בולגרית גאה להציג את מתחם <strong>Camelot Entertainment Center</strong>.   
                div.project-details-text(dir='rtl') המתחם יושב על שטח בגודל 3390 מ"ר במרכז בסאני ביץ' ובעל שטח בנוי של 6660 מ"ר המתפרס על פני ארבע קומות ו10 נכסים שונים.    
                h3.project-details-sub-headline(dir='rtl') מיקום
                div.project-details-text(dir='rtl') המתחם היחודי ממוקם בשדרה המרכזית סאני ביץ' ונמצא רק כמה דקות נסיעה ברכב מהישובים סנט ולאס, נסבאר, רבדה, קושאריצה ושאר הכפרים הקטנים בסביבה. המיקום של סאני ביץ' מועדף לא רק על ידי מקומיים ותיירים בעונת הקיץ, אלא גם על ידי זרים ובולגרים רבים המתגוררים בחו"ל שמגיעים לאזור כל השנה.
                div.project-details-text(dir='rtl') סאני ביץ' ממוקמת באזור המוניציפלי של נסבר, אשר מכסה שטח של 420 קמ"ר. בעשרת השנים האחרונות, האזור ביסס את עצמו בתור האזור הסוציו-אקונומי הגדול ביותר של דרום הים השחור.
                h3.project-details-sub-headline(dir='rtl') יתרונות המתחם
                div.project-details-text(dir='rtl') ● מזג אוויר נוח לאורך כל השנה.
                div.project-details-text(dir='rtl') ● קרוב לים, קרבה לשדה התעופה (Sarafovo - 27 ק"מ) וערים גדולות באזור: בורגס - 36 ק"מ, ורנה - 90 ק"מ, סופיה - 360 ק"מ, רוסה - 190 ק"מ, איסטנבול - 370 ק"מ, ורק 290 ק"מ משדה התעופה החדש ביותר שנמצא בחלק האירופי של איסטנבול, המתוכנן להיות הגדול ביותר בעולם - 90 מיליון נוסעים בשנה.
                div.project-details-text(dir='rtl') ● הזמינות של כבישים מהירים ותשתיות כבישים חדשות שנבנו מעל 5 השנים האחרונות הופכות את הגישה ברכב לנוחה ומהירה.
                div.project-details-text(dir='rtl') ● מגוון תנאי מגורים לאורך כל השנה באזור המתחם: מקומות עם בתים צמודי קרקע בסביבה שקטה ובנייני דירות קטנים באזור טבע יפהפה, מתחמי יוקרה סגורים עם גישה מבוקרת, מקומות ובילוי ופנאי רבים, מרינה מודרנית.
                div.project-details-text(dir='rtl') ● מגוון רחב של מחירי נכסים: מתחמי יוקרה סגורים רבים המשתרעים על שטח גדול וכולל בריכות, ספא וגינון, וכמו כן דיור רגיל זול יותר.
                h3.project-details-sub-headline(dir='rtl') ארכיטקטורת המתחם
                div.project-details-text(dir='rtl') ● השטח הכולל של המתחם, הממוקם בלב עיריית נסבר היא 6660 מ"ר, מתוכם ההחלקים המשותפים הם 27%. אחד היתרונות העיקריים של הבניין הוא שיש בו 1800 מ"ר של טרקלינים מרווחים ומפנקים, שירותים רחבים בכל קומה, חניה פתוחה וגדולה המספקת את היכולת לקבל מספר רב של מבקרים בנוחות. ל-6660 מ"ר אלה, לא נכללים השטחים המשותפים השימושיים כמו הגן בקומת הקרקע, ומרפסות הגג הפתוחות בקומות 4  ו-5.
                div.project-details-text(dir='rtl') ● הגישה העיקרית לבניין היא מהשדרה בכיוון מערב - יש כניסה מרכזית ושתיים קטנות נוספים מכיוון צפון מערב ומדרום מערב של המתחם. גישת החניה התת-קרקעית היא מהקצה הצפון מערבי של הנכס, וכניסות לטעינה ושירות מסחרי הן מהצד המזרחי.     
                div.project-details-text(dir='rtl') ● ישנה מערכת מדרגות מרכזית מקומת הקרקע ועד קומה 4 שעוברת דרך הלובי בכל קומה ושמווסתת את תנועת המבקרים במתחם ביעילות. כמו כן ישנן שתי מערכות מדרגות משניות, כל אחת עם מעלית צמודה בחלק הצפוני והדרומי של המבנה המרכזי במתחם.  
                div.project-details-text(dir='rtl') ● בקומת המרתף ישנה חנייה תת קרקעית בשטח של 990 מ"ר היכולה לאכלס 50 רכבים. כמו כן, ישנן 20-30 חניות בחזית המתחם המיועדות לרכבים ואוטובוסים.  
                h3.project-details-sub-headline(dir='rtl') חלוקת הקומות
                div.project-details-text(dir='rtl') <strong>קומת המרתף</strong>: שטח של 1655 מ"ר כאשר 990 מ"ר מיועד לחניה ו665 מ"ר מאכלס מחסנים, רמפות כניסה ויציאה, מסדרונות, חדרי מכונות וגרמי מדרגות פנימיים.  
                div.project-details-text(dir='rtl') <strong>קומה 1</strong>: שטח בנוי של 1500 מ"ר ובנוסף גן מטופח בשטח של 500 מ"ר. בקומה ניתן למצוא את הלובי המרכזי שבו יש שולחן קבלה, משרד אבטחה ושירותים מפוארים לאורחים, מסעדה בעלת יכול הכלה של 125 אורחים בתוך המסעדה ו120 אורחים בגן החיצוני ואולם באולינג בעל שמונה מסלולים.
                div.project-details-text(dir='rtl') <strong>קומה 2</strong>: בקומה זו ניתן למצוא את מסעדת Kabare היכולה להכיל 225 אורחים, אולם ביליארד בעל 8 שולחנות, משחקי וידאו, בר ואזורי איחסון.
                div.project-details-text(dir='rtl') <strong>קומה 3</strong>: בקומה זו ישנם שני דיסקוטקים אחד בשטח של 386 מ"ר והשני בשטח של 362 מ"ר, שירותי גברים, נשים ונכים, מחסנים ואזורי תחזוקה.
                div.project-details-text(dir='rtl') <strong>קומה 4</strong>: בקומה זו ישנם שני ברים חיצוניים ופתוחים אשר משתרעים על שטח של 1400 מ"ר של גג פתוח.
                div.project-details-text(dir='rtl') <strong>קומה 5</strong>: בקומה זו ישנו סקיי בר שהגישה אליו היא דרך גרמי מדרגות חיצוניים מהברים הפתוחים של קומה 4.
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/camelot-images/1725787155394-camelot-building-table.webp' alt='טבלה המציגה את פירוט הקומות במתחם הבילוי קאמלוט')
                div.project-details-text.text-center(dir='rtl') <i>פירוט הקומות במתחם</i>
                h3.project-details-sub-headline(dir='rtl') מאפיינים נוספים
                div.project-details-text(dir='rtl') ● החללים בתוך המבנה הינם בגובה של בין 3.5 מטרים ועד 4.2 מטרים ומשרים תחושה של מרווח ויוקרה.
                div.project-details-text(dir='rtl') ● ניתן להשכיר כל אחד מעשרת הנכסים הקיימים במתחם בנפרד מה שיכול למקסם את הריווחיות של הנכס עבור משקיעים.
                div.project-details-text(dir='rtl') ● המתחם מצויד בכל מערכות האש, חימום, איוורור, אבטחה ומיזוג אוויר הנדרשות.
                div.project-details-text(dir='rtl') ● המתחם מצויד במערכות כריזה ושמע בכל החלקים המשותפים.
                div.project-details-text(dir='rtl') ● הבניה של הבניין הינה באמצעות בטון מזויין וללא כל עמודי עץ. כל הגגות בבניין הינם שטוחים וניתנים לשימוש מלא ובטוח.
                div.project-details-text(dir='rtl') ● ניתן לקבל את כל מסמכי הבנייה והאישורים הנדרשים.      

    .container-fluid.project-mid-image-container.project-mid-image-container-camelot(role="img" aria-labelledby="camelotMidImageDescription")
        span.visually-hidden(id="camelotMidImageDescription") תמונה של מתחם הבילוי קאמלוט
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-3.justify-content-center 
            .col-12.project-map-healine-col
                h2.project-map-headline מיקום
            .col-12.col-md-10.project-map-col 
                div.project-map(id='map' data-long=27.699062 data-lat=42.690721 data-title='Camelot Entertainment Center') 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile