extends ../base

block head
    title Samokov Development
    meta(name="description" content="הצטרפו לפרויקט סמוקוב - כפר נופש יוקרתי ליד סופיה, עם פוטנציאל השקעה גבוה! קרוב לאתרי סקי ואטרקציות טבע. הזדמנות נדל\"ן מבטיחה!")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/commercial/samokov")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/commercial/samokov" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/commercial/samokov" hreflang="he")
    
    meta(property="og:title" content="Samokov Development")
    meta(property="og:description" content="הצטרפו לפרויקט סמוקוב - כפר נופש יוקרתי ליד סופיה, עם פוטנציאל השקעה גבוה! קרוב לאתרי סקי ואטרקציות טבע. הזדמנות נדל\"ן מבטיחה!")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/samokov-images/1727012351222-samokov-development-1.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="samokovMainImageDescription")
        span.visually-hidden(id="samokovMainImageDescription") תמונה ממבט על על הכפר סמוקוב
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-samokov
                h1.project-main-image-headline.project-main-image-headline-samokov Samokov Development 
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5.flex-md-row-reverse
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-green-area-number.project-numbers-area-number-samokov(dir='rtl')      
                div.project-numbers-text שטח

    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Samokov Development
            .col-10.project-details-headline-col.p-0.text-end
                div.project-details-text(dir='rtl') דירה בולגרית גאה להציג <strong>הזדמנות נדל"ן ייחודית לבנייה והשקעה בבולגריה – פיתוח כפר נופש בסמוקוב</strong>!   
                div.project-details-text(dir='rtl') אנו מזמינים יזמים ומשקיעים בתחום הנדל"ן והתיירות להצטרף לפרויקט נדל"ן מבטיח בבולגריה, הממוקם במרחק של כ50 ק"מ בלבד מסופיה, בירת המדינה.   
                div.project-details-text(dir='rtl') 93 דונם של מגרש מאושר לבנייה בסמוקוב – פוטנציאל ליצירת מתחם נופש ייחודי ויוקרתי.   
                div.project-details-text(dir='rtl') המגרש המופשר והמאושר לבנייה מציע אפשרות לפיתוח מתחם תיירות ונופש מתוכנן היטב, המיועד למשוך תיירים מכל העולם בזכות מיקומו האטרקטיבי והקרבה לאתרי סקי, מסלולי טיול ואטרקציות טבע רבות.  
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/samokov-images/1727012351247-samokov-development-3.webp' alt='Samokov Development')
                div.project-details-text.text-center(dir='rtl') <i>Samokov Development</i>
                h3.project-details-sub-headline(dir='rtl') יתרונות הפרויקט
                div.project-details-text(dir='rtl') ● <strong>מיקום פריים לוקיישן:</strong> סמוקוב, במרחק קצר מבירת בולגריה, מציעה קרבה לאתר הסקי הפופולרי בורובץ ומוקדי טבע מהמובילים באירופה.
                div.project-details-text(dir='rtl') ● <strong>פוטנציאל תיירותי אדיר:</strong> התיירות באזור מתפתחת במהירות.
                div.project-details-text(dir='rtl') ● <strong>קהל יעד:</strong> תיירים מכל רחבי אירופה המגיעים לנפוש בחורף ובקיץ כאחד.
                div.project-details-text(dir='rtl') ● <strong>תנאים אידיאליים ליזמים ומשקיעים:</strong> המגרש מאושר לפיתוח מיידי, עם אפשרות לתכנון והקמת כפר נופש, מלונות בוטיק, דירות נופש או מתחמי נופש יוקרתיים.
                div.project-details-text(dir='rtl') ● <strong>תשואה גבוהה על ההשקעה:</strong> אזור התיירות בצמיחה מתמדת, והביקוש למתחמי נופש בסמוך לאתרי סקי ואטרקציות טבע ממשיך לעלות, מה שמבטיח פוטנציאל רווח משמעותי.

    .container-fluid.project-mid-image-container.project-mid-image-container-samokov(role="img" aria-labelledby="samokovMidImageDescription")
        span.visually-hidden(id="samokovMidImageDescription") תמונה ממבט על על הכפר סמוקוב
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-3.justify-content-center 
            .col-12.project-map-healine-col
                h2.project-map-headline מיקום
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=23.553032699942786 data-lat=42.336660772724706 data-title='Samokov Development') 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile