extends ../base

block head
    title Varsano Chic Apartments 
    meta(name="description" content="הכירו את דירות Varsano Chic Apartments בסופיה - בניין בן 3 קומות עם דירות, חנויות, גג עם זכויות בנייה נוספות ומיקום מרכזי באחד האזורים המבוקשים בעיר.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/commercial/varsano-chic-apartments")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/commercial/varsano-chic-apartments" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/commercial/varsano-chic-apartments" hreflang="he")
    
    meta(property="og:title" content="Varsano Chic Apartments")
    meta(property="og:description" content="הכירו את דירות Varsano Chic Apartments בסופיה - בניין בן 3 קומות עם דירות, חנויות, גג עם זכויות בנייה נוספות ומיקום מרכזי באחד האזורים המבוקשים בעיר.")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726409077363-sofia-b5-building-4.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="sofiaB5MainImageDescription")
        span.visually-hidden(id="sofiaB5MainImageDescription") תמונת רחוב של Varsano Chic Apartments בסופיה
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-sofia-b5 
                h1.project-main-image-headline.project-main-image-headline-sofia-b5 Varsano Chic Apartments  

    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline גלריה דירה 1
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307288993-sofia-b4-apartments-1-1.jpg' alt='תמונה של דירה 1 בבניין b4 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal1") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307288994-sofia-b4-apartments-1-2.jpg' alt='תמונה של דירה 1 בבניין b4 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal1") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289020-sofia-b4-apartments-1-3.jpg' alt='תמונה של דירה 1 בבניין b4 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal1")  
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289025-sofia-b4-apartments-1-4.jpg' alt='תמונה של דירה 1 בבניין b4 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal1") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289029-sofia-b4-apartments-1-5.jpg' alt='תמונה של דירה 1 בבניין b4 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal1") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289031-sofia-b4-apartments-1-6.jpg' alt='תמונה של דירה 1 בבניין b4 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal1") 

    #projectModal1.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Varsano Chic Apartments
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel1.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307288993-sofia-b4-apartments-1-1.jpg' alt='תמונה של דירה 1 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307288994-sofia-b4-apartments-1-2.jpg' alt='תמונה של דירה 1 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289020-sofia-b4-apartments-1-3.jpg' alt='תמונה של דירה 1 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289025-sofia-b4-apartments-1-4.jpg' alt='תמונה של דירה 1 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289029-sofia-b4-apartments-1-5.jpg' alt='תמונה של דירה 1 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289031-sofia-b4-apartments-1-6.jpg' alt='תמונה של דירה 1 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289035-sofia-b4-apartments-1-7.jpg' alt='תמונה של דירה 1 בבניין B5 בסופיה') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel1' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel1' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline גלריה דירה 2
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289035-sofia-b4-apartments-2-1.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal2") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289092-sofia-b4-apartments-2-18.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal2") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289079-sofia-b4-apartments-2-13.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal2")  
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289069-sofia-b4-apartments-2-10.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal2") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289053-sofia-b4-apartments-2-5.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal2") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289087-sofia-b4-apartments-2-16.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal2") 

    #projectModal2.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Varsano Chic Apartments
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel2.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289035-sofia-b4-apartments-2-1.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289042-sofia-b4-apartments-2-2.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289046-sofia-b4-apartments-2-3.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289046-sofia-b4-apartments-2-4.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289053-sofia-b4-apartments-2-5.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289055-sofia-b4-apartments-2-6.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289059-sofia-b4-apartments-2-7.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289062-sofia-b4-apartments-2-8.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289066-sofia-b4-apartments-2-9.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289069-sofia-b4-apartments-2-10.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289074-sofia-b4-apartments-2-11.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289077-sofia-b4-apartments-2-12.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289079-sofia-b4-apartments-2-13.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289081-sofia-b4-apartments-2-14.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289085-sofia-b4-apartments-2-15.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289087-sofia-b4-apartments-2-16.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289090-sofia-b4-apartments-2-17.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289092-sofia-b4-apartments-2-18.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289095-sofia-b4-apartments-2-19.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289098-sofia-b4-apartments-2-20.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289100-sofia-b4-apartments-2-21.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289102-sofia-b4-apartments-2-22.jpg' alt='תמונה של דירה 2 בבניין B5 בסופיה') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel2' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel2' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline גלריה דירה 3
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289105-sofia-b4-apartments-3-1.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal3") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289144-sofia-b4-apartments-3-15.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal3") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289114-sofia-b4-apartments-3-3.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal3")  
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289162-sofia-b4-apartments-3-22.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal3") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289119-sofia-b4-apartments-3-5.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal3") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289122-sofia-b4-apartments-3-6.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal3") 

    #projectModal3.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Varsano Chic Apartments
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel3.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289105-sofia-b4-apartments-3-1.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289111-sofia-b4-apartments-3-2.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289114-sofia-b4-apartments-3-3.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289117-sofia-b4-apartments-3-4.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289119-sofia-b4-apartments-3-5.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289122-sofia-b4-apartments-3-6.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289125-sofia-b4-apartments-3-7.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289127-sofia-b4-apartments-3-8.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289129-sofia-b4-apartments-3-9.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289132-sofia-b4-apartments-3-10.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289136-sofia-b4-apartments-3-11.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289138-sofia-b4-apartments-3-12.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289140-sofia-b4-apartments-3-13.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289142-sofia-b4-apartments-3-14.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289144-sofia-b4-apartments-3-15.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289147-sofia-b4-apartments-3-16.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289149-sofia-b4-apartments-3-17.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289151-sofia-b4-apartments-3-18.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289155-sofia-b4-apartments-3-19.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289158-sofia-b4-apartments-3-20.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289160-sofia-b4-apartments-3-21.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289162-sofia-b4-apartments-3-22.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289164-sofia-b4-apartments-3-23.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289166-sofia-b4-apartments-3-24.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726307289171-sofia-b4-apartments-3-25.jpg' alt='תמונה של דירה 3 בבניין B5 בסופיה') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel3' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel3' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5.flex-md-row-reverse
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-price-number-sofia-b5       
                div.project-numbers-text מחיר        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-sofia-b5         
                div.project-numbers-text קומות        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-assets-number-sofia-b5          
                div.project-numbers-text דירות
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-stores-number-sofia-b5          
                div.project-numbers-text חנויות
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-green-area-number.project-numbers-built-area-number-sofia-b5(dir='rtl')      
                div.project-numbers-text שטח בנוי

    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Varsano Chic Apartments
            .col-10.project-details-headline-col.p-0.text-end
                div.project-details-text(dir='rtl') דירה בולגרית גאה להציג את בניין המגורים <strong>Varsano Chic Apartments</strong> <strong> הממוקם ברובע B5 הנחשק במרכז סופיה</strong>!   
                h3.project-details-sub-headline(dir='rtl') מיקום
                div.project-details-text(dir='rtl') הבניין ממוקם באזור אטרקטיבי באחד האזורים המבוקשים ביותר בסופיה בקרבת שירותים ומתקנים, בית כנסת, בית חב"ד, סופר מרקטים, מרכזי קניות, מוסדות חינוך ואוניברסיטאות.
                h3.project-details-sub-headline(dir='rtl') ארכיטקטורת הבניין
                div.project-details-text(dir='rtl') ● הבניין בן 3 קומות, וכולל 6 דירות סך הכל כאשר 3 מתוכן מוצעות למכירה (דירה אחת בכל קומה) בגודל 60 מ"ר כל אחת. הדירות משופצות, מרוהטות ומוכנות להשכרה מיידית.
                div.project-details-text(dir='rtl') ● בבניין ישנו מרתף בגודל 20 מ"ר המשמש לאחסון ומוכן להשכרה מיידית.
                div.project-details-text(dir='rtl') ● כמו כן ישנן 2 חנויות בבניין בגודל של 30 מ"ר כל אחת המוכנות להשכרה מיידית.
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img.project-details-img-sofia-b5(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-b4-images/1726398902553-sofia-b4-building-3.webp' alt='Varsano Chic Apartments')
                div.project-details-text.text-center(dir='rtl') <i>Varsano Chic Apartments</i>
                h3.project-details-sub-headline(dir='rtl') יתרונות הנכס
                div.project-details-text(dir='rtl') ● ניתן להשכיר את הדירות בבניין על בסיס יום יומי עקב מיקומם המרכזי בסופיה.
                div.project-details-text(dir='rtl') ● ניתן להשביח את הנכסים בבניין ולקבל תשואה אטרקטיבית עקב עליית המחירים המתמדת באזור ובסופיה בכלל.
                div.project-details-text(dir='rtl') ● הבניין בעל מיקום ייחודי עקב כך שלא קיימת בנייה חדשה במרכז סופיה, ובאזור זה נכסים מועטים למכירה.

    .container-fluid.project-mid-image-container.project-mid-image-container-sofia-b5(role="img" aria-labelledby="sofiaB5MidImageDescription")
        span.visually-hidden(id="sofiaB5MidImageDescription") תמונת רחוב של Varsano Chic Apartments
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-3.justify-content-center 
            .col-12.project-map-healine-col
                h2.project-map-headline מיקום
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=23.312990 data-lat=42.700110 data-title='Varsano Chic Apartments') 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile