footer
    .container-fluid.footer-container
        .row.footer-row.flex-sm-row-reverse.d-flex.justify-content-evenly
            .col-12.footer-logo-col.text-end
                img.footer-logo-img(src='/img/footer-logo.webp' alt='לוגו של דירה בולגרית')
            .col-12.col-sm-6.col-xl-3.footer-col.footer-links-col
                div.footer-headline דירה בולגרית
                div.footer-border-container.d-flex.justify-content-end
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/' dir='rtl') עמוד ראשי
                //- div.footer-link-container     
                //-     a.footer-link(href='/webinar' dir='rtl') וובינר      
                div.footer-link-container     
                    a.footer-link(href='/search' dir='rtl') חיפוש נכס
                div.footer-link-container     
                    a.footer-link(href='/project/atlantis-aria-2' dir='rtl') Atlantis Aria 2
                div.footer-link-container     
                    a.footer-link(href='/project/atlantis-aria-3' dir='rtl') Atlantis Aria 3
                div.footer-link-container     
                    a.footer-link(href='/project/atlantis-euphoria' dir='rtl') Atlantis Euphoria
                div.footer-link-container     
                    a.footer-link(href='/project/atlantis-barcode' dir='rtl') Atlantis Barcode
                div.footer-link-container     
                    a.footer-link(href='/project/atlas-azimuth' dir='rtl') Atlas Azimuth 
                div.footer-link-container     
                    a.footer-link(href='/commercial/camelot-entertainment-center') Camelot Entertainment Center
                div.footer-link-container     
                    a.footer-link(href='/commercial/varsano-chic-apartments') Varsano Chic Apartments
                div.footer-link-container     
                    a.footer-link(href='/commercial/samokov') Samokov Development
                div.footer-link-container     
                    a.footer-link(href='/commercial/pomorie-commercial-building') Pomorie Commercial Building
                div.footer-link-container     
                    a.footer-link(href='/qanda' dir='rtl') שאלות ותשובות
                div.footer-link-container     
                    a.footer-link(href='/invest' dir='rtl') איך להשקיע בבולגריה    
                div.footer-link-container     
                    a.footer-link(href='/about' dir='rtl') מי אנחנו   
                div.footer-link-container     
                    a.footer-link(href='/blog' dir='rtl') חשוב לדעת   
                div.footer-link-container     
                    a.footer-link(href='/contact-us' dir='rtl') צרו קשר  
            .col-12.col-sm-6.col-xl-3.footer-col.footer-links-col  
                div.footer-headline מאמרים נבחרים
                div.footer-border-container.d-flex.justify-content-end
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/blog/apartments-for-sale-in-sofia-bulgaria' dir='rtl') דירות למכירה בסופיה בולגריה
                div.footer-link-container     
                    a.footer-link(href='/blog/apartments-for-sale-in-burgas-bulgaria' dir='rtl') דירות למכירה בבורגס בולגריה
                div.footer-link-container     
                    a.footer-link(href='/blog/apartments-for-sale-in-sunny-beach-bulgaria' dir='rtl') דירות למכירה בסאני ביץ' בולגריה
                div.footer-link-container     
                    a.footer-link(href='/blog/apartments-for-sale-in-varna-bulgaria' dir='rtl') דירות למכירה בוארנה בולגריה
                div.footer-link-container     
                    a.footer-link(href='/blog/villas-for-sale-in-bulgaria' dir='rtl') וילות למכירה בבולגריה
                div.footer-link-container     
                    a.footer-link(href='/blog/The-reasons-for-Bulgarias-popularity-among-Israeli-property-buyers' dir='rtl') משקיעים ישראלים בבולגריה
                div.footer-link-container     
                    a.footer-link(href='/blog/Property-price-analysis-in-Bulgaria-in-2024' dir='rtl') מחירי הנכסים בבולגריה 2024            
                div.footer-link-container     
                    a.footer-link(href='/blog/What-type-of-property-should-you-invest-in-Bulgaria' dir='rtl') סוגי נכסים בבולגריה               
                div.footer-link-container     
                    a.footer-link(href='/blog/The-best-places-to-live-in-Bulgaria' dir='rtl') המקומות הטובים ביותר למגורים בבולגריה              
                div.footer-link-container     
                    a.footer-link(href='/blog/Obtaining-Bulgarian-citizenship-what-are-the-advantages' dir='rtl') קבלת אזרחות בולגרית, מה היתרונות?             
                div.footer-link-container     
                    a.footer-link(href='/blog/Residence-permit-for-investment-in-Bulgaria-2024' dir='rtl') אישור שהייה להשקעה בבולגריה 2024             
                div.footer-link-container     
                    a.footer-link(href='/blog/real-estate-investments-in-bulgaria' dir='rtl') השקעות נדל"ן בבולגריה             
                div.footer-link-container     
                    a.footer-link(href='/blog/real-estate-investments-in-europe' dir='rtl') השקעות נדל"ן באירופה             
                div.footer-link-container     
                    a.footer-link(href='/blog/real-estate-investments-abroad' dir='rtl') השקעות נדל"ן בחו"ל            
                div.footer-link-container     
                    a.footer-link(href='/blog/real-estate-opportunities-abroad' dir='rtl') הזדמנויות נדל"ן בחו"ל            
            .col-12.col-sm-6.col-xl-3.footer-col.footer-links-col  
                div.footer-headline פוליסות
                div.footer-border-container.d-flex.justify-content-end
                    div.footer-border
                div.footer-link-container                                     
                    a.footer-link(href='/terms-of-service' dir='rtl') תקנון האתר
                div.footer-link-container     
                    a.footer-link(href='/privacy' dir='rtl') מדיניות פרטיות
                div.footer-link-container     
                    a.footer-link(href='/accessibility' dir='rtl') הצהרת נגישות
                div.footer-link-container     
                    a.footer-link(href='/site-map' dir='rtl') מפת האתר
            .col-12.col-sm-6.col-xl-3.footer-col
                div.footer-headline צרו קשר
                div.footer-border-container.d-flex.justify-content-end
                    div.footer-border
                div.footer-text-container  
                    span.footer-text(dir='rtl') קומוסומולסקה 5, בורגס, בולגריה
                    img.footer-icon(src='/img/icons/address-location-map-svgrepo-com-white.svg' alt='אייקון של כתובת')
                div.footer-text-container   
                    span.footer-text שמעון שלמה 
                    a.footer-phone(href="tel:0523111172") 052-311-1172
                    img.footer-icon(src='/img/icons/phone-svgrepo-com-white.svg' alt='אייקון של טלפון') 
                div.footer-text-container   
                    span.footer-text יהלי סמואלס 
                    a.footer-phone(href="tel:972549718372") 54-971-8372 972
                    img.footer-icon(src='/img/icons/phone-svgrepo-com-white.svg' alt='אייקון של טלפון') 
                div.footer-text-container   
                    a.footer-text(href='mailto:service@dirabulgarit.com' aria-label='Dira Bulgarit E-mail' dir='rtl') service@dirabulgarit.com
                    img.footer-icon(src='/img/icons/email-9-svgrepo-com-white.svg' alt='אייקון של אימייל')         
                div.footer-social.my-4(dir='rtl')
                    a(href='https://www.facebook.com/groups/3252186061509580' aria-label='Nadlan Israeli Bebulgaria Facebook' target="_blank")
                        svg(aria-labelledby="footerFacebookIcon")
                            title(id="footerFacebookIcon") אייקון של הלוגו של פייסבוק
                            use(xlink:href='/img/icons/facebook.svg#facebook')  

        .row.footer-copyright-row
            .col-12.footer-copyright-col.text-center
                div.footer-copyright-text כל הזכויות שמורות לדירה בולגרית &copy; 2024
                                    
                    