nav.navbar.navbar-expand-xl.fixed-top  
  .container-fluid.navbar-container
    .row.mobile-navbar-row
      .col-4.mobile-navbar-col.align-content-center.text-center.text-sm-start
        button.navbar-toggler.collapsed(type='button' data-bs-toggle='offcanvas' data-bs-target='#navbarContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='פתיחת תפריט קישורים')
          span.navbar-toggler-icon
      .col-4.mobile-navbar-col.align-content-center.text-center
        div.navbar-call-us-text-container
          span.navbar-call-us-text(dir='rtl') התקשרו: 
          img.navbar-mobile-icon(src='/img/icons/navbar-mobile-phone-white.svg' alt='Phone Icon') 
          br
          a.navbar-call-us-text(href="tel:0545796456") 054-579-6456
      .col-4.mobile-navbar-col.align-content-center.text-end
        a.navbar-brand.mobile-navbar-brand(href='/')
          img.navbar-logo(src='/img/logo.png' alt='לוגו של דירה בולגרית')  
    div.offcanvas.offcanvas-end.w-auto.text-end(tabindex='-1' id='navbarContent' aria-labelledby='offcanvasNavbarLabel')
      div.offcanvas-body
        div.btn-cta--container
          button.btn-cta.btn-cta--offcanvas.to-calendly-btn(aria-label='מעבר לעמוד יצירת קשר') צרו קשר
        button.mobile-asset-favorite-btn
          img.header-favorite-btn-icon(src='/img/icons/heart-empty-svgrepo-com-outline-white.svg' alt='Heart icon') 
        button.btn.btn-secondary.dropdown-toggle.lang-dropdown-btn.mobile-lang-dropdown-btn(type='button' data-bs-toggle='collapse' data-bs-target="#langBtnCollapse" aria-expanded="false" aria-controls="langBtnCollapse")
          img.navbar-lang-icon.mobile-navbar-active-lang-icon(src='' alt='')     
        button.btn.btn-secondary.dropdown-toggle.currency-dropdown-btn.mobile-currency-dropdown-btn(type='button' data-bs-toggle='collapse' data-bs-target="#currencyBtnCollapse" aria-expanded="false" aria-controls="currencyBtnCollapse" aria-label='בחירת מטבע לתצוגה באתר')
          img.navbar-currency-icon.mobile-navbar-active-currency-icon(src='' alt='')   
        .row
          .col.mobile-lang-collapse-col
            div.collapse.multi-collapse.mobile-lang-collapse(id="langBtnCollapse")
              img.navbar-lang-icon.mobile-navbar-first-not-active-lang-icon(src='' alt='')  
            div.collapse.multi-collapse.mobile-lang-collapse(id="langBtnCollapse")       
              img.navbar-lang-icon.mobile-navbar-second-not-active-lang-icon(src='' alt='')       
          .col-4.p-0
            div.collapse.multi-collapse.mobile-currency-collapse(id="currencyBtnCollapse")
              img.navbar-currency-icon.mobile-navbar-not-active-currency-icon(src='' alt='')       
        ul.navbar-nav.align-items-xl-center.justify-content-xl-evenly
          li.nav-item
            button.asset-favorite-btn
              img.header-favorite-btn-icon(src='/img/icons/heart-empty-svgrepo-com-outline.svg' alt='אייקון של לב') 
          li.nav-item.lang-nav-item
            .dropdown
              button.btn.btn-secondary.dropdown-toggle.lang-dropdown-btn.lang-dropdown-btn(type='button' data-bs-toggle='dropdown' aria-expanded="false" aria-label='בחירת שפה לתצוגה באתר')
                img.navbar-lang-icon.navbar-active-lang-icon(src='/img/icons/placeholder-thin-svgrepo-com-white.svg' alt='')    
              ul.dropdown-menu.lang-dropdown-menu
                li.lang-dropdown-menu-item 
                  img.navbar-lang-icon.navbar-first-not-active-lang-icon(src='' alt='')         
                li.lang-dropdown-menu-item 
                  img.navbar-lang-icon.navbar-second-not-active-lang-icon(src='' alt='')         
          li.nav-item.currency-nav-item  
            .dropend
              button.btn.btn-secondary.dropdown-toggle.currency-dropdown-btn(type='button' data-bs-toggle='dropdown' aria-expanded='false' aria-label='בחירת מטבע לתצוגה באתר')
                img.navbar-currency-icon.navbar-active-currency-icon(src='/img/icons/placeholder-thin-svgrepo-com-white.svg' alt='')   
              ul.dropdown-menu.currency-dropdown-menu
                li.currency-dropdown-menu-item 
                  img.navbar-currency-icon.navbar-not-active-currency-icon(src='' alt='') 
          li.nav-item
            a.nav-link.nav-el(href='/pricing') מחירון
          li.nav-item
            a.nav-link.nav-el.blog-nav-link חשוב לדעת
          li.nav-item
            a.nav-link.nav-el(href='/about') מי אנחנו
          li.nav-item
            a.nav-link.nav-el(href='/invest') איך להשקיע בבולגריה
          li.nav-item
            a.nav-link.nav-el(href='/qanda') שאלות ותשובות
          li.nav-item.dropdown.assets-catalog-dropdown
            a.nav-link.dropdown-toggle.assets-catalog-dropdown-btn(role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label='פתיחת תפריט פרויקטים' dir='rtl') קטלוג נכסים
            ul.dropdown-menu.assets-catalog-dropdown-menu
              li
                a.nav-link.dropdown-item.assets-catalog-dropdown-item.text-end(href='/search') חיפוש נכס
              li.dropdown-submenu.projects-dropdown
                a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.text-end(role="button" aria-expanded="false" dir='rtl') פרויקטים
                ul.dropdown-menu.projects-dropdown-menu.text-start
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.project-burgas-dropdown-btn.text-end(role="button" aria-expanded="false" dir='rtl') בורגס
                    ul.dropdown-menu.projects-dropdown-menu.text-start
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(href='/project/atlantis-aria-2') Atlantis Aria 2
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(href='/project/atlantis-aria-3') Atlantis Aria 3
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(href='/project/atlantis-euphoria') Atlantis Euphoria
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(href='/project/atlas-azimuth') Atlas Azimuth
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.project-sofia-dropdown-btn.text-end(role="button" aria-expanded="false" dir='rtl') סופיה
                    ul.dropdown-menu.projects-dropdown-menu.text-start  
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(href='/project/atlantis-barcode') Atlantis Barcode
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(href='/project/atlantis-barcode-2') Atlantis Barcode 2
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(href='/project/mountain-view-residence') Mountain View Residence
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(href='/project/vitosha-mountain-view') Vitosha Mountain View
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(href='/project/mountain-view-boutique') Mountain View Boutique
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.project-sveti-dropdown-btn.text-end(role="button" aria-expanded="false" dir='rtl') סווטי ולאס
                    ul.dropdown-menu.projects-dropdown-menu.text-start        
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(href='/project/villa-margarita') Villa Margarita
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(href='/project/mellia-florance') Mellia Florance
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(href='/project/fort-noks-premier-suites') Fort Noks Premier Suites
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(href='/project/premier-fort-beach') Premier Fort Beach
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(href='/project/prestige-fort-beach') Prestige Fort Beach
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.project-nessebar-dropdown-btn.text-end(role="button" aria-expanded="false" dir='rtl') נסבר
                    ul.dropdown-menu.projects-dropdown-menu.text-start        
                       li
                        a.nav-link.dropdown-item.projects-dropdown-item(href='/project/nessebar-fort-residence') Nessebar Fort Residence
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.project-varna-dropdown-btn.text-end(role="button" aria-expanded="false" dir='rtl') וארנה
                    ul.dropdown-menu.projects-dropdown-menu.text-start        
                      li
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.project-sunny-dropdown-btn.text-end(role="button" aria-expanded="false" dir='rtl') סאני ביץ'
                    ul.dropdown-menu.projects-dropdown-menu.text-start        
                      li
                        a.nav-link.dropdown-item.projects-dropdown-item(href='/project/green-fort-suites') Green Fort Suites
                  li.dropdown-submenu.projects-dropdown
                    a.nav-link.dropdown-item.dropdown-toggle.projects-dropdown-btn.project-bansko-dropdown-btn.text-end(role="button" aria-expanded="false" dir='rtl') בנסקו
                    ul.dropdown-menu.projects-dropdown-menu.text-start        
                      li            
              li.dropdown-submenu.commercial-dropdown
                a.nav-link.dropdown-item.dropdown-toggle.commercial-dropdown-btn.text-end(role="button" aria-expanded="false" dir='rtl') עסקי
                ul.dropdown-menu.commercial-dropdown-menu.text-start
                  li
                    a.nav-link.dropdown-item.projects-dropdown-item(href='/asset/attractive-commercial-premises-in-the-heart-of-burgas') Atlantis Office Space
                  li
                    a.nav-link.dropdown-item.commercial-dropdown-item(href='/commercial/camelot-entertainment-center') Camelot Entertainment Center
                  li
                    a.nav-link.dropdown-item.commercial-dropdown-item(href='/commercial/varsano-chic-apartments') Varsano Chic Apartments
                  li
                    a.nav-link.dropdown-item.commercial-dropdown-item(href='/commercial/samokov') Samokov Development
                  li
                    a.nav-link.dropdown-item.commercial-dropdown-item(href='/commercial/pomorie-commercial-building') Pomorie Commercial Building
          //- li.nav-item.dropdown.assets-catalog-dropdown
          //-   a.nav-link.dropdown-toggle.assets-catalog-dropdown-btn(role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label='פתיחת תפריט פרויקטים' dir='rtl') וובינר 
          //-   ul.dropdown-menu.assets-catalog-dropdown-menu
          //-     li
          //-       a.nav-link.dropdown-item.assets-catalog-dropdown-item.text-end(href='/webinar-signup') וובינר 2025            
          //-     li
          //-       a.nav-link.dropdown-item.assets-catalog-dropdown-item.text-end(href='/webinar-archive') ארכיון וובינרים            
          //- li.nav-item
          //-   a.nav-link.nav-el(href='/search') חיפוש נכס
          li.nav-item
            a.nav-link.nav-el.homepage-link(href='/') עמוד ראשי
    a.navbar-brand.laptop-navbar-brand(href='/')
      img.navbar-logo(src='/img/logo.png' alt='לוגו של דירה בולגרית')    