extends base 

block head
    title הכירו את הצוות | דירה בולגרית
    meta(name="description" content="צוות דירה בולגרית ילווה אתכם כל הדרך להשקעת נדל\"ן מניבה ויציבה בבולגריה.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/about")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/about" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/about" hreflang="he")

    meta(property="og:title" content="הכירו את הצוות | דירה בולגרית")
    meta(property="og:description" content="צוות דירה בולגרית ילווה אתכם כל הדרך להשקעת נדל\"ן מניבה ויציבה בבולגריה.")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content

    .container-fluid
        .row.about-headline-row
            .col.about-headline-col 
                img.about-headline-img(src='/img/sectionCover-4.webp' alt='תמונה של בורגס בולגריה') 
                h1.about-headline(dir='rtl') הכירו את הצוות
                button.section-headline-cta-btn.to-calendly-btn(aria-label='מעבר לעמוד יצירת קשר') צרו קשר

    .container-fluid.about-container
        //- .row.about-row.d-flex.align-items-center.justify-content-center.mx-4
        //-     .col-12.col-md-10.col-xxl-6.about-text-col.my-4
        //-         h2.about-text-name(dir='rtl') שמעון שלמה
        //-         h3.about-text-role(dir='rtl') יועץ עסקי ובעלים
        //-         div.about-text(dir='rtl') אני שמעון שלמה, הבעלים והיועץ ב<strong>"נדל"ן ישראלי בבולגריה - דירה בולגרית</strong>. עם למעלה מ-20 שנות ניסיון כיועץ עסקי ומנהל מכירות, הקדשתי את הקריירה שלי לביצוע עסקאות שבאמת מועילות ללקוחות שלי ומשפרות את חייהם. העיקרון המנחה שלי הוא <strong>"עדיף שם טוב משמן טוב"</strong>. הקמתי את החברה יחד עם יהלי סמואלס ודרור סלומון על מנת למסד את העקרון של שמירה על הסטנדרטים הגבוהים ביותר של מקצועיות ואמינות. 
        //-         div.about-text(dir='rtl') המטרה העיקרית היא לעזור למשקיעים ישראלים למצוא הזדמנויות נדל"ן מצוינות בבולגריה. נכון לעכשיו, בולגריה מציעה פוטנציאל השקעה פנטסטי עם נכסים המבטיחים תשואות גדולות. לעומת זאת, בשוק הישראלי המחירים גבוהים והתשואות נמוכות. בולגריה נמצאת צעד אחד מכניסה מלאה לחברות האיחוד האירופי ואז הנדל"ן במדינה מלאת ההזדמנויות יגיע אל הערך האמיתי שלו - זה הזמן לקפוץ על העגלה. 
        //-         div.about-text(dir='rtl') הכוונה היא ליצור עמכם קשר ידידותי, מקצועי ובלתי פורמלי. אנו שואפים להפוך את תהליך ההשקעה לחלק ופשוט עבורכם. אנו מספקים תמיכה מלאה, מזיהוי הזדמנויות השקעה מובילות ועד לסגירת עסקאות והצעת סיוע מתמשך. מטרתנו היא להבטיח שתקבלו את התשואה הטובה ביותר וחווית השקעה חלקה. אנו מציעים אצלנו באתר שלל נכסים בבלעדיות ומבטיחים לעבוד רק עם יזמים בולגריים מנוסים שזכו להמלצות והשקעות חוזרות מהמשקיעים שלנו לאורך השנים.
        //-         div.about-text(dir='rtl') אז אם אתם מחפשים ערוץ השקעה משתלם, או שוקלים מעבר דירה לחו"ל, עכשיו זה הזמן המושלם לבחון את ההזדמנויות בבולגריה. <strong>אני מזמין אתכם לקבוע פגישה דרך האתר שלנו ולראות כיצד נוכל לעזור לכם להשיג את יעדי ההשקעה שלכם</strong>.
        //-         div.about-text(dir='rtl') בחירה ב<strong>"נדל"ן ישראלי בבולגריה - דירה בולגרית"</strong> פירושה שיתוף פעולה עם מישהו שמתעדף את האינטרסים שלכם ומסור להצלחתכם. אני מצפה לעבוד איתכם ולעזור לכם לבצע השקעות חכמות ורווחיות בבולגריה.
        //-     .col-12.col-md-10.col-xxl-6.about-img-col.text-center
        //-         img.about-img.img-fluid(src='/img/shimon.webp' alt='תמונה של היועץ העסקי והבעלים של דירה בולגרית שמעון שלמה')                         
        .row.about-row.d-flex.align-items-center.justify-content-center.mx-4
            .col-12.col-md-10.col-xxl-6.about-text-col.my-4
                h2.about-text-name(dir='rtl') דרור סלומון
                h3.about-text-role(dir='rtl')  אחראי תוכן ובעלים
                div.about-text(dir='rtl') בוגר תואר ראשון בפסיכולוגיה ומתעסק בחמשת השנים האחרונות בתחום התכנות ובניית אתרים. 
                div.about-text(dir='rtl') הקושי בקניית נדל"ן במחיר שפוי במדינתנו מביא רבים מהזוגות הצעירים והרווקים בגילאי ה20, 30 ו40 לזנוח את החלום ולהשלים עם העובדה שכנראה לא יהיו בעלי נכס ויאלצו לחיות בשכירות בלתי יציבה. שוק הנדל"ן בארץ עובר תהפוכות רבות עקב סיבות כמו חוסר בהיצע, מלחמות וחוסר בידיים עובדות בשוק הבנייה אשר הופכות את החלום לרכוש בית לכמעט בלתי אפשרי עבור רבים מאיתנו. 
                div.about-text(dir='rtl') בשנים האחרונות חקרתי שווקי נדל"ן אחרים בעולם כדי לראות האם ישנם ערוצי השקעה כדאיים בחו"ל ובסופו של דבר הגעתי לבולגריה. מה שמשך אותי במיוחד לבולגריה היו המחירים הנמוכים יחסית, הכלכלה המתפתחת והעלייה בהשקעות במדינה. הבנתי שזו יכולה להיות הזדמנות מצוינת להשקעה. 
                //- div.about-text(dir='rtl') הערוץ הישראלי בו מצאתי הכי הרבה אינפורמציה מקיפה על השקעות בבולגריה היה בקבוצת הפייסבוק של יהלי סמואלס <strong>"נדל"ן ישראלי בבולגריה"</strong>, ולאחר שיח פורה עם יהלי, וכמו כן עם שמעון שלמה, אדם בעל ניסיון רב ועתיר שנים בפיתוח ויעוץ עסקי החלטנו שזה רעיון טוב להרים אתר אינטרנט לאוויר שירכז בתוכו גם נכסים כדאיים להשקעה וגם מידע נגיש לישראלים שרוצים לעשות את הצעד הראשון בהשקעות נדל"ן בבולגריה.
                div.about-text(dir='rtl') מטרת האתר שהקמנו <strong>"נדל"ן ישראלי בבולגריה - דירה בולגרית"</strong> היא לעטוף את המשקיע הישראלי בליווי צמוד לאורך כל תהליך רכישת הנכס – משלב ההתעניינות ואיתור הנכס ועד חתימת החוזה הסופי ומציאת שוכר או מעבר לדירה הנחשקת. 
                div.about-text(dir='rtl') אז אם אתם מתעניינים בהשקעת נדל"ן במדינה שנמצאת בצמיחה מתמדת בשלושים השנים האחרונות, הרשו לי להמליץ לכם על בולגריה כיעד כדאי שיניב לכם תשואה במידה ואתם רק בעניין של השקעה, וכמו כן המדינה יכולה להוות עבורכם בית עם רמת חיים אירופאית גבוהה במידה ואתם בעניין של מעבר לחו"ל. <strong>צרו איתנו קשר וקבעו פגישת וידאו בזמן שנוח לכם ונעשה כל שנוכל כדי לענות על כל שאלה וללוותכם לנכס הנחשק</strong>.
            .col-12.col-md-10.col-xxl-6.about-img-col.text-center
                img.about-img.img-fluid(src='/img/dror.webp' alt='תמונה של אחראי התוכן והבעלים של דירה בולגרית דרור סלומון') 

    //- .container-fluid.partners-container
    //-     .row.about-partners-headline-row.mx-4
    //-         .col-12.about-partners-headline-col.text-center 
    //-             h2.about-partners-headline המומחים שלנו                          
    //-             h3.about-partners-text הכירו את המומחים החיצוניים איתם אנו עובדים בישראל ובבולגריה                          
    //-     .row.about-partners-headline-row.mx-4.justify-content-center
    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/artem-karavaty.webp' alt='תמונה של יועץ הנדלן ארטיום קאראוואטי')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name(dir='rtl') ארטיום קאראוואטי
    //-                                 .card-title.about-partners-card-prof(dir='rtl') סוכן נדל"ן בכיר
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-end
    //-                                     span.about-partners-card-text(dir='rtl') נדלניסט בנשמה אשר מתמחה באיתור, פיתוח ושיווק נכסים בכל רחבי בולגריה ובייחוד באזור החוף. אנו עובדים בשיתוף פעולה הדוק עם ארטיום כדי למצוא את הנכסים העדכניים ביותר בבולגריה. 
    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/fani-smardjiva.webp' alt='תמונה של עורכת הדין פאני סמרגדיווה')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name(dir='rtl') פאני סמרדג'יווה
    //-                                 .card-title.about-partners-card-prof(dir='rtl') עורכת דין
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-end
    //-                                     span.about-partners-card-text(dir='rtl') מומחית בתחומי המקרקעין והממשל ובעלת ניסיון עתיר שנים בפישוט והתמודדות עם הגופים הרגולטורים השונים בבולגריה. אנו נעזרים בידע הרב של פאני בניסוח חוזים והתייעצויות שונות.
    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/avelina-aria-2-ceo.jpg' alt='תמונה של מנכלית פרויקט אטלאנטיס אריה 2 אבלינה ואליקובה')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name(dir='rtl') אבלינה ואליקובה
    //-                                 .card-title.about-partners-card-prof(dir='rtl') מנכ"לית פרויקט אריה 2
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-end
    //-                                     span.about-partners-card-text(dir='rtl') אבלינה היא מנכ"לית בכירה בחברת הנדל"ן אטלאנטיס אשר בונה פרויקטים רבים ברחבי בולגריה. אנו נמצאים בקשר הדוק עם אבלינה בנוגע לנכסים ולפרויקטים עתידים אשר עשויים לעניין משקיעים ישראלים.
                                        
    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/SH-consulting-EOOD.jpg' alt='תמונת לוגו של חברת ראיית החשבון הבולגרית יעוץ נדלן')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name(dir='rtl') SH consulting EOOD
    //-                                 .card-title.about-partners-card-prof(dir='rtl') ראיית חשבון
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-end
    //-                                     span.about-partners-card-text(dir='rtl') משרד רואי חשבון בולגרי בעל ניסיון רב שנים בתחום החשבונאות והמיסוי. החברה מתמחה במיסוי בתחום הנדל"ן הבולגרי ומסייעת לנו בניסוח חוזים ובהבנת חוקי המיסוי.

    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/oded-gramnov-lawyer.webp' alt='תמונה של עורך הדין עודד גרמנוב')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name(dir='rtl') עודד גרמנוב
    //-                                 .card-title.about-partners-card-prof(dir='rtl') עורך דין
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-end
    //-                                     span.about-partners-card-text(dir='rtl') מומחה בתחום המקרקעין בבולגריה ובישראל, מוביל את תחום הדרכון הבולגרי והשגת אזרחות בולגרית על בסיס השקעה. כמו כן, מספק עו"ד גרמנוב ייעוץ משפטי לעמותות וחברות מסחריות.
                                            
    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/arik-sagiv.jpg' alt='תמונה של יועץ המימון אריק שגיב')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name(dir='rtl') אריק שגיב
    //-                                 .card-title.about-partners-card-prof(dir='rtl') יועץ מימון בכיר
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-end
    //-                                     span.about-partners-card-text(dir='rtl') יוצא בנק ישראל ובנק הפועלים, חבר בהתאחדות יועצי הדיור לישראל ויועץ מורשה של כל הבנקים וחברות הביטוח. מעניק ליווי בנקאי בישראל לרכישת נכסים בחו"ל ובמיוחד בבולגריה.

    .container-fluid.mainpage-rec-contaier            
        .row.about-rec-row.justify-content-center
            .col-12.mainpage-rec-maintext-col.text-center
                h2.mainpage-rec-headline.about-reviews-headline מה אומרים עלינו
            .col-12.col-md-10.reviews-carousel-col             
                #reviewsCarousel.carousel.slide.text-center.reviews-carousel(data-bs-touch='true' data-bs-interval='15000' data-bs-ride='carousel')
                    .carousel-inner.reviews-carousel-inner
                        .carousel-item.active.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-1.jpg' alt='תמונה של הלקוח משה כהן')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') משה כהן
                                    div.mainpage-reviews-prof(dir='rtl') כוחות הביטחון
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "חיפשתי השקעה בטוחה ונתקלתי באתר דירה בולגרית. קיבלתי ליווי מקצועי לכל אורך הדרך, כולל סיורים בנכסים, עזרה משפטית, וכל מה שהייתי צריך כדי לסגור עסקה בראש שקט. ממליץ בחום!"
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4    
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-2.jpg' alt='תמונה של הלקוח רמי לוי')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') רמי לוי
                                    div.mainpage-reviews-prof(dir='rtl') נהג אוטובוס בדן
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "הצוות של דירה בולגרית עזר לי למצוא דירה להשקעה בדיוק לפי התקציב והדרישות שלי. הכל היה מסודר, ברור וללא הפתעות. תוך זמן קצר כבר הייתי בעל נכס בבולגריה. תודה רבה!"
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4      
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-4.jpg' alt='תמונה של הלקוחה מיכל ארליך')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') מיכל ארליך
                                    div.mainpage-reviews-prof(dir='rtl') עורכת דין
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "לא הייתי בטוחה איך להתחיל, אבל דירה בולגרית סיפקו לי את כל המידע והליווי הדרוש. התהליך היה מהיר ושקוף, וקיבלתי יחס אישי לאורך כל הדרך. ממליצה לכל מי ששוקל להשקיע בבולגריה!"
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4      
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatar-img-3.jpg' alt='תמונה של הלקוח רני קרוצניק')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') רני קרוצניק
                                    div.mainpage-reviews-prof(dir='rtl') מנהל פרויקטי בינוי
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "רכשתי שתי דירות דרך דירה בולגרית, דירה במתחם נופש בסבטי ולאס ודירת מגורים בפרויקט חדש שנבנה בבורגס. הצוות של דירה בולגרית טיפל בהכל, החל ממציאת הנכס ועד ניהול משא ומתן וחתימת החוזה מול המוכרים. מאז הצוות ממשיך לעקוב ולטפל בהכל על מנת להשביח את ההשקעה. למי שמחפש להשקיע בראש שקט, זה הצוות שאתם מחפשים"
                    button.carousel-control-prev(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='prev')
                        span.carousel-control-prev-icon.mainpage-reviews-carousel-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='next')
                        span.carousel-control-next-icon.mainpage-reviews-carousel-next-icon(aria-hidden='true')
                        span.visually-hidden Next     
            .col-12.text-center.my-5   
                button.btn-cta.pricing-cta-btn.to-calendly-btn צרו קשר   

    include _contactUsFixed  
    include _contactUsFixedMobile                      

                                            