extends base 

block head
    title הכירו את הצוות | דירה בולגרית
    meta(name="description" content="צוות דירה בולגרית ילווה אתכם כל הדרך להשקעת נדל\"ן מניבה ויציבה בבולגריה.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/about")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/about" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/about" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/about" hreflang="ru")

    meta(property="og:title" content="הכירו את הצוות | דירה בולגרית")
    meta(property="og:description" content="צוות דירה בולגרית ילווה אתכם כל הדרך להשקעת נדל\"ן מניבה ויציבה בבולגריה.")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content

    .container-fluid
        .row.about-headline-row
            .col.about-headline-col 
                img.about-headline-img(src='/img/sectionCover-4.webp' alt='תמונה של בורגס בולגריה') 
                h1.about-headline(dir='rtl') הכירו את הצוות
                button.section-headline-cta-btn.to-calendly-btn(aria-label='מעבר לעמוד יצירת קשר') צרו קשר

    .container-fluid.about-container                        
        .row.about-row.d-flex.align-items-center.justify-content-center.mx-4
            .col-12.col-md-10.col-xxl-6.about-text-col.my-4
                h2.about-text-name(dir='rtl') ויטה ליבשיץ
                h3.about-text-role(dir='rtl') בעלים
                div.about-text(dir='rtl') אני אנליסטית השקעות נדל"ן המתמחה בזיהוי הזדמנויות בעלות פוטנציאל תשואה גבוה בשווקים בינלאומיים. עם הבנה מעמיקה של המיקומים האסטרטגיים – החל מהמדינה והעיר, דרך הרחוב ועד לבחירת היזם האמין והמשתלם ביותר – אני מספקת ללקוחותיי יתרון משמעותי בתהליך ההשקעה.
                div.about-text(dir='rtl') אני מלווה את המשקיעים לאורך כל מסע ההשקעה: החל מייעוץ מקצועי ראשוני, דרך ניתוח שוק מדוקדק, ועד לסגירת העסקה וליווי מתמשך לאחריה. במסגרת רישיוני כמתווכת משכנתאות, אני מוודאת כי הלקוחות מקבלים את אפשרויות המימון האופטימליות והמשתלמות ביותר, המותאמות לצרכיהם.
                div.about-text(dir='rtl') הרקע ההנדסי והעיצובי שלי מאפשר לי להעריך את פוטנציאל השיפוץ וההתחדשות של כל נכס, ובכך להגדיל את ערכו ולהבטיח תנאים מיטביים למכירה חוזרת רווחית.
                div.about-text(dir='rtl') אני מנהלת משא ומתן אישי ומקצועי עם כל הצדדים המעורבים בעסקה, תוך שמירה על שקיפות מלאה, יישור אינטרסים והבטחת תהליך חלק ויעיל.
                div.about-text(dir='rtl') מעל לכל, אני משקיעה לא רק את ההון והידע שלי, אלא גם את ההון האישי שלי בשוק – הוכחה לאמון המלא שלי באסטרטגיות שאני מציעה ובערך שאני מייצרת עבור לקוחותיי.
                div.about-text(dir='rtl') <strong>השכלה והסמכות:</strong>
                div.about-text(dir='rtl') <strong>● BSEd</strong> – תואר ראשון במדעים וחינוך הנדסי
                div.about-text(dir='rtl') <strong>● MDes</strong> – תואר שני בעיצוב הנדסי
                div.about-text(dir='rtl') <strong>● מתווכת נדל"ן מורשה</strong>
                div.about-text(dir='rtl') <strong>● יועצת משכנתאות מורשה</strong>
            .col-12.col-md-10.col-xxl-6.about-img-col.text-center
                img.about-img.img-fluid(src='/img/vita-livshitz-img.webp' alt='תמונה של הבעלים של אתר דירה בולגרית ויטה ליבשיץ') 

    //- .container-fluid.partners-container
    //-     .row.about-partners-headline-row.mx-4
    //-         .col-12.about-partners-headline-col.text-center 
    //-             h2.about-partners-headline המומחים שלנו                          
    //-             h3.about-partners-text הכירו את המומחים החיצוניים איתם אנו עובדים בישראל ובבולגריה                          
    //-     .row.about-partners-headline-row.mx-4.justify-content-center
    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/artem-karavaty.webp' alt='תמונה של יועץ הנדלן ארטיום קאראוואטי')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name(dir='rtl') ארטיום קאראוואטי
    //-                                 .card-title.about-partners-card-prof(dir='rtl') סוכן נדל"ן בכיר
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-end
    //-                                     span.about-partners-card-text(dir='rtl') נדלניסט בנשמה אשר מתמחה באיתור, פיתוח ושיווק נכסים בכל רחבי בולגריה ובייחוד באזור החוף. אנו עובדים בשיתוף פעולה הדוק עם ארטיום כדי למצוא את הנכסים העדכניים ביותר בבולגריה. 
    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/fani-smardjiva.webp' alt='תמונה של עורכת הדין פאני סמרגדיווה')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name(dir='rtl') פאני סמרדג'יווה
    //-                                 .card-title.about-partners-card-prof(dir='rtl') עורכת דין
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-end
    //-                                     span.about-partners-card-text(dir='rtl') מומחית בתחומי המקרקעין והממשל ובעלת ניסיון עתיר שנים בפישוט והתמודדות עם הגופים הרגולטורים השונים בבולגריה. אנו נעזרים בידע הרב של פאני בניסוח חוזים והתייעצויות שונות.
    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/avelina-aria-2-ceo.jpg' alt='תמונה של מנכלית פרויקט אטלאנטיס אריה 2 אבלינה ואליקובה')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name(dir='rtl') אבלינה ואליקובה
    //-                                 .card-title.about-partners-card-prof(dir='rtl') מנכ"לית פרויקט אריה 2
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-end
    //-                                     span.about-partners-card-text(dir='rtl') אבלינה היא מנכ"לית בכירה בחברת הנדל"ן אטלאנטיס אשר בונה פרויקטים רבים ברחבי בולגריה. אנו נמצאים בקשר הדוק עם אבלינה בנוגע לנכסים ולפרויקטים עתידים אשר עשויים לעניין משקיעים ישראלים.
                                        
    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/SH-consulting-EOOD.jpg' alt='תמונת לוגו של חברת ראיית החשבון הבולגרית יעוץ נדלן')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name(dir='rtl') SH consulting EOOD
    //-                                 .card-title.about-partners-card-prof(dir='rtl') ראיית חשבון
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-end
    //-                                     span.about-partners-card-text(dir='rtl') משרד רואי חשבון בולגרי בעל ניסיון רב שנים בתחום החשבונאות והמיסוי. החברה מתמחה במיסוי בתחום הנדל"ן הבולגרי ומסייעת לנו בניסוח חוזים ובהבנת חוקי המיסוי.

    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/oded-gramnov-lawyer.webp' alt='תמונה של עורך הדין עודד גרמנוב')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name(dir='rtl') עודד גרמנוב
    //-                                 .card-title.about-partners-card-prof(dir='rtl') עורך דין
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-end
    //-                                     span.about-partners-card-text(dir='rtl') מומחה בתחום המקרקעין בבולגריה ובישראל, מוביל את תחום הדרכון הבולגרי והשגת אזרחות בולגרית על בסיס השקעה. כמו כן, מספק עו"ד גרמנוב ייעוץ משפטי לעמותות וחברות מסחריות.
                                            
    //-         .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
    //-             .card.about-partners-card
    //-                 img.card-img-top.about-partners-img(src='/img/arik-sagiv.jpg' alt='תמונה של יועץ המימון אריק שגיב')    
    //-                 .card-body
    //-                     .container-fluid
    //-                         .row.about-partners-card-body-row
    //-                             .col-12.justify-content-center.pricing-premium-col 
    //-                                 .card-title.about-partners-card-name(dir='rtl') אריק שגיב
    //-                                 .card-title.about-partners-card-prof(dir='rtl') יועץ מימון בכיר
    //-                             .col-12
    //-                                 div.card-text-container.about-partners-text-container.text-end
    //-                                     span.about-partners-card-text(dir='rtl') יוצא בנק ישראל ובנק הפועלים, חבר בהתאחדות יועצי הדיור לישראל ויועץ מורשה של כל הבנקים וחברות הביטוח. מעניק ליווי בנקאי בישראל לרכישת נכסים בחו"ל ובמיוחד בבולגריה.

    .container-fluid.mainpage-rec-container            
        .row.mx-4.justify-content-center
            .col-12.mainpage-rec-maintext-col.text-center
                h2.mainpage-rec-tag המלצות 
                h3.mainpage-rec-headline מה אומרים עלינו
            .col-12.col-md-10.reviews-carousel-col           
                #reviewsCarousel.carousel.slide.text-center.reviews-carousel(data-bs-touch='true' data-bs-interval='15000' data-bs-ride='carousel')
                    .carousel-inner.reviews-carousel-inner
                        .carousel-item.active.reviews-carousel-item.he-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-tatiana-k.webp' alt='תמונה של הממליצה טטיאנה ק')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='rtl') טטיאנה ק.
                                        div.mainpage-reviews-prof(dir='rtl') עובדת סוציאלית
                                        div.mainpage-reviews-review.fst-italic(dir='rtl') "לאחרונה השלמנו עסקת רכישת דירת סטודיו בבולגריה דרך חברת אינווסט קפה ואנו רוצים לשתף בחוויה החיובית. מההתחלה, הצוות הפגין רמה גבוהה של מקצועיות. הסבירו לנו בפירוט את כל שלבי העסקה, סייעו בבחירת אפשרויות התואמות לתקציב ולרצונות שלנו. במיוחד שמחנו שהיועצים של החברה (ובמיוחד ויטה ליפשיץ) מכירים היטב את המורכבויות המשפטיות והמנהליות המקומיות, מה שפשט מאוד את התהליך. התקשורת הייתה תמיד מעולה - קיבלנו מענה מהיר לכל השאלות, המסמכים הוכנו בזמן, והתהליך כולו עבר ללא הפתעות. כמו כן, יש לציין שהם ליוו אותנו עד לחתימה על החוזה. אנו מרוצים מהבחירה שלנו ומביעים תודה לאינווסט קפה על היושר, השקיפות והתמיכה בכל השלבים. אם אתם שוקלים רכישת נדל"ן בבולגריה - אנו ממליצים בחום על החברה הזו."
                        .carousel-item.reviews-carousel-item.he-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-miriam-k.webp' alt='תמונה של הממליצה מרים ק')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='rtl') מרים ק.
                                        div.mainpage-reviews-prof(dir='rtl')
                                        div.mainpage-reviews-review.fst-italic(dir='rtl') "רכישת נדל"ן בגאורגיה דרך אינווסט קפה הותירה רשמים חיוביים. הסוכנות ארגנה טיול לבחירת הנכס: הסעות, לינה וביקורים תוכננו בצורה מדויקת. העובדים היו זמינים תמיד, סיפקו ייעוץ מקצועי וסייעו עם המסמכים. הכל עבר במהירות, בנוחות וללא מתח. אני ממליצה על אינווסט קפה כסוכנות אמינה להשקעות בגאורגיה."
                        .carousel-item.reviews-carousel-item.he-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-marina-f.webp' alt='תמונה של הממליצה מרינה פ')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='rtl') מרינה פ.
                                        div.mainpage-reviews-prof(dir='rtl') מעצבת פנים
                                        div.mainpage-reviews-review.fst-italic(dir='rtl') "אדם נלהב, מלא תשוקה, שחי את המקצוע שלו ניכר מיד. ויטה היא אדם מדהים ומקצועית ברמה גבוהה. חשוב מאוד שכל מה שהיא מציעה מבוסס על ניסיונה האישי. היא חולקת את הידע והניסיון שלה בצורה כנה ונדיבה, ולכן נוצרת תחושת אמון מלא, כבוד והערצה למקצועיות שלה! אני מקווה מאוד שהחוויה שלי ברכישת נדל"ן בבולגריה היא רק ההתחלה. יהיו עוד יוון, קפריסין, איטליה... בקיצור, נהניתי והכל רק מתחיל!"
                        .carousel-item.reviews-carousel-item.he-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-guzel.webp' alt='תמונה של הממליצה גוזל')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='rtl') גוזל
                                        div.mainpage-reviews-prof(dir='rtl') מתכנתת תלת-ממד
                                        div.mainpage-reviews-review.fst-italic(dir='rtl') "ויטה מקסימה! נעימה מאוד בתקשורת, מוכשרת ומקצועית, עונה על כל השאלות, גם המורכבות ביותר. רכשנו איתה דירה ביוון והיא ליוותה אותנו בכל שלב, תמיד הייתה זמינה, פתרה את כל הבעיות במהלך העסקה. נשארנו מרוצים מאוד. ויטה, תודה לך! ומאחלים לך הצלחה נוספת בעסקים!"
                        .carousel-item.reviews-carousel-item.he-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-alex-n.webp' alt='תמונה של הממליץ אלכס נ')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='rtl') אלכס נ.
                                        div.mainpage-reviews-prof(dir='rtl') מפתח תוכנה
                                        div.mainpage-reviews-review.fst-italic(dir='rtl') "רכשתי דירה דרך אינווסט קפה. הם היו מועילים להפליא בכל שלב, אפילו עם קבלת משכנתא בישראל. הם באמת יודעים את העבודה שלהם. אם אתם מחפשים לרכוש נדל"ן בחו"ל, אלה האנשים שלכם!"
                        .carousel-item.reviews-carousel-item.he-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-stas-k.webp' alt='תמונה של הממליץ סטס ק')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='rtl') סטס ק.
                                        div.mainpage-reviews-prof(dir='rtl') מנהל אבטחת איכות
                                        div.mainpage-reviews-review.fst-italic(dir='rtl') "רכשתי דירה ביוון ובבולגריה דרך אינווסט קפה, ואני יכול לומר בביטחון שזו הייתה חוויה מצוינת. הסוכנות סיפקה שירות יוצא דופן בכל שלבי העסקה, כולל סיוע בקבלת משכנתא. לצוות יש ידע עמוק בשוק והם עובדים עם היזמים הטובים ביותר ביוון ובבולגריה. מה שהרשים אותי במיוחד היה מייסדת החברה – אנליסטית שוק אמיתית עם הבנה עמוקה של הדינמיקה והמגמות שלו. אינווסט קפה לא רק מצאו לי עסקאות מצוינות, אלא גם סיפקו ייעוץ חשוב לגבי מקסום רווחים ותכנון השקעות לטווח ארוך. אני ממליץ בחום על אינווסט קפה לכל מי שמחפש שותף אמין לרכישת נדל"ן בחו"ל. איתם, תהליך הרכישה חלק ונעים, והתוצאות עולות על הציפיות!"
                        .carousel-item.reviews-carousel-item.he-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-alexander-m.webp' alt='תמונה של הממליץ אלכסנדר ל')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='rtl') אלכסנדר ל.
                                        div.mainpage-reviews-prof(dir='rtl') מוזיקאי
                                        div.mainpage-reviews-review.fst-italic(dir='rtl') "ויטה היא מומחית נפלאה ומחושבת בתחומה. השתתפתי בקורס המקוון שלה בנושא השקעות ונועצתי בה מספר פעמים בטלפון. אני יכול להמליץ עליה בביטחון כמקצוענית אחראית ואמינה."
                        .carousel-item.reviews-carousel-item.he-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-rami-p.webp' alt='תמונה של הממליץ נדב פ')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center
                                        div.mainpage-reviews-name(dir='rtl') נדב פ.
                                        div.mainpage-reviews-prof(dir='rtl') רואה חשבון
                                        div.mainpage-reviews-review.fst-italic(dir='rtl') "רכשתי דרך אינווסט קפה דירה דירה בבולגריה, ואני יכול לומר בביטחון שזו הייתה חוויה מצוינת. הסוכנות סיפקה שירות יוצא דופן בכל שלבי העסקה, כולל סיוע בקבלת משכנתא. הצוות בעל ידע עמוק בשוק ופועל עם הקבלנים והיזמים הטובים ביותר ביוון ובבולגריה. מי שהרשימה אותי במיוחד היא מייסדת החברה – אנליסטית אמיתית של שוק הנדל"ן, עם הבנה עמוקה של המאפיינים והמגמות שלו. אינווסט קפה לא רק שמצאו לי עסקאות מצוינות, אלא גם נתנו לי ייעוץ חשוב לגבי מקסום רווחים ותכנון השקעות לטווח ארוך. אני ממליץ בחום על אינווסט קפה לכל מי שמחפש שותף אמין לרכישת נדל"ן בחו"ל. איתם תהליך הרכישה פשוט, נעים – והתוצאה עולה על כל הציפיות!"
                        .carousel-item.reviews-carousel-item.he-reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4.d-flex.justify-content-center.align-items-center
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/rec-profile-img-anna-v.webp' alt='תמונה של הממליצה אנה ו')
                                .col-md-7.col-xl-8.text-center
                                    .reviews-text-wrapper.text-center(dir='rtl')
                                        div.mainpage-reviews-name אנה ו.
                                        div.mainpage-reviews-prof מומחית UI/UX
                                        div.mainpage-reviews-review.fst-italic "תודה ענקית לויטה על העזרה המדהימה ברכישת דירת סטודיו בבולגריה! מההתחלה הרגשתי ביטחון, תמיכה ומעורבות כנה. ויטה תמיד הייתה זמינה, ענתה על כל השאלות, סייעה עם המסמכים ובחרה אפשרויות תוך התחשבות בכל המשאלות שלי. בזכותה התהליך עבר בקלות, בשלווה וללא מתח. קיבלתי בדיוק את מה שחלמתי עליו! אני ממש שמחה שפניתי דווקא אליה, וממליצה בחום על ויטה לכל מי שמחפש מומחית אמינה וקשובה!"
                    button.carousel-control-prev(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='prev')
                        span.carousel-control-prev-icon.mainpage-reviews-carousel-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='next')
                        span.carousel-control-next-icon.mainpage-reviews-carousel-next-icon(aria-hidden='true')
                        span.visually-hidden Next     
            .col-12.text-center.my-5   
                button.btn-cta.pricing-cta-btn.to-calendly-btn צרו קשר   

    include _contactUsFixed  
    include _contactUsFixedMobile                      

                                            