extends base 

block head
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content

    .container-fluid
        .row.about-headline-row
            .col.about-headline-col 
                img.about-headline-img(src='/img/sectionCover-4.webp' alt='תמונה של בורגס בולגריה') 
                h1.about-headline(dir='rtl') הכירו את הצוות
                button.section-headline-cta-btn.to-calendly-btn(aria-label='מעבר לעמוד יצירת קשר') צרו קשר

    .container-fluid.about-container
        .row.about-row.d-flex.align-items-center.justify-content-center.mx-4
            .col-12.col-md-10.col-xxl-6.about-text-col.my-4
                h2.about-text-name(dir='rtl') יהלי סמואלס
                h3.about-text-role(dir='rtl') יועצת נדל"ן ובעלים
                div.about-text(dir='rtl') בוגרת תואר שני במנהל עסקים וכלכלה, מנהלת פרויקטים בכירה, מנטור אימון אישי ובוגרת פיתוח עסקי מבית גרנט קדרון. גרה בבולגריה, בבורגס סיטי, ומלווה משקיעים בתחום הנדל"ן.
                div.about-text(dir='rtl') את דרכי התחלתי ואפשר לומר כמעט כמוכם, חסרת ניסיון לפני כ 7 שנים. הכל התחיל כשאני ובעלי רצינו לרכוש דירה בישראל. מצאנו פרויקט שהתאים לנו, נרשמנו, ולאחר שהפרויקט קיבל היתר בניה שילמנו פיקדון ראשוני בסך 25% ממחיר הנכס והמתנו את פרק הזמן שכתוב בחוזה. לאחר שהסתיימה תקופת ההמתנה, הגיע הזמן לגשת לבנק ולבקש מימון. אני בטוחה שחלקכם הייתם בסיטואציה כזו - יושבים על הכסא מול בנקאי ונדמה שכל חייכם מוטלות על כף היד שלו, האם יש אישור או אין. מצד אחד ההתרגשות בשיאה מצד שני החשש של מה יהיה או אולי לא יהיה. אחרי כמה ימים קבלנו טלפון מהבנקאי שמספר לנו שיש אישור ל50% מימון ונצתרך להביא מהבית עוד 25% כי אנחנו כבר מבוגרים יחסית.לנו זה נשמע כמשימה בלתי אפשרית.
                div.about-text(dir='rtl') אחרי חישובים וניהול תזרים שביצענו עם תוכנית עסקית מפורטת הגענו ללמסקנה שאנחנו לא מוכנים לחיות תחת עול כלכלי כל כך כבד עבור 4 קירות. הרבה דברים יכולים לקרות בדרך (תעסוקה, שכר, סגרים, מלחמה), ואנחנו פחות מרוצים המצב של מימון 50% מהבנק והבאת 50% מכיסנו.
                div.about-text(dir='rtl') לבסוף החלטנו לבטל את העסקה, שילמנו קנס, ובחרנו לבדוק אפשרויות אחרות. חיפשנו הצעות שמתאימות לתקציב שיש לנו ונתקלנו במודעות דירות למגורים והשקעה בחו"ל. כמו כל ישראלי העיניים משכו לארצות הברית, אך זה ממש מרוחק ממני ואני אדם שאוהבת שהדברים שלי נמצאים סביבי או בקרבת מקום החלטנו להתמקד באירופה ונמה שהראש נפתח והאסימון נופל.
                div.about-text(dir='rtl') בדקנו בכמה מדינות ואחרי מחקר שעשיתי הגעתי למסקנה שבולגריה היא בין המדינות הזולות בתחום הנדל"ן עם מגוון אפשרויות מעניינות. צלצלת ואמרתי לבעלי ואמרתי לו "בורגס! תארוז, מחר טסים לראות וקח איתך כסף כי יכול להיות שנקנה דירה".
                div.about-text(dir='rtl') חישוב מהיר של 1+1 הוביל אותי לתוצאה של דירה למגורים בקומפלקס דירות עם חניה,  בריכה,  מרכז ספא,  מגרשי משחקים לילדים, בקרבת מרכזי חנויות ומוסדות חינוך, <strong>וכל זה במחיר של מכונית יוקרה בישראל</strong>.
                div.about-text(dir='rtl') החלטתי להקים את <strong>"דירה בולגרית - נדל"ן ישראלי בבולגריה"</strong> כדי ללוות משקיעים ישראלים שרוצים לרכוש דירה בבולגריה ולעבור את התהליך בנועם, עם ודאות ושקיפות. ולצורך זה למדתי את המדינה, הרגולציות, מה ניתן ומה לא, יצרתי קשרים עסקיים, בנתי מערכת שיתופי פעולה וכל זה כדי לסייע לכם להיות בעלים של דירה בבולגריה עם תחושת ביטחון מוחלטת, שיש מישהו שעושה את הדברים עבורכם, מדבר בשפה שלכם והחשוב מכל, שומר על האינטרסים שלכם. בנינו את הצוות שלי שעוזר לי ומסייע בכל התהליך על מנת שגם לכם יהיה בית בבולגריה שאתם אהבים, אם למטרת השקעה או למטרת מגורים, <strong>ונלווה אתכם לאורך כל התהליך יד ביד עד שתקבלו את המפתח לדירת חלומותיכם</strong>.
            .col-12.col-md-10.col-xxl-6.about-img-col.text-center
                img.about-img.img-fluid(src='/img/yaheli.webp' alt='תמונת פרופיל של יועצת הנדלן והבעלים של דירה בולגרית יהלי סמואלס')                
        .row.about-row.d-flex.align-items-center.justify-content-center.mx-4
            .col-12.col-md-10.col-xxl-6.about-text-col.my-4
                h2.about-text-name(dir='rtl') שמעון שלמה
                h3.about-text-role(dir='rtl') יועץ עסקי ובעלים
                div.about-text(dir='rtl') אני שמעון שלמה, הבעלים והיועץ ב<strong>"דירה בולגרית - נדל"ן ישראלי בבולגריה"</strong>. עם למעלה מ-20 שנות ניסיון כיועץ עסקי ומנהל מכירות, הקדשתי את הקריירה שלי לביצוע עסקאות שבאמת מועילות ללקוחות שלי ומשפרות את חייהם. העיקרון המנחה שלי הוא <strong>"עדיף שם טוב משמן טוב"</strong>. הקמתי את החברה יחד עם יהלי סמואלס ודרור סלומון על מנת למסד את העקרון של שמירה על הסטנדרטים הגבוהים ביותר של מקצועיות ואמינות. 
                div.about-text(dir='rtl') המטרה העיקרית היא לעזור למשקיעים ישראלים למצוא הזדמנויות נדל"ן מצוינות בבולגריה. נכון לעכשיו, בולגריה מציעה פוטנציאל השקעה פנטסטי עם נכסים המבטיחים תשואות גדולות. לעומת זאת, בשוק הישראלי המחירים גבוהים והתשואות נמוכות. בולגריה נמצאת צעד אחד מכניסה מלאה לחברות האיחוד האירופי ואז הנדל"ן במדינה מלאת הנופים יגיע אל הערך האמיתי שלו - זה הזמן לקפוץ על העגלה. 
                div.about-text(dir='rtl') הכוונה היא ליצור עמכם קשר ידידותי, מקצועי ובלתי פורמלי. אנו שואפים להפוך את תהליך ההשקעה לחלק ופשוט עבורכם. אנו מספקים תמיכה מלאה, מזיהוי הזדמנויות השקעה מובילות ועד לסגירת עסקאות והצעת סיוע מתמשך. מטרתנו היא להבטיח שתקבלו את התשואה הטובה ביותר וחווית השקעה חלקה. אנו מציעים אצלנו באתר שלל נכסים בבלעדיות ומבטיחים לעבוד רק עם יזמים בולגריים מנוסים שזכו להמלצות והשקעות חוזרות ממשקיעים שלנו לאורך השנים.
                div.about-text(dir='rtl') אז אם אתם מחפשים ערוץ השקעה משתלם, או שוקלים מעבר דירה לחו"ל, עכשיו זה הזמן המושלם לבחון את ההזדמנויות בבולגריה. <strong>אני מזמין אתכם לקבוע פגישה דרך האתר שלנו ולראות כיצד נוכל לעזור לכם להשיג את יעדי ההשקעה שלכם</strong>.
                div.about-text(dir='rtl') בחירה ב<strong>"דירה בולגרית - נדל"ן ישראלי בבולגריה"</strong> פירושה שיתוף פעולה עם מישהו שמעדף את האינטרסים שלכם ומסור להצלחתכם. אני מצפה לעבוד איתכם ולעזור לכם לבצע השקעות חכמות ורווחיות בבולגריה.
            .col-12.col-md-10.col-xxl-6.about-img-col.text-center
                img.about-img.img-fluid(src='/img/shimon.webp' alt='תמונה של היועץ העסקי והבעלים של דירה בולגרית שמעון שלמה')                         
        .row.about-row.d-flex.align-items-center.justify-content-center.mx-4
            .col-12.col-md-10.col-xxl-6.about-text-col.my-4
                h2.about-text-name(dir='rtl') דרור סלומון
                h3.about-text-role(dir='rtl')  אחראי תוכן ובעלים
                div.about-text(dir='rtl') בוגר תואר ראשון בפסיכולוגיה ומתעסק בחמשת השנים האחרונות בתחום התכנות ובניית אתרים. 
                div.about-text(dir='rtl') הקושי בקניית נדל"ן ובמחיר שפוי במדינתנו מביא רבים מהזוגות הצעירים והרווקים בגילאי ה20, 30 ו40 לזנוח את החלום ולהשלים עם העובדה שכנראה לא יהיו בעלי נכס ויאלצו לחיות בשכירות בלתי יציבה. שוק הנדל"ן בארץ עובר תהפוכות רבות עקב סיבות כמו חוסר בעצה, מלחמות וחוסר בידיים עובדות בשוק הבנייה אשר הופכות את החלום לרכוש בית לכמעט בלתי אפשרי עבור רבים מאיתנו. 
                div.about-text(dir='rtl') בשנים האחרונות חקרתי שוקי נדל"ן אחרים בעולם כדי לראות האם ישנם ערוצי השקעה כדאיים בחו"ל ובסופו של דבר הגעתי לבולגריה. מה שמשך אותי במיוחד לבולגריה היו המחירים הנמוכים יחסית, הכלכלה המתפתחת והעלייה בהשקעות במדינה. הבנתי שזו יכולה להיות הזדמנות מצוינת להשקעה. 
                div.about-text(dir='rtl') הערוץ הישראלי בו מצאתי הכי הרבה אינפורמציה מקיפה על השקעות בבולגריה היה בקבוצת הפייסבוק של יהלי סמואלס <strong>"נדל"ן ישראלי בבולגריה"</strong> , ולאחר שיח פורה עם יהלי, וכמו כן עם שמעון שלמה, אדם בעל ניסיון רב ועתיר שנים בפיתוח ויעוץ עסקי החלטנו שזה רעיון טוב להרים אתר אינטרנט לאוויר שירכז בתוכו גם נכסים כדאיים להשקעה וגם מידע נגיש לישראלים שרוצים לעשות את הצעד הראשון בהשקעות נדל"ן בבולגריה.
                div.about-text(dir='rtl') מטרת האתר שהקמנו <strong>"דירה בולגרית – נדל"ן ישראלי בבולגריה"</strong> היא לעטוף את המשקיע הישראלי בליווי צמוד לאורך כל תהליך רכישת הנכס – משלב ההתעניינות ואיתור הנכס ועד חתימת החוזה הסופי ומציאת שוכר או מעבר לדירה הנחשקת. 
                div.about-text(dir='rtl') אז אם אתם מתעניינים בהשקעת נדל"ן במדינה שנמצאת בצמיחה מתמדת בשלושים השנים האחרונות, הרשו לי להמליץ לכם על בולגריה כיעד כדאי שיניב לכם תשואה במידה ואתם רק בעניין של השקעה, וכמו כן המדינה יכולה להוות עבורכם בית עם רמת חיים אירופאית גבוהה במידה ואתם בעניין של מעבר לחו"ל. <strong>צרו איתנו קשר וקבעו פגישת וידאו בזמן שנוח לכם ונעשה כל שנוכל כדי לענות על כל שאלה וללוותכם לנכס הנחשק</strong>.
            .col-12.col-md-10.col-xxl-6.about-img-col.text-center
                img.about-img.img-fluid(src='/img/dror.webp' alt='תמונה של אחראי התוכן והבעלים של דירה בולגרית דרור סלומון') 

    .container-fluid.partners-container
        .row.about-partners-headline-row.mx-4
            .col-12.about-partners-headline-col.text-center 
                h2.about-partners-headline המומחים שלנו                          
                h3.about-partners-text הכירו את המומחים החיצוניים איתם אנו עובדים בישראל ובבולגריה                          
        .row.about-partners-headline-row.mx-4.justify-content-center
            .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
                .card.about-partners-card
                    img.card-img-top.about-partners-img(src='/img/artem-karavaty.webp' alt='תמונה של יועץ הנדלן ארטיום קאראוואטי')    
                    .card-body
                        .container-fluid
                            .row.about-partners-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .card-title.about-partners-card-name(dir='rtl') ארטיום קאראוואטי
                                    .card-title.about-partners-card-prof(dir='rtl') סוכן נדל"ן בכיר
                                .col-12
                                    div.card-text-container.about-partners-text-container.text-end
                                        span.about-partners-card-text(dir='rtl') נדלניסט בנשמה אשר מתמחה באיתור, פיתוח ושיווק נכסים בכל רחבי בולגריה ובייחוד באזור החוף. אנו עובדים בשיתוף פעולה הדוק עם ארטיום כדי למצוא את הנכסים העדכניים ביותר בבולגריה. 
            .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
                .card.about-partners-card
                    img.card-img-top.about-partners-img(src='/img/fani-smardjiva.webp' alt='תמונה של עורכת הדין פאני סמרגדיווה')    
                    .card-body
                        .container-fluid
                            .row.about-partners-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .card-title.about-partners-card-name(dir='rtl') פאני סמרדג'יווה
                                    .card-title.about-partners-card-prof(dir='rtl') עורכת דין
                                .col-12
                                    div.card-text-container.about-partners-text-container.text-end
                                        span.about-partners-card-text(dir='rtl') מומחית בתחומי המקרקעין והממשל ובעלת ניסיון עתיר שנים בפישוט והתמודדות עם הגופים הרגולטורים השונים בבולגריה. אנו נעזרים בידע הרב של פאני בניסוח חוזים והתייעצויות שונות.
            .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
                .card.about-partners-card
                    img.card-img-top.about-partners-img(src='/img/avelina-aria-2-ceo.jpg' alt='תמונה של מנכלית פרויקט אטלאנטיס אריה 2 אבלינה ואליקובה')    
                    .card-body
                        .container-fluid
                            .row.about-partners-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .card-title.about-partners-card-name(dir='rtl') אבלינה ואליקובה
                                    .card-title.about-partners-card-prof(dir='rtl') מנכ"לית פרויקט אריה 2
                                .col-12
                                    div.card-text-container.about-partners-text-container.text-end
                                        span.about-partners-card-text(dir='rtl') אבלינה היא מנכ"לית בכירה בחברת הנדל"ן אטלאנטיס אשר בונה פרויקטים רבים ברחבי בולגריה. אנו נמצאים בקשר הדוק עם אבלינה בנוגע לנכסים ולפרויקטים עתידים אשר עשויים לעניין משקיעים ישראלים.
            .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
                .card.about-partners-card
                    img.card-img-top.about-partners-img(src='/img/asset-consult.webp' alt='תמונת לוגו של חברת ראיית החשבון הבולגרית יעוץ נדלן')    
                    .card-body
                        .container-fluid
                            .row.about-partners-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .card-title.about-partners-card-name(dir='rtl') חברת "יעוץ נדל"ן"
                                    .card-title.about-partners-card-prof(dir='rtl') ראיית חשבון
                                .col-12
                                    div.card-text-container.about-partners-text-container.text-end
                                        span.about-partners-card-text(dir='rtl') משרד רואי חשבון בולגרי בעל ניסיון רב שנים בתחום החשבונאות והמיסוי. החברה מתמחה במיסוי בתחום הנדל"ן הבולגרי ומסייעת לנו בניסוח חוזים ובהבנת חוקי המיסוי.
            .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
                .card.about-partners-card
                    img.card-img-top.about-partners-img(src='/img/oded-gramnov-lawyer.webp' alt='תמונה של עורך הדין עודד גרמנוב')    
                    .card-body
                        .container-fluid
                            .row.about-partners-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .card-title.about-partners-card-name(dir='rtl') עודד גרמנוב
                                    .card-title.about-partners-card-prof(dir='rtl') עורך דין
                                .col-12
                                    div.card-text-container.about-partners-text-container.text-end
                                        span.about-partners-card-text(dir='rtl') מומחה בתחום המקרקעין בבולגריה ובישראל, מוביל את תחום הדרכון הבולגרי והשגת אזרחות בולגרית על בסיס השקעה. כמו כן, מספק עו"ד גרמנוב ייעוץ משפטי לעמותות וחברות מסחריות.
                                            
            .col-12.col-sm-6.col-md-4.col-xxl-2.about-partners-headline-col.text-center
                .card.about-partners-card
                    img.card-img-top.about-partners-img(src='/img/arik-sagiv.jpg' alt='תמונה של יועץ המימון אריק שגיב')    
                    .card-body
                        .container-fluid
                            .row.about-partners-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .card-title.about-partners-card-name(dir='rtl') אריק שגיב
                                    .card-title.about-partners-card-prof(dir='rtl') יועץ מימון בכיר
                                .col-12
                                    div.card-text-container.about-partners-text-container.text-end
                                        span.about-partners-card-text(dir='rtl') יוצא בנק ישראל ובנק הפועלים, חבר בהתאחדות יועצי הדיור לישראל ויועץ מורשה של כל הבנקים וחברות הביטוח. מעניק ליווי בנקאי בישראל לרכישת נכסים בחו"ל ובמיוחד בבולגריה.

    .container-fluid.mainpage-rec-contaier            
        .row.about-rec-row.justify-content-center
            .col-12.mainpage-rec-maintext-col.text-center
                h2.mainpage-rec-headline.about-reviews-headline מה אומרים עלינו
            .col-12.col-md-10.reviews-carousel-col             
                #reviewsCarousel.carousel.slide.text-center.reviews-carousel(data-bs-touch='true' data-bs-interval='15000' data-bs-ride='carousel')
                    .carousel-inner.reviews-carousel-inner
                        .carousel-item.active.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/guyAvitanRec.webp' alt='תמונה של הממליץ גיא אביטן')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') גיא אביטן
                                    div.mainpage-reviews-prof(dir='rtl') כוחות הביטחון
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "יהלי, תודה רבה על הליווי מתחילת הדרך בשלב מציאת הנכס שהכי מתאים לי בפרוייקט של Aria בה מצאת לי דירת שני חדרים, ההתנהלות מול הקבלן, העזרה בניסוח וניתוח החוזה והעידכונים השוטפים במהלך הבניה. אני יודע שזה לא הנכס האחרון שאקנה עם הליווי שלך"
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4    
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/eliToledoRec.webp' alt='תמונה של הממליץ אלי טולדו')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') אלי טולדו
                                    div.mainpage-reviews-prof(dir='rtl') נהג אוטובוס בדן
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "אני רוצה להודות ליועצת הנדל"ן יהלי סמואלס על הטיפול המסור והמקצועי ברכישת דירה נהדרת בבולגריה. לאורך כל הדרך השרת תחושה שאפשר לסמוך עליך, להתייעץ איתך ולקבל מענה ראוי ומהיר. בנוסף, ראוי לציין את רוחב ליבך והאכפתיות, ממש כמו אחת מהמשפחה! אני בטוח שכל מי שיזכה לשירותייך בהמשך יהנה כמוני. "
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4      
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatarImg.jpg' alt='תמונת אוואטר אנונימית')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') זוהר דוד
                                    div.mainpage-reviews-prof(dir='rtl') עורך דין
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "אני רוצה לומר תודה ענקית ליהלי, שבליווי מסור, נחוש, אכפתי ומדוייק, הצליחה להביא עסקה שלעיתים נראתה בלתי אפשרית לסיום מוצלח. אנו מאושרים עם הדירה החדשה, המהממת שלנו בבנסקו, אין ספק כי נמשיך איתה לעסקה נוספת בבולגריה, אורית וזוהר."
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4     
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatarImg.jpg' alt='תמונת אוואטר אנונימית')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') חיים כלים
                                    div.mainpage-reviews-prof(dir='rtl') כוחות הביטחון
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "ליהלי התוודענו לראשונה כשחיפשנו אפיק השקעה בחו"ל ובחרנו בבורגס, יהלי המליצה לנו בחום על אתר בתחילת בניה "Aria", בהמשך הדרך הסתבר לנו כי יהלי מנהלת יעילה ונמרצת שנענתה תמיד לכל שאלה ובקשה שהעלינו...יישר כוח!"
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4     
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/dianGilRec.webp' alt='תמונה של הממליצים דיאן וגיל')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') דיאן וגיל
                                    div.mainpage-reviews-prof(dir='rtl') קיבוץ מגידו
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "הגענו ליהלי בעקבות המלצה של חבר שרכש דרכה דירה בבולגריה. נהלנו מספר שיחות עם יהלי שבהן היא תמיד היתה זמינה וענתה על כל השאלות עם המון סבלנות ונתנה תחושה של בטחון ושהיא מלווה אותנו לאורך כל הדרך. רכשנו לבסוף דירת 2 חדרים בפרויקט Euphoria שבבורגס."
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4      
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatarImg.jpg' alt='תמונת אוואטר אנונימית')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') ניסים קסבי
                                    div.mainpage-reviews-prof(dir='rtl') מורה נהיגה
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "רכשתי דירה בפרוייקט "Aria" בבורגס, בליווי מלא של יהלי. היא דאגה להכל. כל התקשורת מול הקבלן, הליווי מול הבנקים, כל תהליך הרכישה. בלעדיה זה לא היה קורה. מאז כבר מכרתי את הדירה ושוב כל התהליך בוצע ע"י יהלי ורכשתי דירה נוספת גדולה יותר. ממליץ בחום ובאהבה לכל המתעניין לעבוד עם יהלי ולהעזר בשירותיה המעולים."
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4      
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatarImg.jpg' alt='תמונת אוואטר אנונימית')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') רמי השאול
                                    div.mainpage-reviews-prof(dir='rtl') כוחות הבטחון
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "יהלי היקרה, תודה רבה לך על עבודה מקצועית ושירותית מאוד. קיבלתי מעטפת מלאה ואוזן קשבת לכל החששות שלי. אין ספק שהעסקה נסגרה בזכותך. ליווי צמוד ושוטף מול החברה המוכרת שאין שני לו. קניתי בפרויקט אופוריה בבורגס דירת 2 חדרים."
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4      
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/raniKurnitzRec.webp' alt='תמונה של הממליץ קני קרוצניק')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') רני קרוצניק
                                    div.mainpage-reviews-prof(dir='rtl') מנהל פרויקטי בינוי
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "רכשתי שתי דירות דרך דירה בולגרית, דירה במתחם נופש בסבטי ולאס ודירת מגורים בפרויקט חדש שנבנה בבורגס. הצוות של דירה בולגרית טיפל בהכל, החל ממציאת הנכס ועד ניהול משא ומתן וחתימת החוזה מול המוכרים. מאז הצוות ממשיך לעקוב ולטפל בהכל על מנת להשביח את ההשקעה. למי שמחפש להשקיע בראש שקט, זה הצוות שאתם מחפשים"
                    button.carousel-control-prev(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='prev')
                        span.carousel-control-prev-icon.mainpage-reviews-carousel-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='next')
                        span.carousel-control-next-icon.mainpage-reviews-carousel-next-icon(aria-hidden='true')
                        span.visually-hidden Next     
            .col-12.text-center.my-5   
                button.btn-cta.pricing-cta-btn.to-calendly-btn צרו קשר             

                                            