extends base 

block head
    meta(name="robots" content="noindex, nofollow")
    meta(property="og:image" content='/img/about-us-sozopol.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content

    .container-fluid.contact-us-confirm-main-container
        .row.contact-us-confirm-row.align-items-center.justify-content-center.mx-4.py-xxl-5
            .col-12.col-md-6.contact-us-confirm-text-col.text-end
                div.contact-us-confirm-headline(dir='rtl') פנייתכם התקבלה!
                div.contact-us-confirm-border
                div.contact-us-confirm-text(dir='rtl') תודה שיצרתם קשר עם דירה בולגרית, אחד מהיועצים שלנו יצור עמכם קשר בהקדם האפשרי.
                button.error-btn(aria-label='חזרה לעמוד הבית') לעמוד הבית
            .col-12.col-md-6.col-xl-4.d-md-flex.justify-content-md-center.contact-us-confirm-img-col      
                img.contact-us-confirm-img.img-fluid(src='/img/about-us-sozopol.webp' alt='תמונת נוף של אובזור בולגריה')