extends base 

block head
    title צרו קשר | דירה בולגרית
    meta(name="description" content="דירה בולגרית מציעה מאות נכסים מניבים להשקעה ברחבי בולגריה, צרו עמנו קשר עוד היום לפרטים נוספים")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/contact-us")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/contact-us" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/contact-us" hreflang="he")

    meta(property="og:title" content="צרו קשר | דירה בולגרית")
    meta(property="og:description" content="דירה בולגרית מציעה מאות נכסים מניבים להשקעה ברחבי בולגריה, צרו עמנו קשר עוד היום לפרטים נוספים")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content

    .container.py-5
        .row.calendly-row.mx-4
            .col.calendly-col
                div.calendly-text-container.text-center 
                    h1.calendly-text-headline(dir='rtl') אתם מוזמנים ליצור איתנו קשר!
                    div.calendly-text(dir='rtl') <strong>1.</strong> אתם יכולים <strong>להשאיר לנו פרטים</strong> ונחזור אליכם בהקדם
                    div#crmWebToEntityForm.crmWebToEntityForm
                        form.contact-us-form#webform6296617000000479035(action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads6296617000000479035 method='POST' accept-charset='UTF-8' novalidate)
                            input(type='text' style='display:none;' name='xnQsjsdp' value='c9ef63b049adde9dd26f5acb21dc87ed1cff806c5954f97aa4908339c68a8469')
                            input#zc_gad(type='hidden' name='zc_gad' value='')
                            input(type='text' style='display:none;' name='xmIwtLD' value='901545bd25a6f11e8753daa2bb5bdc4a62c942986fe3a3b3123340dde1be1461ada4f129bad2cf0112fb24bc402fd5af')
                            input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                            input(type='text' style='display:none;' name='returnURL' value='https://www.dirabulgarit.com/contact-us-confirm')
                            input.contact-us-honeypot-input(type='text' name='bot_check' style='display:none;' value='')
                            .row.contact-us-row.align-items-center
                                .col-12.contact-us-col.d-flex.justify-content-end
                                    input.contact-us-input.contact-us-name-input.form-control(type='text' name='Last Name' maxlength='200' placeholder='שם' aria-label='שם' aria-describedby='basic-addon1' required)                            
                                    .invalid-tooltip אנא הכניסו שם
                                .col-12.contact-us-col.d-flex.justify-content-end
                                    input.contact-us-input.contact-us-phone-input.form-control(type='text' name='Phone' maxlength='10' placeholder='טלפון' aria-label='טלפון' aria-describedby='basic-addon1' pattern='[0-9]{10}' required)
                                    .invalid-tooltip.contact-us-phone-invalid אנא הכניסו מספר טלפון תקין
                                .col-12.contact-us-col.d-flex.justify-content-end 
                                    input.contact-us-input.contact-us-email-input.form-control(type='email' ftype='email' autocomplete='false' name='Email' crmlabel='' maxlength='100' placeholder='אימייל  ' aria-label='אימייל' aria-describedby='basic-addon1' pattern='[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,}' required)
                                    .invalid-tooltip.contact-us-email-invalid אנא הכניסו אימייל תקין
                                .col-12.contact-us-col.contact-us-last-col.d-flex.justify-content-end     
                                    textarea.contact-us-textarea.contact-us-description-input.form-control(id='Description' name='Description' dir='rtl' aria-label="תיאור הבקשה" rows="5" placeholder='יש עוד משהו שהייתם רוצים שנדע?')
                                .col-12.contact-us-col.d-flex.justify-content-end.align-items-start.align-items-lg-center.text-end 
                                    span.webinar-form-check-top-label.form-check-label(for='flexCheckDefault') אני מאשר\ת קבלת מידע ענייני בנושא נדל"ן בבולגריה שלעתים עשוי להיות שיווקי 
                                    input.contact-us-checkbox(type='checkbox' aria-checked='false' class='zcwf_ckbox' id='Email_Opt_Out' aria-required='false' aria-label='Email Opt Out' name='Email Opt Out' aria-valuemax='50' maxlength='50')
                                .col-12.contact-us-col
                                    input.contact-us-button.mx-3(type='reset' class='zcwf_button' name='reset' value='ניקוי' title='Reset')
                                    input.contact-us-button.mx-3(type='submit' id='formsubmit' class='formsubmit zcwf_button' value='שליחה' title='Submit')
                    div.calendly-text(dir='rtl') <strong>2.</strong> אתם יכולים לבחור יועץ בלחיצה על הכפתור ולקבוע <strong>פגישת וידאו</strong> בזמן שמתאים לכם  
                    .dropdown.calendly-agents-dropdown
                        button.btn.btn-secondary.dropdown-toggle.calendly-agents-button(type='button' data-bs-toggle='dropdown' aria-expanded='false' dir='rtl') בחרו יועץ
                        ul.dropdown-menu.calendly-agents-list
                            li
                                span.dropdown-item.calendly-agents-choice.calendly-agent-yeheli(data-agent='yeheli' dir='rtl') יהלי סמואלס 
                                    img.calendly-agent-img(src='/img/yeheli-circle.jpeg' alt='Yeheli Samuels picture')
                            li
                                span.dropdown-item.calendly-agents-choice.calendly-agent-shimon(data-agent='shimon' dir='rtl') שמעון שלמה 
                                    img.calendly-agent-img(src='/img/shimon-circle.jpg' alt='Shimon Shlomo picture')
                    div.calendly-widget-container.calendly-widget-yeheli
                        <div class="calendly-inline-widget" data-url="https://calendly.com/yeheli/video-meet-with-dira-bulgarit"></div>
                        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                    div.calendly-widget-container.calendly-widget-shimon
                        <div class="calendly-inline-widget" data-url="https://calendly.com/simon-ekke/video-meet-with-dira-bulgarit"></div>
                        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>