extends base 

block head
    meta(property="og:image" content='/img/error-page-image.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content

    .container-fluid.error-main-container
        .row.error-row.align-items-center.justify-content-center.mx-4.py-xxl-5
            .col-12.col-md-6.error-text-col 
                div.error-headline(dir='rtl') 404
                div.error-border
                div.error-text(dir='rtl') אופס! אנחנו לא מוצאים את הדף שחיפשתם.
                button.error-btn(aria-label='חזרה לעמוד הבית') לעמוד הבית
                div.error-msg= msg
            .col-12.col-md-6.col-xl-4.d-md-flex.justify-content-md-center.error-img-col      
                img.error-img.img-fluid(src='/img/error-page-image.webp' alt='תמונה של מזח על רקע שקיעה')