extends base 

block head
    title השקעות נדל"ן בבולגריה: מאות נכסים ודירות להשקעה | דירה בולגרית
    meta(name="description" content='השקעות נדל"ן בבולגריה עושים רק עם דירה בולגרית! חברה המציעה מאות נכסים ודירות להשקעה בבולגריה, וליווי מקצועי משלב החיפוש ועד שלב קבלת המפתח. לפרטים לחצו >>')
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com")
    link(rel="alternate" href="https://www.dirabulgarit.com/en" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com" hreflang="he")
    
    meta(property="og:title" content="השקעות נדל\"ן בבולגריה: מאות נכסים ודירות להשקעה | דירה בולגרית")
    meta(name='description' content='השקעות נדל"ן בבולגריה עושים רק עם דירה בולגרית! חברה המציעה מאות נכסים ודירות להשקעה בבולגריה, וליווי מקצועי משלב החיפוש ועד שלב קבלת המפתח. לפרטים לחצו >>')
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content 
    
    .container-fluid.webinar-mainpage-container
        .row.webinar-mainpage-row.justify-content-center
            .col-10.webinar-mainpage-col.text-center
                a.webinar-mainpage-text(href='/webinar' dir='rtl') 
                    | וובינר השקעות הנדל"ן הגדול של נדל"ן ישראלי בבולגריה - דירה בולגרית יוצא לדרך 
                    span יום חמישי | 7.11.24 | 20:30 | zoom 
                    | לחצו להרשמה ופרטים נוספים
    
    .container-fluid.hero-container(role="img" aria-labelledby="heroDescription")
        .row.d-flex.align-items-center.justify-content-center                    
            .col-10.col-lg-8.hero-text-col 
                .hero-border
                h1.hero-headline(dir='rtl') השקעות נדל"ן בבולגריה
                .hero-border.hero-bottom-border
                div.hero-text(dir='rtl') דירה בולגרית - אתר הנדל"ן הבולגרי הגדול בישראל 
        .row.hero-icons-row
            .col-6.col-xl-3.hero-icon-col
                img.hero-icon(src='/img/icons/house-svgrepo-com-hero-white.svg' alt='House icon') 
                .hero-icon-text(dir='rtl') מאות נכסים מכל הסוגים
            .col-6.col-xl-3.hero-icon-col 
                img.hero-icon(src='/img/icons/lighthouse-svgrepo-com-hero-white.svg' alt='Lighthouse icon') 
                .hero-icon-text(dir='rtl') ליווי צמוד לאורך כל תהליך ההשקעה
            .col-6.col-xl-3.hero-icon-col
                img.hero-icon(src='/img/icons/stats-real-estate-svgrepo-com-hero-white.svg' alt='House and graph icon') 
                .hero-icon-text(dir='rtl') תשואה יציבה ואטרקטיבית        
            .col-6.col-xl-3.hero-icon-col
                img.hero-icon(src='/img/icons/money-bag-euro-svgrepo-com-hero-white.svg' alt='Euro money bag icon') 
                .hero-icon-text(dir='rtl') השקעה במדינה מתפתחת באיחוד האירופאי       
        .row.hero-contact-us-row   
            .col-10.col-lg-8.hero-contact-us-col    
                button.btn-cta-white.to-calendly-btn(aria-label='מעבר לעמוד יצירת קשר') צרו קשר   

    div.mainpage-search-modal-open-btn-container.text-center
        h2.mainpage-search-headline חיפוש נכס
        div.mainpage-search-text לחצו על כפתור החיפוש ומצאו את הנכס שהכי מתאים למבוקשכם
        button.mainpage-search-modal-open-btn(data-bs-toggle="modal" data-bs-target="#searchModal" aria-label='פתיחת תפריט חיפוש נכס') חפשו נכס 

    .container.d-flex.justify-content-center
        .mainpage-search-container.w-75   
            h2.mainpage-search-headline.text-center חיפוש נכס
            include _searchForm

        include _searchModal 

    .container-fluid.mainpage-hot-assets-container
        .row.mainpage-hot-assets-row.justify-content-center
            .col-12.mainpage-hot-assets-headline-col
                .row.text-center
                    h2.mainpage-hot-assets-tag מומלץ  
                    h3.mainpage-hot-assets-headline נכסים חמים להשקעה
            each asset in hotAssets
                include _assetsCards
        .row.mobile-mainpage-hot-assets-row.justify-content-center.mx-1         
            .col-12.mainpage-hot-assets-headline-col
                .row.text-center
                    div.mainpage-hot-assets-tag מומלץ  
                    div.mainpage-hot-assets-headline נכסים חמים להשקעה
            each asset in hotAssets
                include _mobileAssetsCards              

    .container-fluid.mainpage-about-container.overflow-hidden(role="img" aria-labelledby="aboutUsImageDescription")
        span.visually-hidden(id="aboutUsImageDescription") תמונה של בתים שיושבים על מפרצון בשפת הים השחור בבורגס בולגריה
        .row.mainpage-about-row.align-items-center
            .col-10.col-lg-8.mainpage-about-text-col
                h2.mainpage-about-tag מי אנחנו
                h3.mainpage-about-headline(dir='rtl') דירה בולגרית - נדל"ן ישראלי בבולגריה
                div.mainpage-about-text(dir='rtl') צוות מקצועי ועתיר ניסיון ששם לו מטרה אחת - ללוות משקיעים ישראלים בדרך להשקעות מוצלחות בשוק הנדל"ן הבולגרי. נהיה לצדכם משלב ההתעניינות ועד שלב קבלת המפתח.
            .col-10.col-lg-8.mainpage-about-button-col 
                .row.justify-content-center 
                    .col-12.col-sm-4.my-4
                        button.btn-cta-white.to-about-btn הכירו את הצוות                   

    .container-fluid.d-flex.mainpage-howitworks-container 
        .row.mainpage-howitworks-row.align-items-center.justify-content-center.flex-lg-row-reverse.flex-md-row-reverse.mx-4
            .col-12.mainpage-howitworks-maintext--col
                h2.mainpage-howitworks-label התהליך
                h3.mainpage-howitworks-mainheadline איך זה עובד     
                div.mainpage-howitworks-maintext דירה בולגרית מלווה באופן אישי ופרטני את לקוחותיה לאורך כל תהליך רכישת הנכס החל משלב החיפוש ועד שלב סגירת העסקה     
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconClipboard")
                        title(id="howItWorkIconClipboard") אייקון של לוח כתיבה עם לב במרכזו
                        use(xlink:href='/img/icons/clipboard.svg#clipboard')
                div.mainpage-howitworks-headline צרכים והעדפות       
                div.mainpage-howitworks-text נערוך אתכם פגישת וידאו כדי להבין את הצרכים וההעדפות שלכם       
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconBinoculars")
                        title(id="howItWorkIconBinoculars") אייקון של משקפת
                        use(xlink:href='/img/icons/binoculars.svg#binoculars')
                div.mainpage-howitworks-headline איתור נכס      
                div.mainpage-howitworks-text נציג לכם מגוון נכסים לפי הקריטריונים המועדפים עליכם      
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconHouse")
                        title(id="howItWorkIconHouse") אייקון של בית
                        use(xlink:href='/img/icons/house.svg#house')
                div.mainpage-howitworks-headline סיור נכסים     
                div.mainpage-howitworks-text נלווה אתכם בשטח לראיית כל הנכסים שמצאו חן בעינייכם      
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconSearch")
                        title(id="howItWorkIconSearch") אייקון של זכוכית מגדלת
                        use(xlink:href='/img/icons/search.svg#search')
                div.mainpage-howitworks-headline בדיקה משפטית       
                div.mainpage-howitworks-text נערוך בדיקה משפטית מקיפה של הנכס בעזרת הייעוץ המשפטי שלנו בבולגריה      
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    svg.bi.mainpage-howitworks-icon(aria-labelledby="howItWorkIconEuro")
                        title(id="howItWorkIconEuro") אייקון של מטבע היורו
                        use(xlink:href='/img/icons/euro-howitworks.svg#euro-howitworks')
                div.mainpage-howitworks-headline הצעת מחיר     
                div.mainpage-howitworks-text נסייע לכם לגבש הצעת מחיר הוגנת עבור הנכס וננהל משא ומתן עם המוכר 
            .col-12.col-md-6.col-xl-6.col.mainpage-howitworks-steps--col
                div.mainpage-howitworks-icon--background
                    img.mainpage-howitworks-icon(src='/img/icons/handshake-svgrepo-com.svg' alt='אייקון של לחיצת ידיים') 
                div.mainpage-howitworks-headline ליווי      
                div.mainpage-howitworks-text נלווה אתכם בכל התהליך משלב איתור הנכס ועד לאחר קבלת המפתח   

    .container-fluid.mainpage-why-bulgaria-container
        .row.mainpage-why-bulgaria-row.align-items-center.justify-content-center 
            .col.mainpage-why-bulgaria-col
                div.mainpage-why-bulgaria-bg-video-container(role="img" aria-labelledby="whyBulgariaDescription")
                    video(autoplay muted loop).mainpage-why-bulgaria-bg-video
                        source(src='/videos/burgas-video-1080p.mp4' type='video/mp4')
                    span.visually-hidden(id="whyBulgariaDescription") וידאו שמראה את העיר בורגס ממבט על
                div.mainpage-why-bulgaria-text-container.w-75.text-center       
                    h2.mainpage-why-bulgaria-tag השקעה          
                    h3.mainpage-why-bulgaria-headline(dir='rtl') אז למה בולגריה?
                    div.mainpage-why-bulgaria-text(dir='rtl') הכלכלה הבולגרית נמצאת בצמיחה מתמדת שנובעת מריבוי ההשקעות במדינה ובחברותה באיחוד האירופי. מחירי הנדל"ן במדינה הינם נגישים וישנה תשואה גבוהה על ההשכרה, ביחוד באזורים התיירותיים כמו בורגס ובנסקו. הכנו עבורכם מדריך השקעה מפורט בכדי לעזור לכם בצעדים הראשונים לעבר העסקה הנחשקת.
                div.invest-guide-btn-container
                    button.invest-guide-btn למדריך ההשקעה
            
    .container-fluid.mainpage-rec-container            
        .row.mx-4.justify-content-center
            .col-12.mainpage-rec-maintext-col.text-center
                h2.mainpage-rec-tag המלצות 
                h3.mainpage-rec-headline מה אומרים עלינו
            .col-12.col-md-10.reviews-carousel-col           
                #reviewsCarousel.carousel.slide.text-center.reviews-carousel(data-bs-touch='true' data-bs-interval='15000' data-bs-ride='carousel')
                    .carousel-inner.reviews-carousel-inner
                        .carousel-item.active.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/guyAvitanRec.webp' alt='תמונה של הממליץ גיא אביטן')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') גיא אביטן
                                    div.mainpage-reviews-prof(dir='rtl') כוחות הביטחון
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "יהלי, תודה רבה על הליווי מתחילת הדרך בשלב מציאת הנכס שהכי מתאים לי בפרוייקט של Aria בה מצאת לי דירת שני חדרים, ההתנהלות מול הקבלן, העזרה בניסוח וניתוח החוזה והעידכונים השוטפים במהלך הבניה. אני יודע שזה לא הנכס האחרון שאקנה עם הליווי שלך"
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4    
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/eliToledoRec.webp' alt='תמונה של הממליץ אלי טולדו')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') אלי טולדו
                                    div.mainpage-reviews-prof(dir='rtl') נהג אוטובוס בדן
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "אני רוצה להודות ליועצת הנדל"ן יהלי סמואלס על הטיפול המסור והמקצועי ברכישת דירה נהדרת בבולגריה. לאורך כל הדרך השרת תחושה שאפשר לסמוך עליך, להתייעץ איתך ולקבל מענה ראוי ומהיר. בנוסף, ראוי לציין את רוחב ליבך והאכפתיות, ממש כמו אחת מהמשפחה! אני בטוח שכל מי שיזכה לשירותייך בהמשך יהנה כמוני."
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4      
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatarImg.jpg' alt='תמונת אוואטר אנונימי')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') זוהר דוד
                                    div.mainpage-reviews-prof(dir='rtl') עורך דין
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "אני רוצה לומר תודה ענקית ליהלי, שבליווי מסור, נחוש, אכפתי ומדוייק, הצליחה להביא עסקה שלעיתים נראתה בלתי אפשרית לסיום מוצלח. אנו מאושרים עם הדירה החדשה, המהממת שלנו בבנסקו, אין ספק כי נמשיך איתה לעסקה נוספת בבולגריה, אורית וזוהר."
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4     
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatarImg.jpg' alt='תמונת אוואטר אנונימי')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') חיים כלים
                                    div.mainpage-reviews-prof(dir='rtl') כוחות הביטחון
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "ליהלי התוודענו לראשונה כשחיפשנו אפיק השקעה בחו"ל ובחרנו בבורגס, יהלי המליצה לנו בחום על אתר בתחילת בניה "Aria", בהמשך הדרך הסתבר לנו כי יהלי מנהלת יעילה ונמרצת שנענתה תמיד לכל שאלה ובקשה שהעלינו...יישר כוח!"
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4     
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/dianGilRec.webp' alt='תמונה של הממליצים דיאן וגיל')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') דיאן וגיל
                                    div.mainpage-reviews-prof(dir='rtl') קיבוץ מגידו
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "הגענו ליהלי בעקבות המלצה של חבר שרכש דרכה דירה בבולגריה. נהלנו מספר שיחות עם יהלי שבהן היא תמיד היתה זמינה וענתה על כל השאלות עם המון סבלנות ונתנה תחושה של בטחון ושהיא מלווה אותנו לאורך כל הדרך. רכשנו לבסוף דירת 2 חדרים בפרויקט Euphoria שבבורגס."
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4      
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatarImg.jpg' alt='תמונת אוואטר אנונימי')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') ניסים קסבי
                                    div.mainpage-reviews-prof(dir='rtl') מורה נהיגה
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "רכשתי דירה בפרוייקט "Aria" בבורגס, בליווי מלא של יהלי. היא דאגה להכל. כל התקשורת מול הקבלן, הליווי מול הבנקים, כל תהליך הרכישה. בלעדיה זה לא היה קורה. מאז כבר מכרתי את הדירה ושוב כל התהליך בוצע ע"י יהלי ורכשתי דירה נוספת גדולה יותר. ממליץ בחום ובאהבה לכל המתעניין לעבוד עם יהלי ולהעזר בשירותיה המעולים."
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4      
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/avatarImg.jpg' alt='תמונת אוואטר אנונימי')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') רמי השאול
                                    div.mainpage-reviews-prof(dir='rtl') כוחות הבטחון
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "יהלי היקרה, תודה רבה לך על עבודה מקצועית ושירותית מאוד. קיבלתי מעטפת מלאה ואוזן קשבת לכל החששות שלי. אין ספק שהעסקה נסגרה בזכותך. ליווי צמוד ושוטף מול החברה המוכרת שאין שני לו. קניתי בפרויקט אופוריה בבורגס דירת 2 חדרים."
                        .carousel-item.reviews-carousel-item
                            .row.d-flex.justify-content-center.align-items-center
                                .col-12.col-md-5.col-xl-4      
                                    img.shadow-1-strong.mainpage-reviews-img(src='/img/raniKurnitzRec.webp' alt='תמונה של הממליץ רני קרוצניק')
                                .col-md-7.col-xl-8.text-center
                                    div.mainpage-reviews-name(dir='rtl') רני קרוצניק
                                    div.mainpage-reviews-prof(dir='rtl') מנהל פרויקטי בינוי
                                    div.mainpage-reviews-review.fst-italic(dir='rtl') "רכשתי שתי דירות דרך דירה בולגרית, דירה במתחם נופש בסבטי ולאס ודירת מגורים בפרויקט חדש שנבנה בבורגס. הצוות של דירה בולגרית טיפל בהכל, החל ממציאת הנכס ועד ניהול משא ומתן וחתימת החוזה מול המוכרים. מאז הצוות ממשיך לעקוב ולטפל בהכל על מנת להשביח את ההשקעה. למי שמחפש להשקיע בראש שקט, זה הצוות שאתם מחפשים"
                    button.carousel-control-prev(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='prev')
                        span.carousel-control-prev-icon.mainpage-reviews-carousel-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#reviewsCarousel' data-bs-slide='next')
                        span.carousel-control-next-icon.mainpage-reviews-carousel-next-icon(aria-hidden='true')
                        span.visually-hidden Next

    .container-fluid.mainpage-pricing-container.justify-content-center              
        .row.mx-4.justify-content-center.mainpage-pricing-headline-row
            .col-12.pricing-maintext-col.text-center
                h2.pricing-tag לבחירתכם 
                h3.mainpage-pricing-headline מחירון חבילות ליווי                        
        .row.justify-content-center.pricing-cards-row.flex-md-row-reverse               
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5.p-xxs-0.p-med-1
                .card.pricing-card-basic
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12
                                    .card-title.pricing-card-main-title(dir='rtl') בסיס
                                    .card-title.pricing-card-secondary-title(dir='rtl') איתור הנכס ואיסוף מסמכים
                                    .card-title.pricing-card-tertiary-title(dir='rtl') 3000€ + מע"מ
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3
                                        span.pricing-card-text איתור נכס על פי נתוני ודרישות הלקוח
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי') 
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3       
                                        span.pricing-card-text סיור פיזי או סיור און ליין
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון של וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3
                                        span.pricing-card-text בדיקה משפטית של הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text ליקוט ניירת משפטית של הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3  
                                        span.pricing-card-text כתיבת חוזה ראשוני עם עורך דין 
                                        img.card-icon.pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון של איקס')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text כתיבת וחתימת חוזה סופי בלשכת נטוריון
                                        img.card-icon.pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון שלי איקס')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text ליווי הלקוח בפתיחת חשבון בנק 
                                        img.card-icon.pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון של איקס')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text השכרת הנכס וניהול הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון של איקס')                                      
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5
                .card.pricing-card-plus
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12
                                    .card-title.pricing-card-main-title(dir='rtl') פלוס
                                    .card-title.pricing-card-secondary-title(dir='rtl') סגירת חוזה ופתיחת חשבון בנק
                                    .card-title.pricing-card-tertiary-title(dir='rtl') 3990€ + מע"מ
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3
                                        span.pricing-card-text איתור נכס על פי נתוני ודרישות הלקוח
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי') 
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3       
                                        span.pricing-card-text סיור פיזי או סיור און ליין
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון של וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3
                                        span.pricing-card-text בדיקה משפטית של הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text ליקוט ניירת משפטית של הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3  
                                        span.pricing-card-text כתיבת חוזה ראשוני עם עורך דין 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון של וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text כתיבת וחתימת חוזה סופי בלשכת נטוריון
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text ליווי הלקוח בפתיחת חשבון בנק 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text השכרת הנכס וניהול הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/xmark-large-svgrepo-com.svg' alt='אייקון של איקס')                                    
            .col-12.col-sm-7.col-md-6.col-lg-4.col-xl-4.col-xxl-3.mx-xxl-5
                .card.pricing-card-premium
                    .card-body
                        .container-fluid
                            .row.pricing-card-body-row
                                .col-12.justify-content-center.pricing-premium-col 
                                    .span.badge.pricing-premium-badge המשתלם ביותר 
                                    .card-title.pricing-card-main-title(dir='rtl') פרימיום
                                    .card-title.pricing-card-secondary-title(dir='rtl') ליווי צמוד לאורך כל הדרך וניהול הנכס
                                    .card-title.pricing-card-tertiary-title(dir='rtl') 4990€ + מע"מ
                                .col-12.my-5
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3
                                        span.pricing-card-text איתור נכס על פי נתוני ודרישות הלקוח
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי') 
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3       
                                        span.pricing-card-text סיור פיזי או סיור און ליין
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון של וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3
                                        span.pricing-card-text בדיקה משפטית של הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text ליקוט ניירת משפטית של הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3  
                                        span.pricing-card-text כתיבת חוזה ראשוני עם עורך דין 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון של וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text כתיבת וחתימת חוזה סופי בלשכת נטוריון
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text ליווי הלקוח בפתיחת חשבון בנק 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')
                                    div.card-text-container.d-flex.align-content-center.justify-content-end.py-3    
                                        span.pricing-card-text השכרת הנכס וניהול הנכס 
                                        img.card-icon.pricing-card-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון שלי וי')    
            .col-12.text-center.py-5    
                button.btn-cta.pricing-cta-btn.to-calendly-btn(aria-label='מעבר לעמוד יצירת קשר') צרו קשר 

    .container-fluid.mainpage-blog-container
        .row.mainpage-blog-headline-row.d-felx.justify-content-center
            .col-12.mainpage-blog-headline-col
                .row.text-center
                    h2.mainpage-blog-tag חשוב לדעת
                    h3.mainpage-blog-headline כתבות נבחרות מהבלוג שלנו
        .row.mainpage-blog-cards-row.d-felx.justify-content-center.flex-md-row-reverse.mx-4 
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.justify-content-center.align-content-center
                                    img.mainpage-blog-icon(src='/img/icons/israel-shekel-currency-symbol-svgrepo-com-white.svg' alt='אייקון של דגל ישראל')
                                    .card-title.mainpage-blog-card-title הסיבות לפופולריות של בולגריה בקרב ישראלים
                                .col-12.mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text(dir="rtl") בהתחשב במדינות הפופולריות ביותר לרכישת נכס בחו"ל בקרב ישראלים, כדאי להדגיש את בולגריה. נופי ים יפים, אקלים מתון, מספר רב של אטרקציות ומונומנטים אדריכליים מושכים את אזר...
                                .col-12.my-2        
                                    button.mainpage-blog-card-btn(data-slug="The-reasons-for-Bulgarias-popularity-among-Israeli-property-buyers") להמשך קריאה
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.justify-content-center.align-content-center
                                    img.mainpage-blog-icon(src='/img/icons/graph-property-svgrepo-com-white.svg' alt='אייקון של גרף עם בית בראש כל עמודה')
                                    .card-title.mainpage-blog-card-title ניתוח מחירי הנכסים בבולגריה בשנת 2024   
                                .col-12.mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text(dir="rtl") בהשוואה לשאר מדינות באירופה, בולגריה קטנה אך מעניינת מאוד. בולגריה היא יעד פופולרי בקרב תיירים בגלל הנופים הציוריים, הארכיטקטורה המרתקת, הים העדין והפסגות המושלגות זרם...
                                .col-12.my-2.align-content-end      
                                    button.mainpage-blog-card-btn(data-slug="Property-price-analysis-in-Bulgaria-in-2024") להמשך קריאה
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.justify-content-center.align-content-center
                                    img.mainpage-blog-icon(src='/img/icons/mountaint-landscape-svgrepo-com-white.svg' alt='אייקון של הרים עם שמש ועננים מעליהם')
                                    .card-title.mainpage-blog-card-title מבט מקיף על איכות החיים בבולגריה         
                                .col-12.mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text(dir="rtl") בולגריה היא מדינה טובה לחיות בה. יש לה אקלים מתון, אקולוגיה נקייה, נופים מהפנטים ואתרי נופש רבים ותושבים מאוד ידידותיים ומסבירי פנים. אנשים המבקרים בבולגריה מדברים לעת...
                                .col-12.my-2        
                                    button.mainpage-blog-card-btn(data-slug="Embrace-Bulgaria-a-comprehensive-look-at-the-quality-of-life-in-the-country") להמשך קריאה
            .col-12.col-md-6.col-lg-3
                .card.mainpage-blog-card.py-3
                    .card-body
                        .container-fluid
                            .row.mainpage-blog-card-body-row.text-center
                                .col-12.mainpage-blog-card-title-col.justify-content-center.align-content-center
                                    img.mainpage-blog-icon(src='/img/icons/house-thumbs-up-svgrepo-com-white.svg' alt='אייקון של בית עם יד שעושה לייק בתוכו')
                                    div.card-title.mainpage-blog-card-title(dir="rtl") באיזה סוג נכס כדאי להשקיע בבולגריה?      
                                .col-12.mainpage-blog-card-text-col.my-2
                                    div.d-flex.align-content-center.justify-content-end.py-3 
                                        span.mainpage-blog-card-text(dir="rtl") בולגריה היא מדינה טובה להשקעה. עם עלות דיור נמוכה יחסית, לבולגריה יש פוטנציאל פנאי גדול, יתר על כן, מאז 2007 היא חברה באיחוד האירופי. כל זר יכול לקנות דירות בבולגריה ב...
                                .col-12.my-2        
                                    button.mainpage-blog-card-btn(data-slug="What-type-of-property-should-you-invest-in-Bulgaria") להמשך קריאה
        .row.mainpage-blog-btn-row.d-felx.justify-content-center
            .col-12.text-center.py-3    
                button.btn-cta.to-blog-btn לעמוד הבלוג  


    .container-fluid.mainpage-contact-us-container
        .row.mainpage-contact-us-headline-row.d-felx.justify-content-center
            .col-12.col-md-10.col-xl-8.mainpage-contact-us-headline-col
                .row.text-center
                    h2.mainpage-contact-us-tag צרו קשר
                    h3.mainpage-contact-us-headline השאירו פרטים ואחד היועצים שלנו יצור עמכם קשר בהקדם
        .row.mainpage-contact-us-row.d-felx.justify-content-center.mx-4
            .col-12.col-md-10.col-xl-8.mainpage-contact-us-col.text-center 
                div#crmWebToEntityForm.crmWebToEntityForm
                    form.contact-us-form#webform6296617000000479035(action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads6296617000000479035 method='POST' accept-charset='UTF-8' novalidate)
                        input(type='text' style='display:none;' name='xnQsjsdp' value='59a0780e6b2791aec2fc494a0d52812511ef98c0f6123210fdc332d6fa0b9e22')
                        input#zc_gad(type='hidden' name='zc_gad' value='')
                        input(type='text' style='display:none;' name='xmIwtLD' value='7334e6acba558f934b954c69f5851611538edbf846a3d2f15f807f241012015c2f9c9c0839f214a112e56e062e05be4f')
                        input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                        input(type='text' style='display:none;' name='returnURL' value='https://www.dirabulgarit.com/contact-us-confirm')
                        .row.contact-us-row.align-items-center
                            .col-12.contact-us-col.d-flex.justify-content-end
                                input.contact-us-input.contact-us-name-input.form-control(type='text' name='Last Name' maxlength='200' placeholder='שם' aria-label='שם' aria-describedby='basic-addon1' required)                            
                                .invalid-tooltip אנא הכניסו שם
                            .col-12.contact-us-col.d-flex.justify-content-end
                                input.contact-us-input.contact-us-phone-input.form-control(type='text' name='Phone' maxlength='10' placeholder='טלפון' aria-label='טלפון' aria-describedby='basic-addon1' pattern='[0-9]{10}' required)
                                .invalid-tooltip.contact-us-phone-invalid אנא הכניסו מספר טלפון תקין
                            .col-12.contact-us-col.d-flex.justify-content-end 
                                input.contact-us-input.contact-us-email-input.form-control(type='email' ftype='email' autocomplete='false' name='Email' crmlabel='' maxlength='100' placeholder='אימייל  ' aria-label='אימייל' aria-describedby='basic-addon1' pattern='[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,}' required)
                                .invalid-tooltip.contact-us-email-invalid אנא הכניסו אימייל תקין
                            .col-12.contact-us-col.d-flex.justify-content-end     
                                textarea.contact-us-textarea.contact-us-description-input.form-control(id='Description' name='Description' dir='rtl' aria-label="תיאור הבקשה" rows="5" placeholder='יש עוד משהו שהייתם רוצים שנדע?')
                            .col-12.contact-us-col
                                input.contact-us-button.mx-3(type='reset' class='zcwf_button' name='reset' value='ניקוי' title='Reset')        
                                input.contact-us-button.mx-3(type='submit' id='formsubmit' class='formsubmit zcwf_button' value='שליחה' title='Submit')   

    include _contactUsFixed  
    include _contactUsFixedMobile                               