extends base 

block head
    title שאלות ותשובות | דירה בולגרית
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content

    .container-fluid.qanda-headline-container
        .row.qanda-headline-row
            .col-12.qanda-headline-col 
                img.qanda-headline-img(src='/img/sectionCover-2.webp' alt='תמונת נוף של בורגס בולגריה') 
                div.qanda-headline אנחנו כאן כדי ללוותכם ולענות על כל שאלה
                button.section-headline-cta-btn.to-calendly-btn(aria-label='מעבר לעמוד יצירת קשר') צרו קשר
    
    .container-fluid.qanda-questions-accordion-container
        .row.qanda-questions-headline-row.justify-content-center 
            .col-10.qanda-questions-headline-col 
                h1.qanda-questions-headline(dir='rtl') שאלות נפוצות
        .row.qanda-questions-accordion-row.justify-content-center 
            .col-10.qanda-questions-accordion-col
                #qandaAccordion.accordion.accordion-flush
                    div.accordion-item
                        h2.accordion-header
                            button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne' dir='rtl')
                                Accordion מה העתיד צופה לבולגריה?   
                        #collapseOne.accordion-collapse.collapse.show(data-bs-parent='#qandaAccordion')
                            .accordion-body(dir='rtl') על פי מחקר של "GLOBAL PROPERTY GUIDE" חברת מחקר הנדל"ן המובילה עתידה של בולגריה נראה חיובי מבחינת שוק הנדל"ן. הם מציינים שהשוק מתרחב, עם הזדמנויות רבות למשקיעים ישראלים. יתרונות נוספים כוללים: <br> ●	<strong>כלכלה יציבה:</strong> בולגריה חברה באיחוד האירופי ונהנית מכלכלה יציבה יחסית עם צמיחה מתמשכת.<br> ●	<strong>מחירי נדל"ן נמוכים:</strong> מחירי הנדל"ן בבולגריה נמוכים משמעותית בהשוואה למדינות אירופיות אחרות, מה שהופך אותה לאטרקטיבית למשקיעים.<br> ●	<strong>ביקוש גובר:</strong> הביקוש לנכסים בבולגריה נמצא בעלייה, הן מצד תושבים מקומיים והן מצד משקיעים זרים.<br> ●	<strong>פיתוח תיירותי:</strong> בולגריה נהנית מפיתוח תיירותי משמעותי, מה שיוצר ביקוש לדירות נופש ונכסים להשכרה.  
                    div.accordion-item
                        h2.accordion-header
                            button.accordion-button.text-end.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo' dir='rtl')
                                Accordion מהם היתרונות של השקעה בנדל"ן בבולגריה דרך "דירה בולגרית"?
                        #collapseTwo.accordion-collapse.collapse(data-bs-parent='#qandaAccordion')
                            .accordion-body(dir='rtl') "דירה בולגרית" מציעה מספר יתרונות למשקיעים ישראלים המעוניינים להשקיע בנדל"ן בבולגריה:<br>●	<strong>ליווי מקצועי:</strong> אנחנו מציעים ליווי אישי ומקצועי לאורך כל תהליך הרכישה, החל מחיפוש נכס ועד סגירת העסקה.<br>●	<strong>מאגר דירות ענק:</strong> בזכות משרד ישראלי בבולגריה אנחנו מחזיקים במאגר דירות עצום המכיל נכסים מכל רחבי בולגריה, ומעודכנים באופן קבוע.<br>●	<strong>פעילות מתוך בולגריה:</strong> פעילות מתוך בולגריה מאפשרת לנו גישה למידע עדכני ומאפשרת להם לספק שירות טוב יותר ללקוחותיהם.<br>●	<strong>שותפויות אסטרטגיות:</strong> אנו משתפים פעולה עם גורמים מקומיים מובילים בתחום הנדל"ן בבולגריה, מה שמבטיח ללקוחותינו את העסקאות הטובות ביותר.<br>●	<strong>תמיכה מלאה:</strong> אנחנו מספקים תמיכה מלאה לכל לקוחותינו , החל משלב החיפוש ועד ניהול הנכס לאחר הרכישה.                        
                    div.accordion-item
                        h2.accordion-header(dir='rtl')
                            button.accordion-button.text-end.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree' dir='rtl')
                                Accordion אילו סוגי נכסים ניתן למצוא דרך "דירה בולגרית"?
                        #collapseThree.accordion-collapse.collapse(data-bs-parent='#qandaAccordion')
                            .accordion-body(dir='rtl') "דירה בולגרית" מציעה מגוון רחב של נכסים למכירה בבולגריה, כולל:<br>●	<strong>דירות חדשות:</strong> פרויקטים חדשים של דירות בבנייה או שהושלמו לאחרונה.<br>●	<strong>דירות יד שנייה:</strong> דירות קיימות בבניינים ישנים יותר.<br>●	<strong>דירות נופש:</strong> דירות המיועדות להשכרה לתיירים.<br>●	<strong>נכסים למגורים:</strong> בתים פרטיים ווילות.
                    div.accordion-item
                        h2.accordion-header(dir='rtl')
                            button.accordion-button.text-end.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour' dir='rtl')
                                Accordion באיזה אזורים בבולגריה ניתן למצוא נכסים דרך "דירה בולגרית"?
                        #collapseFour.accordion-collapse.collapse(data-bs-parent='#qandaAccordion')
                            .accordion-body(dir='rtl') "דירה בולגרית" מציעה נכסים בכל רחבי בולגריה, עם התמקדות באזורים פופולריים בקרב משקיעים ישראלים, כגון:<br>●	<strong>בורגס:</strong> עיר יפה עם נמל תעופה בינלאומי ותשתית מפותחת.<br>●	<strong>סופיה:</strong> עיר הבירה של בולגריה, מרכז מסחרי ותרבותי חשוב.<br>●	<strong>וארנה:</strong> עיר נוספת עם חופים יפים ופעילות תיירותית ענפה.<br>●	<strong>פלבדיב:</strong> עיר היסטורית עם אטרקציות תיירותיות רבות.<br>●	<strong>פומפרובו:</strong> עיירת סקי ציורית עם דרישה גבוה לשכירות בחודשי העונה
                    div.accordion-item
                        h2.accordion-header(dir='rtl')
                            button.accordion-button.text-end.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFive' aria-expanded='false' aria-controls='collapseFive' dir='rtl')
                                Accordion מהו תהליך רכישת נכס דרך "דירה בולגרית"?
                        #collapseFive.accordion-collapse.collapse(data-bs-parent='#qandaAccordion')
                            .accordion-body(dir='rtl') "דירה בולגרית" מלווה את לקוחותיה לאורך כל תהליך רכישת הנכס, החל מחיפוש נכס ועד סגירת העסקה. התהליך כולל את השלבים הבאים:<br><br><strong>‏א. חיפוש נכס:</strong><br>&nbsp;<strong>1.	צרכים והעדפות:</strong> נפגש אתכם כדי להבין את הצרכים וההעדפות שלכם.<br>&nbsp;<strong>2.	חיפוש נכסים:</strong> נציג לכם מגוון נכסים העומדים בקריטריונים שלכם.<br>&nbsp;<strong>3.	ביקורי נכסים:</strong> נלווה אתכם לביקורים בנכסים המעניינים אתכם.‏<br><br><strong>ב.	בדיקות נכס:</strong><br>&nbsp;<strong>1.	בדיקה משפטית:</strong> נערוך בדיקה משפטית מקיפה של הנכס.<br> &nbsp;<strong>2. בדיקות נוספות:</strong> ייתכן שנבצע בדיקות נוספות בהתאם לצורך.<br><br><strong>‏ג. משא ומתן:</strong><br>&nbsp;<strong>1.	הצעת מחיר:</strong> נסייע לכם לגבש הצעת מחיר הוגנת עבור הנכס.<br>&nbsp;<strong>2.	משא ומתן:</strong> ננהל משא ומתן עם המוכר.<br><br><strong>‏ד.	חתימה על חוזה:</strong><br>&nbsp;<strong>1. חוזה רכישה:</strong> ננסח עבורכם חוזה רכישה מפורט.<br>&nbsp;<strong>2.	חתימה:</strong> נלווה אתכם לחתימה על חוזה הרכישה.<br><br>‏<strong>ה.	תשלום</strong>:<br>&nbsp;<strong>1.	פתיחת חשבון בנק:</strong> נסייע לכם לפתוח חשבון בנק בבולגריה.<br>&nbsp;<strong>2.	העברת כספים: </strong>נלווה אתכם בהעברת הכספים למוכר.<br><br>‏<strong>ו.	רישום הנכס בטאבו:</strong><br>&nbsp;<strong>1.	רישום:</strong> נדאג לרישום אקט 16 השווה ערך לטאבו.<br>&nbsp;<strong>2.	קבלת נוסח טאבו:</strong> ננפיק לכם חוזה רכישה מקורי.‏<br><br><strong>ז.	קבלת הנכס</strong>: <br>&nbsp;<strong>1. קבלת מפתחות:</strong> נלווה אתכם עד לקבלת מפתחות הנכס.<br>&nbsp;<strong>2.	בדיקת הנכס:</strong> נערוך בדיקה אחרונה של הנכס.<br><br><strong>‏ח.	שירותים נוספים:</strong><br>&nbsp;<strong>1.	ניהול נכסים:</strong> אנו מציעים שירותי ניהול נכסים מקצועיים.<br>&nbsp;<strong>2.	ייעוץ משפטי:</strong> אנו יכולים להפנות אתכם לעורך דין ישראלי.<br>&nbsp;<strong>3.	ייעוץ מס:</strong> אנו יכולים להפנות אתכם לרואה חשבון מקומי. <br><br>"דירה בולגרית" מחויבת ללוות את לקוחותיה לאורך כל תהליך רכישת הנכס, תוך מתן שירות מקצועי ואישי. אנו מזמינים אתכם לפנות אלינו עוד היום כדי ללמוד עוד ולדון בצרכים שלכם.
                    div.accordion-item
                        h2.accordion-header(dir='rtl')
                            button.accordion-button.text-end.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseSix' aria-expanded='false' aria-controls='collapseSix' dir='rtl')
                                Accordion מהן העלויות הכרוכות ברכישת נכס דרך "דירה בולגרית"?
                        #collapseSix.accordion-collapse.collapse(data-bs-parent='#qandaAccordion')
                            .accordion-body(dir='rtl') עלויות רכישת נכס בבולגריה כוללות:<br>●	<strong>מחיר הנכס:</strong> זהו הגורם המשמעותי ביותר בעלות.<br>●	<strong>מס רכישה:</strong> בין 5%-4% מגובה העסקה, השירות כולל אגרת נטוריון.<br>● <strong>שכר טרחת עורך דין:</strong> מומלץ להיעזר בעורך דין ישראלי המומחה בנדל"ן בבולגריה.<br>●	<strong>עלויות נוספות:</strong> ייתכנו עלויות נוספות כגון עמלות תיווך, ביטוח, ומיסים מקומיים. <br><br>"דירה בולגרית" תוכל לספק לכם מידע מדויק יותר על העלויות הצפויות בהתאם לנכס ולנסיבות הספציפיות שלכם.
                    div.accordion-item
                        h2.accordion-header(dir='rtl')
                            button.accordion-button.text-end.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseSeven' aria-expanded='false' aria-controls='collapseSeven' dir='rtl')
                                Accordion איך ניתן לקבל מימון לרכישת נכס דרך "דירה בולגרית"?
                        #collapseSeven.accordion-collapse.collapse(data-bs-parent='#qandaAccordion')
                            .accordion-body(dir='rtl') ישנן מספר אפשרויות מימון זמינות עבורכם. אנו עובדים בשיתוף פעולה עם יועץ מימון מוסמך הנמצא בישראל אשר יוכל לעזור לכם להבין את האפשרויות הזמינות ולבחור בתוכנית המתאימה לכם ביותר.
                    div.accordion-item
                        h2.accordion-header(dir='rtl')
                            button.accordion-button.text-end.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseEight' aria-expanded='false' aria-controls='collapseEight' dir='rtl')
                                Accordion האם יש צורך באישור מיוחד לרכישת נכס דרך "דירה בולגרית"?
                        #collapseEight.accordion-collapse.collapse(data-bs-parent='#qandaAccordion')
                            .accordion-body(dir='rtl') לא, אין צורך באישור מיוחד לרכישת נכס בבולגריה על ידי ישראלים. עם זאת, ייתכן שתצטרכו להציג מסמכים מסוימים, כגון דרכון, תעודת זהות ישראלית ונוסח טאבו. "דירה בולגרית" תוכל לסייע לכם באיסוף ובהגשת המסמכים הנדרשים.
                    div.accordion-item
                        h2.accordion-header(dir='rtl')
                            button.accordion-button.text-end.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseNine' aria-expanded='false' aria-controls='collapseNine' dir='rtl')
                                Accordion מהן ההתחייבויות המס לאחר רכישת נכס דרך "דירה בולגרית"?
                        #collapseNine.accordion-collapse.collapse(data-bs-parent='#qandaAccordion')
                            .accordion-body(dir='rtl') לאחר רכישת נכס בבולגריה, במידה והנכס שלכם מושכר, מס ההכנסה בבולגריה הינו מס אחיד של 10%.
                    div.accordion-item
                        h2.accordion-header(dir='rtl')
                            button.accordion-button.text-end.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTen' aria-expanded='false' aria-controls='collapseTen' dir='rtl')
                                Accordion מה קורה במקרה של רצון למכור את הנכס בעתיד?
                        #collapseTen.accordion-collapse.collapse(data-bs-parent='#qandaAccordion')
                            .accordion-body(dir='rtl') "דירה בולגרית" תוכל לסייע לכם גם במכירת הנכס בעתיד. נוכל לשווק את הנכס באתר, לנהל משא ומתן עם קונים פוטנציאליים וללוות אתכם לאורך כל תהליך המכירה. חשוב<br><br> חשוב לדעת! ניתן לקבל פטור ממס שבח לאחר <strong>שנתיים</strong> של אחזקת הדירה.
                    div.accordion-item
                        h2.accordion-header(dir='rtl')
                            button.accordion-button.text-end.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseEleven' aria-expanded='false' aria-controls='collapseEleven' dir='rtl')
                                Accordion מהם טיפים חשובים למשקיעים ישראלים המעוניינים לרכוש נכס דרך "דירה בולגרית"?
                        #collapseEleven.accordion-collapse.collapse(data-bs-parent='#qandaAccordion')
                            .accordion-body(dir='rtl') ●	<strong>עשו מחקר:</strong> חשוב לבצע מחקר מקיף על שוק הנדל"ן בבולגריה ועל האזורים השונים שבהם אתם מעוניינים להשקיע.<br>●	<strong>קחו את הזמן :</strong> אל תמהרו לקבל החלטות. חשוב לקחת את הזמן שלכם, לבחון נכסים שונים ולוודא שאתם מקבלים את ההחלטה הנכונה עבורכם.<br>●	<strong>היעזרו במומחים:</strong> מומלץ להיעזר במומחים, כגון עורך דין ישראלי המומחה בנדל"ן בבולגריה, חברת ניהול נכסים מקומית, ורואה חשבון. נשמח להעניק את השירותים הללו.<br>●	<strong>היו מודעים לסיכונים:</strong> כמו בכל השקעה, גם להשקעה בנדל"ן בבולגריה יש סיכונים. חשוב להיות מודעים לסיכונים אלה ולנקוט בצעדים כדי להקטין אותם. דירה בולגרית היא בצד של המשקיע הישראלי , ומתחייבת להציע עסקאות עם פוטנציאל רווח גדול ובדגש על אמינות שקיפות ומקצועיות כבסיס לכל עסקה ומערכות היחסים עם הלקוחות.
                    div.accordion-item
                        h2.accordion-header(dir='rtl')
                            button.accordion-button.text-end.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwelve' aria-expanded='false' aria-controls='collapseTwelve' dir='rtl')
                                Accordion האם ישנה רשימת המתנה לשירות המקיף שלכם?
                        #collapseTwelve.accordion-collapse.collapse(data-bs-parent='#qandaAccordion')
                            .accordion-body(dir='rtl') קשה לקבוע באופן מדויק את זמן ההמתנה הצפוי לשירות מקיף, כיוון שהוא תלוי במספר גורמים: <br> •	<strong>הביקוש הנוכחי:&nbsp;</strong> ככל שיש יותר לקוחות הממתינים לשירות, כך זמן ההמתנה ארוך יותר.<br> •	<strong>סוג השירות המבוקש:&nbsp;</strong> שירותים מסוימים מורכבים יותר מאחרים, ולכן עשויים לקחת זמן רב יותר.<br> •	<strong>הזמינות של מלווי המשקיעים:&nbsp;</strong> מספר המלווים הזמינים משפיע על קצב טיפול בפניות.<br><br> עם זאת, ניתן לומר באופן כללי כי זמן ההמתנה הממוצע לשירות מקיף נע בין מספר ימים למספר שבועות. במקרים בהם קיימת רשימת המתנה, יקבל כל לקוח באופן אישי הערכה לגבי זמן ההמתנה הצפוי לו, בהתבסס על הגורמים הנ"ל. חשוב לציין שאנו עושים כמיטב יכולתנו לצמצם את זמן ההמתנה ככל הניתן, תוך שמירה על רמת שירות גבוהה לכל לקוח. אנו מודעים לכך שהמתנה עשויה להיות מתסכלת, ואנו מתנצלים על אי הנוחות. אנו מאמינים שהשירות שאנו מספקים שווה את ההמתנה, ותקבלו ממנו תמורה מלאה.<br><br> להלן מספר דרכים שעשויות לסייע לכם לקצר את זמן ההמתנה:<br> •	<strong>הגשת פנייה מוקדמת:&nbsp;</strong> ככל שתגישו את פנייתכם מוקדם יותר, כך סביר יותר שתטופלו ביתר מהירות.<br> •	<strong>קביעת שיחת וידאו:&nbsp;</strong> אנו ממליצים בחום על קביעת פגישת וידאו דרך המערכת המקוונת שלנו. פגישת וידאו יעילה יותר מפנייה טלפונית מפני שהיא תקנה לנו את האפשרות להסביר את תהליך הליווי שלנו ביתר פירוט. פשוט ליחצו על כפתור ה"תאמו פגישה" בחלקו העליון של האתר ותוכלו לקבוע פגישה בזמן שנוח לכם.<br>  <strong>•	צירוף כל המידע הנדרש:&nbsp;</strong> ודאו שאתם מצרפים את כל המידע הנדרש לאחר שנשוחח, כדי למנוע עיכובים בעבודה.<br><br> אנו מעריכים את סבלנותכם והבנתכם.