extends base 

block head
    title וובינר השקעות נדל\"ן בבולגריה
    meta(name="description" content="אתם מוזמנים לוובינר השקעות הנדל\"ן הגדול בבולגריה של דירה בולגרית")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/webinar")

    meta(property="og:title" content="וובינר השקעות נדל\"ן בבולגריה")
    meta(property="og:description" content="אתם מוזמנים לוובינר השקעות הנדל\"ן הגדול בבולגריה של דירה בולגרית")
    meta(property="og:image" content='https://www.dirabulgarit.com/img/webinar-link-img.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content 

    .container-fluid.webinar-main-container
        .row.webinar-headline-row
            .col.webinar-headline-col 
                img.webinar-headline-img(src='/img/webinar-image.jpg' alt='תמונת נוף של סופיה') 
                h1.webinar-headline דירה בולגרית שמחה להזמין אתכם לוובינר השקעות הנדל"ן המקיף בבולגריה
                h2.webinar-headline-text-top(dir='rtl') יום חמישי | 7.11.24
                h2.webinar-headline-text-bottom(dir='rtl') 20:30 | zoom         

    .container-fluid.webinar-contact-us-top-container
        .row.landing-contact-us-headline-row.d-felx.justify-content-center
            .col-12.col-md-10.col-xl-8.landing-contact-us-headline-col
                .row.text-center
                    .webinar-contact-us-headline להרשמה לוובינר אנא השאירו פרטים 
        .row.landing-contact-us-row.d-felx.justify-content-center.mx-4
            .col-12.col-md-10.col-xl-8.landing-contact-us-col.text-center 
                form.webinar-form
                    .row.contact-us-row.align-items-center
                        .col-12.landing-contact-us-col.d-flex.justify-content-center
                            input.landing-contact-us-input.webinar-input-name.contact-us-name-input.form-control(type='text' name='Last Name' maxlength='200' placeholder='שם' aria-label='שם' aria-describedby='basic-addon1' required)                            
                            .invalid-tooltip אנא הכניסו שם
                        .col-12.landing-contact-us-col.d-flex.justify-content-center
                            input.landing-contact-us-input.webinar-input-phone.contact-us-phone-input.form-control(type='text' name='Phone' maxlength='10' placeholder='טלפון' aria-label='טלפון' aria-describedby='basic-addon1' pattern='[0-9]{10}' required)
                            .invalid-tooltip.contact-us-phone-invalid אנא הכניסו מספר טלפון תקין                 
                        .col-12.landing-contact-us-col.d-flex.justify-content-center.my-sm-2
                            input.landing-contact-us-input.webinar-input-email.contact-us-email-input.form-control(type='email' ftype='email' autocomplete='false' name='Email' maxlength='100' placeholder='אימייל  ' aria-label='אימייל' aria-describedby='basic-addon1' pattern='[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,}' required)
                            .invalid-tooltip.contact-us-email-invalid אנא הכניסו אימייל תקין
                        .col-12.landing-contact-us-col.d-flex.align-items-sm-center.justify-content-center.flex-row-reverse.my-sm-3
                            img.webinar-contact-us-asterisk-icon(src='/img/icons/i-asterisk-svgrepo-com-gold.svg' alt='אייקון של כוכבית')
                            span.webinar-form-check-top-label הוובינר ניתן ללא עלות אך מספר המקומות מוגבל אז מהרו להרשם
                        .col-12.landing-contact-us-col.d-flex.align-items-sm-center.justify-content-center.flex-row-reverse
                            input.webinar-form-check.form-check-input(type='checkbox' value='')
                            span.webinar-form-check-top-label.form-check-label(for='flexCheckDefault') אני מאשר\ת קבלת מידע ענייני בנושא נדל"ן בבולגריה שלעתים עשוי להיות שיווקי 
                        .col-12.landing-contact-us-col
                            button.landing-webinar-button.mx-3(type='submit' aria-label='הרשמה') רשמו אותי   
                        .col-12.landing-contact-us-col
                            div.webinar-contact-us-text לפרטים נוספים 
                            img.webinar-contact-us-icon(src='/img/icons/chevron-down-double-svgrepo-com-gold.svg' alt='אייקון של חיצים כלפי מטה')  

    .container-fluid.webinar-main-text-container
        .row.webinar-main-text-row.d-felx.justify-content-center.mx-4
            .col-12.col-md-10.webinar-main-text-col
                div.webinar-main-text(dir='rtl')
                    span.webinar-star-symbol &#x272D; 
                    | שוק הנדל"ן בבולגריה נמצא בעלייה מתמדת בעשור האחרון ומתקרב במהירות לנקודת רתיחה.
                div.webinar-main-text(dir='rtl')  
                    span.webinar-star-symbol &#x272D; 
                    | עכשיו זה הזמן להכות על ברזל הנדל"ן בבולגריה כל עוד הוא חם ולהרוויח על השקעה חכמה.
                div.webinar-main-text(dir='rtl')  
                    span.webinar-star-symbol &#x272D; 
                    | הוובינר ניתן ללא עלות ומטרתו היא להאיר את נושא השקעות הנדל"ן בבולגריה דרך נתינת מידע אמין ומענה לשאלות המשתתפים.    
    
    .container-fluid.webinar-subjects-container
        .row.webinar-subjects-headline-row.d-flex.justify-content-center.mx-2
            .col-11.col-sm-6.col-md-5.col-lg-4.col-xxl-3.webinar-subjects-headline-col.text-center    
                div.webinar-subjects-headline הנושאים שנעבור עליהם
                div.webinar-divider
        .row.webinar-subjects-icons-row.d-flex.justify-content-center.flex-md-row-reverse.mx-2
            .col-8.col-md-3.webinar-subjects-icons-col.text-center       
                div.webinar-subjects-icon-container
                    img.webinar-subjects-icon(src='/img/icons/real-estate-property-svgrepo-com.svg' alt='שלט של נכס נדל"ן')  
                div.webinar-subjects-icon-text סקירת שוק הנדל"ן בבולגריה - עבר, הווה ומה צופה העתיד       
            .col-8.col-md-3.webinar-subjects-icons-col.text-center       
                div.webinar-subjects-icon-container
                    img.webinar-subjects-icon(src='/img/icons/scale-svgrepo-com-webinar.svg' alt='אייקון של מאזניים')  
                div.webinar-subjects-icon-text כל מה שצריך לדעת על חוזים ועניינים משפטיים      
            .col-8.col-md-3.webinar-subjects-icons-col.text-center    
                div.webinar-subjects-icon-container
                    img.webinar-subjects-icon(src='/img/icons/handshake-svgrepo-com-webinar.svg' alt='אייקון של לחיצת ידיים')  
                div.webinar-subjects-icon-text תהליך הליווי שלנו והשירותים שאנו מספקים למשקיעים     
            .col-8.col-md-3.webinar-subjects-icons-col.text-center    
                div.webinar-subjects-icon-container
                    img.webinar-subjects-icon(src='/img/icons/building-svgrepo-com-webinar.svg' alt='אייקון של בנייני מגורים')  
                div.webinar-subjects-icon-text פרויקטים ונכסים חדשים חמים מהתנור להשקעה ברחבי בולגריה      

    .container-fluid.webinar-moderators-container
        .row.webinar-moderators-headline-row.d-flex.justify-content-center.mx-2
            .col-7.col-sm-4.col-md-3.col-lg-2.webinar-moderators-headline-col.text-center    
                div.webinar-moderators-headline מנחי הוובינר
                div.webinar-divider 
        .row.webinar-moderators-images-row.d-flex.justify-content-center.flex-md-row-reverse.mx-2
            .col-8.col-md-3.webinar-moderators-images-col.text-center       
                div.webinar-moderators-image-container
                    img.webinar-moderators-image(src='/img/yeheli-circle.jpeg' alt='תמונה של יהלי סמואלס')  
                div.webinar-moderators-image-name יהלי סמואלס
                div.webinar-moderators-image-text(dir='rtl') המנכלי"ת והבעלים של "דירה בולגרית - נדל"ן ישראלי בבולגריה", בוגרת תואר שני במנהל עסקים וכלכלה, מנהלת פרויקטים בכירה, מנטורית אימון אישי ובוגרת פיתוח עסקי מבית גרנט קדרון. גרה בבולגריה, בבורגס סיטי, ומלווה משקיעים בתחום הנדל"ן.               
            .col-8.col-md-3.webinar-moderators-images-col.text-center       
                div.webinar-moderators-image-container
                    img.webinar-moderators-image(src='/img/shimon-circle.jpg' alt='תמונה של שמעון שלמה')  
                div.webinar-moderators-image-name שמעון שלמה
                div.webinar-moderators-image-text(dir='rtl') בעלים והיועץ העסקי הראשי של "דירה בולגרית - נדל"ן ישראלי בבולגריה". בעל ניסיון של למעלה מ-20 שנה כיועץ עסקי ומנהל מכירות.                   
            .col-8.col-md-3.webinar-moderators-images-col.text-center       
                div.webinar-moderators-image-container
                    img.webinar-moderators-image(src='/img/fani-smardjiva.webp' alt='תמונה של פאני סמוראדג\'ה')  
                div.webinar-moderators-image-name פאני סמורדג'ה
                div.webinar-moderators-image-text(dir='rtl') מומחית בתחומי המקרקעין והממשל ובעלת ניסיון עתיר שנים בפישוט והתמודדות עם הגופים הרגולטורים השונים בבולגריה.                   
    
    .container-fluid.webinar-who-container
        .row.webinar-who-headline-row.d-flex.justify-content-center.mx-4
            .col-11.col-sm-6.col-md-5.col-lg-4.webinar-who-headline-col.text-center    
                div.webinar-who-headline(dir='rtl') למי הוובינר יכול להתאים?
                div.webinar-divider
        .row.webinar-main-text-row.d-felx.justify-content-center.mx-4
            .col-12.col-md-10.webinar-main-text-col
                div.webinar-main-text(dir='rtl')
                    span.webinar-star-symbol &#x2714; 
                    | משקיעים שמחפשים השקעה מניבה בחו"ל ורוצים להכיר את שוק הנדל"ן הבולגרי.        
            .col-12.col-md-10.webinar-main-text-col
                div.webinar-main-text(dir='rtl')
                    span.webinar-star-symbol &#x2714; 
                    | משקיעים שרוצים לקבל ידע בנושאי חוזים, מיסוי ומשפט בכל הנוגע להשקעות נדל"ן בבולגריה ולא היה להם את מי לשאול.        
            .col-12.col-md-10.webinar-main-text-col
                div.webinar-main-text(dir='rtl')
                    span.webinar-star-symbol &#x2714; 
                    | משקיעים שמעוניינים לקבל ליווי צמוד לאורך כל תהליך ההשקעה הן בארץ והן בבולגריה.       
            .col-12.col-md-10.webinar-main-text-col
                div.webinar-main-text(dir='rtl')
                    span.webinar-star-symbol &#x2714; 
                    | משקיעים חדשים וכאלה שכבר השקיעו בבולגריה והיו רוצים להכיר פרויקטים חדשים ומניבים במדינה.        
            .col-12.col-md-10.webinar-main-text-col
                div.webinar-main-text(dir='rtl')
                    span.webinar-star-symbol &#x2714; 
                    | מי שמעוניין לעשות רילוקיישן לבולגריה דרך רכישת נכס ולא יודע איפה להתחיל.    
    
    .container-fluid.webinar-contact-us-container
        .row.landing-contact-us-headline-row.d-felx.justify-content-center
            .col-12.col-md-10.col-xl-8.landing-contact-us-headline-col
                .row.text-center
                    .webinar-contact-us-headline להרשמה לוובינר אנא השאירו פרטים 
        .row.landing-contact-us-row.d-felx.justify-content-center.mx-4
            .col-12.col-md-10.col-xl-8.landing-contact-us-col.text-center 
                form.webinar-form
                    .row.contact-us-row.align-items-center
                        .col-12.landing-contact-us-col.d-flex.justify-content-center
                            input.landing-contact-us-input.webinar-input-name.contact-us-name-input.form-control(type='text' name='Last Name' maxlength='200' placeholder='שם' aria-label='שם' aria-describedby='basic-addon1' required)                            
                            .invalid-tooltip אנא הכניסו שם
                        .col-12.landing-contact-us-col.d-flex.justify-content-center
                            input.landing-contact-us-input.webinar-input-phone.contact-us-phone-input.form-control(type='text' name='Phone' maxlength='10' placeholder='טלפון' aria-label='טלפון' aria-describedby='basic-addon1' pattern='[0-9]{10}' required)
                            .invalid-tooltip.contact-us-phone-invalid אנא הכניסו מספר טלפון תקין                 
                        .col-12.landing-contact-us-col.d-flex.justify-content-center.my-sm-2
                            input.landing-contact-us-input.webinar-input-email.contact-us-email-input.form-control(type='email' ftype='email' autocomplete='false' name='Email' maxlength='100' placeholder='אימייל  ' aria-label='אימייל' aria-describedby='basic-addon1' pattern='[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,}' required)
                            .invalid-tooltip.contact-us-email-invalid אנא הכניסו אימייל תקין
                        .col-12.landing-contact-us-col.d-flex.align-items-sm-center.justify-content-center.flex-row-reverse.my-sm-3
                            img.webinar-contact-us-asterisk-icon(src='/img/icons/i-asterisk-svgrepo-com-gold.svg' alt='אייקון של כוכבית')
                            span.webinar-form-check-top-label הוובינר ניתן ללא עלות אך מספר המקומות מוגבל אז מהרו להרשם
                        .col-12.landing-contact-us-col.d-flex.align-items-sm-center.justify-content-center.flex-row-reverse
                            input.webinar-form-check.form-check-input(type='checkbox' value='')
                            span.webinar-form-check-top-label.form-check-label(for='flexCheckDefault') אני מאשר\ת קבלת מידע ענייני בנושא נדל"ן בבולגריה שלעתים עשוי להיות שיווקי 
                        .col-12.landing-contact-us-col
                            button.landing-webinar-button.mx-3(type='submit' aria-label='הרשמה') רשמו אותי