extends base 

block head
    meta(name="robots" content="noindex, nofollow")
    meta(property="og:image" content='/img/webinar-image.jpg')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content

    .container-fluid.contact-us-confirm-main-container
        .row.contact-us-confirm-row.align-items-center.justify-content-center.mx-4.py-xxl-5
            .col-12.col-md-6.contact-us-confirm-text-col.text-end
                div.contact-us-confirm-headline(dir='rtl') הרשמתכם התקבלה!
                div.contact-us-confirm-border
                div.contact-us-confirm-text(dir='rtl') תודה שנרשמתם לוובינר השקעות הנדל"ן המקיף בבולגריה של דירה בולגרית.
                div.contact-us-confirm-text(dir='rtl') פרטיכם נשמרו במערכת ובהמשך נשלח לכם למייל את לינק הזום איתו תוכלו להיכנס לוובינר, נתראה שם!
                button.error-btn(aria-label='חזרה לעמוד הבית') לעמוד הבית
            .col-12.col-md-6.col-xl-4.d-md-flex.justify-content-md-center.contact-us-confirm-img-col      
                img.contact-us-confirm-img.img-fluid(src='/img/webinar-image.jpg' alt='תמונת נוף של סופיה בולגריה')