extends base 

block head
    title  ארכיון וובינרים השקעות נדל"ן בבולגריה
    meta(name="description" content="צפו במגוון הוובינרים שלנו בשלל נושאי השקעות נדל\"ן בבולגריה")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/webinar-archive")

    meta(property="og:title" content="ארכיון וובינרים השקעות נדל\"ן בבולגריה")
    meta(property="og:description" content="צפו במגוון הוובינרים שלנו בשלל נושאי השקעות נדל\"ן בבולגריה")
    meta(property="og:image" content='https://www.dirabulgarit.com/img/webinar-link-img.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content
          
    .container-fluid.webinar-archive-container
        .row.webinar-archive-headline-row.justify-content-center 
            .col-10.webinar-archive-headline-col 
                h1.webinar-archive-headline(dir='rtl') ארכיון וובינרים השקעות נדל"ן בבולגריה
        .row.webinar-archive-video-row.justify-content-center 
            .col-10.webinar-archive-video-col
                h2.webinar-archive-video-headline(dir='rtl') נובמבר 2024
            .col-10.webinar-video-col.text-center(role="region" aria-labelledby="assetVideoDescription")
                    iframe(src="https://www.youtube.com/embed/0CxJDychluw?si=X5Eziw1AD8z7rUyA" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).asset-video                    
                        span.visually-hidden(id="assetVideoDescription") וידאו של וובינר השקעות הנדל"ן בבולגריה שנערך בנובמבר 2024
