extends ../base

block head
    title Lighthouse Premium Apartments
    meta(name="description" content="Премиум-апартаменты Lighthouse в Свети-Власе, Болгария: 200 м от пляжа, бассейн, охрана, доходность 8%. Готово к августу 2025!")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/ru/project/enkibuild-lighthouse")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/project/enkibuild-lighthouse" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/project/enkibuild-lighthouse" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/project/enkibuild-lighthouse" hreflang="ru")

    meta(property="og:title" content="Lighthouse Premium Apartments")
    meta(property="og:description" content="Премиум-апартаменты Lighthouse в Свети-Власе, Болгария: 200 м от пляжа, бассейн, охрана, доходность 8%. Готово к августу 2025!")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894819-enkibuild-lighthouse-5.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../../he/_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="enkibuildLighthouseMainImageDescription")
        span.visually-hidden(id="enkibuildLighthouseMainImageDescription") Изображение зданий проекта Lighthouse Premium Apartments
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-enkibuild-lighthouse
                h1.project-main-image-headline.project-main-image-headline-enkibuild-lighthouse Lighthouse Premium Apartments          
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline Галерея
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894819-enkibuild-lighthouse-5.webp' alt='Изображение проекта Lighthouse Premium Apartments' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894836-enkibuild-lighthouse-8.webp' alt='Изображение проекта Lighthouse Premium Apartments' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894866-enkibuild-lighthouse-13.webp' alt='Изображение проекта Lighthouse Premium Apartments' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894902-enkibuild-lighthouse-21.webp' alt='Изображение проекта Lighthouse Premium Apartments' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894918-enkibuild-lighthouse-24.webp' alt='Изображение проекта Lighthouse Premium Apartments' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894961-enkibuild-lighthouse-36.webp' alt='Изображение проекта Lighthouse Premium Apartments' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Lighthouse Premium Apartments
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894779-enkibuild-lighthouse-2.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894808-enkibuild-lighthouse-3.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894814-enkibuild-lighthouse-4.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894819-enkibuild-lighthouse-5.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894825-enkibuild-lighthouse-6.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894830-enkibuild-lighthouse-7.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894836-enkibuild-lighthouse-8.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894840-enkibuild-lighthouse-9.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894848-enkibuild-lighthouse-10.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894855-enkibuild-lighthouse-11.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894861-enkibuild-lighthouse-12.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894866-enkibuild-lighthouse-13.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894874-enkibuild-lighthouse-14.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894879-enkibuild-lighthouse-15.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894884-enkibuild-lighthouse-16.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894888-enkibuild-lighthouse-17.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894892-enkibuild-lighthouse-18.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894895-enkibuild-lighthouse-19.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894899-enkibuild-lighthouse-20.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894902-enkibuild-lighthouse-21.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894906-enkibuild-lighthouse-22.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894909-enkibuild-lighthouse-23.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894918-enkibuild-lighthouse-24.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894921-enkibuild-lighthouse-25.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894925-enkibuild-lighthouse-26.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894928-enkibuild-lighthouse-27.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894931-enkibuild-lighthouse-28.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894934-enkibuild-lighthouse-29.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894937-enkibuild-lighthouse-30.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894942-enkibuild-lighthouse-31.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894946-enkibuild-lighthouse-32.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894950-enkibuild-lighthouse-33.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894954-enkibuild-lighthouse-34.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894958-enkibuild-lighthouse-35.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894961-enkibuild-lighthouse-36.webp' alt='Изображение проекта Lighthouse Premium Apartments')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894963-enkibuild-lighthouse-37.webp' alt='Изображение проекта Lighthouse Premium Apartments') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-enkibuild-lighthouse
                div.project-numbers-text Здания        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-enkibuild-lighthouse
                div.project-numbers-text Этажи        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-enkibuild-lighthouse
                div.project-numbers-text Квартиры
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center   
                div.project-numbers-end-number Август 2025
                div.project-numbers-text Окончание строительства    
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Lighthouse Premium Apartments
            .col-10.project-details-headline-col.p-0.text-start
                div.project-details-text Известный жилой комплекс LightHouse находится в туристической деревне Свети-Влас в солнечной Болгарии. Это излюбленное место отдыха европейцев и болгар, поэтому здесь поддерживается чистота и безопасность.
                div.project-details-text Строительство комплекса активно продолжается, и новый участок будет завершен к следующему курортному сезону!
                div.project-details-text Апартаменты удовлетворят даже самых требовательных жильцов. В комплексе есть бассейн, бар, детская площадка и уютные зеленые зоны, спасающие от летней жары. Владельцы автомобилей оценят охраняемую подземную парковку с отдельным входом.
                div.project-details-text Жилой комплекс LightHouse расположен всего в 200 метрах от частного пляжа с кристально чистой водой.
                div.project-details-text Здесь есть все необходимое для спокойной и комфортной жизни. Станьте владельцем премиум-апартаментов уже сегодня!
                h3.project-details-sub-headline Местоположение
                div.project-details-text Комплекс построен в центральной части города, недалеко от пляжа. Район хорошо связан с транспортной сетью и имеет развитую инфраструктуру.
                h3.project-details-sub-headline Природа
                div.project-details-text Город расположен между горным хребтом и морем — уникальные климатические условия и пейзажи.
                h3.project-details-sub-headline Безопасность
                div.project-details-text Современные системы безопасности, видеонаблюдение, закрытая территория и круглосуточная охрана обеспечат безопасное проживание.
                h3.project-details-sub-headline Удобства
                div.project-details-text Большой и уютный двор включает бассейн для отдыха жильцов и маяк — символ комплекса, место для встречи закатов и рассветов.
                h3.project-details-sub-headline Доходность
                div.project-details-text Управляющая компания с радостью найдет арендаторов в ваше отсутствие. Доходность до 8% годовых!
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/enkibuild-lighthouse/1748510894966-enkibuild-lighthouse-three-bedroom-apartment-on-the-first-floor.webp' alt='план четырехкомнатной квартиры в проекте премиум-апартаментов LightHouse')
                div.project-details-text.text-center <i>План четырехкомнатной квартиры в проекте премиум-апартаментов LightHouse</i>
                h3.project-details-sub-headline Особенности апартаментов
                div.project-details-text Уникальность предложения заключается в переосмысленном формате резиденций. Большие террасы и патио создают ощущение частного дома и уединения. Это идеальное решение для владельцев недвижимости на южном побережье, когда в жару некомфортно находиться в помещении, а морской бриз приносит облегчение. Кроме того, террасы и патио — идеальные места для вкусных вечеров с барбекю и вином!
                div.project-details-text Все квартиры просторные и светлые. Потолки высотой 3–3,8 м создают ощущение открытого пространства. Удобное расположение обеспечит бесперебойную логистику и обслуживание апартаментов!
                h3.project-details-sub-headline Количество апартаментов в блоке
                div.project-details-text На трех этажах здания E в продаже доступно только шесть апартаментов. Оно расположено в центре двора и окружено зелеными растениями для вашей приватности.
                h3.project-details-sub-headline Материалы строительства
                div.project-details-text Технология монолитного каркаса и стены из красного кирпича обеспечивают хорошую шумо- и теплоизоляцию. Перегородки и внутренние стены облицованы керамическими блоками Porotherm (Германия) и оштукатурены.
                h3.project-details-sub-headline Остекление
                div.project-details-text Дом остеклен с использованием алюминиевых профилей Reynaers (Бельгия). Остекление толщиной 50 мм поддерживает оптимальную температуру зимой и летом.
                h3.project-details-sub-headline Состояние квартиры
                div.project-details-text Квартира сдается под ключ с премиальной отделкой. Вам останется только купить мебель и декор! Каждая квартира оснащена тепловыми насосами и теплыми полами для комфортного проживания круглый год.
                h3.project-details-sub-headline Срок завершения
                div.project-details-text Здание будет завершено в августе 2025 года. Сейчас проводятся внутренние работы. Следующим летом вы сможете наслаждаться отдыхом у моря в своей квартире!
                h3.project-details-sub-headline Инфраструктура
                div.project-details-text Уникальное расположение LightHouse в сердце Свети-Власа обеспечивает жителям максимально комфортные условия для жизни и отдыха. Рядом есть супермаркеты, кафе, рестораны, аптеки, фитнес-клубы, пекарня, кинотеатр и лучшие пляжи Болгарии.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline Удобства
        .row.project-amenities-row.text-end.mx-5.justify-content-start 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/pool-swimming-pool-svgrepo-com.svg' alt='Бассейн icon')
                div.project-amenities-text(dir='rtl') Бассейн
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/beach-umbrella-svgrepo-com.svg' alt='Пляж icon')
                div.project-amenities-text Пляж
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/project-lighthouse.svg' alt='Маяк icon')
                div.project-amenities-text Маяк     
    
    .container-fluid.project-mid-image-container.project-mid-image-container-enkibuild-lighthouse(role="img" aria-labelledby="enkibuildLighthouseMidImageDescription")
        span.visually-hidden(id="enkibuildLighthouseMidImageDescription") Фотографии проекта Lighthouse Premium Apartments
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-headline-col
                h2.project-map-headline Расположение
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.752190 data-lat=42.710146 data-title='Lighthouse Premium Apartments') 

    .container-fluid.project-video-container
        .row.asset-video-row.mx-3.justify-content-center 
            .col-12.col-md-10.asset-video-col.text-center(role="region" aria-labelledby="assetVideoDescription")
                iframe(src='https://www.youtube.com/embed/uf989xuZ3to' frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).asset-video                    
            span.visually-hidden(id="assetVideoDescription") Видеоролик с демонстрацией апартаментов Lighthouse Premium           

    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Доступные объекты недвижимости в проекте
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Доступные объекты недвижимости в проекте
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile 