extends ../base

block head
    title Fort Noks Premier Suites
    meta(name="description" content="Роскошные апартаменты у моря в Святом Власе! Fort Noks Premier Suites предлагает меблированные квартиры с видом на море, всего в 100 метрах от пляжа, с бассейнами, водными горками и удобной рассрочкой. Идеально для семьи, проживания или инвестиций.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/ru/project/fort-noks-premier-suites")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/project/fort-noks-premier-suites" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/project/fort-noks-premier-suites" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/project/fort-noks-premier-suites" hreflang="ru")

    meta(property="og:title" content="Fort Noks Premier Suites")
    meta(property="og:description" content="Роскошные апартаменты у моря в Святом Власе! Fort Noks Premier Suites предлагает меблированные квартиры с видом на море, всего в 100 метрах от пляжа, с бассейнами, водными горками и удобной рассрочкой. Идеально для семьи, проживания или инвестиций.")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279030-fort-noks-premier-suits-3.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../../he/_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="fortNoksSuitesMainImageDescription")
        span.visually-hidden(id="fortNoksSuitesMainImageDescription") Изображение зданий проекта Fort Noks Premier Suites
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-fort-noks-suites
                h1.project-main-image-headline.project-main-image-headline-fort-noks-suites Fort Noks Premier Suites          
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline Галерея
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278278973-fort-noks-premier-suits-1.webp' alt='Image of the Mountain View Boutique Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279042-fort-noks-premier-suits-4.webp' alt='Image of the Mountain View Boutique Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279052-fort-noks-premier-suits-5.webp' alt='Image of the Mountain View Boutique Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279060-fort-noks-premier-suits-6.webp' alt='Image of the Mountain View Boutique Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279064-fort-noks-premier-suits-7.webp' alt='Image of the Mountain View Boutique Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279066-fort-noks-premier-suits-8.webp' alt='Image of the Mountain View Boutique Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Fort Noks Premier Suites
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278278973-fort-noks-premier-suits-1.webp' alt='Image of the Mountain View Boutique Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279042-fort-noks-premier-suits-4.webp' alt='Image of the Mountain View Boutique Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279052-fort-noks-premier-suits-5.webp' alt='Image of the Mountain View Boutique Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279060-fort-noks-premier-suits-6.webp' alt='Image of the Mountain View Boutique Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279064-fort-noks-premier-suits-7.webp' alt='Image of the Mountain View Boutique Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279066-fort-noks-premier-suits-8.webp' alt='Image of the Mountain View Boutique Project') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-fort-noks-suites          
                div.project-numbers-text Здания        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-fort-noks-suites          
                div.project-numbers-text Этажи        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-fort-noks-suites         
                div.project-numbers-text Квартиры
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-parking-spots-number.project-numbers-parking-spots-number-fort-noks-suites         
                div.project-numbers-text Парковочные места
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center   
                div.project-numbers-end-number декабрь 2026
                div.project-numbers-text Окончание строительства
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Fort Noks Premier Suites
            .col-10.project-details-headline-col.p-0.text-start
                div.project-details-text Кто бы отказался от незабываемой летней жизни у моря?
                div.project-details-text Просторные студии, апартаменты с 1 и 2 спальнями, а также пентхаусы — роскошная жизнь на первой линии у моря!
                div.project-details-text Premier Suites предлагает не только современный интерьер, но и доступ к прекрасно обустроенной территории апарт отеля Premier Fort Beach.
                h3.project-details-sub-headline Расположение
                div.project-details-text Идеальное местоположение комплекса Premier Suites — с видом на Черное море и великолепный залив Солнечного берега, который восхищает в любое время суток. Вы будете наслаждаться захватывающими закатами каждый день!
                div.project-details-text Premier Suites расположен в западной части Святого Власа, всего в 100 метрах от пляжа. Он находится в пешей доступности до всех красивых пляжей Святого Власа и яхтенной пристани Марина Диневи, а также всего в 5 минутах езды от набережной Солнечного берега. Пляжные кафе, уютные рестораны, дискотеки, бары и оживленная ночная жизнь — всё это в нескольких минутах езды.
                div.project-details-text Независимо от того, любите ли вы плавать, кататься на бодиборде или просто проводить время с семьей на мягком теплом песке — расположение Premier Suites идеально: пляж буквально у вашего порога.
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279071-fort-noks-premier-suits-building-plan.webp' alt='Планы постройки Fort Noks Premier Suites')
                div.project-details-text.text-center <i>Планы строительства Fort Noks Premier Suites</i>
                h3.project-details-sub-headline Premier Fort Aparthotel
                div.project-details-text Premier Suites является частью Premier Fort Beach Aparthotel — лучшего апартотеля для семей с детьми в Болгарии! Наш курорт — настоящий рай для семей, с двумя большими пресноводными бассейнами, детскими бассейнами и захватывающими водными горками. Ежедневная анимационная программа — в вашем распоряжении.
                h3.project-details-sub-headline Готов к проживанию
                div.project-details-text Апартаменты в Premier Fort Suites будут полностью завершены и меблированы, полностью готовые для проживания или сдачи в аренду. Всё соответствует стандартам и требованиям болгарских туроператоров. Комплекс предназначен для круглогодичного использования.
                div.project-details-text Станьте одним из первых жителей наших абсолютно новых апартаментов Premier Suites в комплексе Premier Fort!
                h3.project-details-sub-headline Уникальная возможность
                div.project-details-text Premier Suites — это редкая и особая возможность: уютные, стильные и роскошные апартаменты в отличном месте — рядом с центром Святого Власа и всего в 5 минутах езды от центра ночной жизни Солнечного берега. Покупка для инвестиций, постоянного проживания или как сезонное жильё — это идеальное сочетание трёх ключевых факторов: великолепного местоположения, высокого качества строительства и тщательно продуманного интерьера.
                h3.project-details-sub-headline План оплаты
                div.project-details-text &nbsp<strong>●</strong> Первый взнос — 10% от продажной цены при подписании предварительного договора с ООО Fort Noks.
                div.project-details-text &nbsp<strong>●</strong> В течение 3 месяцев — второй взнос в размере 10%.
                div.project-details-text Остальные 80% можно оплатить в рассрочку поквартально:
                div.project-details-text &nbsp<strong>●</strong> До 1 января 2027 года — <strong>без удорожания!</strong>
                div.project-details-text &nbsp<strong>●</strong> До 1 января 2032 года — рассрочка с годовой процентной ставкой <strong>3%</strong>
                div.project-details-text &nbsp<strong>●</strong> В течение 10 лет с момента подписания договора — рассрочка с процентной ставкой <strong>5%</strong> в год
                div.project-details-text &nbsp<strong>●</strong> При первоначальном взносе более <strong>50% — скидка 3%</strong> от продажной цены!
                h3.project-details-sub-headline О компании Fort Noks Ltd.
                div.project-details-text История компании Fort Noks Ltd. началась в 1995 году. Сегодня это один из крупнейших застройщиков и управляющих компаний в Болгарии, заслуживший репутацию надёжного и ответственного партнёра. Их миссия — удовлетворять потребности клиентов, предлагая широкий выбор апартаментов в престижных прибрежных курортах Болгарии.
                div.project-details-text Комплексы Fort Noks расположены на первой береговой линии в таких курортах, как Елените, Святой Влас, Солнечный Берег и Равда — идеальных местах для летнего отдыха. Близость к древнему Несебру, удобное расположение (всего 35–40 км от аэропорта Бургаса и 90 км от аэропорта Варны), а также наличие аквапарков в Солнечном Береге, Елените, Равде и Несебре — всё это делает ваш отдых максимально комфортным.
                div.project-details-text Согласно отзывам на TripAdvisor и Booking.com, комплексы Fort Noks являются <strong>лучшими на болгарском побережье Чёрного моря</strong>, с высокими рейтингами и отличными отзывами гостей.
                div.project-details-text Большинство комплексов расположены на первой линии, имеют <strong>контролируемый доступ, круглосуточную охрану и видеонаблюдение</strong>. Всё, что вам остаётся — наслаждаться отдыхом, обо всём остальном позаботится команда профессионалов. Инфраструктура комплексов постоянно улучшается в тесном сотрудничестве с клиентами.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline Удобства
        .row.project-amenities-row.text-end.mx-5.justify-content-start 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/pool-swimming-pool-svgrepo-com.svg' alt='Значок бассейна')
                div.project-amenities-text(dir='rtl') Бассейны
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/beach-umbrella-svgrepo-com.svg' alt='Значок пляжа')
                div.project-amenities-text Пляж
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/furniture-project.svg' alt='Значок мебели')
                div.project-amenities-text Меблированные апартаменты     
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-headline-col
                h2.project-map-headline Расположение
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.742889333733768 data-lat=42.710020445559685 data-title='Fort Noks Premier Suites') 

    .container-fluid.project-video-container
        .row.asset-video-row.mx-3.justify-content-center 
            .col-12.col-md-10.asset-video-col.text-center(role="region" aria-labelledby="assetVideoDescription")
                iframe(src='https://www.youtube.com/embed/UXDiYU7LqmA?si=oVP-4JU5MgKiCwli' frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).asset-video                    
            span.visually-hidden(id="assetVideoDescription") Видео проекта Fort Noks Premier Suites

    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Доступные объекты недвижимости в проекте
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Доступные объекты недвижимости в проекте
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile 