extends ../base

block head
    title Fort Noks Premier Suites
    meta(name="description" content="Роскошные апартаменты у моря в Святом Власе! Fort Noks Premier Suites предлагает меблированные квартиры с видом на море, всего в 100 метрах от пляжа, с бассейнами, водными горками и удобной рассрочкой. Идеально для семьи, проживания или инвестиций.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/ru/project/fort-noks-premier-suites")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/project/fort-noks-premier-suites" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/project/fort-noks-premier-suites" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.com/ru/project/fort-noks-premier-suites" hreflang="ru")

    meta(property="og:title" content="Fort Noks Premier Suites")
    meta(property="og:description" content="Роскошные апартаменты у моря в Святом Власе! Fort Noks Premier Suites предлагает меблированные квартиры с видом на море, всего в 100 метрах от пляжа, с бассейнами, водными горками и удобной рассрочкой. Идеально для семьи, проживания или инвестиций.")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279030-fort-noks-premier-suits-3.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../../he/_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="fortNoksSuitesMainImageDescription")
        span.visually-hidden(id="fortNoksSuitesMainImageDescription") Изображение зданий проекта Fort Noks Premier Suites
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-fort-noks-suites
                h1.project-main-image-headline.project-main-image-headline-fort-noks-suites Fort Noks Premier Suites          
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline Галерея
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278278973-fort-noks-premier-suits-1.webp' alt='Image of the Mountain View Boutique Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279042-fort-noks-premier-suits-4.webp' alt='Image of the Mountain View Boutique Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279052-fort-noks-premier-suits-5.webp' alt='Image of the Mountain View Boutique Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279060-fort-noks-premier-suits-6.webp' alt='Image of the Mountain View Boutique Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279064-fort-noks-premier-suits-7.webp' alt='Image of the Mountain View Boutique Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279066-fort-noks-premier-suits-8.webp' alt='Image of the Mountain View Boutique Project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Fort Noks Premier Suites
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278278973-fort-noks-premier-suits-1.webp' alt='Image of the Mountain View Boutique Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279042-fort-noks-premier-suits-4.webp' alt='Image of the Mountain View Boutique Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279052-fort-noks-premier-suits-5.webp' alt='Image of the Mountain View Boutique Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279060-fort-noks-premier-suits-6.webp' alt='Image of the Mountain View Boutique Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279064-fort-noks-premier-suits-7.webp' alt='Image of the Mountain View Boutique Project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279066-fort-noks-premier-suits-8.webp' alt='Image of the Mountain View Boutique Project') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-fort-noks-suites          
                div.project-numbers-text Здания        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-fort-noks-suites          
                div.project-numbers-text Этажи        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-fort-noks-suites         
                div.project-numbers-text Квартиры
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-parking-spots-number.project-numbers-parking-spots-number-fort-noks-suites         
                div.project-numbers-text Парковочные места
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center   
                div.project-numbers-end-number декабрь 2026
                div.project-numbers-text Окончание строительства
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Fort Noks Premier Suites
            .col-10.project-details-headline-col.p-0.text-start
                div.project-details-text Кой не би се насладил на незабравим летен живот на морето?
                div.project-details-text ПРОСТОРНИ СТУДИА, АПАРТАМЕНТИ С 1, С 2 СПАЛНИ И ПЕНТХАУСИ, Луксозен живот на брега на морето!
                div.project-details-text Премиер Суитс освен модерния интериор, Ви предлага да се възползвате и от прекрасно устроената територия на Премиер Форт Бийч Апартхотел.
                h3.project-details-sub-headline Расположение
                div.project-details-text Отличното местоположение на Премиер Суитс, с изглед към Черно море и красивия по всяко време на деня залив на Слънчев бряг – предлага наслада от гледката на магнетичните залези!
                div.project-details-text Премиер Суитс се намира в западната част на Свети Влас, в непосредствена близост до плажа. Той е на пешеходно разстояние и до всички красиви плажове на Свети Влас и яхтеното пристанище Марина Диневи, както и на пет минути път с кола от крайбрежната на  Слънчев бряг. Плажни кафенета, уютни ресторанти, дискотеки, барове, крайбрежен нощен живот – те са само на няколко минути с кола.
                div.project-details-text Независимо дали сте плувец, бодибордист или просто семейство, обичащо ситния мек пясък, местоположението на Премиер Суитс е такова, че плажът е буквално пред прага Ви. Той се намира на 100 метра!
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/fort-noks-premier-suits/fort-noks-premier-suits1744278279071-fort-noks-premier-suits-building-plan.webp' alt='Планы постройки Fort Noks Premier Suites')
                div.project-details-text.text-center <i>Планы строительства Fort Noks Premier Suites</i>
                h3.project-details-sub-headline Premier Fort Aparthotel
                div.project-details-text Премиер Суитс е част от Премиер Форт Бийч Апартхотел – най-добрия апартхотел за семейства с деца в България! Нашият курорт е рай за семейства, тъй като разполага с два големи сладководни басейна, детски басейни и атрактивни водни пързалки. Ежедневната анимационна програма на Премиер Форт Бийч Апартхотел е на Ваше разположение.
                h3.project-details-sub-headline Готов к проживанию
                div.project-details-text Апартаментите в Премиер Форт Суитс ще са напълно завършени и изцяло обзаведени, готови за живеене и отдаване под наем, в съответствие със стандартите и изискванията на туроператорите в България. Комплексът е предназначен за целогодишно ползване.
                div.project-details-text Бъдете един от първите жители на нашите чисто нови апартаменти Премиер Суитс в апартхотел Премиер Форт!
                h3.project-details-sub-headline Редкая возможность
                div.project-details-text Премиер Суитс е рядка и специална възможност: уютни, стилни, луксозни апартаменти на страхотно място, близо до центъра на Свети Влас и на 5 минути с кола от центъра на нощния живот на Слънчев бряг. Купувайки за инвестиция, за постоянен или сезонен дом, той е идеалната комбинация от трите ключови елемента: страхотна локация, висококачествено строителство и внимателно проектиран интериор.
                h3.project-details-sub-headline План оплаты
                div.project-details-text Първа вноска 10 % от продажната цена, платима при подписване на предварителен договор с Форт Нокс ООД; В срок до 3 месеца се плаща втора 10% вноска.
                div.project-details-text Останалите 80% могат да бъдат платени с тримесечни вноски:
                div.project-details-text &nbsp<strong>●</strong> в срок до 1 януари 2027 – плащане БЕЗ ОСКЪПЯВАНЕ!
                div.project-details-text &nbsp<strong>●</strong> в срок до 1 януари 2032-  разсрочено плащане с 3% годишна лихва. 
                div.project-details-text &nbsp<strong>●</strong> в срок до 10 години от подписването на договора – разсрочено плащане с 5% годишна лихва.
                div.project-details-text &nbsp<strong>●</strong> В случай на плащане на вноска в размер над 50% при подписване на Предварителен договор 3% отстъпка от продажната цена.
                h3.project-details-sub-headline О компании Fort Noks Ltd.
                div.project-details-text Историята на Форт Нокс ООД започва през 1995 г. Дружеството е отговорен и надежден партньор. Като една от най-големите строителни и управляващи компании в България, нашата мисия е да се съсредоточим върху задоволяването на нуждите на нашите клиенти, предлагайки широка гама от апартаменти, разположени в крайбрежни ваканционни селища.
                div.project-details-text Нашите апартаменти са разположени на брега на морето. Курортите Елените, Свети Влас, Слънчев бряг, Равда са идеални места за лятна почивка (близо до древния град Несебър, на 35-40 км от летище Бургас, на 90 км от летище Варна, водните паркове в Слънчев бряг, Елените, Равда, Несебър – на няколко минути път с кола). Според потребителите на tripadvisor и booking жилищните комплекси на Форт Нокс са най-добрите на българското черноморско крайбрежие, с най-високи оценки и отлични отзиви на гости.
                div.project-details-text Повечето от ваканционните комплекси са на първа линия, в близост до морето, с контролиран достъп, денонощна охрана и видео наблюдение. Вашата почивка е всичко, за което да мислите – за останалото се грижим ние. Инфраструктурата на комплексите се подобрява всяка година поради постоянния контакт между нас и клиентите ни.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline Удобства
        .row.project-amenities-row.text-end.mx-5.justify-content-start 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/pool-swimming-pool-svgrepo-com.svg' alt='Значок бассейна')
                div.project-amenities-text(dir='rtl') Бассейны
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/beach-umbrella-svgrepo-com.svg' alt='Значок пляжа')
                div.project-amenities-text Пляж
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/furniture-project.svg' alt='Значок мебели')
                div.project-amenities-text Меблированные апартаменты     
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-headline-col
                h2.project-map-headline Расположение
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=23.3402709779371 data-lat=42.641954031351645 data-title='Fort Noks Premier Suites') 

    .container-fluid.project-video-container
        .row.asset-video-row.mx-3.justify-content-center 
            .col-12.col-md-10.asset-video-col.text-center(role="region" aria-labelledby="assetVideoDescription")
                iframe(src='https://www.youtube.com/embed/UXDiYU7LqmA?si=oVP-4JU5MgKiCwli' frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).asset-video                    
            span.visually-hidden(id="assetVideoDescription") Видео проекта Fort Noks Premier Suites

    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Доступные объекты недвижимости в проекте
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Доступные объекты недвижимости в проекте
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile 