extends ../base

block head
    title Mountain View Residence
    meta(name="description" content="Luxury living in the prime location of Malinova Dolina, Sofia. Mountain View Residence offers elegantly designed apartments, private courtyards, panoramic views of Vitosha Mountain, and a serene, high-quality environment.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/en/project/mountain-view-residence")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/project/mountain-view-residence" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/project/mountain-view-residence" hreflang="he")

    meta(property="og:title" content="Mountain View Residence")
    meta(property="og:description" content="Luxury living in the prime location of Malinova Dolina, Sofia. Mountain View Residence offers elegantly designed apartments, private courtyards, panoramic views of Vitosha Mountain, and a serene, high-quality environment.")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321587-sofia-mountain-view-residence-6.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../../he/_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="mountainResidenceMainImageDescription")
        span.visually-hidden(id="mountainResidenceMainImageDescription") An image of the Mountain View Residence project buildings
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-mountain-residence 
                h1.project-main-image-headline.project-main-image-headline-mountain-residence Mountain View Residence               
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline Gallery
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321595-sofia-mountain-view-residence-8.webp' alt='image of the Mountain Residence project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321568-sofia-mountain-view-residence-3.webp' alt='image of the Mountain Residence project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321575-sofia-mountain-view-residence-4.webp' alt='image of the Mountain Residence project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")  
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321583-sofia-mountain-view-residence-5.webp' alt='image of the Mountain Residence project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321592-sofia-mountain-view-residence-7.webp' alt='image of the Mountain Residence project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321598-sofia-mountain-view-residence-9.webp' alt='image of the Mountain Residence project' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Mountain View Residence
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321595-sofia-mountain-view-residence-8.webp' alt='image of the Mountain Residence project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321568-sofia-mountain-view-residence-3.webp' alt='image of the Mountain Residence project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321541-sofia-mountain-view-residence-1.webp' alt='image of the Mountain Residence project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321547-sofia-mountain-view-residence-2.webp' alt='image of the Mountain Residence project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321575-sofia-mountain-view-residence-4.webp' alt='image of the Mountain Residence project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321583-sofia-mountain-view-residence-5.webp' alt='image of the Mountain Residence project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321592-sofia-mountain-view-residence-7.webp' alt='image of the Mountain Residence project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321598-sofia-mountain-view-residence-9.webp' alt='image of the Mountain Residence project') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321587-sofia-mountain-view-residence-6.webp' alt='image of the Mountain Residence project') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-mountain-residence          
                div.project-numbers-text Buildings        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-mountain-residence          
                div.project-numbers-text Floors        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-mountain-residence         
                div.project-numbers-text Apartments
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-parking-spots-number.project-numbers-parking-spots-number-mountain-residence         
                div.project-numbers-text Parking Spots
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center   
                div.project-numbers-end-number 2023
                div.project-numbers-text Construction End
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Mountain View Residence
            .col-10.project-details-headline-col.p-0.text-start
                div.project-details-text Mountain View Residence rises in a more than attractive location in Sofia - Malinova Dolina district. It offers an exclusive opportunity to choose for your home a home that offers the best of both worlds - proximity to all city amenities and nature. Every detail in the gated complex is created with the aim of a long-lasting quality lifestyle. There are four entrances, and the apartments have 1, 2 or 3 rooms. An option to have the feeling that you are living in a house are the apartments on the ground floor, which have individual courtyards.
                div.project-details-text The elegant vision and perfect design of Mountain View Residence are the work of the leading architectural studio ELITE Project Group. No bevels and strange angles, only comfort and practicality, dressed in quality and beautiful materials that carry an allusion to always relevant luxury. Courtyard, immersed in magnificent landscaping, including 200-year-old olive trees. Panoramic views of the mountain. Access control system and video surveillance. Everything - for your optimal peace and harmony.     
                div.project-details-text Mountain View Residence is the living connection between the city and the mountain, man and nature, the peaceful life and the hectic everyday life. Here, home is a peaceful haven where you sink into the embrace of home comfort.
                div.project-details-text By choosing a home here, you are making an investment in the future in every sense, which will pay off many times over.
                h3.project-details-sub-headline Stunning Views
                div.project-details-text The mountain humbles, conquers, excites. Imagine, mornings, evenings and everything in between, filled with wonderful panoramas of her majesty Vitosha. In order to preserve the connection between man and nature, we made the strategic decision that each home should have at least one glass facade of the "French window" type and a terrace. Because we know how important it is for a home to offer you peace, to help you forget about the hectic everyday life, to relax and simply be happy.
                h3.project-details-sub-headline Luxury Materials
                div.project-details-text The high-class luxury materials that we use in every project are a mandatory component of the equation of a comfortable and cozy home. Because the feeling of it does not begin with taking the first step into the home. It begins with the first glance at the building, the surrounding spaces, the landscaping, the lighting, the entrance lobby, the fast and comfortable elevators, even the staircases. Every detail matters. Carefully selected classy materials mean not only a timeless aesthetic preserved over time, but also strength, security, reliability of the home and the entire complex. Because your dream home should be impeccable.
                h3.project-details-sub-headline The Dream Home!
                div.project-details-text We don't just build. We build homes that we would live in ourselves. We create spaces that encourage the creation of memories and family traditions that can be passed down from generation to generation. To succeed in this mission, we take care to ensure quality in every detail - from location selection, design and implementation, to landscaping and subsequent maintenance of the complex. We create beautiful buildings with elegant timeless aesthetics that will always be relevant. Interior and exterior spaces that tell stories and invite you to continue them and tell your own. By choosing a home in Mountain View Residence, you are choosing comfortable coziness and tranquility in a key location, bringing together logistics, modern amenities and nature, in a building with a bright style that you can proudly call "home".
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sofia-mountain-view-residence-images/1735210321541-sofia-mountain-view-residence-1.webp' alt='Image of the Mountain View Residence project from an ariel perspective')
                div.project-details-text.text-center <i>The Mountain View Residence Building Area</i>
                h3.project-details-sub-headline Key Features:
                div.project-details-text ● <strong>Low and Compact Construction:</strong> Energy-efficient buildings that maintain scenic harmony and provide an open view of the mountain.
                div.project-details-text ● <strong>Private Courtyards and Spacious Balconies:</strong> Ground-floor apartments with private yards or balconies overlooking the stunning views of Vitosha Mountain.
                div.project-details-text ● <strong>Underground Parking:</strong> The project includes underground parking and bicycle storage with convenient access to residential floors.
                div.project-details-text ● <strong>Secured and Gated Complex:</strong> A gated community with controlled access, ensuring privacy and peace of mind.
                div.project-details-text ● <strong>Strategic Location:</strong> The Malinova Dolina neighborhood is constantly developing and offers easy access to everything you need.
                div.project-details-text ● <strong>Peaceful Living in a Preferred Neighborhood:</strong> A popular area known for its central location, advanced infrastructure, and tranquility.
                h3.project-details-sub-headline Commitment to the Environment
                div.project-details-text In every project, we strive to minimize environmental impact, use natural materials from certified suppliers, recycle construction waste, and incorporate green landscaping to reduce our carbon footprint.
                h3.project-details-sub-headline About SofBuildStroy Group
                div.project-details-text The principles on which the construction company SofBuildStroy was founded are comfort, security and high aesthetics. We plan each project precisely with the help of teams of architects and designers. We build with quality and natural materials, carefully controlling each stage of the process. We continue our mission of taking care of you by taking on the maintenance of the buildings ourselves. We create homes in which you can live well. 
                div.project-details-text Our buildings are in great demand, as the construction company SofBuildStroy offers excellently planned, beautiful and spacious apartments in buildings with exceptional timeless architecture. The locations where they are built are richly landscaped and take great care of children. This has brought the company awards for luxury construction, architecture and design in Bulgaria and abroad.
                div.project-details-text Our commitment to providing perfect homes and workspaces always drives us to constantly evolve and improve in line with global trends. Because you deserve the best! 

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline Amenities
        .row.project-amenities-row.text-end.mx-5.justify-content-start 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-train.svg' alt='Train icon')
                div.project-amenities-text Just 200m from the tram station
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-bike.svg' alt='Bicycle icon')
                div.project-amenities-text Bicycle parking
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-building.svg' alt='Building icon')
                div.project-amenities-text Stores and Pharmacy
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-dumbell.svg' alt='Dumbbell icon')
                div.project-amenities-text(dir='rtl') Exercise area
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-elevator.svg' alt='Elevator icon')
                div.project-amenities-text Advanced elevators
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/mountain-view-residence-icon-materials.svg' alt='Fabric icon')
                div.project-amenities-text High quality materials               

    .container-fluid.project-mid-image-container.project-mid-image-container-mountain-residence(role="img" aria-labelledby="mountainResidenceMidImageDescription")
        span.visually-hidden(id="mountainResidenceMidImageDescription") Image of the Mountain View Residence project from above
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-headline-col
                h2.project-map-headline Location
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=23.344814598156557 data-lat=42.64120955464309 data-title='Mountain View Residence') 

    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Available Properties In The Project
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Available Properties In The Project
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile 