extends ../base

block head
    title Nessebar Fort Residence
    meta(name="description" content="Квартиры на продажу в Nessebar Fort Residence, Солнечный Берег! Полностью меблированный комплекс с бассейном, рядом с Несебром и гибкой схемой оплаты. Начало продаж — апрель 2025!")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/ru/project/nessebar-fort-residence")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/project/nessebar-fort-residence" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/project/nessebar-fort-residence" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.com/ru/project/nessebar-fort-residence" hreflang="ru")

    meta(property="og:title" content="Nessebar Fort Residence")
    meta(property="og:description" content="Квартиры на продажу в Nessebar Fort Residence, Солнечный Берег! Полностью меблированный комплекс с бассейном, рядом с Несебром и гибкой схемой оплаты. Начало продаж — апрель 2025!")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596814-nessebar-fort-residence-2.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../../he/_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="nessebarFortResidenceMainImageDescription")
        span.visually-hidden(id="nessebarFortResidenceMainImageDescription") Изображение зданий проекта Nessebar Fort Residence
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-nessebar-fort-residence
                h1.project-main-image-headline.project-main-image-headline-nessebar-fort-residence Nessebar Fort Residence          
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline Галерея
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596850-nessebar-fort-residence-4.webp' alt='Изображение проекта Nessebar Fort Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596909-nessebar-fort-residence-17.webp' alt='Изображение проекта Nessebar Fort Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596918-nessebar-fort-residence-20.webp' alt='Изображение проекта Nessebar Fort Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596867-nessebar-fort-residence-8.webp' alt='Изображение проекта Nessebar Fort Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596871-nessebar-fort-residence-9.webp' alt='Изображение проекта Nessebar Fort Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596877-nessebar-fort-residence-11.webp' alt='Изображение проекта Nessebar Fort Residence' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Premier Fort Beach
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596808-nessebar-fort-residence-1.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596814-nessebar-fort-residence-2.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596845-nessebar-fort-residence-3.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596850-nessebar-fort-residence-4.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596855-nessebar-fort-residence-5.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596860-nessebar-fort-residence-6.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596864-nessebar-fort-residence-7.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596867-nessebar-fort-residence-8.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596871-nessebar-fort-residence-9.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596874-nessebar-fort-residence-10.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596877-nessebar-fort-residence-11.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596883-nessebar-fort-residence-12.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596890-nessebar-fort-residence-13.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596896-nessebar-fort-residence-14.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596903-nessebar-fort-residence-15.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596907-nessebar-fort-residence-16.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596909-nessebar-fort-residence-17.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596913-nessebar-fort-residence-18.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596916-nessebar-fort-residence-19.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596918-nessebar-fort-residence-20.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596922-nessebar-fort-residence-21.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596925-nessebar-fort-residence-22.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596929-nessebar-fort-residence-23.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596933-nessebar-fort-residence-24.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596937-nessebar-fort-residence-25.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596942-nessebar-fort-residence-26.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596946-nessebar-fort-residence-27.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596951-nessebar-fort-residence-28.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596957-nessebar-fort-residence-29.webp' alt='Изображение проекта Nessebar Fort Residence')
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/nessebar-fort-residence/1744635596962-nessebar-fort-residence-30.webp' alt='Изображение проекта Nessebar Fort Residence')
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-nessebar-fort-residence
                div.project-numbers-text Здания        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-nessebar-fort-residence
                div.project-numbers-text Этажи        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-nessebar-fort-residence
                div.project-numbers-text Квартиры
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Premier Fort Beach
            .col-10.project-details-headline-col.p-0.text-start
                div.project-details-text Nessebar Fort Residence – новейшая возможность для инвестиций в недвижимость на побережье Черного моря в Болгарии!
                div.project-details-text Апартаменты на продажу в Солнечном Береге – начало продаж в апреле 2025 года!
                div.project-details-text Комплекс полностью завершен – получите ключи в день подписания договора.
                div.project-details-text Nessebar Fort Residence – это уютный жилой комплекс в Солнечном Береге, Болгария, расположенный на границе с историческим городом Несебр. Всего в нескольких минутах ходьбы от пляжа, этот закрытый комплекс предлагает полностью меблированные апартаменты, идеальные как для постоянного проживания, так и для сдачи в аренду. Здесь вы найдете спокойствие, комфорт и удобство – все необходимое в шаговой доступности: от супермаркетов, ресторанов и развлечений до медицинских центров и спортивных объектов.
                div.project-details-text В комплексе есть бассейн, зеленые зоны и детская площадка.
                div.project-details-text Концепция Fort Noks обеспечивает безопасность, комфорт и идеальную среду для семей.
                div.project-details-text Стильные апартаменты, готовые к заселению, доступны с гибким планом платежей, позволяющим начать использовать недвижимость сразу после первого взноса.
                div.project-details-text Nessebar Fort Residence – дом вашей мечты у моря!
                h3.project-details-sub-headline План платежей
                div.project-details-text Стандартные варианты отсрочки платежа:
                div.project-details-text ТОЛЬКО 10% от стоимости оплачиваются при подписании предварительного договора;
                div.project-details-text Второй платеж 15% от стоимости оплачивается через 2 месяца после подписания предварительного договора;
                div.project-details-text Третий платеж 15% от стоимости оплачивается через 4 месяца после подписания предварительного договора;
                div.project-details-text Оставшиеся 60% можно оплатить по плану отсрочки платежей Fort Noks:
                div.project-details-text &nbsp<strong>●</strong> до 1 года отсрочка платежа БЕЗ процентов!
                div.project-details-text &nbsp<strong>●</strong> до 3 лет отсрочка платежа с годовой процентной ставкой 3,5%
                div.project-details-text &nbsp<strong>●</strong> до 5 лет отсрочка платежа с годовой процентной ставкой 6,5%;
                div.project-details-text &nbsp<strong>●</strong> При первом взносе 50% при подписании предварительного договора – скидка 2% от стоимости покупки.
                div.project-details-text &nbsp<strong>●</strong> При полной оплате в течение двух месяцев с даты подписания предварительного договора предоставляется скидка 3%.
                div.project-details-text &nbsp<strong>●</strong> Апартаменты можно использовать или сдавать в аренду после оплаты 10% от стоимости покупки.
                div.project-details-text Подписание нотариального акта происходит после полной оплаты апартаментов.
                h3.project-details-sub-headline О компании Fort Noks Ltd.
                div.project-details-text Историята на Форт Нокс ООД започва през 1995 г. Дружеството е отговорен и надежден партньор. Като една от най-големите строителни и управляващи компании в България, нашата мисия е да се съсредоточим върху задоволяването на нуждите на нашите клиенти, предлагайки широка гама от апартаменти, разположени в крайбрежни ваканционни селища.
                div.project-details-text Нашите апартаменти са разположени на брега на морето. Курортите Елените, Свети Влас, Слънчев бряг, Равда са идеални места за лятна почивка (близо до древния град Несебър, на 35-40 км от летище Бургас, на 90 км от летище Варна, водните паркове в Слънчев бряг, Елените, Равда, Несебър – на няколко минути път с кола). Според потребителите на tripadvisor и booking жилищните комплекси на Форт Нокс са най-добрите на българското черноморско крайбрежие, с най-високи оценки и отлични отзиви на гости.
                div.project-details-text Повечето от ваканционните комплекси са на първа линия, в близост до морето, с контролиран достъп, денонощна охрана и видео наблюдение. Вашата почивка е всичко, за което да мислите – за останалото се грижим ние. Инфраструктурата на комплексите се подобрява всяка година поради постоянния контакт между нас и клиентите ни.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline Удобства
        .row.project-amenities-row.text-end.mx-5.justify-content-start 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/pool-swimming-pool-svgrepo-com.svg' alt='Значок бассейна')
                div.project-amenities-text(dir='rtl') Бассейны
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/hotel-staff-svgrepo-com.svg' alt='Значок работника лобби')
                div.project-amenities-text(dir='rtl') Лобби-услуги
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/beach-umbrella-svgrepo-com.svg' alt='Значок пляжа')
                div.project-amenities-text Пляж     
    
    .container-fluid.project-mid-image-container.project-mid-image-container-nessebar-fort-residence(role="img" aria-labelledby="nessebarFortResidenceMidImageDescription")
        span.visually-hidden(id="nessebarFortResidenceMidImageDescription") Фотографии проекта Nessebar Fort Residence
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-headline-col
                h2.project-map-headline Расположение
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.704319345094927 data-lat=42.70120308009148 data-title='Nessebar Fort Residence') 

    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Доступные объекты недвижимости в проекте
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Доступные объекты недвижимости в проекте
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile 