extends ../base

block head
    title Premier Fort Beach
    meta(name="description" content="Купите меблированную квартиру в Premier Fort Beach – идеальная инвестиция в недвижимость на первой линии моря для всей семьи, с гибкой рассрочкой до 7 лет!")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/ru/project/premier-fort-beach")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/project/premier-fort-beach" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/project/premier-fort-beach" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/project/premier-fort-beach" hreflang="ru")

    meta(property="og:title" content="Premier Fort Beach")
    meta(property="og:description" content="Купите меблированную квартиру в Premier Fort Beach – идеальная инвестиция в недвижимость на первой линии моря для всей семьи, с гибкой рассрочкой до 7 лет!")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744465313268-premier-fort-beach-47.jpg")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../../he/_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="premierFortBeachMainImageDescription")
        span.visually-hidden(id="premierFortBeachMainImageDescription") Изображение зданий проекта Premier Fort Beach
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-premier-fort-beach
                h1.project-main-image-headline.project-main-image-headline-premier-fort-beach Premier Fort Beach          
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline Галерея
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842027-premier-fort-beach-4.webp' alt='Изображение проекта Premier Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842035-premier-fort-beach-6.webp' alt='Изображение проекта Premier Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842095-premier-fort-beach-18.webp' alt='Изображение проекта Premier Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842176-premier-fort-beach-37.webp' alt='Изображение проекта Premier Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842185-premier-fort-beach-41.webp' alt='Изображение проекта Premier Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842197-premier-fort-beach-45.webp' alt='Изображение проекта Premier Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Premier Fort Beach
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454841987-premier-fort-beach-1.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842021-premier-fort-beach-3.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842027-premier-fort-beach-4.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842032-premier-fort-beach-5.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842035-premier-fort-beach-6.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842041-premier-fort-beach-7.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842046-premier-fort-beach-8.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842051-premier-fort-beach-9.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842056-premier-fort-beach-10.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842067-premier-fort-beach-11.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842075-premier-fort-beach-12.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842078-premier-fort-beach-13.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842084-premier-fort-beach-14.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842086-premier-fort-beach-15.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842089-premier-fort-beach-16.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842092-premier-fort-beach-17.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842095-premier-fort-beach-18.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842098-premier-fort-beach-19.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842101-premier-fort-beach-20.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842104-premier-fort-beach-21.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842109-premier-fort-beach-22.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842112-premier-fort-beach-23.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842115-premier-fort-beach-24.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842118-premier-fort-beach-25.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842120-premier-fort-beach-26.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842124-premier-fort-beach-27.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842126-premier-fort-beach-28.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842131-premier-fort-beach-29.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842138-premier-fort-beach-30.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842147-premier-fort-beach-31.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842155-premier-fort-beach-32.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842161-premier-fort-beach-33.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842165-premier-fort-beach-34.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842170-premier-fort-beach-35.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842174-premier-fort-beach-36.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842176-premier-fort-beach-37.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842178-premier-fort-beach-38.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842180-premier-fort-beach-39.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842182-premier-fort-beach-40.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842185-premier-fort-beach-41.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842188-premier-fort-beach-42.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842192-premier-fort-beach-43.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842194-premier-fort-beach-44.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842197-premier-fort-beach-45.webp' alt='Изображение проекта Premier Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842201-premier-fort-beach-building-plan.webp' alt='Изображение проекта Premier Fort Beach') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-premier-fort-beach
                div.project-numbers-text Здания        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-premier-fort-beach
                div.project-numbers-text Этажи        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-premier-fort-beach
                div.project-numbers-text Квартиры
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Premier Fort Beach
            .col-10.project-details-headline-col.p-0.text-start
                div.project-details-text Добро пожаловать в Premier Fort Beach Hotel – ваш идеальный семейный отдых!
                div.project-details-text Откройте для себя идеальное сочетание комфорта и впечатлений в Premier Fort Beach Hotel, восхитительном 4-звездочном рае, созданном специально для семей с детьми. Наш курорт славится своими исключительными предложениями, гарантируя незабываемые впечатления для гостей всех возрастов.
                h3.project-details-sub-headline Размещение для любых нужд
                div.project-details-text Планируете ли вы короткий отдых или более длительное пребывание, Premier Fort Beach Hotel предлагает широкий выбор апартаментов от уютных студий до просторных апартаментов с 3 спальнями. Каждое размещение тщательно спроектировано, чтобы обеспечить вам домашний уют вдали от дома, гарантируя комфорт и удобство на протяжении всего пребывания.
                h3.project-details-sub-headline Рай для семейного отдыха
                div.project-details-text Наш курорт — рай для семей, предлагающий два пресноводных бассейна, отдельный детский бассейн и две захватывающие водные горки. Позвольте малышам исследовать детскую игровую площадку и поучаствовать в нашей фантастической анимационной программе, предлагающей бесконечное веселье и волнение.
                h3.project-details-sub-headline Кулинарные изыски
                div.project-details-text Побалуйте себя кулинарным путешествием в Premier Fort Beach Hotel. От изысканных гастрономических впечатлений до разнообразных ресторанов на курорте, наши разнообразные кулинарные предложения удовлетворят любой вкус. Насладитесь гастрономическим приключением с изысканными блюдами, приготовленными нашими талантливыми поварами.
                h3.project-details-sub-headline Отдых и оздоровление
                div.project-details-text Оставайтесь активными и расслабленными с нашим открытым тренажерным залом, настольным теннисом или волейболом на пляже. Для более спокойного отдыха посетите наш спа-салон и оздоровительный центр, предлагающий массаж, косметические процедуры и многое другое.
                h3.project-details-sub-headline Удобство под рукой
                div.project-details-text Наша круглосуточная стойка регистрации готова помочь вам с информацией о различных экскурсиях, гарантируя, что вы максимально насладитесь своим пребыванием. Исследуйте окрестности или отправляйтесь в захватывающие приключения под руководством наших знающих сотрудников.
                div.project-details-text Premier Fort Beach Hotel — это не просто место назначения; это опыт, призванный создать для вас и ваших близких неизгладимые воспоминания. Забронируйте проживание сейчас и окунитесь в идеальное сочетание семейного веселья, изысканной кухни и релаксации!
                h3.project-details-sub-headline Район и пляж
                div.project-details-text Premier Fort Apart Hotel — это рай, расположенный вдоль нетронутой береговой линии, предлагающий идиллический отдых, где красота местности гармонично сочетается с удобствами роскошного курорта. Расположенный прямо на пляже, этот рай обеспечивает идеальный фон для восхитительного и восстанавливающего отдыха.
                div.project-details-text Это место, где красота пляжа гармонично сочетается с множеством удобств, обещающих незабываемый и расслабляющий отдых каждому гостю.
                h3.project-details-sub-headline Бассейны
                div.project-details-text Курорт может похвастаться множеством удобств и мероприятий, которые удовлетворят разнообразные потребности его гостей. Погрузитесь в освежающие объятия двух кристально чистых пресноводных бассейнов, каждый из которых приглашает вас погреться в тепле солнца, наслаждаясь успокаивающими звуками близлежащих волн. Семьи могут насладиться специально разработанным детским бассейном, гарантируя, что каждый член семьи сможет создать заветные воспоминания в безопасной и приятной обстановке.
                h3.project-details-sub-headline Спа и велнес
                div.project-details-text Побалуйте свои чувства в оздоровительном центре, где спокойствие и релаксация занимают центральное место. Омолодите свое тело и разум с помощью разнообразных процедур, от бодрящего массажа до сеансов ухода в салоне красоты и парикмахерской. Магазины на территории отеля предоставляют гостям удобный путь для покупки сувениров или любых необходимых вещей, которые могут им понадобиться во время пребывания.
                h3.project-details-sub-headline Спорт и развлечения
                div.project-details-text Курорт может похвастаться множеством удобств и мероприятий, которые удовлетворят разнообразные потребности его гостей. Погрузитесь в освежающие объятия двух кристально чистых пресноводных бассейнов, каждый из которых приглашает вас погреться в тепле солнца, наслаждаясь успокаивающими звуками близлежащих волн. Семьи могут насладиться специально разработанным детским бассейном, гарантируя, что каждый член семьи сможет создать заветные воспоминания в безопасной и приятной обстановке.
                h3.project-details-sub-headline Анимационная программа
                div.project-details-text Для самых маленьких гостей ждет яркая детская площадка, наполненная смехом и радостью беззаботной игры. Искатели приключений могут насладиться волнением двух захватывающих водных горок, которые станут волнующим способом охладиться и добавить дополнительную дозу веселья в солнечные дни. Любители фитнеса найдут свое убежище в открытом спортзале, что позволит им оставаться активными, находясь в окружении захватывающих видов на пляж.
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842201-premier-fort-beach-building-plan.webp' alt='Планы застройки Premier Fort Beach')
                div.project-details-text.text-center <i>Планы строительства Premier Fort Beach</i>
                h3.project-details-sub-headline Отличная инвестиция
                div.project-details-text Вы можете приобрести квартиру в лучшем комплексе на болгарском побережье Черного моря прямо у моря. Квартира в Premier Fort станет любимым местом отдыха вашей семьи в Болгарии и идеальной инвестицией для вас. Квартиры от 65 000 до 650 000 евро, от уютных студий до роскошных 3-комнатных апартаментов.
                div.project-details-text Владельцы квартир в комплексе платят следующие ежегодные сборы и налоги:
                div.project-details-text &nbsp<strong>●</strong> Плата за обслуживание и управление составляет 21 евро, включая НДС 20%, за один квадратный метр площади застройки.
                div.project-details-text &nbsp<strong>●</strong> Ежегодный налог в размере 278 евро, включая НДС 20%, за подключение к интернету и телевидению, а также обслуживание карт-ключей доступа.
                div.project-details-text &nbsp<strong>●</strong> Страхование – 50 евро для квартиры-студии, 60 евро для квартиры с 1 спальней, 70 евро для квартиры с 2 спальнями и 85 евро для квартиры с 3 спальнями.
                div.project-details-text &nbsp<strong>●</strong> Плата за обслуживание счетов за коммунальные услуги в размере 30 евро.
                div.project-details-text &nbsp<strong>●</strong> Налог на недвижимость и мусор можно оплатить в нашей компании по тем же ставкам, что и в муниципалитете Несебра.
                div.project-details-text Дополнительные налоги на капитальный ремонт и реконструкцию зданий и сооружений на территории комплекса не взимаются, все включено в цену продажи.
                h3.project-details-sub-headline Свойства проекта
                div.project-details-text Все квартиры полностью меблированы, абсолютно готовы к проживанию и сдаче в аренду в соответствии со стандартами и требованиями туроператоров.
                div.project-details-text Отделочные работы во всех квартирах выполнялись с использованием только высококачественных материалов.
                div.project-details-text Комплекс рассчитан на круглогодичное проживание.
                div.project-details-text Строительство монолитное по современной технологии «сухого» строительства из высококачественных материалов. Кладка стен (в том числе внутренних) выполнена из кирпича или газобетона — экологически чистого материала с отличными техническими характеристиками. Внутренние стены и потолки обшиты гипсокартоном.
                div.project-details-text &nbsp<strong>● Прихожая и кухонный бокс:</strong> Пол – керамическая напольная плитка, стены и потолок – латексная краска.
                div.project-details-text &nbsp<strong>● Ванная комната:</strong> Пол – керамическая плитка, стены – керамическая плитка, подвесной потолок.
                div.project-details-text &nbsp<strong>● Гостиная/спальня:</strong> Пол – ламинированный паркет, стены и потолок – латексная краска.
                div.project-details-text &nbsp<strong>● Терраса:</strong> пол – керамогранит, стены – минеральная штукатурка.
                div.project-details-text В каждой квартире установлен электрический водонагревательный котел, сантехника – унитаз, умывальник, душевая кабина, мебель и аксессуары /полки, зеркало и т.д./.
                div.project-details-text Межкомнатные двери МДФ. В каждой комнате установлен кондиционер (зима-лето). Оконные рамы ПВХ с занавесками. Входные двери – с декоративным покрытием и доступом по карте-ключу. В каждой комнате есть возможность подключения кабельного телевидения и интернета.
                 div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/premier-fort-beach/1744454842208-premier-fort-beach-overview.webp' alt='План застройки проекта Premier Fort Beach')
                div.project-details-text.text-center <i>Вид сверху на пляж Премьер Форт</i>   
                h3.project-details-sub-headline План оплаты
                div.project-details-text <strong>Специальное предложение: сделайте первый взнос до 31 мая 2025 года и воспользуйтесь 24-месячной рассрочкой без дополнительных процентов!</strong>
                div.project-details-text 20% от цены, подлежащей уплате при подписании предварительного договора.
                div.project-details-text Оставшиеся 80% можно оплатить с помощью плана отсрочки платежа Fort Noks:
                div.project-details-text &nbsp<strong>●</strong> рассрочка платежа до одного года БЕЗ процентов.
                div.project-details-text &nbsp<strong>●</strong> Рассрочка платежа до 3 лет с годовой процентной ставкой 3,5%.
                div.project-details-text &nbsp<strong>●</strong> Рассрочка платежа на срок до 5 лет с годовой процентной ставкой 6,5%.
                div.project-details-text &nbsp<strong>●</strong> Рассрочка платежа на срок до 7 лет с годовой процентной ставкой 9,7%.
                div.project-details-text При внесении 50% первоначального взноса при подписании предварительного договора – скидка 3% от стоимости покупки.
                div.project-details-text Квартиру можно использовать /сдавать в аренду/ после оплаты 20% от стоимости покупки.
                div.project-details-text Подписание нотариального акта происходит после полной оплаты квартиры.
                h3.project-details-sub-headline О компании Fort Noks Ltd.
                div.project-details-text История Fort Noks Ltd. началась в 1995 году. На сегодняшний день они являются ответственным и надёжным партнёром, одной из крупнейших строительных и управляющих компаний Болгарии. Их миссия — удовлетворять потребности клиентов, предлагая широкий выбор апартаментов в престижных прибрежных курортных посёлках и городах Болгарии.
                div.project-details-text Здания Fort Noks расположены на первой линии, в таких курортах как Елените, Святой Влас, Солнечный Берег и Равда — идеальных местах для летнего отдыха. Близость к древнему городу Несебр, удобное расположение (35-40 км от аэропорта Бургаса, 90 км от аэропорта Варны), а также наличие аквапарков в Солнечном Береге, Елените, Равде и Несебре обеспечат вам комфортный отдых. Согласно отзывам на TripAdvisor и Booking.com, жилые комплексы Fort Knox — лучшие на болгарском побережье Чёрного моря, с высочайшими рейтингами и превосходными отзывами гостей.
                div.project-details-text Большинство комплексов находятся на первой береговой линии, с контролируемым доступом, круглосуточной охраной и видеонаблюдением. Вам остаётся только наслаждаться отдыхом — обо всём остальном позаботится команда профессионалов. Инфраструктура комплексов постоянно совершенствуется благодаря тесному взаимодействию с клиентами.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline Удобства
        .row.project-amenities-row.text-end.mx-5.justify-content-start 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/pool-swimming-pool-svgrepo-com.svg' alt='Значок бассейна')
                div.project-amenities-text(dir='rtl') Бассейны
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/dumbbell-project-icon.svg' alt='Значок гантели')
                div.project-amenities-text Спортзал
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/massage-spa-svgrepo-com.svg' alt='Значок спа')
                div.project-amenities-text Спа
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/hotel-staff-svgrepo-com.svg' alt='Значок работника лобби')
                div.project-amenities-text(dir='rtl') Лобби-услуги
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/water-slide-svgrepo-com.svg' alt='Значок водной горки')
                div.project-amenities-text Водные горки
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/beach-umbrella-svgrepo-com.svg' alt='Значок пляжа')
                div.project-amenities-text Пляж     
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/football-project-icon.svg' alt='Значок футбола')
                div.project-amenities-text Спортивные площадки  
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/shopping-project-icon.svg' alt='Значок подноса с едой')
                div.project-amenities-text Магазины     
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/restrurant-project-icon.svg' alt='Значок сумки для покупок')
                div.project-amenities-text Рестораны     
    
    .container-fluid.project-mid-image-container.project-mid-image-container-premier-fort-beach(role="img" aria-labelledby="premierFortBeachMidImageDescription")
        span.visually-hidden(id="premierFortBeachMidImageDescription") Фотографии проекта Premier Fort Beach
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-headline-col
                h2.project-map-headline Расположение
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.743055949883153 data-lat=42.70961378974245 data-title='Premier Fort Beach') 

    .container-fluid.project-video-container
        .row.asset-video-row.mx-3.justify-content-center 
            .col-12.col-md-10.asset-video-col.text-center(role="region" aria-labelledby="assetVideoDescription")
                iframe(src='https://www.youtube.com/embed/ATVeM5n9vao?si=XNx5xDvVpeTFuhEu' frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).asset-video                    
            span.visually-hidden(id="assetVideoDescription") Видео проекта Premier Fort Beach

    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Доступные объекты недвижимости в проекте
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Доступные объекты недвижимости в проекте
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile 