extends ../base

block head
    title Prestige Fort Beach
    meta(name="description" content="Купите квартиру у моря в комплексе Prestige Fort Beach в Солнечном Береге. Меблированные апартаменты с видом на море, отличная инфраструктура и высокое качество строительства – для жизни или инвестиций!")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/ru/project/prestige-fort-beach")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/project/prestige-fort-beach" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/project/prestige-fort-beach" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.com/ru/project/prestige-fort-beach" hreflang="ru")

    meta(property="og:title" content="Prestige Fort Beach")
    meta(property="og:description" content="Купите квартиру у моря в комплексе Prestige Fort Beach в Солнечном Береге. Меблированные апартаменты с видом на море, отличная инфраструктура и высокое качество строительства – для жизни или инвестиций!")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745788-prestige-fort-beach-3.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../../he/_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="prestigeFortBeachMainImageDescription")
        span.visually-hidden(id="prestigeFortBeachMainImageDescription") Изображение зданий проекта Prestige Fort Beach
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-prestige-fort-beach
                h1.project-main-image-headline.project-main-image-headline-prestige-fort-beach Prestige Fort Beach          
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline Галерея
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745793-prestige-fort-beach-4.webp' alt='Изображение проекта Prestige Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745857-prestige-fort-beach-17.webp' alt='Изображение проекта Prestige Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745884-prestige-fort-beach-24.webp' alt='Изображение проекта Prestige Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745959-prestige-fort-beach-42.webp' alt='Изображение проекта Prestige Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745959-prestige-fort-beach-43.webp' alt='Изображение проекта Prestige Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745968-prestige-fort-beach-45.webp' alt='Изображение проекта Prestige Fort Beach' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Prestige Fort Beach
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745752-prestige-fort-beach-1.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745757-prestige-fort-beach-2.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745793-prestige-fort-beach-4.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745799-prestige-fort-beach-5.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745806-prestige-fort-beach-6.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745811-prestige-fort-beach-7.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745815-prestige-fort-beach-8.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745822-prestige-fort-beach-9.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745826-prestige-fort-beach-10.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745832-prestige-fort-beach-11.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745839-prestige-fort-beach-12.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745843-prestige-fort-beach-13.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745847-prestige-fort-beach-14.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745850-prestige-fort-beach-15.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745854-prestige-fort-beach-16.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745857-prestige-fort-beach-17.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745860-prestige-fort-beach-18.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745863-prestige-fort-beach-19.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745865-prestige-fort-beach-20.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745870-prestige-fort-beach-21.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745873-prestige-fort-beach-22.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745876-prestige-fort-beach-23.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745884-prestige-fort-beach-24.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745890-prestige-fort-beach-25.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745896-prestige-fort-beach-26.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745899-prestige-fort-beach-27.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745902-prestige-fort-beach-28.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745906-prestige-fort-beach-29.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745909-prestige-fort-beach-30.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745913-prestige-fort-beach-31.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745920-prestige-fort-beach-32.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745924-prestige-fort-beach-33.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745929-prestige-fort-beach-34.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745933-prestige-fort-beach-35.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745936-prestige-fort-beach-36.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745940-prestige-fort-beach-37.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745942-prestige-fort-beach-38.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745949-prestige-fort-beach-39.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745954-prestige-fort-beach-40.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745957-prestige-fort-beach-41.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745959-prestige-fort-beach-42.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745959-prestige-fort-beach-43.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745965-prestige-fort-beach-44.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745968-prestige-fort-beach-45.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745971-prestige-fort-beach-46.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745974-prestige-fort-beach-47.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745976-prestige-fort-beach-48.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745979-prestige-fort-beach-49.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745982-prestige-fort-beach-50.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745985-prestige-fort-beach-51.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745988-prestige-fort-beach-52.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745990-prestige-fort-beach-53.webp' alt='Изображение проекта Prestige Fort Beach') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745991-prestige-fort-beach-building-plan.webp' alt='Изображение проекта Prestige Fort Beach') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-prestige-fort-beach
                div.project-numbers-text Здания        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-prestige-fort-beach
                div.project-numbers-text Этажи        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-prestige-fort-beach
                div.project-numbers-text Квартиры
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Prestige Fort Beach
            .col-10.project-details-headline-col.p-0.text-start
                div.project-details-text Добро пожаловать в Prestige Fort Beach – ваш идеальный прибрежный отдых!
                div.project-details-text Prestige Fort Beach – это уникальный проект на первой линии от Fort Noks Ltd., крупнейшего застройщика в районе Солнечного Берега. Расположенный в северной части Солнечного Берега, рядом с городом Святой Влас, этот эксклюзивный комплекс предлагает великолепный вид на море.
                h3.project-details-sub-headline Премиальное расположение на берегу моря
                div.project-details-text Расположенный на нетронутом побережье, Prestige Fort Beach сочетает в себе выдающийся архитектурный дизайн, качественное строительство и уникальное расположение на первой линии. Будь то инвестиция или второй дом у моря, этот комплекс – идеальный выбор.
                h3.project-details-sub-headline Апартаменты на любой вкус
                div.project-details-text Комплекс предлагает полностью готовые апартаменты с 1, 2 и 3 спальнями по цене от 39 000 до 300 000 евро. Каждый апартамент оформлен в стильном дизайне, полностью меблирован и имеет потрясающий вид на море, готов к проживанию или сдаче в аренду.
                h3.project-details-sub-headline Исключительные удобства
                div.project-details-text Prestige Fort Beach предлагает широкий спектр удобств для вашего комфорта:
                div.project-details-text  &nbsp<strong>●</strong> Бассейн длиной 30 метров в просторном ухоженном дворе
                div.project-details-text  &nbsp<strong>●</strong> Детский бассейн и игровая площадка
                div.project-details-text  &nbsp<strong>●</strong> Фитнес-центр и массажный кабинет
                div.project-details-text  &nbsp<strong>●</strong> Уютный ресторан с летней террасой
                div.project-details-text  &nbsp<strong>●</strong> Теннисный корт/футбольное поле
                div.project-details-text  &nbsp<strong>●</strong> Супермаркет и бесплатная парковка для владельцев
                div.project-details-text  &nbsp<strong>●</strong> Услуги прачечной/химчистки
                div.project-details-text  &nbsp<strong>●</strong> Круглогодичная охрана и доступ к интернету на всей территории комплекса
                h3.project-details-sub-headline Отдых и удобства
                div.project-details-text Комплекс спроектирован для комфортного проживания круглый год. На ресепшене доступны дополнительные платные услуги, включая уборку апартаментов, ремонт, оплату коммунальных счетов, аренду автомобиля, доступ к фитнес-клубу, теннисному корту, сауне, салону красоты и медицинским услугам. Также доступно подключение к кабельному телевидению и телефону.
                h3.project-details-sub-headline Обслуживание и управление
                div.project-details-text Владельцы платят ежегодный сбор за обслуживание в размере 15,50 евро (включая 20% НДС) за квадратный метр, который включает:
                div.project-details-text  &nbsp<strong>●</strong> Обслуживание территории, зданий, инфраструктуры и бассейнов
                div.project-details-text  &nbsp<strong>●</strong> Круглогодичная охрана и уход за зелеными зонами
                div.project-details-text  &nbsp<strong>●</strong> Электрическое освещение общих зон
                div.project-details-text  &nbsp<strong>●</strong> Использование бассейнов
                div.project-details-text  &nbsp<strong>●</strong> Уникальная программа «Fort NOKS Guarantee», предоставляющая бессрочную гарантию на большинство элементов отделки и материалов
                h3.project-details-sub-headline Высококачественная отделка
                div.project-details-text Все апартаменты имеют высококачественную отделку, включенную в стоимость:
                div.project-details-text  &nbsp<strong>● Прихожая:</strong> Пол – терракота, стены и потолок – латексная краска
                div.project-details-text  &nbsp<strong>● Ванная комната:</strong> Пол – терракота, стены – плитка до потолка, подвесной потолок, сантехника (унитаз, смеситель, душевая кабина), аксессуары и шкафы
                div.project-details-text  &nbsp<strong>● Гостиная/спальни:</strong> Пол – ламинированный паркет, стены и потолок – латексная краска, окна ПВХ с внутренними жалюзи
                div.project-details-text  &nbsp<strong>● Кухонный уголок:</strong> Пол – терракота, стены и потолок – латексная краска
                div.project-details-text В каждом апартаменте установлены кондиционеры зима-лето в каждой комнате, внутренние двери из МДФ, входные двери из металла с декоративным покрытием и возможность подключения цифрового ТВ, интернета и телефона.
                h3.project-details-sub-headline Качество строительства
                div.project-details-text Комплекс построен из высококачественных материалов с использованием монолитной конструкции, влагостойкой изоляции BAUMIT толщиной 5 см, минеральной штукатурки на внешних стенах и внутренних стен из кирпича или Ytong. Это обеспечивает долговечность и комфорт для круглогодичного проживания.
                h3.project-details-sub-headline Простой процесс покупки
                div.project-details-text Процесс покупки апартаментов прост:
                div.project-details-text  &nbsp<strong>●</strong> Выберите апартамент на сайте или лично с помощью наших специалистов
                div.project-details-text  &nbsp<strong>●</strong> Забронируйте его по email, телефону или в офисе
                div.project-details-text  &nbsp<strong>●</strong> Оплатите резервный взнос 1000 евро в течение недели, чтобы закрепить апартамент на месяц
                div.project-details-text  &nbsp<strong>●</strong> Подпишите предварительный договор с выбранным планом оплаты
                div.project-details-text  &nbsp<strong>●</strong> Получите право пользования или сдачи в аренду после первого платежа
                h3.project-details-sub-headline Ваши инвестиции на побережье
                div.project-details-text Prestige Fort Beach – это идеальная возможность приобрести недвижимость на болгарском побережье. Будь то для семейного отдыха или выгодной инвестиции, апартаменты в Солнечном Береге от Fort Noks Ltd. – ваш лучший выбор!
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/prestige-fort-beach/1744563745991-prestige-fort-beach-building-plan.webp' alt='План застройки проекта Prestige Fort Beach')
                div.project-details-text.text-center <i>Вид сверху на пляж Премьер Форт</i>   
                h3.project-details-sub-headline План платежей
                div.project-details-text <strong>Специальное предложение: Совершите первый платеж до 31 мая 2025 года и воспользуйтесь рассрочкой на 24 месяца без дополнительной процентной ставки!</strong>
                div.project-details-text 20% от стоимости оплачиваются при подписании предварительного договора.
                div.project-details-text Оставшиеся 80% можно оплатить по плану отсрочки платежей Fort Noks:
                div.project-details-text  &nbsp<strong>●</strong> Отсрочка платежа до 1 года БЕЗ процентов.
                div.project-details-text  &nbsp<strong>●</strong> Отсрочка платежа до 3 лет с годовой процентной ставкой 3,5%.
                div.project-details-text  &nbsp<strong>●</strong> Отсрочка платежа до 5 лет с годовой процентной ставкой 6,5%.
                div.project-details-text  &nbsp<strong>●</strong> Отсрочка платежа до 7 лет с годовой процентной ставкой 9,7%.
                div.project-details-text При первом взносе 50% при подписании предварительного договора – скидка 3% от стоимости покупки.
                div.project-details-text Апартаменты можно использовать или сдавать в аренду после оплаты 20% от стоимости покупки.
                div.project-details-text Подписание нотариального акта происходит после полной оплаты апартаментов.
                h3.project-details-sub-headline О компании Fort Noks Ltd.
                div.project-details-text История Fort Noks Ltd. началась в 1995 году. На сегодняшний день они являются ответственным и надёжным партнёром, одной из крупнейших строительных и управляющих компаний Болгарии. Их миссия — удовлетворять потребности клиентов, предлагая широкий выбор апартаментов в престижных прибрежных курортных посёлках и городах Болгарии.
                div.project-details-text Здания Fort Noks расположены на первой линии, в таких курортах как Елените, Святой Влас, Солнечный Берег и Равда — идеальных местах для летнего отдыха. Близость к древнему городу Несебр, удобное расположение (35-40 км от аэропорта Бургаса, 90 км от аэропорта Варны), а также наличие аквапарков в Солнечном Береге, Елените, Равде и Несебре обеспечат вам комфортный отдых. Согласно отзывам на TripAdvisor и Booking.com, жилые комплексы Fort Knox — лучшие на болгарском побережье Чёрного моря, с высочайшими рейтингами и превосходными отзывами гостей.
                div.project-details-text Большинство комплексов находятся на первой береговой линии, с контролируемым доступом, круглосуточной охраной и видеонаблюдением. Вам остаётся только наслаждаться отдыхом — обо всём остальном позаботится команда профессионалов. Инфраструктура комплексов постоянно совершенствуется благодаря тесному взаимодействию с клиентами.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline Удобства
        .row.project-amenities-row.text-end.mx-5.justify-content-start 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/pool-swimming-pool-svgrepo-com.svg' alt='Значок бассейна')
                div.project-amenities-text(dir='rtl') Бассейны
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/dumbbell-project-icon.svg' alt='Значок гантели')
                div.project-amenities-text Спортзал
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/massage-spa-svgrepo-com.svg' alt='Значок спа')
                div.project-amenities-text Спа
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/hotel-staff-svgrepo-com.svg' alt='Значок работника лобби')
                div.project-amenities-text(dir='rtl') Лобби-услуги
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/water-slide-svgrepo-com.svg' alt='Значок водной горки')
                div.project-amenities-text Водные горки
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/beach-umbrella-svgrepo-com.svg' alt='Значок пляжа')
                div.project-amenities-text Пляж     
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/football-project-icon.svg' alt='Значок футбола')
                div.project-amenities-text Спортивные площадки  
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/shopping-project-icon.svg' alt='Значок подноса с едой')
                div.project-amenities-text Магазины     
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/restrurant-project-icon.svg' alt='Значок сумки для покупок')
                div.project-amenities-text Рестораны     
    
    .container-fluid.project-mid-image-container.project-mid-image-container-prestige-fort-beach(role="img" aria-labelledby="prestigeFortBeachMidImageDescription")
        span.visually-hidden(id="prestigeFortBeachMidImageDescription") Фотографии проекта Prestige Fort Beach
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-headline-col
                h2.project-map-headline Расположение
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.742140218197175 data-lat=42.70947830722319 data-title='Prestige Fort Beach') 

    .container-fluid.project-video-container
        .row.asset-video-row.mx-3.justify-content-center 
            .col-12.col-md-10.asset-video-col.text-center(role="region" aria-labelledby="assetVideoDescription")
                iframe(src='https://www.youtube.com/embed/RqC0Lzz2uh0?si=JDtX6C7oDw8ZrJeX' frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).asset-video                    
            span.visually-hidden(id="assetVideoDescription") Видео проекта Prestige Fort Beach

    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Доступные объекты недвижимости в проекте
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Доступные объекты недвижимости в проекте
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile 