extends ../base

block head
    title Sinemorets Villas
    meta(name="description" content="Виллы Синеморец: роскошные коттеджи у моря в живописной природе. 10 домов в болгарском стиле с бассейнами, уединением и инвестиционной выгодой в заповеднике Странджа.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.co.il/ru/project/sinemorets-villas")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/en/project/sinemorets-villas" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/project/sinemorets-villas" hreflang="he")
    link(rel="alternate" href="https://www.dirabulgarit.co.il/ru/project/sinemorets-villas" hreflang="ru")

    meta(property="og:title" content="Sinemorets Villas")
    meta(property="og:description" content="Виллы Синеморец: роскошные коттеджи у моря в живописной природе. 10 домов в болгарском стиле с бассейнами, уединением и инвестиционной выгодой в заповеднике Странджа.")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868381-sinemorets-villas-1.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../../he/_headLinksScripts

block content 

    .container-fluid.project-main-image-container(role="img" aria-labelledby="sinemoretsVillasMainImageDescription")
        span.visually-hidden(id="sinemoretsVillasMainImageDescription") Изображение зданий проекта Sinemorets Villas
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-sinemorets-villas
                h1.project-main-image-headline.project-main-image-headline-sinemorets-villas Sinemorets Villas          
    
    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                h2.project-gallery-headline Галерея
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868443-sinemorets-villas-12.webp' alt='Изображение проекта Sinemorets Villas' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868414-sinemorets-villas-5.webp' alt='Изображение проекта Sinemorets Villas' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868454-sinemorets-villas-14.webp' alt='Изображение проекта Sinemorets Villas' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868485-sinemorets-villas-20.webp' alt='Изображение проекта Sinemorets Villas' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868577-sinemorets-villas-53.webp' alt='Изображение проекта Sinemorets Villas' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868491-sinemorets-villas-22.webp' alt='Изображение проекта Sinemorets Villas' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Sinemorets Villas
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868385-sinemorets-villas-2.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868406-sinemorets-villas-3.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868410-sinemorets-villas-4.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868414-sinemorets-villas-5.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868417-sinemorets-villas-6.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868422-sinemorets-villas-7.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868425-sinemorets-villas-8.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868429-sinemorets-villas-9.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868433-sinemorets-villas-10.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868438-sinemorets-villas-11.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868443-sinemorets-villas-12.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868448-sinemorets-villas-13.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868454-sinemorets-villas-14.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868459-sinemorets-villas-15.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868466-sinemorets-villas-16.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868474-sinemorets-villas-17.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868478-sinemorets-villas-18.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868482-sinemorets-villas-19.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868485-sinemorets-villas-20.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868487-sinemorets-villas-21.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868491-sinemorets-villas-22.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868495-sinemorets-villas-23.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868498-sinemorets-villas-24.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868504-sinemorets-villas-25.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868507-sinemorets-villas-26.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868510-sinemorets-villas-27.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868513-sinemorets-villas-28.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868516-sinemorets-villas-29.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868518-sinemorets-villas-30.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868520-sinemorets-villas-31.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868523-sinemorets-villas-33.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868526-sinemorets-villas-34.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868528-sinemorets-villas-35.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868535-sinemorets-villas-36.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868539-sinemorets-villas-37.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868542-sinemorets-villas-38.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868545-sinemorets-villas-39.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868547-sinemorets-villas-40.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868550-sinemorets-villas-41.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868551-sinemorets-villas-42.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868553-sinemorets-villas-43.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868556-sinemorets-villas-44.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868558-sinemorets-villas-45.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868560-sinemorets-villas-46.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868562-sinemorets-villas-47.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868564-sinemorets-villas-48.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868566-sinemorets-villas-49.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868569-sinemorets-villas-50.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868572-sinemorets-villas-51.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868575-sinemorets-villas-52.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868577-sinemorets-villas-53.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868580-sinemorets-villas-54.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868582-sinemorets-villas-apartment-plan-1.webp' alt='Изображение проекта Sinemorets Villas')
                    .carousel-item.asset-gallery-carousel-item.align-content-center
                        img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868582-sinemorets-villas-apartment-plan-2.webp' alt='Изображение проекта Sinemorets Villas')
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-sinemorets-villas 
                div.project-numbers-text Дома        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-sinemorets-villas 
                div.project-numbers-text Этажи          
    
    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Sinemorets Villas
            .col-10.project-details-headline-col.p-0.text-start
                div.project-details-text Добро пожаловать в коттеджный поселок Синеморец — идеальное место для тех, кто ищет роскошный отдых у моря в живописной обстановке. Наш поселок находится в красивом месте, окруженном морем и горами, и предлагает уникальный опыт релакса на природе.
                div.project-details-text "Синеморец Вилладж" — это закрытый комплекс из 10 домов, образующих гармоничный ансамбль стильных зданий в традиционном болгарском стиле. Каждый дом имеет площадь 200 квадратных метров, что обеспечивает достаточно пространства для семьи и друзей, чтобы наслаждаться своим уголком рая на побережье Черного моря. Закрытая территория комплекса гарантирует приватность и безопасность жителей.
                div.project-details-text Коттеджный поселок расположен в престижном районе Синеморец, всего в нескольких минутах ходьбы от пляжа. Вы сможете наслаждаться множеством пляжных развлечений, а также попробовать местную кухню в близлежащих ресторанах и кафе. Кроме того, вам будут доступны разнообразные активности, такие как пешие прогулки и конные прогулки по лесу и побережью, аренда лодок на реке Велека, рафтинг в морской экскурсии, рыбалка, виндсерфинг и многое другое.
                div.project-details-text Круглогодичное обслуживание комплекса, вашего участка, дома и бассейна организовано управляющей компанией, что гарантирует вашу безопасность и удобство. Красивый забор проходит по всему периметру, а в поселке есть только один вход и один выход, что обеспечивает дополнительную безопасность.
                div.project-details-text Не упустите шанс жить в роскоши и гармонии с природой в Синеморец Вилладж — идеальное решение для тех, кто ищет место для жизни или отдыха в красивом и спокойном месте у моря.
                h3.project-details-sub-headline О наших домах
                div.project-details-text Наши коттеджи — это идеальное сочетание современных удобств и уютной атмосферы загородного дома. Наша компания предлагает вам купить собственный коттедж в одном из самых красивых мест на побережье Черного моря.
                div.project-details-text Каждый предлагаемый нами коттедж спроектирован в современном стиле и оснащен всем необходимым для комфортного проживания. Большие окна в комнатах обеспечивают прекрасный вид на море и горы, а балконы позволяют наслаждаться свежим морским воздухом. Мы использовали только лучшие и экологически чистые материалы при строительстве каждого дома, чтобы гарантировать надежность и долговечность наших коттеджей.
                div.project-details-text Каждый дом имеет собственный участок земли площадью 400 м², огороженный живой изгородью, засеянный газоном, цветами и деревьями. На каждом участке есть парковочное место для автомобиля и бассейн (опционально). Кроме того, у каждого дома есть собственная терраса, где можно наслаждаться утренним кофе или ужином на закате.
                div.project-details-text На первом этаже расположены гостиная с камином, кухня, спальня, кладовая с бойлером и стиральной машиной, туалет и душевая, крытая терраса. На втором этаже находятся 2 спальни, кабинет (гардеробная), 2 туалетные комнаты с душевой, открытая терраса, 2 балкона, холл, доступ к нежилому чердаку для хранения. Каждый дом имеет собственный участок с бассейном (отдельная опция), крытой и открытой террасой, где можно отдыхать с семьей и друзьями.
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/sinemorets-villas/1748606868582-sinemorets-villas-project-plan.webp' alt='Моделирование планировки проекта Виллы Синеморец')
                div.project-details-text.text-center <i>Планировка домов проекта Виллы Синеморец</i>
                h3.project-details-sub-headline О природе вокруг поселка
                div.project-details-text Синеморец — уникальное место на южном побережье Черного моря, где величественная природа сочетается с удобствами современного городского образа жизни.
                div.project-details-text Синеморец расположен в месте слияния двух рек — Велека и Резовска, в самом сердце природного заповедника Странджа. Этот район богат не только красивыми видами, но и уникальными видами растений и животных. Здесь обитают дикие лошади, рыси, редкие птицы и многие другие животные, которых вы не встретите больше нигде.
                div.project-details-text Пляж Велека, расположенный недалеко от поселка, считается одним из самых красивых мест на всем побережье Черного моря. Это не просто песчаный пляж, а уникальный уголок природы, где сочетаются зеленые леса, горные склоны и скалы, темные леса и чистейшая морская вода Черного моря с одной стороны косы и пресная вода реки Велека с другой. Награда Голубой флаг только подчеркивает его уникальность и экологичность.
                div.project-details-text Сам поселок Синеморец славится своей уютной атмосферой, гостеприимством местных жителей и множеством кафе и ресторанов, где можно попробовать местные блюда и напитки. Кроме того, здесь всегда много развлечений на любой вкус, от спортивных мероприятий до культурных событий и концертов.
                div.project-details-text В Синеморец есть все необходимое для комфортного и незабываемого отдыха — красивая природа, экологически чистый пляж, удобное жилье и множество развлечений. Приезжайте и убедитесь сами — здесь найдется место для каждого!
                h3.project-details-sub-headline О группе Enki
                div.project-details-text Группа Enki успешно реализует строительные проекты, создавая высококачественную недвижимость. Для ускорения выполнения и повышения эффективности нам требуется дополнительный оборотный капитал. Мы приглашаем инвесторов стать частью нашего успеха, предлагая выгодные условия инвестирования.
                div.project-details-text Покупка недвижимости в наших проектах — это не просто приобретение жилья, но и выгодная инвестиция, обеспечивающая стабильный доход, высокую ликвидность и полное удовлетворение ваших потребностей.
                div.project-details-text Мы тщательно изучаем текущие тренды и предпочтения покупателей, чтобы создавать проекты, полностью соответствующие их ожиданиям.
                div.project-details-text Каждая деталь наших объектов, от архитектуры до планировок, разработана с учетом комфорта и функциональности для будущих владельцев.

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                h2.project-amenities-headline Удобства
        .row.project-amenities-row.text-end.mx-5.justify-content-start 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/pool-swimming-pool-svgrepo-com.svg' alt='Значок бассейна')
                div.project-amenities-text(dir='rtl') Бассейн
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/beach-umbrella-svgrepo-com.svg' alt='Значок пляжа')
                div.project-amenities-text Пляж
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/fence-yard-svgrepo-com.svg' alt='Значок забора')
                div.project-amenities-text Закрытый комплекс 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/solar-energy-renewable-energy-svgrepo-com.svg' alt='Значок солнечной энергии')
                div.project-amenities-text Солнечные панели
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/sauna-svgrepo-com.svg' alt='Значок сауны')
                div.project-amenities-text Сауна
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/parking-project-icon.svg' alt='Значок парковки')
                div.project-amenities-text Стоянка     
    
    .container-fluid.project-mid-image-container.project-mid-image-container-sinemorets-villas(role="img" aria-labelledby="sinemoretsVillasMidImageDescription")
        span.visually-hidden(id="sinemoretsVillasMidImageDescription") Фотографии проекта Sinemorets Villas
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-2.justify-content-center 
            .col-12.project-map-headline-col
                h2.project-map-headline Расположение
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.752190 data-lat=42.710146 data-title='Sinemorets Villas') 

    .container-fluid.project-video-container
        .row.asset-video-row.mx-3.justify-content-center 
            .col-12.col-md-10.asset-video-col.text-center(role="region" aria-labelledby="assetVideoDescription")
                iframe(src='https://www.youtube.com/embed/LlL_YH_uwlY?si=a0ji69owUO_FhqwJ' frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).asset-video                    
            span.visually-hidden(id="assetVideoDescription") Видеоролик, демонстрирующий проект «Виллы Синеморец»           

    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Доступные объекты недвижимости в проекте
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                h2.project-assets-headline Доступные объекты недвижимости в проекте
            each asset in projectAssets
                include ../_mobileAssetsCards 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile 