extends ../base

block content 

    .container-fluid.project-main-image-container
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-atlantis-aria-2 
                h1.project-main-image-headline.project-main-image-headline-atlantis-aria-3 Atlantis Aria 2       

    .container-fluid.project-gallery-container
        .row.project-gallery-headline-row.text-center.mx-2
            .col-12.project-gallery-headline-col.p-0    
                div.project-gallery-headline גלריה
        .row.project-gallery-row.text-center.mx-2
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716478681893-Two-bedroom-apartment-C-808-in-Atlantis-Aria-2-1.jpg' alt='Atlantis Aria 2 image' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716478681923-Two-bedroom-apartment-C-808-in-Atlantis-Aria-2-3.jpg' alt='Atlantis Aria 2 image' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716486892307-Two-bedroom-apartment-B-807-in-Atlantis-Aria-2-1.jpg' alt='Atlantis Aria 2 image' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal")  
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716486892317-Two-bedroom-apartment-B-807-in-Atlantis-Aria-2-2.jpg' alt='Atlantis Aria 2 image' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716487369183-Two-bedroom-apartment-C-208-in-Atlantis-Aria-2-1.jpg' alt='Atlantis Aria 2 image' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 
            .col-12.col-sm-6.col-md-4.project-gallery-col 
                img.project-gallery-image(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716487369191-Two-bedroom-apartment-C-208-in-Atlantis-Aria-2-2.jpg' alt='Atlantis Aria 2 image' loading="lazy" data-bs-toggle="modal" data-bs-target="#projectModal") 

    #projectModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='projectModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text Atlantis Aria 3 
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #projectCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                        .carousel-item.asset-gallery-carousel-item.align-content-center.active
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716478681893-Two-bedroom-apartment-C-808-in-Atlantis-Aria-2-1.jpg' alt='Atlantis Aria 2') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716478681923-Two-bedroom-apartment-C-808-in-Atlantis-Aria-2-3.jpg' alt='Atlantis Aria 2') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716486892307-Two-bedroom-apartment-B-807-in-Atlantis-Aria-2-1.jpg' alt='Atlantis Aria 2') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716486892317-Two-bedroom-apartment-B-807-in-Atlantis-Aria-2-2.jpg' alt='Atlantis Aria 2') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716487369183-Two-bedroom-apartment-C-208-in-Atlantis-Aria-2-1.jpg' alt='Atlantis Aria 2') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716487369191-Two-bedroom-apartment-C-208-in-Atlantis-Aria-2-2.jpg' alt='Atlantis Aria 2') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716486892307-Two-bedroom-apartment-B-807-in-Atlantis-Aria-2-1.jpg' alt='Atlantis Aria 2') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716487726073-One-bedroom-apartment-in-Atlantis-Aria-2-4.jpg' alt='Atlantis Aria 2') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716488197715-Two-bedroom-apartment-in-Atlantis-Aria-2-2.jpg' alt='Atlantis Aria 2') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716717336269-a3_10-scaled.jpg' alt='Atlantis Aria 2') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716717336272-a3_13-scaled.jpg' alt='Atlantis Aria 2') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716717336296-balcony_view_post_4k-scaled.jpg' alt='Atlantis Aria 2') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716717336302-bedroom_1_4k-scaled.jpg' alt='Atlantis Aria 2') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716717336306-living_room_a_night_post_4k-scaled.jpg' alt='Atlantis Aria 2') 
                        .carousel-item.asset-gallery-carousel-item.align-content-center
                            img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-2-images/1716717336309-living_room_a_post_4k-scaled.jpg' alt='Atlantis Aria 2') 
                    button.carousel-control-prev(type='button' data-bs-target='#projectCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#projectCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5.flex-md-row-reverse
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-buildings-number.project-numbers-buildings-number-atlantis-aria-3           
                div.project-numbers-text בניינים        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-floors-number.project-numbers-floors-number-atlantis-aria-3           
                div.project-numbers-text קומות        
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-apartments-number.project-numbers-apartments-number-atlantis-aria-2          
                div.project-numbers-text דירות
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-parking-spots-number.project-numbers-parking-spots-number-atlantis-aria-2          
                div.project-numbers-text חניות
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-start-number אוגוסט 2023         
                div.project-numbers-text תחילת בנייה
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center   
                div.project-numbers-end-number פברואר 2026
                div.project-numbers-text סיום בנייה

    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                div.project-details-headline Atlantis Aria 2
            .col-10.project-details-headline-col.p-0.text-end
                div.project-details-text(dir='rtl') אנו שמחים להציג בפניכם את הפרויקט החדש של קבוצת אטלאנטיס בולגריה: <strong>Atlantis Aria 2</strong>. הפרויקט שוכן בלב רובע הוריזונט החדש ומבטיח שילוב הרמוני של נוחות עירונית וחיים שלווים.     
                div.project-details-text(dir='rtl') מתחם המגורים יורכב משלושה מבנים עצמאיים שביניהם חללי גינה משותפים.    
                div.project-details-text(dir='rtl') הבניינים יהיו בני 9 קומות, והם יכילו 2 מרכזים מסחריים, 70 דירות עם חדר שינה אחד, 73 דירות עם שני חדרי שינה ו-16 דירות שלושה חדרים. במתחם המגורים תהיה חניה תת קרקעית בנפח של 105 רכבים וחנית על קרקע ל-69 רכבים. כמו כן, לכל דירה יהיה מקום חניה פרטי.         
                div.project-details-text(dir='rtl') בקומת הקרקע יהיו שטחי מסחר ומשרדים וכמו כן דירות גן עם חצרות רחבות.     
                div.project-details-text(dir='rtl') בכל המבנים יהיו אזורים משותפים בסגנון מודרני ויוקרתי וכמו כן מעליות. הם יצוידו במערכות בקרת גישה לוידאו דרך כתובת IP מהדור האחרון עם סוללות המאפשרות למערכת לפעול עד 24 שעות לאחר הפסקת חשמל. מערכת ההשקיה של השטחים המשותפים הירוקים תהיה גם מערכת חכמה ואוטומטית במתקשרת דרך כתובת IP מהדור האחרון, עם תחנה מטאורולוגית משלה לניטור מזג האוויר.   
                div.project-details-sub-headline(dir='rtl') מיקום
                div.project-details-text(dir='rtl') Aria 2 ממוקם באזור המגורים החדש של העיר בורגס, בסמוך לתחנת הרכבת "Izgrev", ומהווה חלק מהקונספט הכולל של בניית שכונת מגורים מודרנית חדשה עם ארכיטקטורה בת קיימא יפה וסביבת מגורים שלווה.
                div.project-details-text(dir='rtl') המתחם ממוקם במרחק הליכה מהיפרמרקטים מסחריים גדולים כמו מטרו, לידל וקאופלנד, קניון בורגס פלאזה, חנויות רשת לציוד מוצרי ספורט וכו', מרכז רפואי, אולם הספורט הרב תכליתי החדש "ארנה בורגס" ומרכזי כושר גופני.
                div.project-details-sub-headline(dir='rtl') רובע הוריזונט
                div.project-details-text(dir='rtl') פרויקט Aria 2 הולך להיבנות בליבו של רובע הוריזונט - שכונת המגורים החדשה ביותר בבורגס ובשנים הקרובות האזור הולך להיות מפותח בצורה שלא נראתה כמוה בעיר.
                div.project-details-text(dir='rtl') כחלק מתכנון הרובע כשילוב של בנייני מגורים מודרניים וכמו כן שמורה על הטבע, הולך להיבנות פראק רחב וירוק בגודל של כ50 דונמים.
                div.project-details-text(dir='rtl') הרובע מתוכנן להיות מאוכלס בעיקרו על ידי משפחות צעירות ולכן יהיה ניתן למצוא בו גני ילדים, פארקים עם מתקני שעשועים וכמו כן אזורים יעודיים לפיקניקים ועל האש.
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/atlantis-aria-3-images/1718892982826-atlantis-aria-3-horizont.webp' alt='Horizont neighborhood in burgas')
                div.project-details-text.text-center(dir='rtl') <i>רובע הוריזונט</i>
                div.project-details-sub-headline(dir='rtl') מאפייני הבניינים
                div.project-details-text(dir='rtl') גובה הדירות בפרויקט יהיה 2.7 מ'. כל הדירות יצוידו בלוחות חשמל, מתגים ושקעים, מדי מים עם קריאה אפשרות מרחוק, סיפונים ודלתות כניסה ממתכת.     
                div.project-details-text(dir='rtl') כל הבניינים יכללו אזורים משותפים בסגנון מודרני ויוקרתי וכמו כן, מעליות. נגרות הבניין תהיה מ-PVC בעל חמישה חדרים איכותי וזיגוג כפול עם זכוכית בעלת פליטה נמוכה.     
                div.project-details-text(dir='rtl') מוכנים להפוך את ARIA 2 לבית החדש או להזדמנות ההשקעה שלכם?   
                div.project-details-sub-headline(dir='rtl') קבוצת אטלאנטיס בולגריה
                div.project-details-text(dir='rtl') קבוצת אטלאנטיס בנייה היא חברת יזמות נדל"ן בעלת ניסיון עשיר בפיתוח פרויקטים ברחבי בורגס וסופיה של יותר מ25 שנים.  
                div.project-details-text(dir='rtl') הקבוצה מורכבת ממספר חברות העובדות בתחומים שונים. מה שמאחד את הקבוצה היא המשימה ליצור סביבה נוחה וחיים שלווים בעיר הגדולה, באמצעות יישום תפיסות מודרניות בבנייה.
                div.project-details-text(dir='rtl') אטלאנטיס בולגריה מתמחה בפיתוח נדל"ן באזורים בעלי אטרקטיביות השקעה גבוהה על ידי בניית פרויקטים רווחיים עם חשיבה לטווח ארוך. התוצאה היא עשרות בנייני מגורים שהושלמו בהצלחה והניבו תשואה מקסימלית לבעלי הנכסים.    
                div.project-details-text(dir='rtl') הודות לתכנון אסטרטגי, כל הבתים שנבנו על ידי קבוצת אטלנטיס בולגריה הפכו לשילוב הרמוני של יופי טבעי וביטוי יצירתי של אדריכלות מודרנית. חשוב לציין שהודות לפעילותם בבורגס וסופיה, לאורך זמן, עלתה המודעות התרבותית לכך שהטבע הוא חלק בלתי נפרד מהחיים בעיר ושיש לו השפעה גדולה על הבריאות, הבטיחות והרווחה של כל אחד ואחד.        

    .container-fluid.project-amenities-container
        .row.project-amenities-headline-row.text-center.mx-5
            .col-12.project-amenities-headline-col.p-0
                div.project-amenities-headline שירותים בפרויקט
        .row.project-amenities-row.text-end.mx-5.justify-content-end 
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-fence.svg' alt='Fence Icon')
                div.project-amenities-text דירות גן עם חצר פרטית
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-car.svg' alt='Car Icon')
                div.project-amenities-text חניות מקורות
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-leaf.svg' alt='Leaf Icon')
                div.project-amenities-text אזורי טבע ירוקים
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-nfc.svg' alt='NFC Icon')
                div.project-amenities-text(dir='rtl') בקרת כניסה לבניין עם NFC
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-parking.svg' alt='Parking Icon')
                div.project-amenities-text חניות פרטיות
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-camera.svg' alt='CCTV Icon')
                div.project-amenities-text מצלמות אבטחה מסביב לשעון                
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-bbq.svg' alt='bbq Icon')
                div.project-amenities-text אזורי מנגל ופיקניק         
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-yoga.svg' alt='Yoga Icon')
                div.project-amenities-text מתחמי יוגה           
            .col-12.col-sm-6.col-lg-4.project-amenities-col.p-0.text-center
                img.project-amenities-icon(src='/img/icons/atlantis-workout.svg' alt='Dumbell Icon')
                div.project-amenities-text מתחמי כושר              

    .container-fluid.project-mid-image-container.project-mid-image-container-atlantis-aria-2

    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-3.justify-content-center 
            .col-12.project-map-healine-col
                div.project-map-headline מיקום
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=27.4528 data-lat=42.5332 data-title='Atlantis Aria 2') 

    .container-fluid.project-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-5.text-center
            .col-12.project-assets-headline-col
                div.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-1.text-center
            .col-12.project-assets-headline-col
                div.project-assets-headline נכסים זמינים בפרויקט
            each asset in projectAssets
                include ../_mobileAssetsCards    

    .container-fluid.project-installment-scheme-container
        .row.project-installment-scheme-row.text-center.mx-5.justify-content-center 
            .col-12.project-installment-scheme-healine-col
                div.project-installment-scheme-headline תוכניות תשלומים
            .col-12.project-installment-scheme-table-col.d-lg-flex.justify-content-lg-center   
                table.table-responsive.project-installment-scheme-table(dir='rtl')
                    thead.project-installment-table-head
                        tr
                        th.project-installment-table-th(scope='col') 
                        th.project-installment-table-th(scope='col') תשלום 1
                        th.project-installment-table-th(scope='col') 2 תשלומים
                        th.project-installment-table-th(scope='col') 3 תשלומים
                        th.project-installment-table-th(scope='col') 4 תשלומים
                        th.project-installment-table-th(scope='col') 5 תשלומים
                        th.project-installment-table-th(scope='col') 6 תשלומים
                    tbody.table-group-divider
                        tr
                        th.project-installment-table-th(scope='row') תוכנית רגילה
                        td פיקדון - 5000 יורו
                        td 30% בחתימה על חוזה ראשוני (עד 20 ימים מההפקדה) - דרושה הסכמה מראש
                        td 30% - כשהבנייה מגיעה לקומה 4
                        td 30% - כשהפרויקט מקבל אקט 14
                        td 5% - כשהפרויקט מקבל אקט 15
                        td 5% - כשהפרויקט מקבל אקט 16 

    .container.asset-contact-us-container.text-center.project-contact-us-container
        .row.asset-contact-us-container-row.mx-3.justify-content-center 
            .col-10.asset-contact-us-container-headline-col
                div.asset-contact-us-container-headline.project-contact-us-headline.text-center צרו קשר
            .col-12.col-md-10.col-xl-8.asset-contact-us-container-col
                div#crmWebToEntityForm.crmWebToEntityForm
                    form.contact-us-form#webform6296617000000479035(action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads6296617000000479035 method='POST' accept-charset='UTF-8' novalidate)
                        input(type='text' style='display:none;' name='xnQsjsdp' value='59a0780e6b2791aec2fc494a0d52812511ef98c0f6123210fdc332d6fa0b9e22')
                        input#zc_gad(type='hidden' name='zc_gad' value='')
                        input(type='text' style='display:none;' name='xmIwtLD' value='7334e6acba558f934b954c69f5851611538edbf846a3d2f15f807f241012015c2f9c9c0839f214a112e56e062e05be4f')
                        input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                        input(type='text' style='display:none;' name='returnURL' value='https://www.dirabulgarit.com/contact-us-confirm')
                        .row.contact-us-row.align-items-center
                            .col-12.contact-us-col.d-flex.justify-content-end
                                input.contact-us-input.contact-us-name-input.form-control(type='text' name='Last Name' maxlength='200' placeholder='שם' aria-label='name' aria-describedby='basic-addon1' required)                            
                                .invalid-tooltip אנא הכניסו שם
                            .col-12.contact-us-col.d-flex.justify-content-end
                                input.contact-us-input.contact-us-phone-input.form-control(type='text' name='Phone' maxlength='10' placeholder='טלפון' aria-label='phone' aria-describedby='basic-addon1' pattern='[0-9]{10}' required)
                                .invalid-tooltip.contact-us-phone-invalid אנא הכניסו מספר טלפון תקין
                            .col-12.contact-us-col.d-flex.justify-content-end 
                                input.contact-us-input.contact-us-email-input.form-control(type='email' ftype='email' autocomplete='false' name='Email' crmlabel='' maxlength='100' placeholder='אימייל  ' aria-label='email' aria-describedby='basic-addon1' pattern='[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,}' required)
                                .invalid-tooltip.contact-us-email-invalid אנא הכניסו אימייל תקין
                            .col-12.contact-us-col.d-flex.justify-content-end     
                                textarea.contact-us-textarea.contact-us-description-input.form-control(id='Description' name='Description' dir='rtl' aria-label="With textarea" rows="5") הייתי רוצה לשמוע עוד פרטים על פרויקט "Atlantis Aria 2"
                            .col-12.contact-us-col
                                input.contact-us-button.mx-3(type='reset' class='zcwf_button' name='reset' value='ניקוי' title='Reset')
                                input.contact-us-button.mx-3(type='submit' id='formsubmit' class='formsubmit zcwf_button' value='שליחה' title='Submit')                               
