extends ../base

block head
    title Samokov Development 
    meta(name="description" content="Join the Samokov project - a luxury resort near Sofia with high investment potential! Close to ski resorts and natural attractions. Promising real estate opportunity!")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="https://www.dirabulgarit.com/en/commercial/samokov")
    link(rel="alternate" href="https://www.dirabulgarit.com/en/commercial/samokov" hreflang="en")
    link(rel="alternate" href="https://www.dirabulgarit.com/commercial/samokov" hreflang="he")

    meta(property="og:title" content="Samokov Development")
    meta(property="og:description" content="Join the Samokov project - a luxury resort near Sofia with high investment potential! Close to ski resorts and natural attractions. Promising real estate opportunity!")
    meta(property="og:image" content="https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/samokov-images/1727012351222-samokov-development-1.webp")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../../he/_headLinksScripts

block content 
    .container-fluid.project-main-image-container(role="img" aria-labelledby="samokovMainImageDescription")
        span.visually-hidden(id="samokovMainImageDescription") A birds eye view of Samokov Village
        .row.project-main-image-row
            .col.project-main-image-col.project-main-image-col-samokov
                h1.project-main-image-headline.project-main-image-headline-samokov Samokov Development        
    
    .container-fluid.project-numbers-container
        .row.project-numbers-row.text-end.justify-content-center.mx-5.flex-md-row-reverse
            .col-12.col-md-6.col-xl-3.project-numbers-headline-col.p-0.text-center
                div.project-numbers-green-area-number.project-numbers-area-number-samokov    
                div.project-numbers-text Area

    .container-fluid.project-details-container
        .row.project-details-row.text-end.mx-5.justify-content-center
            .col-12.project-details-headline-col.p-0.text-center
                h2.project-details-headline Samokov Development
            .col-10.project-details-headline-col.p-0.text-start
                div.project-details-text Bulgarian Apartment is proud to present <strong>a unique real estate opportunity for construction and investment in Bulgaria - development of a holiday village in Smokov</strong>!
                div.project-details-text We invite entrepreneurs and investors in the field of real estate and tourism to join a promising real estate project in Bulgaria, located only about 50 km from Sofia, the capital of the country.
                div.project-details-text 93 dunams of land approved for construction in Smokov - potential to create a unique and luxurious resort complex.
                div.project-details-text The approved lot for construction offers the possibility of developing a well-planned tourism and recreation complex, designed to attract tourists from all over the world thanks to its attractive location and proximity to ski resorts, hiking trails and many natural attractions.
                div.project-detail-img-container.d-flex.justify-content-center   
                    img.project-details-img.project-details-img(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/samokov-images/1727012351247-samokov-development-3.webp' alt='Samokov Development')
                div.project-details-text.text-center <i>Samokov Development</i>
                h3.project-details-sub-headline Project Advantages  
                div.project-details-text ● <strong>Prime location:</strong> Smokov, a short distance from the capital of Bulgaria, offers proximity to the popular Borovets ski resort and one of the leading nature centers in Europe.
                div.project-details-text ● <strong>Immense tourist potential:</strong> Tourism in the region is developing rapidly.
                div.project-details-text ● <strong>Target audience:</strong> Tourists from all over Europe who come to vacation in both winter and summer.
                div.project-details-text ● <strong>Ideal conditions for entrepreneurs and investors:</strong> The lot is approved for immediate development, with the possibility of planning and building a holiday village, boutique hotels, holiday apartments or luxury holiday complexes.
                div.project-details-text ● <strong>High return on investment:</strong> The tourism area is constantly growing, and the demand for holiday complexes near ski resorts and nature attractions continues to rise, which guarantees significant profit potential.
    
    .container-fluid.project-mid-image-container.project-mid-image-container-samokov(role="img" aria-labelledby="samokovMidImageDescription")
        span.visually-hidden(id="samokovMidImageDescription") A birds eye view of Samokov Village
    
    .container-fluid.project-map-container
        .row.project-map-row.text-center.mx-3.justify-content-center 
            .col-12.project-map-healine-col
                h2.project-map-headline Location
            .col-12.col-md-10.project-map-col
                div.project-map(id='map' data-long=23.553032699942786 data-lat=42.336660772724706 data-title='Samokov Development') 

    include ../_contactUsFixed  
    include ../_contactUsFixedMobile   

