extends baseEmail

block content
  div.justify-content-center.text-center
    img.navbar-logo(src='https://dirabulgaritbucket.s3.eu-north-1.amazonaws.com/dira-bulgarit-general-images/1726060320840-logo.jpg' alt='לוגו של דירה בולגרית')
  p(dir='rtl').text-start שלום #{firstName},
  p(dir='rtl').text-start רצינו להזכיר לכם שוובינר השקעות הנדל"ן בבולגריה מתקיים היום בערב!
  p(dir='rtl').text-start תוכלו להתחבר לוובינר דרך לינק הזום שיהיה פעיל בשעה 20:30: 
    a(href='https://us06web.zoom.us/j/88216504657' dir='rtl').text-start לכניסה לוובינר 
  p(dir='rtl').text-start לחצו על הלינק כדי להוסיף את הוובינר ליומן הגוגל שלכם: 
    a(href='https://calendar.google.com/calendar/r/eventedit?text=וובינר+השקעות+הנדל%27%27ן+בבולגריה+של+דירה+בולגרית&dates=20241107T183000Z/20241107T200000Z&details=וובינר+ההשקעות+הנדל%27%27ן+בבולגריה+של+דירה+בולגרית&location=https://us06web.zoom.us/j/88216504657' dir='rtl').text-start הוסיפו ליומן Google
  p(dir='rtl').text-start בנתיים אנו מזמינים אתכם לגלוש באתרנו, אולי תמצאו את דירת חלומותיכם... 
    a(href='https://www.dirabulgarit.com/' dir='rtl').text-start למעבר לאתר 
  p(dir='rtl').text-start בברכה,
  p(dir='rtl').text-start צוות דירה בולגרית.